Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

bump: update timezone feature to version 7.79.0
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fixup! Remove redundant asserts in workflow tests
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

Mask sensitive values in exceptions when summarized
  cognite/client/exceptions.py
  tests/tests_unit/test_api_error_masking.py
Due: mypy, custom-checks

add `credentials`
  cognite/client/exceptions.py
Due: mypy, custom-checks

Update cognite/client/_api/data_modeling/instances.py
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

inconsistencies
  cognite/client/_api/simulators/runs.py
  cognite/client/data_classes/simulators/__init__.py
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

add new time attributes
  cognite/client/utils/_time.py
Due: mypy, custom-checks

update util tests
  tests/tests_unit/test_utils/test_time.py
Due: mypy

Some improvements to workflow/functions tests (#2220)
  tests/tests_integration/test_api/test_functions.py
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

add pandas conversion
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

unit test
  tests/tests_unit/test_data_classes/test_simulators.py
Due: mypy

bump version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix test dependencies
  tests/tests_unit/test_data_classes/test_simulators.py
Due: mypy

test: split tests for model ext. deps
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy

test: rename variables
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy

wrong decorator
  tests/tests_unit/test_data_classes/test_simulators.py
Due: mypy

chore: update docstrings
  cognite/client/data_classes/simulators/models.py
  cognite/client/data_classes/simulators/simulators.py
Due: mypy, custom-checks

chore: make filtering consistent for simulator model revision
  cognite/client/_api/simulators/models_revisions.py
Due: mypy, custom-checks

chore: make filtering consistent for simulator integrations
  cognite/client/_api/simulators/integrations.py
  tests/tests_integration/test_api/test_simulators/test_integrations.py
Due: mypy, custom-checks

test: fix tests for model revisions
  cognite/client/_api/simulators/models_revisions.py
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy, custom-checks

chore: make filtering consistent for simulator models
  cognite/client/_api/simulators/models.py
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy, custom-checks

chore: make limit property consistent across __call__ methods
  cognite/client/_api/simulators/integrations.py
Due: mypy, custom-checks

chore: initialize filter in API' __call__ method
  cognite/client/_api/simulators/integrations.py
  cognite/client/_api/simulators/models.py
  cognite/client/_api/simulators/models_revisions.py
Due: mypy, custom-checks

chore: fix chunk_size overload
  cognite/client/_api/simulators/models_revisions.py
Due: mypy, custom-checks

test: call __call__ instead of .list
  tests/tests_integration/test_api/test_simulators/test_integrations.py
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy

Make `CogniteObject` abstract
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

Remove now-unused type: ignore
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

Make `CogniteObject` abstract (#2224)
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/simulators/routine_revisions.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

chore: update Changelog and version
  CHANGELOG.md
  cognite/client/_version.py
Due: mypy, custom-checks

chore: update Changelog and version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

chore: update pyproject.toml
  pyproject.toml
Due: none

chore: re-order limit property for filtering in __call__ methods
  cognite/client/_api/simulators/integrations.py
  cognite/client/_api/simulators/models.py
  cognite/client/_api/simulators/models_revisions.py
Due: mypy, custom-checks

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Use hypothesis for property based testing and make sure we test list as well
  cognite/client/exceptions.py
  poetry.lock
  pyproject.toml
  tests/tests_unit/test_api_error_masking.py
Due: mypy, custom-checks

limit recursion
  cognite/client/exceptions.py
Due: mypy, custom-checks

add new attributes
  cognite/client/utils/_time.py
Due: mypy, custom-checks

update tests
  tests/tests_unit/test_utils/test_time.py
Due: mypy

fix typo
  cognite/client/_api/simulators/runs.py
  cognite/client/data_classes/simulators/__init__.py
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks
