Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

[Functions] Remove remnants of "py38" from docstrings (#2136)
  CHANGELOG.md
  cognite/client/_api/functions.py
  cognite/client/_version.py
  cognite/client/data_classes/functions.py
  pyproject.toml
  tests/tests_unit/test_api/test_functions.py
Due: mypy, custom-checks

use mutable mapping instead of a custom type
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

retrieve with overloaded methods
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

added dump method back
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

Add beartype dependency
  poetry.lock
  pyproject.toml
Due: none

Add runtime type checking
  cognite/client/exceptions.py
  cognite/client/utils/_runtime_type_checking.py
  tests/tests_unit/test_utils/test_runtime_type_checking.py
Due: mypy, custom-checks

add missing description field
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/seed/data.py
Due: mypy, custom-checks

tests: added failing test
  tests/tests_unit/test_transformations/test_common.py
Due: mypy

fix; scopes no required
  cognite/client/data_classes/transformations/common.py
Due: mypy, custom-checks

build: bump
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

tests: extended test to handle as credential provider
  tests/tests_unit/test_transformations/test_common.py
Due: mypy

[CDF-24214] Transformation OIDC scopes not required. (#2138)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/transformations/common.py
  pyproject.toml
  tests/tests_unit/test_transformations/test_common.py
Due: mypy, custom-checks

define routine configuration, inputs, outputs data classes
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

add routine script (steps, stages) and routine revision data cls
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

remove duplicate (unused) definition of the routine step
  cognite/client/data_classes/simulators/simulators.py
Due: mypy, custom-checks

add routine revision filter class
  cognite/client/data_classes/simulators/filters.py
Due: mypy, custom-checks

implement routine revision create, list, delete API
  cognite/client/_api/simulators/routine_revisions.py
Due: mypy, custom-checks

add example data for the integration tests
  tests/tests_integration/test_api/test_simulators/seed/data.py
Due: mypy

add api to the client and set correct resource limits
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/_api/simulators/routines.py
Due: mypy, custom-checks

enable unit tests
  cognite/client/testing.py
  tests/tests_unit/test_docstring_examples.py
  tests/utils.py
Due: mypy, custom-checks

add/update fixtures for the integration tests
  tests/tests_integration/test_api/test_simulators/conftest.py
Due: mypy

add integration tests
  tests/tests_integration/test_api/test_simulators/test_integrations.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

update tests and add a new
  tests/tests_integration/test_api/test_datapoints.py
  tests/utils.py
Due: mypy

TMP commit: use alpha header (drop this commit)
  tests/tests_integration/conftest.py
Due: mypy

improve flaky test
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

support obj aggregates in dps dataclasses + add new classes
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

update proto files
  cognite/client/_proto/data_points_pb2.py
  cognite/client/_proto/data_points_pb2.pyi
Due: mypy, custom-checks

support obj aggregates in dps fetch code
  cognite/client/_api/datapoint_tasks.py
Due: mypy, custom-checks

ensure rng seed message is shown on failure when using xdist
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

add descriptions and make fn reusable
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

some doc updates
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

review feedback
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

Revert "TMP commit: use alpha header (drop this commit)"
  tests/tests_integration/conftest.py
Due: mypy

replace float_aggs var with superseeding var numeric_aggs
  cognite/client/_api/datapoint_tasks.py
Due: mypy, custom-checks

fix something mypy should have warned me about load -> _load
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

implement PR review feedback
  CHANGELOG.md
  cognite/client/data_classes/datapoints.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

remove unneccessary mypy ignore comment
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks
