Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

feat: added service principal DTOs
  cognite/client/data_classes/principals.py
Due: mypy, custom-checks

refactor; review feedback
  cognite/client/data_classes/principals.py
  tests/tests_unit/test_meta.py
  tests/utils.py
Due: mypy, custom-checks

feat: Implement async Cognite client
  ASYNC_CONVERSION_SUMMARY.md
  cognite/client/__init__.py
  cognite/client/_async_api_client.py
  cognite/client/_async_cognite_client.py
  cognite/client/_async_http_client.py
  cognite/client/utils/_concurrency.py
  pyproject.toml
Due: mypy, custom-checks

[AAA-3112] include version configuration for agent deployment with QKG tool
  cognite/client/data_classes/agents/agent_tools.py
Due: mypy, custom-checks

chore: [CDF-25309] Introduce service principals data classes (#2213)
  cognite/client/data_classes/principals.py
  tests/tests_unit/test_data_classes/test_principals.py
  tests/tests_unit/test_meta.py
  tests/utils.py
Due: mypy, custom-checks

buidl: udpate toolkit modules
  scripts/toolkit/cdf.toml
Due: none

Giving docstring hints about supported versions
  cognite/client/data_classes/agents/agent_tools.py
Due: mypy, custom-checks

reverted to no default value
  cognite/client/data_classes/agents/agent_tools.py
Due: mypy, custom-checks

Update cognite/client/data_classes/agents/agent_tools.py
  cognite/client/data_classes/agents/agent_tools.py
Due: mypy, custom-checks

Update cognite/client/_api/datapoints.py
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

feat: Implement async Cognite SDK client
  ASYNC_CONVERSION_SUMMARY.md
  cognite/client/_api_async/__init__.py
  cognite/client/_api_async/annotations.py
  cognite/client/_api_async/assets.py
  cognite/client/_api_async/data_modeling.py
  cognite/client/_api_async/data_sets.py
  cognite/client/_api_async/datapoints.py
  cognite/client/_api_async/datapoints_subscriptions.py
  cognite/client/_api_async/diagrams.py
  cognite/client/_api_async/documents.py
  cognite/client/_api_async/entity_matching.py
  cognite/client/_api_async/events.py
  cognite/client/_api_async/extractionpipelines.py
  cognite/client/_api_async/files.py
  cognite/client/_api_async/functions.py
  cognite/client/_api_async/geospatial.py
  cognite/client/_api_async/iam.py
  cognite/client/_api_async/labels.py
  cognite/client/_api_async/organization.py
  cognite/client/_api_async/raw.py
  cognite/client/_api_async/relationships.py
  cognite/client/_api_async/sequences.py
  cognite/client/_api_async/synthetic_time_series.py
  cognite/client/_api_async/templates.py
  cognite/client/_api_async/three_d.py
  cognite/client/_api_async/time_series.py
  cognite/client/_api_async/units.py
  cognite/client/_api_async/user_profiles.py
  cognite/client/_api_async/vision.py
  cognite/client/_api_async/workflows.py
  cognite/client/_async_api_client.py
  cognite/client/_async_cognite_client.py
  cognite/client/_cognite_client.py
Due: mypy, custom-checks

Checkpoint before follow-up message
  cognite/client/_api_async/annotations.py
  cognite/client/_api_async/data_modeling.py
  cognite/client/_api_async/data_sets.py
  cognite/client/_api_async/datapoints.py
  cognite/client/_api_async/datapoints_subscriptions.py
  cognite/client/_api_async/diagrams.py
  cognite/client/_api_async/documents.py
  cognite/client/_api_async/entity_matching.py
  cognite/client/_api_async/extractionpipelines.py
  cognite/client/_api_async/functions.py
  cognite/client/_api_async/geospatial.py
  cognite/client/_api_async/iam.py
  cognite/client/_api_async/organization.py
  cognite/client/_api_async/relationships.py
  cognite/client/_api_async/sequences.py
  cognite/client/_api_async/synthetic_time_series.py
  cognite/client/_api_async/templates.py
  cognite/client/_api_async/three_d.py
  cognite/client/_api_async/units.py
  cognite/client/_api_async/user_profiles.py
  cognite/client/_api_async/vision.py
  cognite/client/_api_async/workflows.py
  cognite/client/_async_api_client.py
  cognite/client/_async_cognite_client.py
  fix_all_remaining_apis.py
  test_complete_implementation.py
Due: mypy, custom-checks

Checkpoint before follow-up message
  cognite/client/_api_async/functions.py
  cognite/client/_async_api_client.py
  test_complete_implementation.py
Due: mypy, custom-checks

feat: Implement all remaining async API methods
  USAGE_EXAMPLES.md
  fix_all_remaining_apis.py
Due: mypy

Fix flaky functions test
  tests/tests_integration/test_api/test_functions.py
Due: mypy

Fix overloads for SimulatorModelsAPI:retrieve
  cognite/client/_api/simulators/models.py
Due: mypy, custom-checks

chore: Fix flaky functions test (#2327)
  tests/tests_integration/test_api/test_functions.py
Due: mypy

chore: Only delete function, not schedule, in test cleanup
  tests/tests_integration/test_api/test_functions.py
Due: mypy

change property type for scaleX/Y
  cognite/client/data_classes/simulators/models.py
  tests/tests_integration/test_api/test_simulators/seed/data.py
Due: mypy, custom-checks

chore: Update docstrings to include py312 (#2317)
  cognite/client/_api/functions.py
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

chore: Only delete function, not schedule, in test cleanup (#2328)
  tests/tests_integration/test_api/test_functions.py
Due: mypy

Refactor: Convert APIClient methods to async
  TODO_ASYNC_CONVERSION.md
  cognite/client/_api/synthetic_time_series.py
  cognite/client/_api/three_d.py
  cognite/client/_api/workflows.py
  cognite/client/_api_client.py
Due: mypy, custom-checks

chore: Update toolkit modules (#2325)
  scripts/toolkit/cdf.toml
Due: none

chore: Remove changelog validation (#2314)
  scripts/custom_checks/version.py
  scripts/run_checks.py
Due: mypy

fix overloads for model and routine revisions
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/_api/simulators/routine_revisions.py
Due: mypy, custom-checks

Expand tests to cover status symobls
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_pandas_helpers.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

Fix units for multiple aggregates
  cognite/client/data_classes/datapoints.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

Add test for synthetic time series
  cognite/client/data_classes/datapoints.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

Fix mypy errors
  cognite/client/data_classes/datapoints.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

Fix mypy errors
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

fix(simint): retrieve(..) overloads and enable mypy checks (#2315)
  .pre-commit-config.yaml
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/models.py
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/_api/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/seed/resources.py
  tests/tests_integration/test_api/test_simulators/test_models.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
  tests/tests_integration/test_api/test_simulators/test_routines.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
  tests/tests_integration/test_api/test_simulators/utils.py
  tests/tests_unit/test_api/test_simulators/test_run_data.py
  tests/tests_unit/test_data_classes/test_simulators.py
Due: mypy, custom-checks

feat: query/list/sync support for debug
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

add: data classes for debug notices
  cognite/client/data_classes/data_modeling/debug.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

add: integration tests for list/query/sync
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

add: unit tests
  tests/tests_unit/test_data_classes/test_data_models/test_debug_notices.py
  tests/utils.py
Due: mypy

change: add debug info to existing classes
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

bug: why is this a classmethod??
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

feat: make __bool__ raise for all filters
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

add: unit tests
  tests/tests_unit/test_data_classes/test_filters.py
Due: mypy
