Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

docs: switch quickstart note to warning
  docs/source/quickstart.rst
Due: none

make SpaceFilter use Equals when used with a single space
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

add/update tests
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
Due: mypy

add more tests
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

refactor: finished it
  cognite/client/credentials.py
Due: mypy, custom-checks

Apply suggestions from code review
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

improve space filter ergonomics to more easily list global nodes (#1913)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/filters.py
  pyproject.toml
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
Due: mypy, custom-checks

fix
  cognite/client/credentials.py
Due: mypy, custom-checks

enable ocr by other ids too
  cognite/client/_api/diagrams.py
Due: mypy, custom-checks

docs: switch quickstart note to warning (#1912)
  docs/source/quickstart.rst
Due: none

refactor: removed unused
  cognite/client/_api/hosted_extractors/destinations.py
Due: mypy, custom-checks

refactor: added method for debugging token
  cognite/client/credentials.py
Due: mypy, custom-checks

refactor: review feedback
  cognite/client/credentials.py
Due: mypy, custom-checks

docs: updated docstring
  cognite/client/credentials.py
Due: mypy, custom-checks

fix; update load
  cognite/client/credentials.py
Due: mypy, custom-checks

fix: failing docstring
  cognite/client/credentials.py
Due: mypy, custom-checks

feat: implementation to_pandas
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/typed_instances.py
  tests/tests_unit/test_data_classes/test_data_models/test_typed_instances.py
Due: mypy, custom-checks

suggestion [v2]: Instance.to_pandas
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/typed_instances.py
  tests/tests_unit/test_data_classes/test_data_models/test_typed_instances.py
Due: mypy, custom-checks

add tests for dump of typed instances
  tests/tests_unit/test_data_classes/test_data_models/test_typed_instances.py
Due: mypy

add test for to_pandas for typed instances
  cognite/client/data_classes/data_modeling/instances.py
  tests/tests_unit/test_data_classes/test_data_models/test_typed_instances.py
Due: mypy, custom-checks

fix docstring code example
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

fix: typed instances to_pandas (#1911)
  cognite/client/_api/data_modeling/instances.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/typed_instances.py
  tests/tests_unit/test_data_classes/test_data_models/test_typed_instances.py
Due: mypy, custom-checks

Fix zipping old files
  CHANGELOG.md
  pyproject.toml
Due: none

Fix
  CHANGELOG.md
  cognite/client/_api/functions.py
Due: mypy, custom-checks

Fix client credentials being wrong for some reason
  cognite/client/_api/functions.py
Due: mypy, custom-checks

Fix zip
  cognite/client/_api/functions.py
  cognite/client/_version.py
Due: mypy, custom-checks

fix lint errors++
  cognite/client/_api/functions.py
Due: mypy, custom-checks

poetry update
  poetry.lock
Due: none

refactor: upgrade core model
  cognite/client/data_classes/data_modeling/cdm/v1.py
  cognite/client/data_classes/data_modeling/extractor_extensions/v1.py
  tests/tests_integration/test_api/test_data_modeling/test_core_model.py
Due: mypy, custom-checks

tests: updated tets
  tests/tests_unit/test_data_classes/test_data_models/test_typed_instances.py
Due: mypy

build: bump
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

tests: updated last test
  tests/tests_unit/test_data_classes/test_cdm/test_v1.py
Due: mypy

tests: upgrade
  tests/tests_integration/test_api/test_time_series.py
Due: mypy

tests: update
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

Change of double type is handled. (#1916)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/data_modeling/cdm/v1.py
  cognite/client/data_classes/data_modeling/extractor_extensions/v1.py
  pyproject.toml
  tests/tests_integration/test_api/test_data_modeling/test_core_model.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_integration/test_api/test_time_series.py
  tests/tests_unit/test_data_classes/test_cdm/test_v1.py
  tests/tests_unit/test_data_classes/test_data_models/test_typed_instances.py
Due: mypy, custom-checks

Add beartype dependency
  poetry.lock
  pyproject.toml
Due: none

Add runtime type checking
  cognite/client/exceptions.py
  cognite/client/utils/_runtime_type_checking.py
  tests/tests_unit/test_utils/test_runtime_type_checking.py
Due: mypy, custom-checks

fix: Added Workflow Trigger Create List
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

build; changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks
