Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run dmypy run -- cognite tests
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.8.1
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

fix release-please not finding prev release
  CHANGELOG.md
Due: none

chore(master): release cognite-sdk-python 7.90.0 (#2415)
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix: Device code authentication fails. (#2394)
  cognite/client/credentials.py
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

chore(master): release cognite-sdk-python 7.90.1
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

chore(master): release cognite-sdk-python 7.90.1 (#2416)
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

revert: remove is_paused field and changelog entry as it's optional in Jazz API
  CHANGELOG.md
  cognite/client/data_classes/workflows.py
  tests/tests_integration/test_api/test_workflows.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy, custom-checks

fix: add missing import for WorkflowExecutionDetailed in integration tests
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

fix: add missing imports for WorkflowExecutionDetailed
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

fix: simplify pause/resume test to create new trigger instead of using permanent one
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

test: add unit tests for WorkflowTaskExecution parent_task_external_id field
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

revert: remove unnecessary WorkflowTaskExecution unit tests
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

feat: add pause and resume methods for workflow triggers
  cognite/client/_api/workflows/triggers.py
  cognite/client/data_classes/workflows.py
  tests/tests_integration/test_api/test_workflows.py
Due: mypy, custom-checks

test: create and cleanup trigger in pause/resume test
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

test: add status verification after idempotent pause/resume operations
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

clean: remove unused imports and whitespace from unit tests
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

fix: remove unnecessary json={} parameters from pause/resume methods
  cognite/client/_api/workflows/triggers.py
Due: mypy, custom-checks

fix: restore missing finally block content in integration test
  cognite/client/_api/workflows/triggers.py
  tests/tests_integration/test_api/test_workflows.py
Due: mypy, custom-checks

fix: remove duplicate finally statement
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

fix: update error message pattern to match actual API response
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

style: remove trailing empty line from integration test file
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

fix: restore original test file structure
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

style: remove trailing empty line only
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

fix: use correct fixture name for workflow trigger tests
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

fix: correct fixture type and attribute access in pause/resume test
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

refactor: make pause/resume test self-contained
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

style: fix trailing whitespace on blank line
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

fix: use default version string instead of workflow.version
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

fix: create workflow version before creating trigger
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

fix: use list() method instead of non-existent retrieve() for triggers
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

debug: add debugging for is_paused attribute and simplify test
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

fix: make scheduled trigger test self-contained
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

style: remove debug print statements and fix formatting
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

style: fix trailing whitespace on blank lines
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

clean: remove self-explanatory comments
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

clean: remove remaining self-explanatory test comments
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

clean: remove all remaining useless comments from pause/resume test
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

style: remove extra blank line before finally block
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

revert: restore original test_create_update_scheduled_trigger test
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

fix: add missing is_paused assignment and restore assertions
  cognite/client/data_classes/workflows.py
  tests/tests_integration/test_api/test_workflows.py
Due: mypy, custom-checks

Update cognite/client/_api/workflows/triggers.py
  cognite/client/_api/workflows/triggers.py
Due: mypy, custom-checks
