Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run dmypy run -- cognite
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.7.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

fix FilesAPI: httpx AsyncClient doesn't accept regular file handles (only Client)
  cognite/client/_api/files.py
  cognite/client/config.py
Due: mypy, custom-checks

REVERT: turn off mypy
  .pre-commit-config.yaml
Due: none

Org APIs use api-layer logic, not http-layer. add CogniteOrganizationError
  cognite/client/_api/org_apis/principals.py
  cognite/client/_basic_api_client.py
  cognite/client/_org_client.py
  cognite/client/exceptions.py
Due: mypy, custom-checks

make PrincipalsAPI async
  cognite/client/_api/org_apis/principals.py
  cognite/client/utils/_identifier.py
Due: mypy, custom-checks

BUMP VERSION to 8.0.0a1
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

rename ModelFailedException -> CogniteModelFailedError and fix inheritance
  cognite/client/data_classes/contextualization.py
  cognite/client/exceptions.py
  tests/tests_unit/test_api/test_entity_matching.py
Due: mypy, custom-checks

short-circuit "retrieve_multiple" and similar on [] input
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

Ingesting no datapoints no longer raises an exception
  cognite/client/_api/datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
Due: mypy, custom-checks

add Omitted class to be used as "not given" singleton
  cognite/client/_constants.py
Due: mypy, custom-checks

properly fix missing AsyncMocks in AsyncCogniteClientMock
  cognite/client/testing.py
Due: mypy, custom-checks

remove warning in class Transformation on already removed init params
  cognite/client/data_classes/transformations/__init__.py
Due: mypy, custom-checks

update test to use tmp_path fixture
  tests/tests_unit/test_api/test_files.py
Due: mypy

refactor usage of set_request_limit
  tests/tests_integration/test_api/test_assets.py
  tests/tests_integration/test_api/test_data_sets.py
  tests/tests_integration/test_api/test_events.py
  tests/tests_integration/test_api/test_geospatial.py
  tests/tests_integration/test_api/test_sequences.py
  tests/tests_integration/test_api/test_time_series.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api_client.py
Due: mypy

remove special pyodide handling in FilesAPI upload *YEY*
  cognite/client/_api/files.py
Due: mypy, custom-checks

remove arg ignore_allscope_meaning from ACL compare fns (in IAM)
  cognite/client/_api/iam/__init__.py
Due: mypy, custom-checks

Update devcontainer.json
  .devcontainer/devcontainer.json
Due: none

chore: fix devcontainer.json (#2378)
  .devcontainer/devcontainer.json
Due: none

chore(master): release 7.88.0
  CHANGELOG.md
  pyproject.toml
Due: none

Add demo notebook
  state_demo.ipynb
Due: none

Add notebook
  poetry.lock
  pyproject.toml
Due: none

Split query and sync classes
  cognite/client/_api/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

Fix doc example
  docs/source/data_modeling.rst
Due: none

Fix tests
  cognite/client/data_classes/data_modeling/query.py
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy, custom-checks

Filter: Add magic __eq__
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

Regenerate sync client
  cognite/client/_sync_api/agents/agents.py
  cognite/client/_sync_api/assets.py
  cognite/client/_sync_api/data_modeling/instances.py
  cognite/client/_sync_api/diagrams.py
  cognite/client/_sync_api/entity_matching.py
  cognite/client/_sync_api/functions/__init__.py
  cognite/client/_sync_api/simulators/routines.py
  cognite/client/_sync_api/units.py
Due: mypy, custom-checks

Turn them into dataclasses
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

feat(documents): extend content methods to support external_id and instance_id
  cognite/client/_api/documents.py
Due: mypy, custom-checks

run updated script to update sync APIs
  cognite/client/_sync_api/data_modeling/graphql.py
  cognite/client/_sync_api/data_modeling/space_statistics.py
  cognite/client/_sync_api/data_modeling/statistics.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/_sync_api/entity_matching.py
  cognite/client/_sync_api/files.py
  cognite/client/_sync_api/geospatial.py
  cognite/client/_sync_api/iam/__init__.py
  cognite/client/_sync_api/relationships.py
  cognite/client/_sync_api/simulators/models_revisions.py
  cognite/client/_sync_api/simulators/routines.py
Due: mypy, custom-checks

update conversion script to add basic HTTP methods++ to CogniteClient
  cognite/client/_sync_cognite_client.py
  scripts/sync_client_codegen/main.py
Due: mypy, custom-checks

update API-conversion script to include sync methods + overloads
  scripts/sync_client_codegen/main.py
Due: mypy

fix tests: tests/tests_unit/* and tests/utils.py
  tests/conftest.py
  tests/tests_unit/__init__.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_config.py
  tests/tests_unit/test_credential_providers.py
  tests/tests_unit/test_docstring_examples.py
  tests/tests_unit/test_exceptions.py
  tests/tests_unit/test_http_client.py
  tests/tests_unit/test_meta.py
  tests/tests_unit/test_testing.py
  tests/tests_unit/test_utils/__init__.py
  tests/tests_unit/test_utils/test_auxiliary.py
  tests/tests_unit/test_utils/test_concurrency.py
  tests/tests_unit/test_utils/test_importing.py
  tests/tests_unit/test_utils/test_json.py
  tests/tests_unit/test_utils/test_logging.py
  tests/tests_unit/test_utils/test_text.py
  tests/tests_unit/test_utils/test_url.py
  tests/tests_unit/test_utils/test_validation.py
  tests/utils.py
Due: mypy

fix: various imports
  cognite/client/_api/data_modeling/space_statistics.py
  cognite/client/_api/data_modeling/statistics.py
  cognite/client/data_classes/data_modeling/statistics.py
  cognite/client/exceptions.py
Due: mypy, custom-checks

refactor Synth.DatapointsAPI to not use _extend
  cognite/client/_api/synthetic_time_series.py
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

WIP: Update Sphinx documentation
  docs/source/assets.rst
  docs/source/data_organization.rst
  docs/source/deprecated.rst
  docs/source/events.rst
  docs/source/files.rst
  docs/source/sequences.rst
  docs/source/testing.rst
  docs/source/time_series.rst
  docs/source/transformations.rst
Due: none

reorgranize DatapointsAPI, split utils and aggregates
  cognite/client/_api/datapoint_tasks.py
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/datapoint_aggregates.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_datapoints.py
  cognite/client/utils/_pandas_helpers.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/utils.py
Due: mypy, custom-checks

move Geometry from data_classes/_base to /shared.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/documents.py
  cognite/client/data_classes/filters.py
  cognite/client/data_classes/shared.py
  tests/utils.py
Due: mypy, custom-checks

fix plain wrong code in docstring examples
  cognite/client/_api/datapoints.py
  cognite/client/_api/entity_matching.py
  cognite/client/_api/files.py
  cognite/client/_api/relationships.py
  cognite/client/_api/transformations/__init__.py
Due: mypy, custom-checks
