Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite 
          
          tests/tests_unit/test_data_classes
          tests/tests_unit/test_utils
          tests/tests_unit/test_api_client.py
          tests/tests_unit/test_base.py
          tests/tests_unit/test_cognite_client.py
          tests/tests_unit/test_config.py
          tests/tests_unit/test_credential_providers.py
          tests/tests_unit/test_docstring_examples.py
          tests/tests_unit/test_exceptions.py
          
          tests/tests_unit/test_api/test_assets.py
          tests/tests_unit/test_api/test_events.py
          tests/tests_unit/test_api/test_datapoints.py
          tests/tests_unit/test_api/test_data_sets.py
          tests/tests_unit/test_api/test_geospatial.py
          tests/tests_unit/test_api/test_raw.py
          tests/tests_unit/test_api/test_time_series.py
          tests/tests_unit/test_api/test_3d.py
          tests/tests_unit/test_api/test_vision_extract.py
          tests/tests_unit/test_api/test_transformations.py
          
          tests/tests_integration/test_api/test_data_modeling
          tests/tests_integration/test_api/test_datapoints.py
          tests/tests_integration/test_api/test_assets.py
          tests/tests_integration/test_api/test_events.py
          tests/tests_integration/test_api/test_workflows.py
          tests/tests_integration/test_api/test_raw.py
          tests/tests_integration/test_api/test_transformations

          tests/tests_integration/test_api/test_simulators
          tests/tests_integration/test_api/test_principals.py
          tests/tests_unit/test_api/test_simulators
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.8.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

add high level to_polars func to CogniteResource (not implemented error)
  cognite/client/data_classes/_base.py
Due: mypy, custom-checks

add to_polars func into RowCore and RowListCore
  cognite/client/data_classes/raw.py
  tests/tests_unit/test_api/test_raw.py
Due: mypy, custom-checks

add retrieve_polars_dataframe in RawRowsAPI
  cognite/client/_api/raw/rows.py
  cognite/client/_sync_api/raw/rows.py
  tests/tests_unit/test_api/test_raw.py
Due: mypy, custom-checks

better handle when there are no columns returned
  cognite/client/_api/raw/rows.py
  cognite/client/_sync_api/raw/rows.py
  cognite/client/data_classes/raw.py
  tests/tests_unit/test_api/test_raw.py
Due: mypy, custom-checks

fix type checking imports in sync_client_codegen
  scripts/sync_client_codegen/create_sync_api.py
  scripts/sync_client_codegen/sync_api_template.txt
Due: mypy

re-run codegen after type checking imports fix
  cognite/client/_sync_api/raw/rows.py
Due: mypy, custom-checks

bit more dynamic handling of TYPE_CHECKING block in sync_client_codegen
  scripts/sync_client_codegen/codegen_utils.py
  scripts/sync_client_codegen/create_sync_api.py
  scripts/sync_client_codegen/sync_api_template.txt
Due: mypy

feat(records): add upsert endpoint
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy, custom-checks

feat(records): add list (filter) endpoint with read data classes
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/records.py
  cognite/client/utils/_concurrency.py
  tests/tests_unit/test_api/test_data_modeling/test_records.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

feat(records): add sync endpoint
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/records.py
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy, custom-checks

Update cognite/client/_api/data_modeling/records.py
  cognite/client/_api/data_modeling/records.py
Due: mypy, custom-checks

fix docstring
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
Due: mypy, custom-checks

try to fix lint
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
Due: mypy, custom-checks

fix
  cognite/client/_sync_api/data_modeling/records.py
Due: mypy, custom-checks

feat(records): add upsert endpoint (#2679)
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy, custom-checks

chore(master): release cognite-sdk-python 8.10.0
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

test(timeseries): keep state ts test space id under 43-char limit
  tests/tests_integration/test_api/test_state_timeseries.py
Due: mypy

test(timeseries): run state ts ops on beta client + allow_no_semaphore on inserts
  tests/tests_integration/test_api/test_state_timeseries.py
Due: mypy

fix(metering): validate start and number_of_datapoints are provided together
  cognite/client/_api/metering.py
  cognite/client/_sync_api/metering.py
  tests/tests_unit/test_api/test_metering.py
Due: mypy, custom-checks

refactor(metering): always use POST for list() instead of GET/POST split
  cognite/client/_api/metering.py
  cognite/client/_sync_api/metering.py
  tests/tests_unit/test_api/test_metering.py
Due: mypy, custom-checks

fix(metering): use 'alpha' in subversion check instead of endswith
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

fix(metering): guard against empty list before all() in integration test
  tests/tests_integration/test_api/test_metering.py
Due: mypy

fix(metering): use as_ids() in integration test assertion
  tests/tests_integration/test_api/test_metering.py
Due: mypy

fix(metering): remove redundant str() casts in unit tests
  tests/tests_unit/test_api/test_metering.py
Due: mypy

test(metering): remove redundant dump/load roundtrip test
  tests/tests_unit/test_api/test_metering.py
Due: mypy

test(metering): parameterize and deduplicate unit tests
  tests/tests_unit/test_api/test_metering.py
Due: mypy

refactor(metering): use _retrieve_multiple for retrieve() with chunking
  cognite/client/_api/metering.py
  cognite/client/_sync_api/metering.py
  cognite/client/utils/_identifier.py
  tests/tests_unit/test_api/test_metering.py
Due: mypy, custom-checks

fix(docs): restore master doc structure, only add metering to Integrations
  docs/source/index.rst
Due: none

fix(metering): use snake_case meter_id in Prefix filter examples and tests
  cognite/client/_api/metering.py
  cognite/client/_sync_api/metering.py
  tests/tests_unit/test_api/test_metering.py
Due: mypy, custom-checks

test(metering): extract repeated mock responses into fixtures
  tests/tests_unit/test_api/test_metering.py
Due: mypy

fix(metering): handle 404 from /byids for singleton not-found case
  cognite/client/_api/metering.py
  cognite/client/_sync_api/metering.py
  tests/tests_unit/test_api/test_metering.py
Due: mypy, custom-checks

feat(records): add list (filter) endpoint with read data classes
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/records.py
  cognite/client/utils/_concurrency.py
  pyproject.toml
  scripts/sync_client_codegen/create_sync_client.py
  tests/tests_unit/test_api/test_data_modeling/test_records.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

fix: don't inject null cursor in _list_generator_raw_responses
  cognite/client/_api_client.py
Due: mypy, custom-checks

test: add regression test for null cursor in _list_generator_raw_responses
  cognite/client/_api_client.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

test: add regression test for null cursor in _list_generator
  tests/tests_unit/test_api_client.py
Due: mypy

fix: restore accidentally removed limit/cursor lines in _list_generator
  cognite/client/_api_client.py
Due: mypy, custom-checks

fix(docs): correct typo in Postgres Gateway Users retrieve docstring URL
  cognite/client/_api/postgres_gateway/users.py
  cognite/client/_sync_api/postgres_gateway/users.py
Due: mypy, custom-checks

fix(docs): correct typo in Postgres Gateway Users retrieve URL (#2685)
  cognite/client/_api/postgres_gateway/users.py
  cognite/client/_sync_api/postgres_gateway/users.py
Due: mypy, custom-checks

fix: don't inject null cursor in _list_generator_raw_responses (#2684)
  cognite/client/_api_client.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

fix(records): use _list helper instead of raw _post, remove accidental pyproject.toml deps
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  pyproject.toml
Due: mypy, custom-checks
