Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  ...

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

Run mypy on all files in tests_unit/test_api
  .pre-commit-config.yaml
  cognite/client/_api/ai/tools/documents.py
  cognite/client/_api/functions.py
  tests/tests_unit/test_api/function_test_resources/bad_absolute_import/extra_root_folder/my_functions/handler.py
  tests/tests_unit/test_api/function_test_resources/bad_absolute_import/extra_root_folder/my_functions/util.py
  tests/tests_unit/test_api/function_test_resources/bad_function_code2/handler.py
  tests/tests_unit/test_api/function_test_resources/function_code/handler.py
  tests/tests_unit/test_api/function_test_resources/function_code_with_invalid_requirements/handler.py
  tests/tests_unit/test_api/function_test_resources/function_code_with_requirements/handler.py
  tests/tests_unit/test_api/function_test_resources/good_absolute_import/my_functions/handler.py
  tests/tests_unit/test_api/function_test_resources/good_absolute_import/shared/util.py
  tests/tests_unit/test_api/function_test_resources/handler.py
  tests/tests_unit/test_api/function_test_resources/relative_imports/bad_relative_import.py
  tests/tests_unit/test_api/function_test_resources/relative_imports/my_functions/good_relative_import.py
  tests/tests_unit/test_api/function_test_resources/relative_imports/my_functions/util.py
  tests/tests_unit/test_api/function_test_resources/relative_imports/util.py
  tests/tests_unit/test_api/test_agents_chat.py
  tests/tests_unit/test_api/test_ai.py
  tests/tests_unit/test_api/test_data_modeling/conftest.py
  tests/tests_unit/test_api/test_data_modeling/test_containers.py
  tests/tests_unit/test_api/test_data_modeling/test_instances.py
  tests/tests_unit/test_api/test_data_modeling/test_spaces.py
  tests/tests_unit/test_api/test_data_modeling/test_views.py
  tests/tests_unit/test_api/test_datapoints_tasks.py
  tests/tests_unit/test_api/test_diagrams.py
  tests/tests_unit/test_api/test_entity_matching.py
  tests/tests_unit/test_api/test_extractionpipelines.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_api/test_iam.py
  tests/tests_unit/test_api/test_labels.py
  tests/tests_unit/test_api/test_relationships.py
  tests/tests_unit/test_api/test_signatures.py
  tests/tests_unit/test_api/test_synthetic_time_series.py
Due: mypy, custom-checks

Run mypy on all test files
  .pre-commit-config.yaml
  tests/conftest.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api/test_datapoints_tasks.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_http_client.py
  tests/tests_unit/test_meta.py
  tests/tests_unit/test_testing.py
  tests/utils.py
Due: mypy

Run 'build' workflow on all PRs
  .github/workflows/build.yml
Due: none

Clean up ignore_missing_imports in mypy.ini
  mypy.ini
Due: none

change: from raise to warning
  cognite/client/data_classes/filters.py
  tests/tests_unit/test_data_classes/test_filters.py
Due: mypy, custom-checks

fix: using fake res gen requires @pytest.mark.dst
  tests/tests_unit/test_data_classes/test_filters.py
Due: mypy

add: unit tests
  tests/tests_unit/test_data_classes/test_filters.py
Due: mypy

feat: make __bool__ raise for all filters
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

pr feedback
  cognite/client/_api/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/debug.py
  cognite/client/data_classes/data_modeling/query.py
  cognite/client/utils/_auxiliary.py
  tests/tests_unit/test_data_classes/test_data_models/test_debug_notices.py
Due: mypy, custom-checks

change: add debug info to existing classes
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

bug: why is this a classmethod??
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

remove test that is now automatic, add extra test for missing keys
  tests/tests_unit/test_data_classes/test_data_models/test_debug_notices.py
Due: mypy

add: data classes for debug notices
  cognite/client/data_classes/data_modeling/debug.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

feat: query/list/sync support for debug
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

self review
  cognite/client/data_classes/data_modeling/debug.py
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy, custom-checks

add: integration tests for list/query/sync
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

add: unit tests
  tests/tests_unit/test_data_classes/test_data_models/test_debug_notices.py
  tests/utils.py
Due: mypy

force UnknownDebugNotice to subclass DebugNotice (Liskov violation)
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/debug.py
Due: mypy, custom-checks

fix: make filters throw warning when used in a boolean context (#2330)
  cognite/client/data_classes/filters.py
  tests/tests_unit/test_data_classes/test_filters.py
Due: mypy, custom-checks

fix: DirectRelationReference can also be a raw value
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

tests; mypy on tests
  .pre-commit-config.yaml
  tests/tests_integration/test_api/test_principals.py
Due: mypy

refactor: review feedback
  cognite/client/_api/organization.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/principals.py
Due: mypy, custom-checks

build: update renovate
  renovate.json
Due: none

fix circular import
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

attempt #2 at fixing cyclic import
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

implement pr feedback
  cognite/client/_api/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/query.py
  cognite/client/utils/_auxiliary.py
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/utils.py
Due: mypy, custom-checks

test that edges can be filtered by NodeId or DirectRelationReference type
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

correct edge_type
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

fix typing
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

chore: Update renovate (#2335)
  renovate.json
Due: none

add: data classes for debug notices
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/debug.py
  cognite/client/utils/_auxiliary.py
  tests/utils.py
Due: mypy, custom-checks

dependency: swap responses with httpx_mock
  poetry.lock
  pyproject.toml
Due: none

add httpx and poetry update
  poetry.lock
  pyproject.toml
Due: none

update exceptions. always use specialized not-found/duplicated err
  cognite/client/_api/assets.py
  cognite/client/_api/datapoints.py
  cognite/client/exceptions.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

update APIs using _do_request or stream
  cognite/client/_api/datapoints.py
  cognite/client/_api/diagrams.py
  cognite/client/_api/documents.py
  cognite/client/_api/files.py
  cognite/client/_api/functions.py
  cognite/client/_api/geospatial.py
  cognite/client/_api/sequences.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/files.py
  cognite/client/utils/_version_checker.py
Due: mypy, custom-checks

refactor: use compiled regexes
  cognite/client/_api_client.py
Due: mypy, custom-checks

refactor: split out basic api methods in BasicAPIClient
  cognite/client/_api_client.py
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

add: unpack_items function
  cognite/client/_api/datapoints.py
  cognite/client/_api/files.py
  cognite/client/_api_client.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

update HTTPClient(WithRetry), HTTPClient(WithRetry)Config and RetryTracker
  cognite/client/_http_client.py
Due: mypy, custom-checks

refactor: move url methods to utils/_url.py
  cognite/client/_api/data_modeling/graphql.py
  cognite/client/_api/postgres_gateway/tables.py
  cognite/client/_api/raw.py
  cognite/client/_api/templates.py
  cognite/client/_api/three_d.py
  cognite/client/_api/transformations/jobs.py
  cognite/client/_api/transformations/schema.py
  cognite/client/_api/workflows.py
  cognite/client/_api_client.py
  cognite/client/utils/_auxiliary.py
  cognite/client/utils/_text.py
  cognite/client/utils/_url.py
  tests/tests_unit/test_utils/test_auxiliary.py
  tests/tests_unit/test_utils/test_url.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
