Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

CDF-22673: add support for data modeling triggers in data workflows (#2012)
  CHANGELOG.md
  cognite/client/_api/workflows.py
  cognite/client/_version.py
  cognite/client/data_classes/data_modeling/query.py
  cognite/client/data_classes/workflows.py
  pyproject.toml
  tests/tests_integration/test_api/test_data_workflows.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/utils.py
Due: mypy, custom-checks

Update cognite/client/data_classes/workflows.py
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

add test to test_capabilities
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy

feature: iterate datapoints using `DatapointsAPI.__call__` (#2010)
  .coveragerc
  CHANGELOG.md
  cognite/client/_api/datapoint_tasks.py
  cognite/client/_api/datapoints.py
  cognite/client/_version.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_auxiliary.py
  cognite/client/utils/_identifier.py
  docs/source/time_series.rst
  pyproject.toml
  scripts/create_ts_for_integration_tests.py
  scripts/custom_checks/docstrings.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_datapoints_tasks.py
Due: mypy, custom-checks

update .readthedocs.yaml
  .readthedocs.yaml
Due: none

skip flaky test
  tests/tests_integration/test_api/test_postgres_gateway/test_tables.py
Due: mypy

fix docs not building after 3.10 move (#2022)
  .readthedocs.yaml
  tests/tests_integration/test_api/test_postgres_gateway/test_tables.py
Due: mypy

specifically set VIRTUAL_ENV to fix readthedocs build using poetry>1.8
  .readthedocs.yaml
Due: none

specifically set `VIRTUAL_ENV` to fix readthedocs build using poetry>1.8 (#2023)
  .readthedocs.yaml
Due: none

fix readthedocs build
  .readthedocs.yaml
Due: none

refactors
  cognite/client/data_classes/workflows.py
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy, custom-checks

add link to data set explanation
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

fix readthedocs build (#2024)
  .readthedocs.yaml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

lint after merge
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy

[CDF-22608] Add data set support for data workflows (#2020)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/capabilities.py
  cognite/client/data_classes/workflows.py
  pyproject.toml
  tests/tests_integration/test_api/test_data_workflows.py
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy, custom-checks

add: allow ContainerProperty to accept type given as cls
  cognite/client/data_classes/data_modeling/containers.py
Due: mypy, custom-checks

do not expose internal ContainerFilter
  cognite/client/_api/data_modeling/containers.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/containers.py
Due: mypy, custom-checks

docs: add container example with all type combinations
  cognite/client/_api/data_modeling/containers.py
Due: mypy, custom-checks

docs: show how to convert units in instances/query
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

I can't count
  cognite/client/_api/data_modeling/containers.py
Due: mypy, custom-checks

add: missing imports
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

fix: align merge conflicts
  tests/tests_integration/test_api/test_data_workflows.py
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

docs: improve containers/apply (#2025)
  cognite/client/_api/data_modeling/containers.py
  cognite/client/_api/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/containers.py
Due: mypy, custom-checks

fix: list limit on triggers
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

fix: rename workflow test file
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy

fix: rename workflow test file
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

add special 401 exception
  cognite/client/exceptions.py
Due: mypy, custom-checks

raise CogniteProjectAccessError on 401. fix accept header
  cognite/client/_api/files.py
  cognite/client/_api_client.py
  cognite/client/_http_client.py
Due: mypy, custom-checks

add tests, update existing tests
  tests/tests_integration/test_cognite_client.py
  tests/tests_unit/test_http_client.py
Due: mypy

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

handle 401 better by raising `CogniteProjectAccessError` (#2026)
  CHANGELOG.md
  cognite/client/_api/files.py
  cognite/client/_api_client.py
  cognite/client/_http_client.py
  cognite/client/_version.py
  cognite/client/exceptions.py
  pyproject.toml
  tests/tests_integration/test_cognite_client.py
  tests/tests_unit/test_http_client.py
Due: mypy, custom-checks

Apply suggestions from code review
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy

remove: alpha warning for FilesAPI usage of instance_id
  cognite/client/_api/files.py
Due: mypy, custom-checks

remove: alpha warning for CDM/v1
  cognite/client/data_classes/data_modeling/cdm/__init__.py
Due: mypy, custom-checks

fix: review comments remove unnecessary tests
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

fix: review comments remove unnecessary tests
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy

fix: remove redundant description=None
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
