Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

CDF-22143: add workflow trigger api support
  CHANGELOG.md
  cognite/client/_api/workflows.py
  cognite/client/_version.py
  pyproject.toml
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy, custom-checks

CDF-22143: add workflow trigger api support
  CHANGELOG.md
Due: none

CDF-22143: add workflow trigger api support
  tests/tests_integration/test_api/test_data_workflows.py
  tests/tests_unit/test_testing.py
Due: mypy

CDF-22143: add workflow trigger api support
  cognite/client/_api/workflows.py
Due: mypy, custom-checks

fix: update DM files upload (#1875)
  CHANGELOG.md
  cognite/client/_api/files.py
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

benchmark time uploads
  .github/workflows/build.yml
  cognite/client/_http_client.py
  cognite/client/data_classes/cdm/v1.py
  poetry.lock
  pyproject.toml
  tests/tests_integration/test_api/test_files.py
Due: mypy, custom-checks

revert httpx for bench tests
  cognite/client/_http_client.py
Due: mypy, custom-checks

PR review first pass
  cognite/client/_api/workflows.py
  cognite/client/data_classes/workflows.py
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy, custom-checks

PR review second pass
  cognite/client/_api/workflows.py
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

Update CHANGELOG.md
  CHANGELOG.md
Due: none

lint
  cognite/client/_api/workflows.py
Due: mypy, custom-checks

lint
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

lint
  cognite/client/_api/workflows.py
  scripts/custom_checks/docstrings.py
Due: mypy, custom-checks

lint
  scripts/custom_checks/docstrings.py
Due: mypy

benchmark file on disk upload
  tests/tests_integration/test_api/test_files.py
Due: mypy

refactor: regen core mdoel
  cognite/client/data_classes/cdm/v1.py
  tests/tests_integration/test_api/test_data_modeling/test_core_model.py
Due: mypy, custom-checks

Ãtests: updated test and linting
  cognite/client/data_classes/cdm/v1.py
  tests/tests_unit/test_data_classes/test_cdm/test_v1.py
Due: mypy, custom-checks

refactor; private property classes
  cognite/client/data_classes/cdm/v1.py
Due: mypy, custom-checks

tests: updated test
  tests/tests_unit/test_data_classes/test_cdm/test_v1.py
Due: mypy

style : happy mypy
  cognite/client/data_classes/cdm/v1.py
Due: mypy, custom-checks

build: changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

refactor; update to new space
  cognite/client/data_classes/cdm/v1.py
Due: mypy, custom-checks

refactro: rename trigger to run
  cognite/client/_api/workflows.py
  docs/source/workflow_orchestration.rst
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy, custom-checks

refactro: added back in trigger method
  cognite/client/_api/workflows.py
  docs/source/workflow_orchestration.rst
Due: mypy, custom-checks

Workflow Execution.trigger method deprecation (#1878)
  cognite/client/_api/workflows.py
  docs/source/workflow_orchestration.rst
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy, custom-checks

Update Core Model (#1877)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/cdm/v1.py
  pyproject.toml
  tests/tests_integration/test_api/test_data_modeling/test_core_model.py
  tests/tests_unit/test_data_classes/test_cdm/test_v1.py
Due: mypy, custom-checks

Added support for the LocationFilterAcl
  cognite/client/data_classes/capabilities.py
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy, custom-checks

Added support for the LocationFilterAcl
  cognite/client/_version.py
Due: mypy, custom-checks

bumped version in pyproject.toml
  pyproject.toml
Due: none

updated CHANGELOG.md
  CHANGELOG.md
Due: none

updated CHANGELOG.md with correct date
  CHANGELOG.md
Due: none

plural
  .github/pull_request_template.md
  CHANGELOG.md
  cognite/client/data_classes/capabilities.py
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
