Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling, simulators and datapoints
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
          tests/tests_unit/test_utils/test_time.py
          tests/tests_integration/test_api/test_datapoints.py
          tests/tests_unit/test_api/test_assets.py
          tests/tests_integration/test_api/test_assets.py
          tests/tests_integration/test_api/test_simulators
          tests/tests_integration/test_api/test_principals.py
          tests/tests_unit/test_api/test_simulators
          tests/tests_unit/test_data_classes/test_simulators.py
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.7.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

allow NodeID in DirectRelationReference.load
  cognite/client/data_classes/data_modeling/data_types.py
  cognite/client/utils/_identifier.py
Due: mypy, custom-checks

remove 'Cannot chain result sets...' check in instances/subscribe
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

update to using override_semaphore in tests
  tests/tests_integration/test_api/test_assets.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

change scopes arg of OAuthClientCredentials to allow None
  cognite/client/credentials.py
  tests/tests_integration/conftest.py
  tests/tests_integration/test_api/test_transformations/test_jobs.py
  tests/tests_integration/test_api/test_transformations/test_notifications.py
  tests/tests_integration/test_api/test_transformations/test_schedules.py
  tests/tests_integration/test_api/test_transformations/test_transformations.py
Due: mypy, custom-checks

update transformations tests (some used to be async even bef v8)
  tests/tests_integration/test_api/test_transformations/test_jobs.py
  tests/tests_integration/test_api/test_transformations/test_transformations.py
Due: mypy

do a mypy pass on tests
  tests/tests_integration/conftest.py
  tests/tests_integration/test_api/test_data_modeling/test_data_models.py
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/tests_integration/test_api/test_data_modeling/test_views.py
  tests/tests_integration/test_api/test_data_sets.py
  tests/tests_integration/test_api/test_files.py
  tests/tests_integration/test_api/test_functions.py
  tests/tests_integration/test_api/test_organization.py
  tests/tests_integration/test_api/test_principals.py
  tests/tests_integration/test_api/test_raw.py
  tests/tests_integration/test_api/test_sequences_data.py
  tests/tests_integration/test_api/test_simulators/seed/resources.py
  tests/tests_integration/test_api/test_simulators/test_models.py
  tests/tests_integration/test_api/test_three_d.py
Due: mypy

perf: short circuit in util fn: at_least_one_is_not_none
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

Add dunder str and repr-html to GlobalConfig
  cognite/client/config.py
Due: mypy, custom-checks

improve robustness of workflow tests. change trigger to avoid spam
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

handle UnicodeEncodeError from strict httpx ascii-only header req
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

rename default_for_azure_ad to default_for_entra_id
  cognite/client/_cognite_client.py
  cognite/client/_sync_cognite_client.py
  cognite/client/credentials.py
  scripts/sync_client_codegen/sync_client_template.txt
Due: mypy, custom-checks

turn on pickle-client-test and add one for AsyncCogniteClient
  tests/tests_integration/test_cognite_client.py
Due: mypy

prepare codegen (sync api/client) for pre-commit/CI
  scripts/sync_client_codegen/codegen_utils.py
  scripts/sync_client_codegen/constants.py
  scripts/sync_client_codegen/create_sync_api.py
  scripts/sync_client_codegen/create_sync_client.py
  scripts/sync_client_codegen/main.py
  scripts/sync_client_codegen/sync_api_template.txt
  scripts/sync_client_codegen/sync_client_template.txt
Due: mypy

use response header to evaluate is_auto_retryable (not .json())
  cognite/client/_http_client.py
Due: mypy, custom-checks

update MIGRATION_GUIDE.md for v7 -> v8
  MIGRATION_GUIDE.md
Due: none

mypy pass of unit tests (+ minor fixes)
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api/function_test_resources/function_with_annotated_handle_assignment/handler.py
  tests/tests_unit/test_api/function_test_resources/function_with_handle_assignment/handler.py
  tests/tests_unit/test_api/function_test_resources/function_with_handle_assignment_invalid_args/handler.py
  tests/tests_unit/test_api/test_agents_actions.py
  tests/tests_unit/test_api/test_data_modeling/test_instances.py
  tests/tests_unit/test_api/test_data_sets.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_diagrams.py
  tests/tests_unit/test_api/test_events.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_api/test_labels.py
  tests/tests_unit/test_api/test_raw.py
  tests/tests_unit/test_api/test_relationships.py
  tests/tests_unit/test_api/test_vision_extract.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_credential_providers.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_data_classes/test_datapoints.py
  tests/tests_unit/test_data_classes/test_filters.py
  tests/tests_unit/test_data_classes/test_functions.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/tests_unit/test_data_classes/test_vision.py
  tests/tests_unit/test_docstring_examples.py
  tests/tests_unit/test_meta.py
  tests/tests_unit/test_utils/test_async_helpers.py
  tests/tests_unit/test_utils/test_time.py
Due: mypy

bump version to 8.0.0a1
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

update datapoints->dataframe tests after MultiIndex columns change
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

always keep time series identifier in dataframe columns
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

Refactored
  cognite/client/credentials.py
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

revert cache key
  cognite/client/credentials.py
Due: mypy, custom-checks

Reverting changelog
  CHANGELOG.md
Due: none

Update cognite/client/credentials.py
  cognite/client/credentials.py
Due: mypy, custom-checks

Flow improvements
  cognite/client/credentials.py
Due: mypy, custom-checks

Fix required vs nullable attributes on TimeSeries and related classes
  cognite/client/data_classes/time_series.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_integration/test_api/test_time_series.py
Due: mypy, custom-checks

Fix various unit tests
  cognite/client/_api/time_series.py
  cognite/client/testing.py
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
  tests/tests_unit/test_api/test_assets.py
  tests/tests_unit/test_api/test_data_sets.py
  tests/tests_unit/test_api/test_events.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api/test_labels.py
  tests/tests_unit/test_api/test_relationships.py
  tests/tests_unit/test_api/test_signatures.py
  tests/tests_unit/test_api/test_time_series.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_data_classes/test_assets.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/tests_unit/test_data_classes/test_vision.py
Due: mypy, custom-checks

update .gemini/styleguide.md with httpx.Response
  .gemini/styleguide.md
Due: none

Fix required vs nullable attributes on Raw classes
  cognite/client/_api/raw/tables.py
  cognite/client/data_classes/raw.py
  tests/tests_integration/test_api/test_raw.py
  tests/tests_unit/test_api/test_raw.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Event and related classes
  cognite/client/data_classes/events.py
  cognite/client/data_classes/shared.py
  tests/tests_integration/test_api/test_events.py
Due: mypy, custom-checks

Fix dataclass unit tests
  cognite/client/data_classes/data_modeling/data_types.py
  cognite/client/data_classes/iam.py
  cognite/client/data_classes/transformations/schema.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_data_classes/test_annotations.py
  tests/tests_unit/test_data_classes/test_assets.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_data_classes/test_generated.py
  tests/tests_unit/test_data_classes/test_groups.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/tests_unit/test_data_classes/test_sequences.py
  tests/tests_unit/test_data_classes/test_time_series.py
Due: mypy, custom-checks

Fix required vs nullable attributes on ExtractionPipeline and related classes
  cognite/client/data_classes/extractionpipelines.py
  tests/tests_integration/test_api/test_extraction_pipelines.py
  tests/tests_unit/test_api/test_extractionpipelines.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Asset and related classes
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/assets.py
  cognite/client/data_classes/iam.py
  cognite/client/data_classes/labels.py
  cognite/client/utils/_auxiliary.py
  tests/tests_integration/test_api/test_assets.py
  tests/tests_unit/test_utils/test_auxiliary.py
Due: mypy, custom-checks

Introduce DefaultResourceGenerator
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api/test_entity_matching.py
  tests/tests_unit/test_api/test_events.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_api/test_time_series.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_base.py
Due: mypy

Fix doctests
  docs/source/appendix.rst
  docs/source/conftest.py
Due: mypy

Fix required vs nullable attributes on Group and SecurityCategory classes
  cognite/client/data_classes/iam.py
  tests/tests_integration/test_api/test_iam.py
  tests/tests_unit/test_api/test_iam.py
Due: mypy, custom-checks

Import Self from typing_extensions
  cognite/client/data_classes/data_sets.py
  cognite/client/data_classes/events.py
  cognite/client/data_classes/extractionpipelines.py
  cognite/client/data_classes/functions.py
  cognite/client/data_classes/labels.py
  cognite/client/data_classes/raw.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Vision classes
  cognite/client/_api/vision.py
  cognite/client/data_classes/contextualization.py
  tests/tests_integration/test_api/test_vision_extract.py
  tests/tests_unit/test_api/test_diagrams.py
  tests/tests_unit/test_data_classes/conftest.py
  tests/tests_unit/test_data_classes/test_vision.py
Due: mypy, custom-checks
