Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

ci: add Py310
  .github/workflows/build.yml
Due: none

refactor; quick and dirty try 2
  tests/utils.py
Due: mypy

Update tests/utils.py
  tests/utils.py
Due: mypy

Add Py310 Testing (#1952)
  .github/workflows/build.yml
  tests/utils.py
Due: mypy

Require python 3.10 or higher
  .github/actions/setup/action.yml
  .github/workflows/build.yml
  .github/workflows/verify-jupyter.yml
  .github/workflows/verify-streamlit.yml
  poetry.lock
  pyproject.toml
Due: none

Fix mypy issues
  cognite/client/_api_client.py
  cognite/client/data_classes/assets.py
  cognite/client/utils/_concurrency.py
  cognite/client/utils/_time.py
Due: mypy, custom-checks

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix docstring formatter
  cognite/client/data_classes/workflows.py
  scripts/custom_checks/docstrings.py
Due: mypy, custom-checks

fix regression from #1736 for InAssetSubtree filter
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

fix InAssetSubtree filter (value -> values)
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

dont give abstract filters names (to avoid accidental loads)
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

add example using InAssetSubtree filter
  cognite/client/_api/documents.py
Due: mypy, custom-checks

improve filter tests to check that correct class is loaded. add test on InAssetSubtree
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
Due: mypy

ensure SpaceFilter cant be loaded (-> UnknownFilter)
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
Due: mypy

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix docstring example
  cognite/client/_api/documents.py
Due: mypy, custom-checks

add filter example to cls so that it goes in the docs (filters.rst)
  cognite/client/_api/documents.py
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

Revert "Fix docstring formatter"
  cognite/client/data_classes/workflows.py
  scripts/custom_checks/docstrings.py
Due: mypy, custom-checks

fix docstring formatter
  cognite/client/data_classes/workflows.py
  scripts/custom_checks/docstrings.py
Due: mypy, custom-checks

render options in docstring nicer
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

refactor: generated data and api class
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/models.py
  cognite/client/data_classes/simulators/__init__.py
  cognite/client/data_classes/simulators/models.py
Due: mypy, custom-checks

refactor; removed deprecated labels
  cognite/client/_api/simulators/models.py
  cognite/client/data_classes/simulators/models.py
Due: mypy, custom-checks

refactor: fix API class
  cognite/client/_api/simulators/models.py
  cognite/client/data_classes/assets.py
  cognite/client/data_classes/simulators/models.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

refactor: updated cleint
  cognite/client/_api/simulators/__init__.py
  cognite/client/_cognite_client.py
  cognite/client/testing.py
Due: mypy, custom-checks

refactor; fix
  cognite/client/_api/simulators/__init__.py
Due: mypy, custom-checks

build: tmp
  .pre-commit-config.yaml
Due: none

tests: setup test for simulators
  cognite/client/_api/simulators/models.py
  cognite/client/data_classes/simulators/__init__.py
  tests/tests_integration/test_api/test_simulators/__init__.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy, custom-checks

tmp: happy mypy locally
  cognite/client/data_classes/assets.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

refactor: generated data and api classes
  cognite/client/_api/simulators/simulators.py
  cognite/client/data_classes/simulators/simulators.py
Due: mypy, custom-checks

refactor: remove crud methods
  cognite/client/_api/simulators/simulators.py
  cognite/client/data_classes/simulators/simulators.py
Due: mypy, custom-checks

refactor: setup shell
  cognite/client/_api/simulators/__init__.py
  cognite/client/_cognite_client.py
  cognite/client/testing.py
  tests/tests_integration/test_api/test_simulators/__init__.py
  tests/tests_integration/test_api/test_simulators/test_simulators.py
Due: mypy, custom-checks

fix: added forgotten
  cognite/client/_api/simulators/simulators.py
Due: mypy, custom-checks

style: happy mypy
  cognite/client/data_classes/assets.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

refactor: generated api and data classes
  cognite/client/_api/postgres_gateway/users.py
  cognite/client/data_classes/postgres_gateway/users.py
Due: mypy, custom-checks

refactor: setup plumming
  cognite/client/_api/postgres_gateway/__init__.py
  cognite/client/_api/postgres_gateway/users.py
  cognite/client/_cognite_client.py
  cognite/client/data_classes/postgres_gateway/__init__.py
  cognite/client/data_classes/postgres_gateway/users.py
  cognite/client/testing.py
Due: mypy, custom-checks

fix; api classes
  cognite/client/_api/postgres_gateway/users.py
  cognite/client/utils/_identifier.py
Due: mypy, custom-checks

refactor; renaming
  cognite/client/_api/postgres_gateway/users.py
  cognite/client/data_classes/postgres_gateway/__init__.py
  cognite/client/data_classes/postgres_gateway/users.py
Due: mypy, custom-checks

refactor: renaming part 2
  cognite/client/_api/postgres_gateway/users.py
  cognite/client/data_classes/postgres_gateway/__init__.py
  cognite/client/data_classes/postgres_gateway/users.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
