Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite 
          
          tests/tests_unit/test_data_classes
          tests/tests_unit/test_utils
          tests/tests_unit/test_api_client.py
          tests/tests_unit/test_base.py
          tests/tests_unit/test_cognite_client.py
          tests/tests_unit/test_config.py
          tests/tests_unit/test_credential_providers.py
          tests/tests_unit/test_docstring_examples.py
          tests/tests_unit/test_exceptions.py
          
          tests/tests_unit/test_api/test_assets.py
          tests/tests_unit/test_api/test_events.py
          tests/tests_unit/test_api/test_datapoints.py
          tests/tests_unit/test_api/test_data_sets.py
          tests/tests_unit/test_api/test_geospatial.py
          tests/tests_unit/test_api/test_raw.py
          tests/tests_unit/test_api/test_time_series.py
          tests/tests_unit/test_api/test_3d.py
          tests/tests_unit/test_api/test_vision_extract.py
          tests/tests_unit/test_api/test_transformations.py
          
          tests/tests_integration/test_api/test_data_modeling
          tests/tests_integration/test_api/test_datapoints.py
          tests/tests_integration/test_api/test_assets.py
          tests/tests_integration/test_api/test_events.py
          tests/tests_integration/test_api/test_workflows.py
          tests/tests_integration/test_api/test_raw.py
          tests/tests_integration/test_api/test_transformations

          tests/tests_integration/test_api/test_simulators
          tests/tests_integration/test_api/test_principals.py
          tests/tests_unit/test_api/test_simulators
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.8.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

Add DM File API client interface
  cognite/client/_api/data_modeling/files.py
Due: mypy, custom-checks

use instanceid
  cognite/client/data_classes/data_modeling/records.py
  cognite/client/utils/_identifier.py
Due: mypy, custom-checks

cleanup tests
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy, custom-checks

remove as_primitives
  cognite/client/data_classes/data_modeling/records.py
  cognite/client/utils/_identifier.py
Due: mypy, custom-checks

add /list method ensuring only file nodes are returned
  cognite/client/_api/data_modeling/files.py
Due: mypy, custom-checks

Add tests
  tests/tests_unit/test_api/test_functions.py
Due: mypy

Warn and skip validation on browser run
  cognite/client/_api/functions/__init__.py
  cognite/client/_sync_api/functions/__init__.py
Due: mypy, custom-checks

Skip requirements validation when pip is not available
  cognite/client/_api/functions/__init__.py
Due: mypy, custom-checks

Fix generated _sync_api
  cognite/client/_sync_api/functions/__init__.py
Due: mypy, custom-checks

fix: raise CogniteFileUploadError instead of leaking CogniteHTTPStatusError on blob PUT failures
  cognite/client/_api/files.py
Due: mypy, custom-checks

test: regression tests for blob PUT 400 surfacing as CogniteFileUploadError
  tests/tests_unit/test_api/test_files.py
Due: mypy

run sync codegen + formatters
  cognite/client/_api/files.py
  cognite/client/_sync_api/files.py
  tests/tests_unit/test_api/test_files.py
Due: mypy, custom-checks

remove unused tmp_path fixture parameter
  tests/tests_unit/test_api/test_files.py
Due: mypy

Add note in docstring
  cognite/client/_api/functions/__init__.py
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

Format, generate _sync_api
  cognite/client/_api/functions/__init__.py
  cognite/client/_sync_api/functions/__init__.py
Due: mypy, custom-checks

Fix FieReference issue
  cognite/client/_api/diagrams.py
  cognite/client/_sync_api/diagrams.py
  scripts/custom_checks/docstrings.py
Due: mypy, custom-checks

add /retrieve method ensuring only file nodes are returned
  cognite/client/_api/data_modeling/files.py
Due: mypy, custom-checks

add drop_source method to Instance class
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

update sync codegen logic
  scripts/sync_client_codegen/codegen_utils.py
  scripts/sync_client_codegen/create_sync_api.py
  scripts/sync_client_codegen/sync_api_template.txt
Due: mypy

add tests for drop_source
  tests/tests_unit/test_data_classes/test_data_models/test_instances.py
Due: mypy

add tests/tests_unit/test_api/test_data_modeling/test_files.py
  tests/tests_unit/test_api/test_data_modeling/test_files.py
Due: mypy

run sync codegen
  cognite/client/_sync_api/data_modeling/__init__.py
  cognite/client/_sync_api/data_modeling/files.py
  cognite/client/_sync_api/files.py
Due: mypy, custom-checks

add DataModelingFilesAPI to mock clients
  cognite/client/testing.py
Due: mypy, custom-checks

ci: add auto test cleanup for `hosted_extractors.destinations` (#2641)
  tests/tests_integration/test_api/test_hosted_extractors/conftest.py
  tests/tests_integration/test_api/test_hosted_extractors/test_destinations.py
Due: mypy

Add comment in FunctionHandle
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

fix identifier
  cognite/client/utils/_identifier.py
Due: mypy, custom-checks

add more fixtures
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy

fix fixture references
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy

Update docs/source/data_modeling.rst
  docs/source/data_modeling.rst
Due: none

Update cognite/client/_api/data_modeling/records.py
  cognite/client/_api/data_modeling/records.py
Due: mypy, custom-checks

fix(Functions): skip pip validation on browser use (#2638)
  cognite/client/_api/functions/__init__.py
  cognite/client/_sync_api/functions/__init__.py
  tests/tests_unit/test_api/test_functions.py
Due: mypy, custom-checks

Remove or None for client in handle
  cognite/client/_api/functions/__init__.py
  cognite/client/_sync_api/functions/__init__.py
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

Update codgen
  cognite/client/_sync_api/functions/__init__.py
Due: mypy, custom-checks

docs(Functions): clarify type annotation restrictions when using function_handle (#2639)
  cognite/client/_api/functions/__init__.py
  cognite/client/_sync_api/functions/__init__.py
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

Refactor Records concurrency: rename ingest->write, add explicit op mapping
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

fix(files): use seek/tell for file size when Pyodide fstat fails
  cognite/client/_api/files.py
  cognite/client/_sync_api/files.py
Due: mypy, custom-checks

test(files): cover FilesAPI._get_file_size lying-stat fallback
  tests/tests_unit/test_api/test_files.py
Due: mypy

fix(Files): Fix pyodide fstat not returning actual file size but 0 (#2649)
  cognite/client/_api/files.py
  cognite/client/_sync_api/files.py
  tests/tests_unit/test_api/test_files.py
Due: mypy, custom-checks
