Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

improve type checking
  cognite/client/_api/workflows.py
Due: mypy, custom-checks

improve use helper type for WorkflowStatus where appropriate
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

include sequence and stringy type in test
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy

rewrite test
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy

Update CHANGELOG data
  CHANGELOG.md
Due: none

[CDF-21657] Add status filter to workflow executions list (#1793)
  CHANGELOG.md
  cognite/client/_api/workflows.py
  cognite/client/_version.py
  cognite/client/data_classes/workflows.py
  pyproject.toml
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy, custom-checks

refactor: fix type hint for transformation.notifications.create
  cognite/client/_api/transformations/notifications.py
  cognite/client/data_classes/__init__.py
Due: mypy, custom-checks

style: fix types
  cognite/client/data_classes/transformations/notifications.py
Due: mypy, custom-checks

refactor; alternative way
  cognite/client/data_classes/transformations/notifications.py
Due: mypy, custom-checks

Fix typehint transformation notification (#1798)
  cognite/client/_api/transformations/notifications.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/transformations/notifications.py
Due: mypy, custom-checks

remove workflows beta/alpha warnings
  docs/source/workflow_orchestration.rst
Due: none

update API spec links
  cognite/client/_api/workflows.py
Due: mypy, custom-checks

Use correct version of Python (3.8) for devcontainer. Reverting renovatebot update
  .devcontainer/devcontainer.json
Due: none

Disable automated updates of python image for devcontainer
  renovate.json
Due: none

Fix reset dataset for 3d model update
  cognite/client/data_classes/three_d.py
  renovate.json
  tests/tests_unit/test_api/test_3d.py
Due: mypy, custom-checks

Revert change in renovate.json for this PR
  renovate.json
Due: none

Added changelog entry
  CHANGELOG.md
Due: none

Set version 7.49.1
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Update data workflows docs (#1802)
  cognite/client/_api/workflows.py
  docs/source/workflow_orchestration.rst
Due: mypy, custom-checks

Using quotes
  .github/workflows/verify-jupyter.yml
Due: none

Fixing env variable
  .github/workflows/verify-jupyter.yml
Due: none

Specifying node version
  .github/workflows/verify-jupyter.yml
Due: none

Building first
  .github/workflows/verify-jupyter.yml
Due: none

Fixed syntax for npm install
  .github/workflows/verify-jupyter.yml
Due: none

Added workflow for Streamlit
  .github/workflows/verify-jupyter.yml
  .github/workflows/verify-streamlit.yml
Due: none

Fixed format
  .github/workflows/verify-streamlit.yml
Due: none

Updated pyodide version in jupyter
  .github/workflows/verify-jupyter.yml
Due: none

Fixed print
  scripts/test-pyodide.js
Due: none

Dynamic wheel file
  .github/workflows/verify-jupyter.yml
Due: none

Updated script
  scripts/test-pyodide.js
Due: none

Correct command
  .github/workflows/verify-jupyter.yml
Due: none

Removed dist/ prefix
  .github/workflows/verify-jupyter.yml
Due: none

Printing in JS a print statement in Python
  scripts/test-pyodide.js
Due: none

Script runs locally
  scripts/test-pyodide.js
Due: none

Added CI for pyodide
  .github/workflows/verify-jupyter.yml
  scripts/test-pyodide.js
Due: none

test: Added CI for pyodide (#1801)
  .github/workflows/verify-jupyter.yml
  .github/workflows/verify-streamlit.yml
  scripts/test-pyodide.js
Due: none

Fix devcontainer, using correct Python version image (#1803)
  .devcontainer/devcontainer.json
  renovate.json
Due: none

Fix reset dataset for 3d model update (#1804)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/three_d.py
  pyproject.toml
  tests/tests_unit/test_api/test_3d.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
