Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  ...

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

give top-level access to api_client on clients
  cognite/client/_cognite_client.py
  cognite/client/_sync_cognite_client.py
  scripts/sync_client_codegen/sync_client_template.txt
Due: mypy, custom-checks

make authlib imports lazy
  cognite/client/credentials.py
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

run pyodide compat. checks in CI also for v8
  .github/workflows/verify-jupyter.yml
  .github/workflows/verify-streamlit.yml
Due: none

bump patch version
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix: streamlit running with pyodide (#2513)
  .github/workflows/verify-jupyter.yml
  .github/workflows/verify-streamlit.yml
  cognite/client/_version.py
  cognite/client/credentials.py
  pyproject.toml
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

split out separate fn 'get_user_agent_header'
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

add targeted pyodide patching for older versions
  cognite/client/utils/_pyodide_helpers.py
Due: mypy, custom-checks

fix the RuntimeWarning you get in e.g. Firefox on run_sync('install tzdata')
  cognite/client/utils/_pyodide_helpers.py
Due: mypy, custom-checks

Fix older pyodide versions with targeted patching (#2514)
  cognite/client/_basic_api_client.py
  cognite/client/_version.py
  cognite/client/utils/_pyodide_helpers.py
  pyproject.toml
Due: mypy, custom-checks

Add support for streams
  cognite/client/_api/data_modeling/__init__.py
  cognite/client/_api/data_modeling/streams.py
  cognite/client/_api_client.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/streams.py
Due: mypy, custom-checks

add tests
  cognite/client/testing.py
  tests/tests_integration/test_api/test_data_modeling/conftest.py
  tests/tests_integration/test_api/test_data_modeling/test_streams.py
  tests/tests_unit/test_api/test_data_modeling/test_streams.py
Due: mypy, custom-checks

update docs
  docs/source/data_modeling.rst
Due: none

Actually have permanent triggers for the tests
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

lint
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

changes due to code review
  tests/tests_unit/test_api/test_data_modeling/test_streams.py
Due: mypy

fix tests
  tests/tests_unit/test_api/test_data_modeling/test_streams.py
Due: mypy

feat: add streams data classes
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/streams.py
Due: mypy, custom-checks

feat: add streams async/sync API and wiring
  cognite/client/_api/data_modeling/__init__.py
  cognite/client/_api/data_modeling/streams.py
  cognite/client/_sync_api/data_modeling/__init__.py
  cognite/client/_sync_api/data_modeling/streams.py
  cognite/client/testing.py
  cognite/client/utils/_url.py
Due: mypy, custom-checks

test: add streams unit and integration tests
  tests/tests_integration/test_api/test_data_modeling/conftest.py
  tests/tests_integration/test_api/test_data_modeling/test_streams.py
  tests/tests_unit/test_api/test_data_modeling/test_streams.py
Due: mypy

docs: add streams API documentation
  docs/source/data_modeling.rst
Due: none

fix: updating wording
  cognite/client/data_classes/data_modeling/streams.py
Due: mypy, custom-checks

add methods to return sync/async from async/sync client
  cognite/client/_cognite_client.py
  cognite/client/_sync_cognite_client.py
  scripts/sync_client_codegen/sync_client_template.txt
Due: mypy, custom-checks

add tests
  tests/tests_unit/test_cognite_client.py
Due: mypy

skip flaky test test_trigger_run_history for some time
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

feat: add client conversion methods (sync <-> async) (#2520)
  cognite/client/_cognite_client.py
  cognite/client/_sync_cognite_client.py
  scripts/sync_client_codegen/sync_client_template.txt
  tests/tests_integration/test_api/test_workflows.py
  tests/tests_unit/test_cognite_client.py
Due: mypy, custom-checks

fix link fmt, typos and restructure front/landing page
  MIGRATION_GUIDE.md
  docs/source/index.rst
Due: none

chore: restructure docs front/landing page, fix link fmt, typos (#2516)
  MIGRATION_GUIDE.md
  docs/source/index.rst
Due: none

bump version to 8.0.3
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

revert test speedup that made it not test what it was supposed to guard against
  tests/tests_integration/test_api_client.py
Due: mypy

fix: task ordering bug in execute_async_tasks_with_fail_fast
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

add setting to pyproject to make ruff fix docstrings
  pyproject.toml
Due: none

remove httpx from v7
  pyproject.toml
Due: none

lock deps
  poetry.lock
Due: none

chore: remove httpx from v7 (#2523)
  poetry.lock
  pyproject.toml
Due: none

fix: disable noisy gemini summary
  .gemini/config.yaml
Due: none

add public load_if-method
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/data_modeling/data_types.py
  cognite/client/data_classes/data_modeling/ids.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/filters.py
  cognite/client/data_classes/transformations/__init__.py
  cognite/client/data_classes/transformations/common.py
  cognite/client/utils/_identifier.py
Due: mypy, custom-checks

improve load methods for (Versioned)DataModelingId and InstanceID
  cognite/client/data_classes/data_modeling/ids.py
  cognite/client/utils/_identifier.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
