Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

Apply lint
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

version bump
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Use match
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

Reword set operation error message
  cognite/client/data_classes/data_modeling/query.py
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy, custom-checks

Validate sync queries too
  cognite/client/_api/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/query.py
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy, custom-checks

Inline the type alias in documented functions
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

Mention improved error messages in the changelog
  CHANGELOG.md
Due: none

assert_never
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

Factor out sort loading
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

tests: fix flaky tests
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

tests: added failing tests
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy

fix: handle unknown properties
  cognite/client/data_classes/agents/agents.py
Due: mypy, custom-checks

build: bump
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

refactor: review feedback
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

docs; added docstring
  cognite/client/data_classes/agents/agents.py
Due: mypy, custom-checks

Fix flaky workflow tests (#2210)
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

feat: added organizaton to ClientConfig
  cognite/client/config.py
Due: mypy, custom-checks

docs: added docstring
  cognite/client/config.py
Due: mypy, custom-checks

build; bump
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

feat: added service principal DTOs
  cognite/client/data_classes/principals.py
Due: mypy, custom-checks

docs: added docstring
  cognite/client/data_classes/principals.py
Due: mypy, custom-checks

tests: added test battery
  tests/tests_unit/test_data_classes/test_principals.py
Due: mypy

tests: updated related test
  tests/tests_unit/test_meta.py
Due: mypy

refactor: stipulate
  cognite/client/_api/principals.py
Due: mypy, custom-checks

feat: added auth URL to config
  cognite/client/config.py
Due: mypy, custom-checks

refactor: use new config
  cognite/client/_api/principals.py
Due: mypy, custom-checks

refactor: expose principals
  cognite/client/_api/iam.py
Due: mypy, custom-checks

refactor; updated tests
  cognite/client/testing.py
Due: mypy, custom-checks

tests: added integration tests
  tests/tests_integration/test_api/test_principals.py
Due: mypy

tests: updated fixture
  tests/tests_integration/conftest.py
Due: mypy

refactor: allow full URL
  cognite/client/_api_client.py
Due: mypy, custom-checks

feat: implemented me
  cognite/client/_api/principals.py
Due: mypy, custom-checks

feat: implemented list
  cognite/client/_api/principals.py
Due: mypy, custom-checks

refactor: added ne identifier
  cognite/client/utils/_identifier.py
Due: mypy, custom-checks

feat; implemented retrieve
  cognite/client/_api/principals.py
Due: mypy, custom-checks

refactor: created new fixture
  tests/tests_integration/conftest.py
Due: mypy

tests: fix fixture
  tests/tests_integration/conftest.py
Due: mypy

fix: issue in CogniteResourceList
  cognite/client/data_classes/principals.py
Due: mypy, custom-checks

tests: update
  tests/tests_integration/test_api/test_principals.py
Due: mypy

refactor: split retrive implementation
  cognite/client/_api/principals.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
