Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.11
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605,UP038
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py310
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run dmypy run -- cognite tests
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.7.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

split UnitSystemAPI into separate file
  cognite/client/_api/unit_system.py
  cognite/client/_api/units.py
Due: mypy, custom-checks

split IAMAPIs into separate files. make OrgAPI into a client class
  cognite/client/_api/iam.py
  cognite/client/_api/iam/__init__.py
  cognite/client/_api/iam/groups.py
  cognite/client/_api/iam/security_categories.py
  cognite/client/_api/iam/sessions.py
  cognite/client/_api/iam/token.py
  cognite/client/_api/organization.py
  cognite/client/_org_client.py
  cognite/client/testing.py
  tests/tests_integration/test_api/test_organization.py
  tests/tests_unit/test_testing.py
Due: mypy, custom-checks

split RawAPIs into separate files
  cognite/client/_api/raw/__init__.py
  cognite/client/_api/raw/databases.py
  cognite/client/_api/raw/rows.py
  cognite/client/_api/raw/tables.py
Due: mypy, custom-checks

split SpaceStatisticsAPI into separate file
  cognite/client/_api/data_modeling/space_statistics.py
  cognite/client/_api/data_modeling/statistics.py
Due: mypy, custom-checks

split ExtractionPipelinesAPIs into separate files
  cognite/client/_api/extractionpipelines/__init__.py
  cognite/client/_api/extractionpipelines/configs.py
  cognite/client/_api/extractionpipelines/runs.py
Due: mypy, custom-checks

add script to convert async apis into sync
  scripts/sync_client_codegen/main.py
Due: mypy

split WorkflowAPIs into separate files
  cognite/client/_api/workflows.py
  cognite/client/_api/workflows/__init__.py
  cognite/client/_api/workflows/execution.py
  cognite/client/_api/workflows/task.py
  cognite/client/_api/workflows/trigger.py
  cognite/client/_api/workflows/version.py
Due: mypy, custom-checks

split 3D APIs into separate files
  cognite/client/_api/three_d.py
  cognite/client/_api/three_d/__init__.py
  cognite/client/_api/three_d/asset_mapping.py
  cognite/client/_api/three_d/files.py
  cognite/client/_api/three_d/models.py
  cognite/client/_api/three_d/revisions.py
Due: mypy, custom-checks

split DocumentPreviewAPI into separate file
  cognite/client/_api/document_preview.py
  cognite/client/_api/documents.py
  cognite/client/testing.py
Due: mypy, custom-checks

Refactor tests to handle both int and None values in the API response
  tests/tests_unit/test_api/test_functions.py
Due: mypy

run script to create sync CogniteClient
  cognite/client/_sync_cognite_client.py
Due: mypy, custom-checks

REVERT: turn off mypy
  .pre-commit-config.yaml
Due: none

REVERT: use --unsafe-fixes and ignore-init-module-imports = false
  .pre-commit-config.yaml
  pyproject.toml
Due: none

httpx no longer need pyodide-patching!
  cognite/client/_http_client.py
  cognite/client/utils/_pyodide_helpers.py
Due: mypy, custom-checks

fix: reintroduce _base_url_with_base_path on API client to handle Org. API
  cognite/client/_basic_api_client.py
  cognite/client/_org_client.py
  cognite/client/exceptions.py
  cognite/client/utils/_url.py
  tests/utils.py
Due: mypy, custom-checks

make the SDK work in "normal" jupyter notebooks
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

chore: remove default to None in SimulationRunWrite._load
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

Accept function handle as callable
  cognite/client/_api/functions.py
  tests/tests_unit/test_api/test_functions.py
Due: mypy, custom-checks

Remove CHANGELOG.md entry
  CHANGELOG.md
Due: none

Revert test
  tests/tests_unit/test_api/test_functions.py
Due: mypy

Revert doc change
  cognite/client/_api/functions.py
Due: mypy, custom-checks

Apply suggestions
  cognite/client/_api/functions.py
Due: mypy, custom-checks

Remove redundant tests as already covered in test_base.py
  tests/tests_unit/test_api/test_functions.py
Due: mypy

Add test for handler assignment
  tests/tests_unit/test_api/function_test_resources/function_with_handle_assignment/handler.py
  tests/tests_unit/test_api/test_functions.py
Due: mypy

refactor: disallow python 3.9 for functions api (#2354)
  cognite/client/_api/functions.py
  cognite/client/data_classes/functions.py
  tests/tests_unit/test_api/test_functions.py
Due: mypy, custom-checks

split SpaceStatisticsAPI to separate file space_statistics.py
  cognite/client/_api/data_modeling/space_statistics.py
  cognite/client/_api/data_modeling/statistics.py
Due: mypy, custom-checks

split Workflow APIs into separate files in /_api/workflows/
  cognite/client/_api/workflows.py
  cognite/client/_api/workflows/__init__.py
  cognite/client/_api/workflows/executions.py
  cognite/client/_api/workflows/tasks.py
  cognite/client/_api/workflows/triggers.py
  cognite/client/_api/workflows/versions.py
Due: mypy, custom-checks

split DocumentPreviewAPI to separate file document_preview.py
  cognite/client/_api/document_preview.py
  cognite/client/_api/documents.py
Due: mypy, custom-checks

split UnitSystemAPI to separate file unit_system.py
  cognite/client/_api/unit_system.py
  cognite/client/_api/units.py
Due: mypy, custom-checks

split SequencesDataAPI into separate file sequence_data.py
  cognite/client/_api/sequence_data.py
  cognite/client/_api/sequences.py
Due: mypy, custom-checks

split Raw APIs into separate files in /_api/raw/
  cognite/client/_api/raw/__init__.py
  cognite/client/_api/raw/databases.py
  cognite/client/_api/raw/rows.py
  cognite/client/_api/raw/tables.py
  cognite/client/testing.py
  tests/tests_unit/test_api/test_raw.py
Due: mypy, custom-checks

split IAM APIs into separate files in /_api/iam/
  cognite/client/_api/iam.py
  cognite/client/_api/iam/__init__.py
  cognite/client/_api/iam/groups.py
  cognite/client/_api/iam/security_categories.py
  cognite/client/_api/iam/sessions.py
  cognite/client/_api/iam/token.py
Due: mypy, custom-checks

split 3D APIs into separate files in /_api/three_d/
  cognite/client/_api/three_d.py
  cognite/client/_api/three_d/__init__.py
  cognite/client/_api/three_d/asset_mapping.py
  cognite/client/_api/three_d/files.py
  cognite/client/_api/three_d/models.py
  cognite/client/_api/three_d/revisions.py
  tests/tests_unit/test_api/test_3d.py
Due: mypy, custom-checks

split Functions APIs into separate files in /_api/functions/
  cognite/client/_api/functions/__init__.py
  cognite/client/_api/functions/calls.py
  cognite/client/_api/functions/schedules.py
Due: mypy, custom-checks

update imports
  cognite/client/testing.py
Due: mypy, custom-checks

remove unused TYPE_CHECKING checks
  cognite/client/_api/document_preview.py
  cognite/client/_api/iam/security_categories.py
  cognite/client/_api/iam/token.py
  cognite/client/_api/raw/databases.py
  cognite/client/_api/raw/tables.py
  cognite/client/_api/three_d/asset_mapping.py
  cognite/client/_api/three_d/files.py
  cognite/client/_api/three_d/models.py
  cognite/client/_api/three_d/revisions.py
  cognite/client/_api/unit_system.py
  cognite/client/_api/workflows/tasks.py
  cognite/client/data_classes/ai.py
Due: mypy, custom-checks

move cognite/client/_api/organization.py -> cognite/client/_org_client.py
  cognite/client/_org_client.py
Due: mypy, custom-checks

split PrincipalsAPI into separate file _api/org_apis/principals.py
  cognite/client/_api/org_apis/principals.py
  cognite/client/_org_client.py
Due: mypy, custom-checks
