Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

CI Trigger on merge queue (#2134)
  .github/workflows/build.yml
Due: none

Added missing PropertySpec to RestSourceupdate (#2133)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/hosted_extractors/sources.py
  pyproject.toml
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_sources.py
Due: mypy, custom-checks

Add CDM and Extractor Extensions data classes to docs (#2132)
  docs/source/data_modeling.rst
Due: none

æstyle: linting remove unnecessary castings
  cognite/client/utils/_time.py
  tests/tests_unit/test_api/test_datapoints.py
Due: mypy, custom-checks

fixes from the code review
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

fix some more pr comments
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

try making separate types for get/set/comman types
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

two separate SimulatorRoutineInput types
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

TMP commit: use alpha header (drop this commit)
  tests/tests_integration/conftest.py
Due: mypy

update tests and add a new
  tests/tests_integration/test_api/test_datapoints.py
  tests/utils.py
Due: mypy

support obj aggregates in dps dataclasses + add new classes
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

support obj aggregates in dps fetch code
  cognite/client/_api/datapoint_tasks.py
Due: mypy, custom-checks

update proto files
  cognite/client/_proto/data_points_pb2.py
  cognite/client/_proto/data_points_pb2.pyi
Due: mypy, custom-checks

ensure rng seed message is shown on failure when using xdist
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

improve flaky test
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

add descriptions and make fn reusable
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

Update CHANGELOG.md
  CHANGELOG.md
Due: none

review feedback
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

some doc updates
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

Revert "TMP commit: use alpha header (drop this commit)"
  tests/tests_integration/conftest.py
Due: mypy

fix something mypy should have warned me about load -> _load
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

replace float_aggs var with superseeding var numeric_aggs
  cognite/client/_api/datapoint_tasks.py
Due: mypy, custom-checks

Update outdated functions docs
  cognite/client/_api/functions.py
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

Update mocks
  tests/tests_unit/test_api/test_functions.py
Due: mypy

fix a test
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

simplify configuration usage
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

use types instead of dict in code example
  cognite/client/_api/simulators/routine_revisions.py
Due: mypy, custom-checks

Bump version and update CHANGELOG.md
  CHANGELOG.md
  pyproject.toml
Due: none

Correction in CHANGELOG.md
  CHANGELOG.md
Due: none

Update __version__
  cognite/client/_version.py
Due: mypy, custom-checks

fix pg users limit
  tests/tests_integration/test_api/test_postgres_gateway/test_users.py
Due: mypy

fix
  tests/tests_integration/test_api/test_postgres_gateway/test_users.py
Due: mypy

fix
  tests/tests_integration/test_api/test_postgres_gateway/test_tables.py
Due: mypy

Add support for Simulator Logs (#2122)
  CHANGELOG.md
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/logs.py
  cognite/client/data_classes/simulators/logs.py
  cognite/client/testing.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/test_integrations.py
  tests/tests_integration/test_api/test_simulators/test_models.py
  tests/tests_integration/test_api/test_simulators/utils.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

use SequenceNotStr instead of Sequence
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/testing.py
Due: mypy, custom-checks

add type annotations
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy

add created_time filter
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/filters.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
