Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

dont cache mutable obj + simplify conditional (_get_descriptor_property_name_mapping)
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

Remove unused code
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/hosted_extractors/sources.py
Due: mypy, custom-checks

minor fixes to instances data classes
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

modify item access err. msgs. for typed instances
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

update tests on inherited instance methods for typed insts.
  tests/tests_unit/test_data_classes/test_data_models/test_typed_instances.py
Due: mypy

final cleanup (extracted from reverted PR)
  cognite/client/data_classes/data_modeling/data_types.py
  cognite/client/data_classes/data_modeling/instances.py
  tests/tests_unit/test_data_classes/test_data_models/test_typed_instances.py
Due: mypy, custom-checks

several improvements for typed instances (#1919)
  .pre-commit-config.yaml
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_api/data_modeling/views.py
  cognite/client/data_classes/data_modeling/data_types.py
  cognite/client/data_classes/data_modeling/instances.py
  tests/tests_unit/test_data_classes/test_data_models/test_typed_instances.py
Due: mypy, custom-checks

Remove unused code (#1929)
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/hosted_extractors/sources.py
Due: mypy, custom-checks

remove the triggers beta warning as it's being released to GA today
  cognite/client/_api/workflows.py
Due: mypy, custom-checks

formatting
  cognite/client/_api/workflows.py
Due: mypy, custom-checks

remove data workflows triggers beta notice
  cognite/client/_api/workflows.py
Due: mypy, custom-checks

bump version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

remove warnings
  cognite/client/_api/workflows.py
Due: mypy, custom-checks

Remove data workflows triggers beta notice (#1933)
  CHANGELOG.md
  cognite/client/_api/workflows.py
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Some cleanup in update mode tests
  tests/tests_unit/test_api_client.py
Due: mypy

Objects should also be cleared with 'replace'
  cognite/client/_api_client.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/assets.py
  cognite/client/data_classes/data_sets.py
  cognite/client/data_classes/datapoints_subscriptions.py
  cognite/client/data_classes/events.py
  cognite/client/data_classes/extractionpipelines.py
  cognite/client/data_classes/files.py
  cognite/client/data_classes/hosted_extractors/sources.py
  cognite/client/data_classes/relationships.py
  cognite/client/data_classes/sequences.py
  cognite/client/data_classes/three_d.py
  cognite/client/data_classes/time_series.py
  cognite/client/data_classes/transformations/__init__.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_base.py
Due: mypy, custom-checks

Use MAX_RETRIES constant in functions api so it's patched in unit tests
  cognite/client/_api/functions.py
Due: mypy, custom-checks

Bump version and update changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Address more flaky tests
  tests/tests_integration/test_api/test_assets.py
  tests/tests_integration/test_api/test_data_workflows.py
  tests/tests_integration/test_api/test_relationships.py
  tests/tests_integration/test_api/test_sequences.py
  tests/tests_integration/test_api/test_time_series.py
Due: mypy

Improve tests for update modes and fix bug in `replace` mode (#1936)
  CHANGELOG.md
  cognite/client/_api/functions.py
  cognite/client/_api_client.py
  cognite/client/_version.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/assets.py
  cognite/client/data_classes/data_sets.py
  cognite/client/data_classes/datapoints_subscriptions.py
  cognite/client/data_classes/events.py
  cognite/client/data_classes/extractionpipelines.py
  cognite/client/data_classes/files.py
  cognite/client/data_classes/hosted_extractors/sources.py
  cognite/client/data_classes/relationships.py
  cognite/client/data_classes/sequences.py
  cognite/client/data_classes/three_d.py
  cognite/client/data_classes/time_series.py
  cognite/client/data_classes/transformations/__init__.py
  pyproject.toml
  tests/tests_integration/test_api/test_assets.py
  tests/tests_integration/test_api/test_data_workflows.py
  tests/tests_integration/test_api/test_relationships.py
  tests/tests_integration/test_api/test_sequences.py
  tests/tests_integration/test_api/test_time_series.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_base.py
Due: mypy, custom-checks

turn on CDM tests
  tests/tests_integration/test_api/test_data_modeling/test_core_model.py
Due: mypy

turn on instance_id datapoints tests
  tests/tests_integration/conftest.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

turn on instance_id time series tests
  tests/tests_integration/test_api/test_time_series.py
Due: mypy

turn on files alpha features tests
  tests/tests_integration/test_api/test_files.py
Due: mypy

bugfix: tests should not fail first day of the month...
  tests/tests_integration/test_api/test_data_modeling/test_core_model.py
Due: mypy

bugfix: Cognite3DModel.model_type must be set
  tests/tests_integration/test_api/test_data_modeling/test_core_model.py
Due: mypy

Turn on alpha tests (#1937)
  tests/tests_integration/conftest.py
  tests/tests_integration/test_api/test_data_modeling/test_core_model.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_integration/test_api/test_files.py
  tests/tests_integration/test_api/test_time_series.py
Due: mypy

fix: update resources
  cognite/client/_api/annotations.py
  cognite/client/_api/hosted_extractors/sources.py
  cognite/client/_api_client.py
Due: mypy, custom-checks

Revert "fix: update resources"
  cognite/client/_api/annotations.py
  cognite/client/_api/hosted_extractors/sources.py
  cognite/client/_api_client.py
Due: mypy, custom-checks

feat: add mode to timeseries
  cognite/client/_api/time_series.py
Due: mypy, custom-checks

refactor
  cognite/client/_api/time_series.py
Due: mypy, custom-checks

style: happy ruff and mypy
  cognite/client/_api/annotations.py
  cognite/client/_api/assets.py
  cognite/client/_api/data_sets.py
  cognite/client/_api/datapoints_subscriptions.py
  cognite/client/_api/entity_matching.py
  cognite/client/_api/events.py
  cognite/client/_api/extractionpipelines.py
  cognite/client/_api/files.py
  cognite/client/_api/hosted_extractors/destinations.py
  cognite/client/_api/hosted_extractors/sources.py
  cognite/client/_api/sequences.py
  cognite/client/_api/three_d.py
  cognite/client/_api/transformations/__init__.py
  cognite/client/_api/transformations/schedules.py
Due: mypy, custom-checks

refactor; first pass
  cognite/client/_api/annotations.py
  cognite/client/_api/assets.py
  cognite/client/_api/data_sets.py
  cognite/client/_api/datapoints_subscriptions.py
  cognite/client/_api/entity_matching.py
  cognite/client/_api/events.py
  cognite/client/_api/extractionpipelines.py
  cognite/client/_api/files.py
  cognite/client/_api/hosted_extractors/destinations.py
  cognite/client/_api/hosted_extractors/sources.py
  cognite/client/_api/relationships.py
  cognite/client/_api/sequences.py
  cognite/client/_api/three_d.py
  cognite/client/_api/transformations/__init__.py
  cognite/client/_api/transformations/schedules.py
Due: mypy, custom-checks

docs: update appendix
  docs/source/appendix.rst
Due: none

docs; update index
  cognite/client/_api/time_series.py
  docs/source/appendix.rst
Due: mypy, custom-checks

refactor; second pass
  cognite/client/_api/annotations.py
  cognite/client/_api/assets.py
  cognite/client/_api/entity_matching.py
  cognite/client/_api/events.py
  cognite/client/_api/extractionpipelines.py
  cognite/client/_api/files.py
  cognite/client/_api/hosted_extractors/destinations.py
  cognite/client/_api/hosted_extractors/sources.py
  cognite/client/_api/relationships.py
  cognite/client/_api/sequences.py
  cognite/client/_api/three_d.py
  cognite/client/_api/time_series.py
  cognite/client/_api/transformations/__init__.py
  cognite/client/_api/transformations/schedules.py
Due: mypy, custom-checks

refactor; third pass
  cognite/client/_api/annotations.py
  cognite/client/_api/assets.py
  cognite/client/_api/data_sets.py
  cognite/client/_api/entity_matching.py
  cognite/client/_api/events.py
  cognite/client/_api/extractionpipelines.py
  cognite/client/_api/files.py
  cognite/client/_api/hosted_extractors/destinations.py
  cognite/client/_api/hosted_extractors/sources.py
  cognite/client/_api/relationships.py
  cognite/client/_api/sequences.py
  cognite/client/_api/three_d.py
  cognite/client/_api/transformations/__init__.py
  cognite/client/_api/transformations/schedules.py
Due: mypy, custom-checks

build: changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

docs; fix docstring
  cognite/client/_api/hosted_extractors/destinations.py
  cognite/client/_api/hosted_extractors/sources.py
Due: mypy, custom-checks

move instance ID usage of datapoints API out of alpha
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks
