Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling, simulators and datapoints
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
          tests/tests_unit/test_utils/test_time.py
          tests/tests_integration/test_api/test_datapoints.py
          tests/tests_unit/test_api/test_assets.py
          tests/tests_integration/test_api/test_assets.py
          tests/tests_integration/test_api/test_simulators
          tests/tests_integration/test_api/test_principals.py
          tests/tests_unit/test_api/test_simulators
          tests/tests_unit/test_data_classes/test_simulators.py
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.7.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

fix: reintroduce _base_url_with_base_path on API client to handle Org. API
  cognite/client/_basic_api_client.py
  cognite/client/_org_client.py
  cognite/client/exceptions.py
  cognite/client/utils/_url.py
  tests/utils.py
Due: mypy, custom-checks

remove deprecated methods in _api/workflows/
  cognite/client/_api/workflows/executions.py
  cognite/client/_api/workflows/triggers.py
  cognite/client/_api/workflows/versions.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

remove legacy_name from time series data classes++
  cognite/client/data_classes/time_series.py
  tests/tests_unit/conftest.py
Due: mypy, custom-checks

remove warning in class Transformation on already removed init params
  cognite/client/data_classes/transformations/__init__.py
Due: mypy, custom-checks

Load missing as OMITTED in Typed Apply classes in: data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

fix data class helper methods: assets.py
  cognite/client/data_classes/assets.py
Due: mypy, custom-checks

fix data class helper methods: simulators/*
  cognite/client/_api/simulators/routines.py
  cognite/client/data_classes/simulators/models.py
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

fix tests: tests/tests_unit/test_data_classes/*
  tests/tests_unit/test_data_classes/__init__.py
  tests/tests_unit/test_data_classes/conftest.py
  tests/tests_unit/test_data_classes/test_assets.py
  tests/tests_unit/test_data_classes/test_capabilities.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_data_classes/test_data_models/__init__.py
  tests/tests_unit/test_data_classes/test_data_models/test_aggregations.py
  tests/tests_unit/test_data_classes/test_data_models/test_cdm/__init__.py
  tests/tests_unit/test_data_classes/test_data_models/test_cdm/test_v1.py
  tests/tests_unit/test_data_classes/test_data_models/test_containers.py
  tests/tests_unit/test_data_classes/test_data_models/test_data_types.py
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
  tests/tests_unit/test_data_classes/test_data_models/test_graphql.py
  tests/tests_unit/test_data_classes/test_data_models/test_queries.py
  tests/tests_unit/test_data_classes/test_data_models/test_views.py
  tests/tests_unit/test_data_classes/test_datapoint_subscriptions.py
  tests/tests_unit/test_data_classes/test_extraction_pipipelines.py
  tests/tests_unit/test_data_classes/test_filters.py
  tests/tests_unit/test_data_classes/test_functions.py
  tests/tests_unit/test_data_classes/test_geospatial.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/__init__.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_destinations.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_jobs.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_sources.py
  tests/tests_unit/test_data_classes/test_principals.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/tests_unit/test_data_classes/test_sequences.py
  tests/tests_unit/test_data_classes/test_time_series.py
  tests/tests_unit/test_data_classes/test_timestamp_range.py
  tests/tests_unit/test_data_classes/test_transformations/test_schema.py
  tests/tests_unit/test_data_classes/test_vision.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

only accept pathlib.Path in FilesAPI (keep str support though)
  cognite/client/_api/files.py
Due: mypy, custom-checks

add script to convert async apis into sync
  scripts/generate_code_snippets.py
  scripts/sync_client_codegen/main.py
Due: mypy

refactor: use MultiIndex in df.columns for dps dataframes
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_pandas_helpers.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

remove alpha/beta client test fixtures/helper fns
  tests/tests_integration/conftest.py
Due: mypy

make ruff remove empty "if TYPE_CHECKING:" blocks
  pyproject.toml
Due: none

update API-conversion script to include sync methods + overloads
  scripts/sync_client_codegen/main.py
Due: mypy

change monkeypatch client fns to use patch instead of hacking __new__
  cognite/client/testing.py
Due: mypy, custom-checks

Ingesting no datapoints no longer raises an exception
  cognite/client/_api/datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
Due: mypy, custom-checks

fix tests: tests/tests_unit/* and tests/utils.py
  tests/conftest.py
  tests/tests_unit/__init__.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_config.py
  tests/tests_unit/test_credential_providers.py
  tests/tests_unit/test_docstring_examples.py
  tests/tests_unit/test_exceptions.py
  tests/tests_unit/test_http_client.py
  tests/tests_unit/test_meta.py
  tests/tests_unit/test_testing.py
  tests/tests_unit/test_utils/__init__.py
  tests/tests_unit/test_utils/test_auxiliary.py
  tests/tests_unit/test_utils/test_concurrency.py
  tests/tests_unit/test_utils/test_importing.py
  tests/tests_unit/test_utils/test_json.py
  tests/tests_unit/test_utils/test_logging.py
  tests/tests_unit/test_utils/test_text.py
  tests/tests_unit/test_utils/test_url.py
  tests/tests_unit/test_utils/test_validation.py
  tests/utils.py
Due: mypy

rename ModelFailedException -> CogniteModelFailedError and fix inheritance
  cognite/client/data_classes/contextualization.py
  cognite/client/exceptions.py
  tests/tests_unit/test_api/test_entity_matching.py
Due: mypy, custom-checks

add Mock for async client: AsyncCogniteClientMock
  cognite/client/testing.py
  docs/source/testing.rst
Due: mypy, custom-checks

refactor InstancesAPI.subscribe to async
  cognite/client/_api/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/sync.py
  cognite/client/utils/_data_modeling.py
Due: mypy, custom-checks

update mock tests after refactoring
  tests/tests_unit/test_testing.py
  tests/utils.py
Due: mypy

fix: CI checks for pyodide after httpx addition
  .github/workflows/verify-jupyter.yml
  .github/workflows/verify-streamlit.yml
  poetry.lock
  scripts/test-pyodide.js
Due: none

fix FilesAPI: httpx AsyncClient doesn't accept regular file handles (only Client)
  cognite/client/_api/files.py
  cognite/client/config.py
Due: mypy, custom-checks

fix bug in '_process_file_download' by using 'is_relative_to' instead
  cognite/client/_api/files.py
Due: mypy, custom-checks

Update Sphinx documentation
  docs/source/assets.rst
  docs/source/data_organization.rst
  docs/source/deprecated.rst
  docs/source/events.rst
  docs/source/files.rst
  docs/source/sequences.rst
  docs/source/testing.rst
  docs/source/time_series.rst
  docs/source/transformations.rst
Due: none

make test util set_request_limit a fixture
  tests/conftest.py
  tests/utils.py
Due: mypy

make PrincipalsAPI async
  cognite/client/_api/org_apis/principals.py
  cognite/client/utils/_identifier.py
Due: mypy, custom-checks

properly fix missing AsyncMocks in AsyncCogniteClientMock
  cognite/client/testing.py
Due: mypy, custom-checks

properly fix spec_set=True in CogniteClientMock
  cognite/client/testing.py
Due: mypy, custom-checks

remove arg ignore_allscope_meaning from ACL compare fns (in IAM)
  cognite/client/_api/iam/__init__.py
Due: mypy, custom-checks

fix: missing payload from on-error-logging/raising
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

spellcheck on AsyncCogniteClient
  cognite/client/_cognite_client.py
  cognite/client/config.py
  cognite/client/data_classes/_base.py
  cognite/client/exceptions.py
Due: mypy, custom-checks

fix plain wrong code in docstring examples
  cognite/client/_api/datapoints.py
  cognite/client/_api/entity_matching.py
  cognite/client/_api/files.py
  cognite/client/_api/relationships.py
  cognite/client/_api/transformations/__init__.py
Due: mypy, custom-checks

convert timed_cache to async, add tests
  cognite/client/_api/units.py
  cognite/client/exceptions.py
  cognite/client/utils/_async_helpers.py
  cognite/client/utils/_time.py
  tests/tests_unit/test_utils/test_async_helpers.py
  tests/tests_unit/test_utils/test_time.py
Due: mypy, custom-checks

update conversion script to add basic HTTP methods++ to CogniteClient
  cognite/client/_sync_cognite_client.py
  scripts/sync_client_codegen/main.py
Due: mypy, custom-checks

move Geometry from data_classes/_base to /shared.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/documents.py
  cognite/client/data_classes/filters.py
  cognite/client/data_classes/shared.py
  tests/utils.py
Due: mypy, custom-checks

short-circuit "retrieve_multiple" and similar on [] input
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

refactor BasicAsyncAPIClient._request to log but re-raise
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks
