Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

Fix data modeling data type Enum dumping (#2091)
  CHANGELOG.md
  cognite/client/_api/ai/tools/documents.py
  cognite/client/_api_client.py
  cognite/client/_version.py
  cognite/client/data_classes/data_modeling/containers.py
  cognite/client/data_classes/data_modeling/data_types.py
  pyproject.toml
  tests/tests_integration/test_api/test_workflows.py
  tests/tests_unit/test_data_classes/test_data_models/test_containers.py
  tests/tests_unit/test_data_classes/test_data_models/test_data_types.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

Bumped required Pyodide version to 0.27.1
  .github/workflows/verify-jupyter.yml
Due: none

add /models/statistics
  cognite/client/_api/data_modeling/__init__.py
  cognite/client/_api/data_modeling/statistics.py
  cognite/client/data_classes/data_modeling/statistics.py
Due: mypy, custom-checks

fix annotations
  cognite/client/data_classes/data_modeling/ids.py
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

add docstrings with url, args & examples
  cognite/client/_api/data_modeling/statistics.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

add mock
  cognite/client/testing.py
Due: mypy, custom-checks

tests: added failing test
  tests/tests_unit/test_api_client.py
Due: mypy

tests: fix test
  tests/tests_unit/test_api_client.py
Due: mypy

fix: update kafka or mqtt source
  CHANGELOG.md
  cognite/client/_api_client.py
  cognite/client/_version.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/hosted_extractors/destinations.py
  cognite/client/data_classes/hosted_extractors/sources.py
  pyproject.toml
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

Update cognite/client/data_classes/_base.py
  cognite/client/data_classes/_base.py
Due: mypy, custom-checks

fixing required fields
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/models.py
  cognite/client/_api/simulators/runs.py
  cognite/client/_cognite_client.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/models.py
  cognite/client/data_classes/simulators/runs.py
  cognite/client/data_classes/simulators/simulators.py
  cognite/client/testing.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/test_models.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy, custom-checks

update runs file
  cognite/client/_api/simulators/runs.py
Due: mypy, custom-checks

update model revisions in testing.py
  cognite/client/testing.py
Due: mypy, custom-checks

update test
  cognite/client/testing.py
Due: mypy, custom-checks

update comments
  cognite/client/_api/simulators/models.py
Due: mypy, custom-checks

simulators: add runs resource
  cognite/client/_api/simulators/runs.py
Due: mypy, custom-checks

import code for runs
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/runs.py
  cognite/client/data_classes/simulators/simulators.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy, custom-checks

remove runs from this pr
  cognite/client/_api/simulators/runs.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/runs.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy, custom-checks

update changelog
  CHANGELOG.md
Due: none

remove unnecessary code
  cognite/client/_api/simulators/models.py
  cognite/client/data_classes/simulators/models.py
Due: mypy, custom-checks

add support for iterators
  cognite/client/_api/simulators/models.py
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy, custom-checks

move runs out to a separate pr
  cognite/client/data_classes/simulators/simulators.py
Due: mypy, custom-checks

update test
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy

addressing some feedback
  cognite/client/_api/simulators/models.py
Due: mypy, custom-checks

address more comments
  cognite/client/_api/simulators/models.py
  cognite/client/data_classes/simulators/models.py
Due: mypy, custom-checks

address more comments
  tests/tests_integration/test_api/test_simulators/conftest.py
Due: mypy

Ãbuild: version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Update CHANGELOG.md
  CHANGELOG.md
Due: none

rename model to txt
  cognite/client/_cognite_client.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/seed/ShowerMixer.txt
  tests/tests_integration/test_api/test_simulators/seed/data.py
Due: mypy, custom-checks

update conftest
  tests/tests_integration/test_api/test_simulators/conftest.py
Due: mypy

tests: set null test
  tests/tests_integration/test_api/test_hosted_extractors/test_sources.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_destinations.py
Due: mypy

update version and changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/seed/data.py
Due: mypy, custom-checks

[CDF-23684] Fix update kafka or mqtt source in hosted extractor. (#2096)
  CHANGELOG.md
  cognite/client/_api_client.py
  cognite/client/_version.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/hosted_extractors/destinations.py
  cognite/client/data_classes/hosted_extractors/sources.py
  pyproject.toml
  tests/tests_integration/test_api/test_hosted_extractors/test_sources.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_destinations.py
Due: mypy, custom-checks

fix retreive method
  cognite/client/_api/simulators/models.py
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy, custom-checks

change param order
  cognite/client/_api/simulators/models.py
Due: mypy, custom-checks

move create_revisions to revisions class
  cognite/client/_api/simulators/models.py
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy, custom-checks

Data Workflows: allow users to run transformation tasks with configured credentials
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

bump version and changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

[CDFNEW-2189] Transformation task: option to use transformation embedded credentials (#2100)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/workflows.py
  pyproject.toml
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
