Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite 
          
          tests/tests_unit/test_data_classes
          tests/tests_unit/test_utils
          tests/tests_unit/test_api_client.py
          tests/tests_unit/test_base.py
          tests/tests_unit/test_cognite_client.py
          tests/tests_unit/test_config.py
          tests/tests_unit/test_credential_providers.py
          tests/tests_unit/test_docstring_examples.py
          tests/tests_unit/test_exceptions.py
          
          tests/tests_unit/test_api/test_assets.py
          tests/tests_unit/test_api/test_events.py
          tests/tests_unit/test_api/test_datapoints.py
          tests/tests_unit/test_api/test_data_sets.py
          tests/tests_unit/test_api/test_geospatial.py
          tests/tests_unit/test_api/test_raw.py
          tests/tests_unit/test_api/test_time_series.py
          tests/tests_unit/test_api/test_3d.py
          tests/tests_unit/test_api/test_vision_extract.py
          tests/tests_unit/test_api/test_transformations.py
          
          tests/tests_integration/test_api/test_data_modeling
          tests/tests_integration/test_api/test_datapoints.py
          tests/tests_integration/test_api/test_assets.py
          tests/tests_integration/test_api/test_events.py
          tests/tests_integration/test_api/test_workflows.py
          tests/tests_integration/test_api/test_raw.py
          tests/tests_integration/test_api/test_transformations

          tests/tests_integration/test_api/test_simulators
          tests/tests_integration/test_api/test_principals.py
          tests/tests_unit/test_api/test_simulators
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.8.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

add tests
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/tests_unit/test_api/test_data_modeling/test_instances.py
Due: mypy

feat(streams): Streams API (#2534)
  cognite/client/_api/data_modeling/__init__.py
  cognite/client/_api/data_modeling/streams.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/data_modeling/__init__.py
  cognite/client/_sync_api/data_modeling/streams.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/streams.py
  cognite/client/testing.py
  cognite/client/utils/_url.py
  docs/source/data_modeling.rst
  tests/tests_unit/test_api/test_data_modeling/test_streams.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

feat(Data Modeling): add alpha `instances.sync_with_file_cache` for /sync jobs with file cache (DM-3759) (#2599)
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_sync_api/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/sync.py
  cognite/client/utils/_json_extended.py
  scripts/sync_client_codegen/codegen_utils.py
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/tests_unit/test_api/test_data_modeling/test_instances.py
Due: mypy, custom-checks

chore(master): release cognite-sdk-python 8.4.0
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore(master): release cognite-sdk-python 8.4.0 (#2609)
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

feat(agents): update agents runtime version to 1.2.0
  cognite/client/_api/agents/agents.py
  cognite/client/_sync_api/agents/agents.py
  tests/tests_unit/test_api/test_agents.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy, custom-checks

chore: Update simulation run load balancing documentation (#2607)
  cognite/client/_api/simulators/routines.py
  cognite/client/_sync_api/simulators/routines.py
  cognite/client/data_classes/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/routines.py
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

Workflows: delegate unknown load to _load; drop recursive key convert on unknown dumps
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

chore(agents): update agents runtime version to 1.2.0 (#2611)
  cognite/client/_api/agents/agents.py
  cognite/client/_sync_api/agents/agents.py
  tests/tests_unit/test_api/test_agents.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy, custom-checks

Align WorkflowTask.type with ValidTaskType from parameters
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

Type WorkflowTaskExecution.task_type as ValidTaskType
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

docs: add CLAUDE.md and Claude Code skill for new sub-API authoring
  .claude/skills/cognite-sdk-python-add-resource/SKILL.md
  .claude/skills/cognite-sdk-python-add-resource/references/alpha-and-warnings.md
  .claude/skills/cognite-sdk-python-add-resource/references/dto-design.md
  .claude/skills/cognite-sdk-python-add-resource/references/streams-walkthrough.md
  .claude/skills/cognite-sdk-python-add-resource/references/tests-and-doctests.md
  .claude/skills/cognite-sdk-python-add-resource/references/wiring.md
  .gitignore
  CLAUDE.md
Due: none

Address review: unknown workflow task params/output dump and load
  cognite/client/data_classes/workflows.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy, custom-checks

Skip generic CogniteResource round-trips for UnknownWorkflowTaskParameters
  tests/tests_unit/test_base.py
Due: mypy

fix(capabilities): add missing RUN action to FunctionsAcl
  cognite/client/data_classes/capabilities.py
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy, custom-checks

fix(capabilities): add missing RUN action to FunctionsAcl (#2614)
  cognite/client/data_classes/capabilities.py
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy, custom-checks

docs(records): add implementation plan for Records API
  PLAN.md
Due: none

Type UnknownWorkflowTaskOutput as dict; align workflow tests
  cognite/client/data_classes/workflows.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy, custom-checks

feat(records): add SDK support for the Records API
  cognite/client/_api/data_modeling/__init__.py
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/__init__.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/records.py
  cognite/client/testing.py
  cognite/client/utils/_url.py
  docs/source/data_modeling.rst
  pyproject.toml
  tests/tests_unit/test_api/test_data_modeling/test_records.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

run pre-commit
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy

fix(records): add docs-time import for RecordsAPI in _cognite_client.py
  cognite/client/_cognite_client.py
Due: mypy, custom-checks

run pre-commit
  cognite/client/_cognite_client.py
Due: mypy, custom-checks

fix(iam): tolerate partial Session response when caller lacks sessionsAcl:LIST
  cognite/client/data_classes/iam.py
Due: mypy, custom-checks

fix(iam): guard integration test against None creation_time after Session field changes
  tests/tests_integration/conftest.py
Due: mypy

Address review feedback
  cognite/client/data_classes/iam.py
  tests/tests_integration/conftest.py
Due: mypy, custom-checks

Address review feedback
  cognite/client/_api/iam/sessions.py
  cognite/client/_sync_api/iam/sessions.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/iam.py
  tests/tests_integration/conftest.py
Due: mypy, custom-checks

style: fix ruff lint errors and re-sort imports alphabetically
  cognite/client/_api/iam/sessions.py
  cognite/client/_sync_api/iam/sessions.py
  cognite/client/data_classes/__init__.py
Due: mypy, custom-checks

fix(iam): tolerate partial Session response when caller lacks sessionsAcl:LIST (#2617)
  cognite/client/_api/iam/sessions.py
  cognite/client/_sync_api/iam/sessions.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/iam.py
Due: mypy, custom-checks

feat(InstanceSort): validate direction, add is_index_aligned and _apply_postgres_defaults_or_maybe_warn
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

feat(query): add _iter_sorts traversal and _prepare_sorts to Query(Sync) class hierarchy
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

feat(Instances API): wire sort preparation at PostgreSQL-backed call sites
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_sync_api/data_modeling/instances.py
Due: mypy, custom-checks

docs(InstanceSort): add docstring with examples and index-alignment tip
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

test(data_modeling): add TestInstanceSort and TestQueryIterSorts
  tests/tests_unit/test_data_classes/test_data_models/test_instances.py
Due: mypy

mypy is not clever enough...
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

Workflows: unknown task output/parameters tests and base test pointer
  cognite/client/data_classes/workflows.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy, custom-checks

Fix UnknownWorkflowTaskParameters init; exclude from json serialize test; trim workflow tests
  cognite/client/data_classes/workflows.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy, custom-checks

fix(records): resolve CI lint and docs failures
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/data_classes/data_modeling/records.py
Due: mypy, custom-checks
