Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

Use dedicated cdf test project for CD workflow (#2128)
  .github/workflows/build.yml
  .github/workflows/cdf_auth.yaml
  .github/workflows/release.yaml
Due: none

Add beartype dependency
  poetry.lock
  pyproject.toml
Due: none

Add runtime type checking
  cognite/client/exceptions.py
  cognite/client/utils/_runtime_type_checking.py
  tests/tests_unit/test_utils/test_runtime_type_checking.py
Due: mypy, custom-checks

Only deploy auth setup for prod project (for now)
  .github/workflows/cdf_auth.yaml
Due: none

tests: removed overkill creation
  tests/tests_integration/test_api/test_files.py
Due: mypy

[DOGE-105] Robustify tests (#2125)
  tests/tests_integration/test_api/test_files.py
  tests/tests_unit/test_api_client.py
Due: mypy

ci: fix use cdf_project in matrix
  .github/workflows/cdf_auth.yaml
  scripts/toolkit/cdf.toml
  scripts/toolkit/config.python-sdk-contributor.yaml
  scripts/toolkit/config.python-sdk-test-prod.yaml
Due: none

refactor; deleted old way of adding capabilities
  scripts/add_capability.py
Due: mypy

Run group update in contributor and prod project. (#2131)
  .github/workflows/cdf_auth.yaml
  scripts/add_capability.py
  scripts/toolkit/cdf.toml
  scripts/toolkit/config.python-sdk-contributor.yaml
  scripts/toolkit/config.python-sdk-test-prod.yaml
Due: mypy

Add CDM and Extractor Extensions data classes to docs
  docs/source/data_modeling.rst
Due: none

[DOGE-106] Change behavior of aggregate (#2121)
  CHANGELOG.md
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_version.py
  pyproject.toml
  tests/tests_unit/test_api/test_data_modeling/test_instances.py
Due: mypy, custom-checks

[PYG-350] Aggregate when filter return empty (#2124)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/aggregations.py
  pyproject.toml
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/tests_unit/test_data_classes/test_data_models/test_aggregations.py
Due: mypy, custom-checks

Add support for simulator routines (#2114)
  CHANGELOG.md
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/models.py
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/_api/simulators/routines.py
  cognite/client/data_classes/simulators/__init__.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/models.py
  cognite/client/data_classes/simulators/routines.py
  cognite/client/testing.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/test_routines.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

update
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy

[DOGE-105] Setup contributor project (#2119)
  .github/workflows/cdf_auth.yaml
  scripts/toolkit/cdf.toml
  scripts/toolkit/config.contributor.yaml
  scripts/toolkit/config.prod.yaml
Due: none

add routine revs setup
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

fixup tests
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

Update routine_revisions.py
  cognite/client/_api/simulators/routine_revisions.py
Due: mypy, custom-checks

improve the test, add order
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/test_integrations.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

improve tests
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

fmt
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

add create method
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

fmt
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

create multiple
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

undo optional type?
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

undo optional types
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

overloaded methods
  cognite/client/_api/simulators/routine_revisions.py
Due: mypy, custom-checks

maybe own class for SimulatorRoutineStepArguments
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

fmt
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

more fixes
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
  tests/utils.py
Due: mypy, custom-checks

some renames
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/routines.py
  cognite/client/data_classes/simulators/routine_revisions.py
  cognite/client/testing.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

Update routine_revisions.py
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

remove some of the Nones
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

placeholder to change the test
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy

Update testing.py
  cognite/client/testing.py
Due: mypy, custom-checks

random models
  tests/tests_integration/test_api/test_simulators/seed/data.py
Due: mypy

add iterator
  cognite/client/_api/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

refactor tests a bit
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/_api/simulators/routines.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks
