Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.11
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605,UP038
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py310
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run dmypy run -- cognite tests
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.7.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

add: unpack_items function
  cognite/client/_api/datapoints.py
  cognite/client/_api/files.py
  cognite/client/_api_client.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

refactor: move url methods to utils/_url.py. add VALID_URL_PATTERN
  cognite/client/_api/data_modeling/graphql.py
  cognite/client/_api/postgres_gateway/tables.py
  cognite/client/_api/raw.py
  cognite/client/_api/templates.py
  cognite/client/_api/three_d.py
  cognite/client/_api/transformations/jobs.py
  cognite/client/_api/transformations/schema.py
  cognite/client/_api/workflows.py
  cognite/client/_api_client.py
  cognite/client/utils/_auxiliary.py
  cognite/client/utils/_text.py
  cognite/client/utils/_url.py
  tests/tests_unit/test_utils/test_auxiliary.py
  tests/tests_unit/test_utils/test_url.py
Due: mypy, custom-checks

remove playground
  cognite/client/utils/_url.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

refactor: split out basic api methods in BasicAPIClient
  cognite/client/_api_client.py
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

fix: snake_case all the way
  cognite/client/data_classes/simulators/filters.py
  tests/tests_integration/test_api/test_simulators/test_models.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
  tests/tests_integration/test_api/test_simulators/test_routines.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy, custom-checks

fixup! refactor: move url methods to utils/_url.py. add VALID_URL_PATTERN
  cognite/client/utils/_auxiliary.py
  cognite/client/utils/_url.py
Due: mypy, custom-checks

add drop_none_values to fix httpx usage of url params that are null
  cognite/client/_api/extractionpipelines.py
  cognite/client/_api/raw.py
  cognite/client/_api/three_d.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

update APIs using _do_request or stream
  cognite/client/_api/datapoints.py
  cognite/client/_api/diagrams.py
  cognite/client/_api/documents.py
  cognite/client/_api/files.py
  cognite/client/_api/functions.py
  cognite/client/_api/geospatial.py
  cognite/client/_api/sequences.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/files.py
  cognite/client/utils/_version_checker.py
Due: mypy, custom-checks

update HTTPClient(WithRetry), HTTPClient(WithRetry)Config and RetryTracker
  cognite/client/_http_client.py
Due: mypy, custom-checks

update APIClient/BasicAPIClient GET/POST etc, introduce FailedRequestHandler
  cognite/client/_api_client.py
  cognite/client/_basic_api_client.py
  cognite/client/_cognite_client.py
  cognite/client/utils/_json.py
Due: mypy, custom-checks

update exceptions. always use specialized not-found/duplicated err
  cognite/client/_api/assets.py
  cognite/client/_api/datapoints.py
  cognite/client/exceptions.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

update GlobalConfig and ClientConfig
  cognite/client/_api/assets.py
  cognite/client/_api/datapoints.py
  cognite/client/_api/files.py
  cognite/client/_api/raw.py
  cognite/client/_api/relationships.py
  cognite/client/_api/sequences.py
  cognite/client/_api/synthetic_time_series.py
  cognite/client/_api/three_d.py
  cognite/client/_api/workflows.py
  cognite/client/_api_client.py
  cognite/client/_http_client.py
  cognite/client/config.py
  cognite/client/data_classes/assets.py
  cognite/client/utils/_concurrency.py
  cognite/client/utils/_pyodide_helpers.py
Due: mypy, custom-checks

dependency: swap responses with httpx_mock
  poetry.lock
  pyproject.toml
Due: none

fix: revert to camelCase before making the request
  cognite/client/data_classes/simulators/filters.py
Due: mypy, custom-checks

remove dependency pyodide-http
  poetry.lock
  pyproject.toml
Due: none

clean up pyodide patch script
  cognite/client/_http_client.py
  cognite/client/utils/_pyodide_helpers.py
Due: mypy, custom-checks

add authlib, remove requests-oauthlib
  poetry.lock
  pyproject.toml
Due: none

update the wording/warning on 'HTTP Request logging'
  docs/source/settings.rst
Due: none

Fix required vs nullable attributes on Sequence classes
  cognite/client/data_classes/sequences.py
  tests/tests_integration/test_api/test_sequences.py
  tests/tests_unit/test_api/test_sequences.py
Due: mypy, custom-checks

Fix required vs nullable attributes on ThreeD classes
  cognite/client/_api/three_d.py
  cognite/client/data_classes/three_d.py
  tests/tests_unit/test_api/test_3d.py
Due: mypy, custom-checks

Make pretty much all unit tests pass
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/data_sets.py
  cognite/client/data_classes/events.py
  cognite/client/data_classes/geospatial.py
  cognite/client/data_classes/hosted_extractors/jobs.py
  cognite/client/data_classes/labels.py
  cognite/client/data_classes/sequences.py
  cognite/client/data_classes/shared.py
  cognite/client/data_classes/simulators/models.py
  cognite/client/data_classes/templates.py
  cognite/client/data_classes/three_d.py
  cognite/client/data_classes/transformations/__init__.py
  cognite/client/utils/_time.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_data_classes/test_transformations/test_schema.py
  tests/utils.py
Due: mypy, custom-checks

Fix cognite_client unit tests
  tests/tests_unit/test_cognite_client.py
Due: mypy

Fix required vs nullable attributes on Raw classes
  cognite/client/_api/raw.py
  cognite/client/data_classes/raw.py
  tests/tests_integration/test_api/test_raw.py
  tests/tests_unit/test_api/test_raw.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Group and SecurityCategory classes
  cognite/client/data_classes/iam.py
  tests/tests_integration/test_api/test_iam.py
  tests/tests_unit/test_api/test_iam.py
Due: mypy, custom-checks

Move test_unit/test_transformations/test_common.py into test_unit/test_api/test_transformations.py
  tests/tests_unit/test_api/test_transformations.py
Due: mypy

Fix http client usage in organization API
  cognite/client/_api/organization.py
  tests/tests_unit/test_api/test_iam.py
Due: mypy, custom-checks

update .gemini/styleguide.md with httpx.Response
  .gemini/styleguide.md
Due: none

Introduce DefaultResourceGenerator
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api/test_entity_matching.py
  tests/tests_unit/test_api/test_events.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_api/test_time_series.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_base.py
Due: mypy

Fix load method for EntityMatchingModel
  cognite/client/data_classes/contextualization.py
  tests/tests_unit/test_api/test_entity_matching.py
Due: mypy, custom-checks

Import Self from typing_extensions
  cognite/client/data_classes/data_sets.py
  cognite/client/data_classes/events.py
  cognite/client/data_classes/extractionpipelines.py
  cognite/client/data_classes/functions.py
  cognite/client/data_classes/labels.py
  cognite/client/data_classes/raw.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

add EventLoopThreadExecutor + global_config.event_loop
  cognite/client/config.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

use httpx-backed authlib for client credz auth flow
  cognite/client/credentials.py
  cognite/client/exceptions.py
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

Fix required vs nullable attributes on DataSet and related classes
  cognite/client/data_classes/data_sets.py
  tests/tests_integration/test_api/test_data_sets.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Asset and related classes
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/assets.py
  cognite/client/data_classes/iam.py
  cognite/client/data_classes/labels.py
  cognite/client/utils/_auxiliary.py
  tests/tests_integration/test_api/test_assets.py
  tests/tests_unit/test_utils/test_auxiliary.py
Due: mypy, custom-checks

Remove all traces of templates API
  cognite/client/_api/templates.py
  cognite/client/_cognite_client.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/templates.py
  cognite/client/testing.py
  docs/source/deprecated.rst
Due: mypy, custom-checks

Fix required vs nullable attributes on Vision classes
  cognite/client/_api/vision.py
  cognite/client/data_classes/contextualization.py
  tests/tests_integration/test_api/test_vision_extract.py
  tests/tests_unit/test_api/test_diagrams.py
  tests/tests_unit/test_data_classes/conftest.py
  tests/tests_unit/test_data_classes/test_vision.py
Due: mypy, custom-checks

Fix required vs nullable attributes on File and Annotation classes
  cognite/client/_api/annotations.py
  cognite/client/_api/files.py
  cognite/client/data_classes/annotations.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/files.py
  tests/tests_integration/test_api/test_annotations.py
  tests/tests_integration/test_api/test_files.py
Due: mypy, custom-checks

Fix load methods for Datapoint classes
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Relationship classes
  cognite/client/data_classes/relationships.py
  tests/tests_integration/test_api/test_relationships.py
Due: mypy, custom-checks
