Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

Add workflow to validate conventional PR title
  .github/workflows/conventional-pr-title.yml
Due: none

Add release-please workflow and config
  .github/workflows/release-please.yml
  release-please-config.json
Due: none

Remove changelog and version from PR default description checklist
  .github/pull_request_template.md
Due: none

feat(CDF-19308): Add timezone as an optional param to WorkflowScheduledTriggerRule (#2200)
  CHANGELOG.md
  cognite/client/_api/workflows.py
  cognite/client/_version.py
  cognite/client/data_classes/workflows.py
  pyproject.toml
  tests/tests_integration/test_api/test_workflows.py
  tests/utils.py
Due: mypy, custom-checks

feat: add support for model revision data
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/models.py
Due: mypy, custom-checks

tests: test model revision data read
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy

chore: fix lint
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy

chore: add revision data to mock testing
  cognite/client/testing.py
Due: mypy, custom-checks

chore: update typing for ResourceNames seeder
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy

chore: bump version and update changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix: update docstrings for model revision data
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/data_classes/simulators/models.py
Due: mypy, custom-checks

refactor: stipulate new API
  cognite/client/_api/organization.py
Due: mypy, custom-checks

tests: added failing test
  tests/tests_integration/test_api/test_organization.py
Due: mypy

tests: use seeded model revision
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy

tests: update seed data format for flowsheets
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy

Update cognite/client/data_classes/simulators/models.py
  cognite/client/data_classes/simulators/models.py
Due: mypy, custom-checks

chore: fix lint
  cognite/client/data_classes/simulators/models.py
Due: mypy, custom-checks

Update changelog
  CHANGELOG.md
Due: none

Add checklist item to default PR description about conventional commit PR title
  .github/pull_request_template.md
Due: none

Update gemini styleguide to catch misuses of conventional commit types
  .gemini/styleguide.md
Due: none

feat(simint-alpha): change mouthfull class names
  CHANGELOG.md
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/data_classes/simulators/__init__.py
  cognite/client/data_classes/simulators/models.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/test_models.py
  tests/tests_unit/test_data_classes/test_simulators.py
Due: mypy, custom-checks

chore: version bump
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Align Changelog groups and and release-please-config
  CHANGELOG.md
  release-please-config.json
Due: none

Add note to changelog.md about cutoff point for new changelog format
  CHANGELOG.md
Due: none

tests: fixture for cdf principal
  tests/tests_integration/conftest.py
Due: mypy

tests: extending
  tests/tests_integration/test_api/test_organization.py
Due: mypy

refactor: implemented organization API
  cognite/client/_api/organization.py
  cognite/client/config.py
Due: mypy, custom-checks

docs; added docs
  cognite/client/_api/organization.py
Due: mypy, custom-checks

docs: added docstring
  cognite/client/_api/organization.py
Due: mypy, custom-checks

tests: remove extra queries and compare update output with initialized data
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy

fix: better error message
  cognite/client/_api/organization.py
Due: mypy, custom-checks

tests: updated
  tests/tests_unit/test_testing.py
Due: mypy

Add info about the automated release process to contributing.md
  CONTRIBUTING.md
Due: none

Don't execute conventional-commit lint workflow on merge_group event
  .github/workflows/conventional-pr-title.yml
Due: none

chore(DM-3038): Automate release procedure with release-please (#2276)
  .gemini/styleguide.md
  .github/pull_request_template.md
  .github/workflows/conventional-pr-title.yml
  .github/workflows/release-please.yml
  CHANGELOG.md
  release-please-config.json
Due: none

Don't bump version or changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

chore: stop warnings from being raised from our custom linter
  scripts/custom_checks/docstr_examples.py
  scripts/custom_checks/docstrings.py
  scripts/run_checks.py
Due: mypy

Set max-parallell=4 for integration test workflow matrix
  .github/workflows/build.yml
Due: none

Move release-type into workflow definition
  .github/workflows/release-please.yml
  release-please-config.json
Due: none

Fix flaky WorkflowExecution tests
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
