Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

refactor: review feedback
  cognite/client/_api/postgres_gateway/users.py
  cognite/client/data_classes/capabilities.py
  cognite/client/data_classes/postgres_gateway/users.py
  cognite/client/utils/_identifier.py
  tests/tests_integration/test_api/test_postgres_gateway/test_users.py
  tests/tests_unit/test_base.py
Due: mypy, custom-checks

refactor; review feedback
  cognite/client/data_classes/postgres_gateway/__init__.py
  tests/tests_unit/test_data_classes/test_capabilities.py
  tests/tests_unit/test_utils/test_identifier.py
Due: mypy, custom-checks

[CDF-22784, CDF-21555] Postgres gateway users (#1958)
  CHANGELOG.md
  cognite/client/_api/postgres_gateway/__init__.py
  cognite/client/_api/postgres_gateway/users.py
  cognite/client/_api_client.py
  cognite/client/_cognite_client.py
  cognite/client/_version.py
  cognite/client/data_classes/capabilities.py
  cognite/client/data_classes/postgres_gateway/__init__.py
  cognite/client/data_classes/postgres_gateway/users.py
  cognite/client/testing.py
  cognite/client/utils/_identifier.py
  docs/source/index.rst
  docs/source/postgres_gateway.rst
  pyproject.toml
  scripts/add_capability.py
  tests/tests_integration/test_api/test_postgres_gateway/__init__.py
  tests/tests_integration/test_api/test_postgres_gateway/conftest.py
  tests/tests_integration/test_api/test_postgres_gateway/test_users.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_data_classes/test_capabilities.py
  tests/tests_unit/test_docstring_examples.py
  tests/tests_unit/test_utils/test_identifier.py
Due: mypy, custom-checks

Bumped version of pyodide to 0.26.2 in tests (#1966)
  .github/workflows/verify-jupyter.yml
  .github/workflows/verify-streamlit.yml
Due: none

Require python 3.10 or higher
  .github/actions/setup/action.yml
  .github/workflows/build.yml
  .github/workflows/verify-jupyter.yml
  .github/workflows/verify-streamlit.yml
  poetry.lock
  pyproject.toml
Due: none

support dataclasses.InitVar in FakeResGen
  tests/utils.py
Due: mypy

fix docstring formatter
  cognite/client/data_classes/workflows.py
  scripts/custom_checks/docstrings.py
Due: mypy, custom-checks

Fix docstring formatter
  cognite/client/data_classes/workflows.py
  scripts/custom_checks/docstrings.py
Due: mypy, custom-checks

Revert "Fix docstring formatter"
  cognite/client/data_classes/workflows.py
  scripts/custom_checks/docstrings.py
Due: mypy, custom-checks

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix mypy issues
  cognite/client/_api_client.py
  cognite/client/data_classes/assets.py
  cognite/client/utils/_concurrency.py
  cognite/client/utils/_time.py
Due: mypy, custom-checks

make `allow_unknown` kw only to allow removal from all subclasses (#1960)
  cognite/client/data_classes/capabilities.py
Due: mypy, custom-checks

add 3.13 test runner
  .github/workflows/build.yml
Due: none

render options in docstring nicer
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

update devcontainer for py 3.10 (#1962)
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
Due: none

Fix postgresgatewayAcl
  cognite/client/_api/postgres_gateway/users.py
  cognite/client/data_classes/capabilities.py
Due: mypy, custom-checks

Revert "add 3.13 test runner"
  .github/workflows/build.yml
Due: none

remove inst list .get external_id parameter (ambiguous)
  cognite/client/data_classes/data_modeling/instances.py
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/tests_unit/test_data_classes/test_data_models/test_resource_class_methods.py
Due: mypy, custom-checks

remove deprecated load_yaml method
  cognite/client/data_classes/data_modeling/query.py
  tests/tests_unit/test_data_classes/test_data_models/test_queries.py
Due: mypy, custom-checks

add InstancesAPI/inspect + a few data classes
  cognite/client/_api/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

handle api limits by chunking
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

add docstring to inspect method
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

fix inspection res. data classes
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

add integration test
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

change .get to just raise on ambiguous xids
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

update tests
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/tests_unit/test_data_classes/test_data_models/test_resource_class_methods.py
Due: mypy

update args description in docstr
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

[DM-2204] dump instance type even when specified as null
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks
