Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

Fix required vs nullable attributes on ExtractionPipeline and related classes
  cognite/client/data_classes/extractionpipelines.py
  tests/tests_integration/test_api/test_extraction_pipelines.py
  tests/tests_unit/test_api/test_extractionpipelines.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Group and SecurityCategory classes
  cognite/client/data_classes/iam.py
  tests/tests_integration/test_api/test_iam.py
  tests/tests_unit/test_api/test_iam.py
Due: mypy, custom-checks

Enable mypy for some asset tests
  .pre-commit-config.yaml
  mypy.ini
  tests/tests_integration/test_api/test_assets.py
  tests/tests_unit/test_api/test_assets.py
  tests/tests_unit/test_data_classes/test_assets.py
Due: mypy

Fix load methods for Datapoint classes
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Transformation classes
  cognite/client/data_classes/transformations/__init__.py
  cognite/client/data_classes/transformations/common.py
  cognite/client/data_classes/transformations/jobs.py
  cognite/client/data_classes/transformations/notifications.py
  cognite/client/data_classes/transformations/schedules.py
  cognite/client/data_classes/transformations/schema.py
Due: mypy, custom-checks

Fix various unit tests
  cognite/client/_api/time_series.py
  cognite/client/testing.py
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
  tests/tests_unit/test_api/test_assets.py
  tests/tests_unit/test_api/test_data_sets.py
  tests/tests_unit/test_api/test_events.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api/test_labels.py
  tests/tests_unit/test_api/test_relationships.py
  tests/tests_unit/test_api/test_signatures.py
  tests/tests_unit/test_api/test_time_series.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_data_classes/test_assets.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/tests_unit/test_data_classes/test_vision.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Raw classes
  cognite/client/_api/raw.py
  cognite/client/data_classes/raw.py
  tests/tests_integration/test_api/test_raw.py
  tests/tests_unit/test_api/test_raw.py
Due: mypy, custom-checks

Fix required vs nullable attributes on DataSet and related classes
  cognite/client/data_classes/data_sets.py
  tests/tests_integration/test_api/test_data_sets.py
Due: mypy, custom-checks

Make pretty much all unit tests pass
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/data_sets.py
  cognite/client/data_classes/events.py
  cognite/client/data_classes/geospatial.py
  cognite/client/data_classes/hosted_extractors/jobs.py
  cognite/client/data_classes/labels.py
  cognite/client/data_classes/sequences.py
  cognite/client/data_classes/shared.py
  cognite/client/data_classes/simulators/models.py
  cognite/client/data_classes/templates.py
  cognite/client/data_classes/three_d.py
  cognite/client/data_classes/transformations/__init__.py
  cognite/client/utils/_time.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_data_classes/test_transformations/test_schema.py
  tests/utils.py
Due: mypy, custom-checks

Move test_unit/test_transformations/test_common.py into test_unit/test_api/test_transformations.py
  tests/tests_unit/test_api/test_transformations.py
Due: mypy

Fix required vs nullable attributes on Function classes
  cognite/client/data_classes/functions.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_data_classes/test_functions.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Relationship classes
  cognite/client/data_classes/relationships.py
  tests/tests_integration/test_api/test_relationships.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Event and related classes
  cognite/client/data_classes/events.py
  cognite/client/data_classes/shared.py
  tests/tests_integration/test_api/test_events.py
Due: mypy, custom-checks

Fix required vs nullable attributes on TimeSeries and related classes
  cognite/client/data_classes/time_series.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_integration/test_api/test_time_series.py
Due: mypy, custom-checks

Fix required vs nullable attributes on File and Annotation classes
  cognite/client/_api/annotations.py
  cognite/client/_api/files.py
  cognite/client/data_classes/annotations.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/files.py
  tests/tests_integration/test_api/test_annotations.py
  tests/tests_integration/test_api/test_files.py
Due: mypy, custom-checks

Import Self from typing_extensions
  cognite/client/data_classes/data_sets.py
  cognite/client/data_classes/events.py
  cognite/client/data_classes/extractionpipelines.py
  cognite/client/data_classes/functions.py
  cognite/client/data_classes/labels.py
  cognite/client/data_classes/raw.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

Fix required vs nullable attributes on ThreeD classes
  cognite/client/_api/three_d.py
  cognite/client/data_classes/three_d.py
  tests/tests_unit/test_api/test_3d.py
Due: mypy, custom-checks

Remove all traces of templates API
  cognite/client/_api/templates.py
  cognite/client/_cognite_client.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/templates.py
  cognite/client/testing.py
  docs/source/deprecated.rst
Due: mypy, custom-checks

Enable mypy for raw tests
  .pre-commit-config.yaml
  cognite/client/data_classes/raw.py
  tests/tests_integration/test_api/test_raw.py
  tests/tests_unit/test_api/test_raw.py
Due: mypy, custom-checks

Fix remaining asset unit tests
  .pre-commit-config.yaml
  cognite/client/_api/assets.py
  cognite/client/data_classes/assets.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_data_classes/test_assets.py
  tests/utils.py
Due: mypy, custom-checks

Fix load method for Group
  cognite/client/data_classes/iam.py
  tests/tests_unit/test_api/test_iam.py
  tests/tests_unit/test_data_classes/test_groups.py
Due: mypy, custom-checks

fix: create_hierarchy, AssetHierarchy and their tests
  cognite/client/_api/assets.py
  cognite/client/data_classes/assets.py
  tests/tests_integration/test_api/test_assets.py
Due: mypy, custom-checks

More typing.Self -> typing_extensions.Self
  cognite/client/data_classes/transformations/jobs.py
  cognite/client/data_classes/transformations/notifications.py
  cognite/client/data_classes/transformations/schedules.py
  tests/tests_unit/test_base.py
Due: mypy, custom-checks

Enable mypy for events tests
  .pre-commit-config.yaml
  tests/tests_integration/test_api/test_events.py
  tests/tests_unit/test_api/test_events.py
Due: mypy

Fix remaining integration tests
  cognite/client/data_classes/sequences.py
  cognite/client/data_classes/transformations/__init__.py
  cognite/client/data_classes/transformations/schema.py
  tests/tests_integration/test_api/test_geospatial.py
  tests/tests_integration/test_api/test_labels.py
  tests/tests_integration/test_api/test_sequences_data.py
  tests/tests_integration/test_api/test_transformations/test_jobs.py
  tests/tests_integration/test_api/test_transformations/test_schedules.py
  tests/tests_integration/test_api/test_transformations/test_transformations.py
  tests/tests_integration/test_api_client.py
Due: mypy, custom-checks

Fix doctests
  docs/source/appendix.rst
  docs/source/conftest.py
Due: mypy

add setting to pyproject to make ruff fix docstrings
  pyproject.toml
Due: none

Run mypy on all data class tests and fix issues
  .pre-commit-config.yaml
  cognite/client/data_classes/agents/agents.py
  cognite/client/data_classes/annotation_types/images.py
  cognite/client/data_classes/annotation_types/primitives.py
  cognite/client/data_classes/capabilities.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/geospatial.py
  cognite/client/data_classes/workflows.py
  tests/tests_integration/test_api/test_geospatial.py
  tests/tests_integration/test_api/test_transformations/test_schema.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
  tests/tests_unit/test_data_classes/test_annotations.py
  tests/tests_unit/test_data_classes/test_capabilities.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_data_classes/test_datapoint_subscriptions.py
  tests/tests_unit/test_data_classes/test_datapoints.py
  tests/tests_unit/test_data_classes/test_functions.py
  tests/tests_unit/test_data_classes/test_geospatial.py
  tests/tests_unit/test_data_classes/test_groups.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_sources.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/tests_unit/test_data_classes/test_sequences.py
  tests/tests_unit/test_data_classes/test_simulators.py
  tests/tests_unit/test_data_classes/test_time_series.py
  tests/tests_unit/test_data_classes/test_timestamp_range.py
  tests/tests_unit/test_data_classes/test_transformations/test_schema.py
  tests/tests_unit/test_data_classes/test_vision.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy, custom-checks

Run mypy on more api unit tests
  .pre-commit-config.yaml
  cognite/client/_api/synthetic_time_series.py
  tests/tests_unit/test_api/test_3d.py
  tests/tests_unit/test_api/test_data_sets.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_geospatial.py
  tests/tests_unit/test_api/test_synthetic_time_series.py
  tests/tests_unit/test_api/test_time_series.py
  tests/tests_unit/test_api/test_transformations.py
  tests/tests_unit/test_api/test_vision_extract.py
  tests/tests_unit/test_data_classes/test_repr.py
Due: mypy, custom-checks

Run mypy on all util unit tests
  .pre-commit-config.yaml
  tests/tests_unit/test_utils/test_auxiliary.py
  tests/tests_unit/test_utils/test_concurrency.py
  tests/tests_unit/test_utils/test_identifier.py
  tests/tests_unit/test_utils/test_importing.py
  tests/tests_unit/test_utils/test_json.py
  tests/tests_unit/test_utils/test_logging.py
  tests/tests_unit/test_utils/test_text.py
  tests/tests_unit/test_utils/test_validation.py
Due: mypy

feat: Add versioning to QueryKnowledgeGraphAgentTool
  cognite/client/data_classes/agents/agent_tools.py
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
Due: mypy, custom-checks

Refactor: Improve QKG tool version handling and tests
  cognite/client/data_classes/agents/agent_tools.py
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
Due: mypy, custom-checks

fix: Update tests to handle version field in QKG configuration
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
Due: mypy

Checkpoint before follow-up message
  cognite/client/data_classes/agents/agent_tools.py
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
Due: mypy, custom-checks

docs: added docstring
  cognite/client/data_classes/principals.py
Due: mypy, custom-checks

tests: added test battery
  tests/tests_unit/test_data_classes/test_principals.py
Due: mypy

revert: gemini suggestion
  cognite/client/data_classes/principals.py
Due: mypy, custom-checks

fix: bug
  cognite/client/data_classes/principals.py
Due: mypy, custom-checks

tests: updated related test
  tests/tests_unit/test_meta.py
Due: mypy

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
