Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

Set limit 10 for all create and update in hosted extractors
  cognite/client/_api/hosted_extractors/destinations.py
  cognite/client/_api/hosted_extractors/mappings.py
  cognite/client/_api/hosted_extractors/sources.py
Due: mypy, custom-checks

Changelog update
  CHANGELOG.md
Due: none

Batching/limits on hosted extractor jobs (#2008)
  CHANGELOG.md
  cognite/client/_api/hosted_extractors/destinations.py
  cognite/client/_api/hosted_extractors/jobs.py
  cognite/client/_api/hosted_extractors/mappings.py
  cognite/client/_api/hosted_extractors/sources.py
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

listing revisions
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/simulator_models.py
  cognite/client/_api/simulators/simulator_routines.py
  cognite/client/data_classes/simulators/simulators.py
  tests/tests_integration/test_api/test_simulators/test_simulators.py
Due: mypy, custom-checks

docstrings
  cognite/client/data_classes/simulators/simulators.py
Due: mypy, custom-checks

routine revisions
  cognite/client/_api/simulators/simulator_routines.py
  cognite/client/data_classes/simulators/simulators.py
  tests/tests_integration/test_api/test_simulators/test_simulators.py
Due: mypy, custom-checks

move filters to its own file
  cognite/client/_api/simulators/simulator_integrations.py
  cognite/client/_api/simulators/simulator_models.py
  cognite/client/data_classes/simulators/__init__.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/simulators.py
  tests/tests_integration/test_api/test_simulators/test_simulators.py
Due: mypy, custom-checks

feat: update tests for trigger metadata
  cognite/client/data_classes/workflows.py
  tests/tests_integration/test_api/test_data_workflows.py
  tests/tests_integration/test_api/test_workflows.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy, custom-checks

feat: update tests for trigger metadata
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

filters
  cognite/client/_api/simulators/simulator_routines.py
  cognite/client/data_classes/assets.py
  cognite/client/data_classes/simulators/filters.py
Due: mypy, custom-checks

made optional params optional
  cognite/client/data_classes/hosted_extractors/jobs.py
Due: mypy, custom-checks

version housekeeping
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/hosted_extractors/jobs.py
  pyproject.toml
Due: mypy, custom-checks

removed gzip as default
  cognite/client/data_classes/hosted_extractors/jobs.py
Due: mypy, custom-checks

made optional params ... optional (#2011)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/hosted_extractors/jobs.py
  pyproject.toml
Due: mypy, custom-checks

retrieve byids
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/simulation_runs.py
  cognite/client/_api/simulators/simulator_models.py
  cognite/client/_api/simulators/simulator_routines.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/simulators.py
  tests/tests_integration/test_api/test_simulators/test_simulators.py
Due: mypy, custom-checks

CDF-22673: add support for data modeling triggers in data workflows
  cognite/client/_api/workflows.py
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

CDF-22673: add support for data modeling triggers in data workflows
  CHANGELOG.md
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy

CDF-22673: add support for data modeling triggers in data workflows
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy

CDF-22673: add support for data modeling triggers in data workflows
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

add failing test
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

the fix.
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

typos in existing docs
  cognite/client/_api/datapoints.py
  cognite/client/_api/time_series.py
Due: mypy, custom-checks

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

more existing "typos"
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

refactor: added UserCreated class
  cognite/client/_api/postgres_gateway/users.py
  cognite/client/data_classes/postgres_gateway/__init__.py
  cognite/client/data_classes/postgres_gateway/users.py
Due: mypy, custom-checks

tests: adjustment of test
  tests/tests_integration/test_api/test_postgres_gateway/test_users.py
Due: mypy

build: bump
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Ãtests; added exception
  tests/tests_unit/test_base.py
Due: mypy

tests: update tests
  tests/tests_unit/test_api/test_raw.py
  tests/tests_unit/test_base.py
Due: mypy

tests: updated test
  cognite/client/_api/postgres_gateway/tables.py
  tests/tests_integration/test_api/test_postgres_gateway/test_tables.py
Due: mypy, custom-checks

fix: datapoints raises IndexError (#2014)
  CHANGELOG.md
  cognite/client/_api/datapoints.py
  cognite/client/_api/time_series.py
  cognite/client/_version.py
  pyproject.toml
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

docs; better error message
  cognite/client/data_classes/postgres_gateway/users.py
Due: mypy, custom-checks

build; changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Fix Align Postgres gateway users (#2000)
  CHANGELOG.md
  cognite/client/_api/postgres_gateway/users.py
  cognite/client/_version.py
  cognite/client/data_classes/postgres_gateway/__init__.py
  cognite/client/data_classes/postgres_gateway/users.py
  pyproject.toml
  tests/tests_integration/test_api/test_postgres_gateway/test_users.py
  tests/tests_unit/test_base.py
Due: mypy, custom-checks

tests; parallelizable
  tests/tests_integration/test_api/test_postgres_gateway/test_tables.py
Due: mypy

docs; experiment with automodule
  docs/source/events.rst
Due: none

[CDF-22784] Postgres gateway tables (#1974)
  CHANGELOG.md
  cognite/client/_api/postgres_gateway/__init__.py
  cognite/client/_api/postgres_gateway/tables.py
  cognite/client/_api/raw.py
  cognite/client/_version.py
  cognite/client/data_classes/postgres_gateway/__init__.py
  cognite/client/data_classes/postgres_gateway/tables.py
  cognite/client/testing.py
  cognite/client/utils/_identifier.py
  docs/source/postgres_gateway.rst
  pyproject.toml
  tests/tests_integration/test_api/test_postgres_gateway/conftest.py
  tests/tests_integration/test_api/test_postgres_gateway/test_tables.py
  tests/tests_integration/test_api/test_postgres_gateway/test_users.py
  tests/tests_unit/test_api/test_raw.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_docstring_examples.py
  tests/tests_unit/test_utils/test_identifier.py
Due: mypy, custom-checks

FunctionSchedulesAPI.__call__() calls self.list()
  cognite/client/_api/functions.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
