Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  ...

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

feat(ai): add client.ai.time_series.data.impute
  cognite/client/_api/ai/time_series_data.py
  cognite/client/_sync_api/ai/time_series_data.py
  tests/tests_unit/test_api/test_ai_time_series_data.py
Due: mypy, custom-checks

Adding data domain external id in the transformation apis
  cognite/client/_api/transformations/__init__.py
  cognite/client/_sync_api/transformations/__init__.py
  cognite/client/data_classes/transformations/__init__.py
  tests/tests_unit/test_api/test_transformations.py
  tests/tests_unit/test_data_classes/test_transformations/test_transformation.py
Due: mypy, custom-checks

feat(records): support views as record sources and in property references (#2801)
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/_validation.py
  cognite/client/data_classes/data_modeling/aggregates.py
  cognite/client/data_classes/data_modeling/ids.py
  cognite/client/data_classes/data_modeling/records.py
  cognite/client/data_classes/filters.py
  tests/tests_unit/test_api/test_data_modeling/test_records.py
  tests/tests_unit/test_data_classes/test_data_models/test_ids.py
  tests/tests_unit/test_data_classes/test_filters.py
  tests/utils.py
Due: mypy, custom-checks

fix(odin): Point api doc to beta
  cognite/client/_api/integrations/errors.py
  cognite/client/_sync_api/integrations/errors.py
Due: mypy, custom-checks

feat(time series): send gap filling `fill` for queries with `fill_limit`
  cognite/client/_api/datapoint_tasks.py
  cognite/client/data_classes/datapoints.py
  tests/tests_unit/test_api/test_datapoints_tasks.py
Due: mypy, custom-checks

feat(time series): add `fill_limit` to datapoints retrieve methods
  cognite/client/_api/datapoints.py
  cognite/client/_sync_api/datapoints.py
Due: mypy, custom-checks

test: add gap filling integration test
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

test: update string aggregates error message
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

test: allow no semaphore in gap filling test
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

docs: use instance_id in gap filling example
  cognite/client/_api/datapoints.py
  cognite/client/_sync_api/datapoints.py
Due: mypy, custom-checks

chore: clarify gap filling warning name
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

refactor: rename gap filling warning helper
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

test: use a stable API error in aggregates error test
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

test: fold gap filling unit tests into existing tests
  tests/tests_unit/test_api/test_datapoints_tasks.py
Due: mypy

feat(time series): validate `fill_limit` before requesting
  cognite/client/_api/datapoint_tasks.py
  tests/tests_unit/test_api/test_datapoints_tasks.py
Due: mypy, custom-checks

test: strengthen gap filling tests
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
Due: mypy

test: use a valid fill_limit in gap filling test
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

feat(agents): add retention_policy to agent chat
  cognite/client/_api/agents/agents.py
  cognite/client/_sync_api/agents/agents.py
  tests/tests_unit/test_api/test_agents_chat.py
Due: mypy, custom-checks

feat(agents): add chat_stream for streaming agent chat events
  cognite/client/_api/agents/agents.py
  cognite/client/_sync_api/agents/agents.py
  cognite/client/data_classes/agents/__init__.py
  cognite/client/data_classes/agents/chat.py
  tests/tests_unit/test_api/test_agents_chat.py
Due: mypy, custom-checks

test: accept new API error message for string time series aggregates
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

skip datapoints string tests (that are soon to be supported)
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

add note about state time series also to /agg* + /search
  cognite/client/_api/time_series.py
  cognite/client/_sync_api/time_series.py
Due: mypy, custom-checks

feat(time series): Add `time_series_type` helper param to `data_modeling.time_series.list` (DM-4186) (#2870)
  cognite/client/_api/data_modeling/time_series.py
  cognite/client/_api/time_series.py
  cognite/client/_sync_api/data_modeling/time_series.py
  cognite/client/_sync_api/time_series.py
  cognite/client/data_classes/time_series.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_data_modeling/test_time_series.py
Due: mypy, custom-checks

chore(master): release 8.21.0
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

test: only assert status code for string time series aggregates error
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

feat(agents): support userSession actions in agent chat
  cognite/client/_api/agents/agents.py
  cognite/client/_sync_api/agents/agents.py
  cognite/client/data_classes/agents/__init__.py
  cognite/client/data_classes/agents/chat.py
  tests/tests_unit/test_api/test_agents_actions.py
Due: mypy, custom-checks

fix(agents): redact nonce in UserSessionResult
  cognite/client/data_classes/agents/chat.py
Due: mypy, custom-checks

docs(agents): drop incorrect note that the nonce confirms the tool call
  cognite/client/data_classes/agents/chat.py
Due: mypy, custom-checks

docs(agents): show session creation as its own step in userSession example
  cognite/client/_api/agents/agents.py
  cognite/client/_sync_api/agents/agents.py
Due: mypy, custom-checks

test(agents): use real userSession payload shape; note nonce confirms the tool call
  cognite/client/data_classes/agents/chat.py
  tests/tests_unit/test_api/test_agents_actions.py
Due: mypy, custom-checks

Added data classes for snowflake zero copy connector APIs
  cognite/client/data_classes/transformations/__init__.py
  cognite/client/data_classes/transformations/externaldata.py
  cognite/client/utils/_time.py
  tests/tests_unit/test_data_classes/test_transformations/test_externaldata.py
  tests/tests_unit/test_utils/test_time.py
Due: mypy, custom-checks

test(odin): Added integration test for odin errors
  cognite/client/data_classes/integrations/errors.py
  tests/tests_integration/test_api/test_integrations/__init__.py
  tests/tests_integration/test_api/test_integrations/test_errors.py
  tests/tests_unit/test_api/test_integrations/test_errors.py
Due: mypy, custom-checks

Add integrations ACLs to Integration runner
  scripts/toolkit/modules/access/auth/readonly.Group.yaml
  scripts/toolkit/modules/access/auth/readwrite.Group.yaml
Due: none

fix(odin): Added capabilites
  cognite/client/data_classes/capabilities.py
Due: mypy, custom-checks

fix(agents): hide userSession nonce from repr, require userSession call fields
  cognite/client/data_classes/agents/chat.py
  tests/tests_unit/test_api/test_agents_actions.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
