Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  ...

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

feat(metering): accept datetime and relative strings for start/end params
  cognite/client/_api/metering.py
  cognite/client/_sync_api/metering.py
  tests/tests_unit/test_api/test_metering.py
Due: mypy, custom-checks

feat: Update hosted extractor API maturity
  cognite/client/_api/hosted_extractors/destinations.py
  cognite/client/_api/hosted_extractors/jobs.py
  cognite/client/_api/hosted_extractors/mappings.py
  cognite/client/_api/hosted_extractors/sources.py
  cognite/client/_sync_api/hosted_extractors/destinations.py
  cognite/client/_sync_api/hosted_extractors/jobs.py
  cognite/client/_sync_api/hosted_extractors/mappings.py
  cognite/client/_sync_api/hosted_extractors/sources.py
Due: mypy, custom-checks

Use is_positive_int instead of is_non_negative_int in datapoints.py
  cognite/client/_api/datapoints.py
  cognite/client/_sync_api/datapoints.py
Due: mypy, custom-checks

Update docs to work with sphinx
  cognite/client/_api/data_modeling/files.py
  cognite/client/_cognite_client.py
  docs/source/index.rst
Due: mypy, custom-checks

add docs/source/data_modeling/files.rst
  docs/source/data_modeling/files.rst
Due: none

reorder docs to match official docs
  docs/source/index.rst
Due: none

run doctests for dm/files file
  tests/tests_unit/test_docstring_examples.py
Due: mypy

told claude to calm down Gemini
  .gemini/styleguide.md
Due: none

feat: Update hosted extractor API maturity (#2668)
  cognite/client/_api/hosted_extractors/destinations.py
  cognite/client/_api/hosted_extractors/jobs.py
  cognite/client/_api/hosted_extractors/mappings.py
  cognite/client/_api/hosted_extractors/sources.py
  cognite/client/_sync_api/hosted_extractors/destinations.py
  cognite/client/_sync_api/hosted_extractors/jobs.py
  cognite/client/_sync_api/hosted_extractors/mappings.py
  cognite/client/_sync_api/hosted_extractors/sources.py
Due: mypy, custom-checks

add integration tests
  cognite/client/_api/data_modeling/files.py
  cognite/client/_sync_api/data_modeling/files.py
  tests/tests_integration/test_api/test_data_modeling/test_files.py
Due: mypy, custom-checks

fix broken link
  cognite/client/_api/data_modeling/files.py
  cognite/client/_sync_api/data_modeling/files.py
Due: mypy, custom-checks

feat: allow float timeouts in the clientconfig
  cognite/client/config.py
  tests/tests_integration/conftest.py
Due: mypy, custom-checks

chore: Improve typeguard validator naming (#2666)
  cognite/client/_api/datapoint_tasks.py
  cognite/client/_api/datapoints.py
  cognite/client/_api/raw/rows.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/_sync_api/raw/rows.py
  cognite/client/config.py
  cognite/client/data_classes/data_modeling/data_types.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

address review comments
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/records.py
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy, custom-checks

chore: make style guide not repeat the work of pre-commit (#2670)
  .gemini/styleguide.md
Due: none

chore(Data Modeling, Files): Finalize DM Files, integ. tests, documentation etc. (DM-3842) (#2669)
  cognite/client/_api/data_modeling/files.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/data_modeling/files.py
  docs/source/data_modeling/files.rst
  docs/source/index.rst
  tests/tests_integration/test_api/test_data_modeling/test_files.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

move resolve_source to cognite/client/utils/_data_modeling.py
  cognite/client/_api/data_modeling/files.py
  cognite/client/_sync_api/data_modeling/files.py
  cognite/client/utils/_data_modeling.py
  tests/tests_unit/test_api/test_data_modeling/test_files.py
  tests/tests_unit/test_utils/test_data_modeling.py
Due: mypy, custom-checks

add DataModelingTimeSeriesAPI with list + retrieve
  cognite/client/_api/data_modeling/time_series.py
  cognite/client/_sync_api/data_modeling/time_series.py
Due: mypy, custom-checks

wire it up
  cognite/client/_api/data_modeling/__init__.py
  cognite/client/_api/data_modeling/time_series.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/data_modeling/__init__.py
  cognite/client/testing.py
  docs/source/data_modeling/time_series.rst
  docs/source/index.rst
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

add integration tests
  tests/tests_integration/test_api/test_data_modeling/test_time_series.py
Due: mypy

fix link in sync gen. code
  cognite/client/_sync_api/data_modeling/time_series.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

fix(credentials): token cache reuse issue for OAuthDeviceCode (DM-3772) (#2605)
  cognite/client/credentials.py
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

chore(master): release cognite-sdk-python 8.8.0
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

chore(master): release cognite-sdk-python 8.8.0 (#2650)
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Update cognite/client/data_classes/data_modeling/records.py
  cognite/client/data_classes/data_modeling/records.py
Due: mypy, custom-checks

feat(records): ingest endpoint (#2652)
  cognite/client/_api/data_modeling/records.py
  cognite/client/_api_client.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/records.py
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy, custom-checks

chore(gitignore): don't track git worktrees
  .gitignore
Due: none

chore(master): release cognite-sdk-python 8.9.0
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

chore(gitignore): don't track git worktrees (#2673)
  .gitignore
Due: none

chore(master): release cognite-sdk-python 8.9.0 (#2674)
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

feat(Data Modeling, Time Series): Extend Data Modeling with Time Series /retrieve + /list (DM-3842) (#2672)
  cognite/client/_api/data_modeling/__init__.py
  cognite/client/_api/data_modeling/files.py
  cognite/client/_api/data_modeling/time_series.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/data_modeling/__init__.py
  cognite/client/_sync_api/data_modeling/files.py
  cognite/client/_sync_api/data_modeling/time_series.py
  cognite/client/testing.py
  cognite/client/utils/_data_modeling.py
  docs/source/data_modeling/time_series.rst
  docs/source/index.rst
  tests/tests_integration/test_api/test_data_modeling/test_time_series.py
  tests/tests_unit/test_api/test_data_modeling/test_files.py
  tests/tests_unit/test_docstring_examples.py
  tests/tests_unit/test_utils/test_data_modeling.py
Due: mypy, custom-checks

change docstrings to showcase instance_id first
  cognite/client/_api/datapoints.py
  cognite/client/_api/files.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/_sync_api/files.py
Due: mypy, custom-checks

fix missing imports of NodeId
  cognite/client/_api/datapoints.py
  cognite/client/_api/files.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/_sync_api/files.py
Due: mypy, custom-checks

revert changes to type ignore comments
  cognite/client/_sync_api/datapoints.py
Due: mypy, custom-checks

chore: change docstring examples to showcase `instance_id` first (#2676)
  cognite/client/_api/datapoints.py
  cognite/client/_api/files.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/_sync_api/files.py
Due: mypy, custom-checks

fix generate_code_snippets.py script to work with v8 async client
  scripts/generate_code_snippets.py
Due: mypy

simplify iter_methods with inspect.getattr_static
  scripts/generate_code_snippets.py
Due: mypy

add polars (rtcompat) dev dependency
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
