Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite 
          
          tests/tests_unit/test_data_classes
          tests/tests_unit/test_utils
          tests/tests_unit/test_api_client.py
          tests/tests_unit/test_base.py
          tests/tests_unit/test_cognite_client.py
          tests/tests_unit/test_config.py
          tests/tests_unit/test_credential_providers.py
          tests/tests_unit/test_docstring_examples.py
          tests/tests_unit/test_exceptions.py
          
          tests/tests_unit/test_api/test_assets.py
          tests/tests_unit/test_api/test_events.py
          tests/tests_unit/test_api/test_datapoints.py
          tests/tests_unit/test_api/test_data_sets.py
          tests/tests_unit/test_api/test_geospatial.py
          tests/tests_unit/test_api/test_raw.py
          tests/tests_unit/test_api/test_time_series.py
          tests/tests_unit/test_api/test_3d.py
          tests/tests_unit/test_api/test_vision_extract.py
          tests/tests_unit/test_api/test_transformations.py
          
          tests/tests_integration/test_api/test_data_modeling
          tests/tests_integration/test_api/test_datapoints.py
          tests/tests_integration/test_api/test_assets.py
          tests/tests_integration/test_api/test_events.py
          tests/tests_integration/test_api/test_workflows.py
          tests/tests_integration/test_api/test_raw.py
          tests/tests_integration/test_api/test_transformations

          tests/tests_integration/test_api/test_simulators
          tests/tests_integration/test_api/test_principals.py
          tests/tests_unit/test_api/test_simulators
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.8.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

override _get_semaphore on FilesAPI and update usage to download/upload
  cognite/client/_api/files.py
Due: mypy, custom-checks

add new concurrency settings for FileConcurrencyConfig
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

update file tests
  tests/tests_unit/test_api/test_files.py
Due: mypy

update documentation on concurrency settings
  docs/source/settings.rst
Due: none

refactor multipart upload logic, add _run_multipart_upload remove _upload_file_part
  cognite/client/_api/files.py
  cognite/client/_sync_api/files.py
Due: mypy, custom-checks

FileConcurrencyConfig should inherit from ConcurrencyConfig
  cognite/client/utils/_concurrency.py
  tests/tests_unit/test_utils/test_concurrency.py
  tests/tests_unit/test_utils/test_concurrency_threading.py
Due: mypy, custom-checks

fix obscure case of flaky test due to test pollution
  tests/tests_unit/test_cognite_client.py
Due: mypy

feat(files): Support automatic upload of files larger than 5GB (#2566)
  cognite/client/_api/files.py
  cognite/client/_constants.py
  cognite/client/_sync_api/files.py
  cognite/client/data_classes/files.py
  cognite/client/utils/_concurrency.py
  cognite/client/utils/_uploading.py
  docs/source/settings.rst
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_utils/test_concurrency.py
  tests/tests_unit/test_utils/test_concurrency_threading.py
Due: mypy, custom-checks

refactor(credentials): clarify _refresh_access_token comment + tidy mocks
  cognite/client/credentials.py
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

fix(credentials): match cached AT scopes as a case-insensitive superset
  cognite/client/credentials.py
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

test(credentials): drop redundant scope-case-insensitive AT test
  tests/tests_unit/test_credential_providers.py
Due: mypy

fix(credentials): exclude OIDC reserved scopes from cached AT match
  cognite/client/credentials.py
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

regenerate protobuf bindings
  cognite/client/_proto/data_point_insertion_request_pb2.py
  cognite/client/_proto/data_point_insertion_request_pb2.pyi
  cognite/client/_proto/data_point_list_response_pb2.py
  cognite/client/_proto/data_point_list_response_pb2.pyi
  cognite/client/_proto/data_points_pb2.py
  cognite/client/_proto/data_points_pb2.pyi
Due: mypy, custom-checks

update data classes
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/datapoint_aggregates.py
  cognite/client/data_classes/datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy, custom-checks

update read path
  cognite/client/_api/datapoint_tasks.py
  cognite/client/utils/_datapoints.py
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

write path
  cognite/client/_api/datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
Due: mypy, custom-checks

sync methods
  cognite/client/_sync_api/datapoints.py
Due: mypy, custom-checks

integeation test
  tests/tests_integration/test_api/test_state_timeseries.py
Due: mypy

initialise state containers before super().__init__
  cognite/client/_api/datapoint_tasks.py
Due: mypy, custom-checks

update fake DatapointsArray generator
  tests/utils.py
Due: mypy

tests; tests add back tests
  tests/tests_integration/test_api/test_transformations/test_notifications.py
Due: mypy

fix: optional transformation external ID
  cognite/client/data_classes/transformations/notifications.py
Due: mypy, custom-checks

Apply suggestion from @doctrino
  cognite/client/data_classes/transformations/notifications.py
Due: mypy, custom-checks

add code exmples to DM /sync dataclass docstrings
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

add missing DM /sync imports
  cognite/client/data_classes/data_modeling/__init__.py
Due: mypy, custom-checks

keep skipping geospatial tests that 500 for 2 more months
  tests/tests_integration/test_api/test_geospatial.py
Due: mypy

fixup! add code exmples to DM /sync dataclass docstrings
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

fix(Data Modeling): Add missing imports + add code examples (#2601)
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/query.py
  tests/tests_integration/test_api/test_geospatial.py
Due: mypy, custom-checks

tests: extend
  tests/tests_integration/test_api/test_geospatial.py
Due: mypy

fix: Transformation notification response class (#2600)
  cognite/client/data_classes/transformations/notifications.py
  tests/tests_integration/test_api/test_transformations/test_notifications.py
Due: mypy, custom-checks

fix(credentials): reuse serialized device-code cache
  cognite/client/credentials.py
  tests/tests_unit/test_credential_providers.py
  uv.lock
Due: mypy, custom-checks

update outdated/wrong docstring + comment in OAuthDeviceCode.default_for_azure_ad
  cognite/client/credentials.py
Due: mypy, custom-checks

add missing scope 'offline_access' to make Azure return refresh token
  cognite/client/credentials.py
Due: mypy, custom-checks

update device code tests after swapping AT before RT
  tests/tests_unit/test_credential_providers.py
Due: mypy

skip geospatial tests for some time
  tests/tests_integration/test_api/test_geospatial.py
Due: mypy

fix 'assert True' checks....
  tests/tests_unit/test_credential_providers.py
Due: mypy

fix credentials OAuthDeviceCode, token cache never reused across processes
  cognite/client/credentials.py
Due: mypy, custom-checks

improve _refresh_access_token docstrings
  cognite/client/credentials.py
Due: mypy, custom-checks

skip flaky workflow test - not needed on v7 branch
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

fix(Datapoints): return plain Index instead of 1-level MultiIndex when no extra levels
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks
