Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.11
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605,UP038
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py310
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run dmypy run -- cognite tests
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.7.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

Run mypy on more relationship integration tests
  .pre-commit-config.yaml
  cognite/client/data_classes/relationships.py
  tests/tests_integration/test_api/test_relationships.py
Due: mypy, custom-checks

Run mypy on tests_integration/test_api/test_documents.py
  .pre-commit-config.yaml
  cognite/client/_api/documents.py
  tests/tests_integration/test_api/test_documents.py
Due: mypy, custom-checks

Run mypy on tests_integration/test_api/test_labels.py
  .pre-commit-config.yaml
  tests/tests_integration/test_api/test_labels.py
Due: mypy

refactor; overloads
  cognite/client/_api/organization.py
Due: mypy, custom-checks

feat: [CDF-25309] Add service principal API (#2332)
  .pre-commit-config.yaml
  cognite/client/_api/iam.py
  cognite/client/_api/organization.py
  cognite/client/_api_client.py
  cognite/client/data_classes/principals.py
  cognite/client/testing.py
  cognite/client/utils/_identifier.py
  docs/source/identity_and_access_management.rst
  tests/tests_integration/test_api/test_principals.py
Due: mypy, custom-checks

chore(master): release 7.84.0
  CHANGELOG.md
  pyproject.toml
Due: none

Bump version to 7.84.0
  cognite/client/_version.py
Due: mypy, custom-checks

chore(master): release 7.84.0 (#2308)
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

feat(agents): add actions support for custom tool calls in chat endpoint
  cognite/client/_api/agents/agents.py
  cognite/client/data_classes/agents/__init__.py
  cognite/client/data_classes/agents/client_tools.py
  tests/tests_unit/test_api/test_agents_chat.py
  tests/tests_unit/test_data_classes/test_client_tools.py
Due: mypy, custom-checks

fix: align ClientToolList with CogniteResourceList pattern
  cognite/client/data_classes/agents/client_tools.py
  tests/tests_unit/test_data_classes/test_client_tools.py
Due: mypy, custom-checks

feat: Change to httpx.AsyncClient
  cognite/client/_http_client.py
  cognite/client/utils/_pyodide_helpers.py
Due: mypy, custom-checks

remove all __iter__ methods, update docstrings
  cognite/client/_api/assets.py
  cognite/client/_api/data_modeling/containers.py
  cognite/client/_api/data_modeling/data_models.py
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_api/data_modeling/spaces.py
  cognite/client/_api/data_modeling/views.py
  cognite/client/_api/data_sets.py
  cognite/client/_api/datapoints_subscriptions.py
  cognite/client/_api/documents.py
  cognite/client/_api/events.py
  cognite/client/_api/extractionpipelines.py
  cognite/client/_api/files.py
  cognite/client/_api/functions.py
  cognite/client/_api/hosted_extractors/destinations.py
  cognite/client/_api/hosted_extractors/jobs.py
  cognite/client/_api/hosted_extractors/mappings.py
  cognite/client/_api/hosted_extractors/sources.py
  cognite/client/_api/labels.py
  cognite/client/_api/postgres_gateway/tables.py
  cognite/client/_api/postgres_gateway/users.py
  cognite/client/_api/raw.py
  cognite/client/_api/relationships.py
  cognite/client/_api/sequences.py
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/integrations.py
  cognite/client/_api/simulators/models.py
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/_api/simulators/routines.py
  cognite/client/_api/simulators/runs.py
  cognite/client/_api/three_d.py
  cognite/client/_api/time_series.py
  cognite/client/_api/transformations/__init__.py
  cognite/client/_api/transformations/notifications.py
  cognite/client/_api/transformations/schedules.py
  cognite/client/_api/workflows.py
Due: mypy, custom-checks

Use denylist instead of allowlist for retryable POST endpoints
  cognite/client/_api_client.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_meta.py
Due: mypy, custom-checks

Remove test allowing to add to retryable paths
  tests/tests_unit/test_api_client.py
Due: mypy

Allow retrying POST /update endpoints
  cognite/client/_api_client.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

Remove test to check for missing retryable patterns
  tests/tests_unit/test_meta.py
Due: mypy

Add back idempotency vs retry test
  cognite/client/_api_client.py
  tests/tests_unit/test_meta.py
Due: mypy, custom-checks

Simplify tests and match compiled regex idiomatically
  cognite/client/_api_client.py
  tests/tests_unit/test_meta.py
Due: mypy, custom-checks

fixup! Add back idempotency vs retry test
  tests/tests_unit/test_meta.py
Due: mypy

fix: save one list copy op in datapoints-insert-loop
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

chore: Use denylist instead of allowlist for retryable POST endpoints (#2278)
  cognite/client/_api_client.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_meta.py
Due: mypy, custom-checks

feat(simulators): Add support for model revision data (#2268)
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/data_classes/simulators/models.py
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy, custom-checks

chore(master): release 7.85.0
  CHANGELOG.md
  pyproject.toml
Due: none

fix: change debug notice hint from Literal to str
  cognite/client/data_classes/data_modeling/debug.py
Due: mypy, custom-checks

add test on DebugParameters dump
  tests/tests_unit/test_data_classes/test_data_models/test_debug_notices.py
Due: mypy

feat(simulators): Add support for running simulations
  cognite/client/_api/simulators/routines.py
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

tests: run simulation by revisions
  tests/tests_integration/test_api/test_simulators/test_routines.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
  tests/tests_unit/test_data_classes/test_simulators.py
  tests/utils.py
Due: mypy

chore: fix mypy issue
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

chore: fix collecting tests error with identifiers
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy

fix: stream methods
  cognite/client/_api/documents.py
  cognite/client/_api/files.py
  cognite/client/_api/geospatial.py
  cognite/client/_basic_api_client.py
  cognite/client/_http_client.py
Due: mypy, custom-checks

Update renovate.json
  renovate.json
Due: none

use fallback for UnknownDebugNotice fields
  cognite/client/data_classes/data_modeling/debug.py
Due: mypy, custom-checks

chore: refactor error message handling
  cognite/client/data_classes/simulators/runs.py
  tests/tests_unit/test_data_classes/test_simulators.py
Due: mypy, custom-checks

feat: data classes for debug notices (#2336)
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/debug.py
  cognite/client/utils/_auxiliary.py
  tests/utils.py
Due: mypy, custom-checks

add: unit tests
  tests/tests_unit/test_data_classes/test_data_models/test_debug_notices.py
Due: mypy
