Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

fix
  cognite/client/_api/simulators/runs.py
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

fix
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

fix: pass the timeout down in the function
  cognite/client/_api/simulators/routines.py
Due: mypy, custom-checks

test: fix flaky routine sort test
  tests/tests_integration/test_api/test_simulators/test_routines.py
Due: mypy

Update dotenv
  poetry.lock
  pyproject.toml
Due: none

updated changelog and bump minor version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

chore: try to narrow the type without assert
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

fix(documents): add `instance_id` field to `Document` class (#2154)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/documents.py
  pyproject.toml
  tests/tests_unit/test_api/test_documents.py
Due: mypy, custom-checks

Add an include_unit argument to datapoints retrieve_dataframe and to_pandas methods
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_pandas_helpers.py
  tests/conftest.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

Update changelog and version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Revert argument change in load_dotenv
  tests/conftest.py
Due: mypy

Add 'Units' as columns level name
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

add support for simulation run data (#2151)
  cognite/client/_api/simulators/runs.py
  cognite/client/data_classes/simulators/runs.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy, custom-checks

feat(simint-alpha): consistency and dev experience of simulation run (#2152)
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/_api/simulators/routines.py
  cognite/client/_api/simulators/runs.py
  cognite/client/data_classes/simulators/__init__.py
  cognite/client/data_classes/simulators/runs.py
  tests/tests_integration/test_api/test_simulators/test_routines.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy, custom-checks

Functions, fix typing issues
  cognite/client/_api/functions.py
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

Update changelog
  CHANGELOG.md
Due: none

Arguments must be keyword only
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

Annotate more function handles
  CHANGELOG.md
  cognite/client/_api/functions.py
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

Added better doc and added exception for Protocols not having __init__ method
  cognite/client/data_classes/functions.py
  scripts/custom_checks/docstrings.py
Due: mypy, custom-checks

fix filter
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/data_classes/simulators/filters.py
Due: mypy, custom-checks

more convenience
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

add test
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy

fix test
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy

add test for to_pandas
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy

[Functions] fix moar typing issues (#2157)
  CHANGELOG.md
  cognite/client/_api/functions.py
  cognite/client/data_classes/functions.py
  scripts/custom_checks/docstrings.py
Due: mypy, custom-checks

fix(simint-alpha): wrong type in routine configuration
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

docs: fixed example
  cognite/client/_api/simulators/routine_revisions.py
Due: mypy, custom-checks

fix
  cognite/client/data_classes/simulators/filters.py
Due: mypy, custom-checks

Pass tzinfo directly instead of unpacking a dict
  tests/tests_unit/test_utils/test_time.py
Due: mypy

Typo
  tests/tests_unit/test_utils/test_time.py
Due: mypy

fmt
  tests/tests_unit/test_utils/test_time.py
Due: mypy

Add types-pytz, enable mypy for test_time and fix all type issues
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  tests/tests_unit/test_utils/test_time.py
Due: mypy

[typing, tests] Datetime accepts a tzinfo parameter, use this directly instead of unpacking (#2160)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  tests/tests_unit/test_utils/test_time.py
Due: mypy

un-remove a lot of dependencies jules commented for some reason
  pyproject.toml
Due: none

chore: minor refactor and improved test
  cognite/client/data_classes/simulators/runs.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy, custom-checks

chore: move the test, remove extra function
  cognite/client/data_classes/simulators/runs.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
  tests/tests_unit/test_api/test_simulators/test_run_data.py
Due: mypy, custom-checks
