Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

update docs
  cognite/client/_api/simulators/models.py
Due: mypy, custom-checks

add max_list_size to listable property types
  cognite/client/_api/data_modeling/containers.py
  cognite/client/data_classes/data_modeling/data_types.py
Due: mypy, custom-checks

add some tests
  tests/tests_unit/test_data_classes/test_data_models/test_data_types.py
Due: mypy

DM-2540 changelog & version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

update FakeCogniteResourceGenerator
  tests/utils.py
Due: mypy

add some tests on unit in property type
  tests/tests_integration/test_api/test_workflows.py
  tests/tests_unit/test_data_classes/test_data_models/test_data_types.py
Due: mypy

DM-2540 Add support for `max_list_size` for listable container property types (#2107)
  CHANGELOG.md
  cognite/client/_api/data_modeling/containers.py
  cognite/client/_version.py
  cognite/client/data_classes/data_modeling/data_types.py
  pyproject.toml
  tests/tests_integration/test_api/test_workflows.py
  tests/tests_unit/test_data_classes/test_data_models/test_data_types.py
  tests/utils.py
Due: mypy, custom-checks

test dl speeds
  .github/workflows/release.yaml
  tests/tests_integration/test_api/test_files.py
Due: mypy

asdf
  .github/workflows/build.yml
Due: none

also time upload, DUH
  tests/tests_integration/test_api/test_files.py
Due: mypy

address more feedback
  cognite/client/_api/simulators/models.py
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/models.py
  cognite/client/testing.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/test_models.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

address failing yaml, json serializer test
  cognite/client/data_classes/simulators/models.py
Due: mypy, custom-checks

test dl speeds and time upload
  .github/workflows/build.yml
  .github/workflows/release.yaml
  tests/tests_integration/test_api/test_files.py
Due: mypy

file to file test (not bytes to bytes)
  cognite/client/_api/files.py
  tests/tests_integration/test_api/test_files.py
Due: mypy, custom-checks

address nice to have comment
  cognite/client/_api/simulators/integrations.py
  cognite/client/_api/simulators/models.py
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/data_classes/simulators/__init__.py
Due: mypy, custom-checks

add timed_cache to avoid request spam
  cognite/client/exceptions.py
  cognite/client/utils/_time.py
Due: mypy, custom-checks

don't suggest current project in error msg...
  cognite/client/exceptions.py
Due: mypy, custom-checks

add test
  tests/tests_unit/test_utils/test_time.py
Due: mypy

Improve unauthorized error (#2111)
  cognite/client/exceptions.py
  cognite/client/utils/_time.py
  tests/tests_unit/test_utils/test_time.py
Due: mypy, custom-checks

testing hypothesis
  tests/tests_unit/test_meta.py
Due: mypy

Add support for simulator models (#2068)
  CHANGELOG.md
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/integrations.py
  cognite/client/_api/simulators/models.py
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/_cognite_client.py
  cognite/client/data_classes/simulators/__init__.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/models.py
  cognite/client/testing.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/seed/ShowerMixer.txt
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/test_integrations.py
  tests/tests_integration/test_api/test_simulators/test_models.py
  tests/tests_unit/test_docstring_examples.py
  tests/tests_unit/test_meta.py
Due: mypy, custom-checks

refactor; setup toolkit for integration runner
  scripts/toolkit/cdf.toml
  scripts/toolkit/modules/integration_runner/auth/integration_runner.Group.yaml
Due: none

docs: reasning
  tests/tests_integration/test_api/test_assets.py
Due: mypy

tests; relationships
  tests/tests_integration/test_api/test_relationships.py
Due: mypy

fix: cloning script
  scripts/create_ts_for_integration_tests.py
Due: mypy

tests: skip problematic test
  tests/tests_integration/test_api/test_assets.py
Due: mypy

fix: paths and remove asset ids
  tests/tests_integration/test_api/test_geospatial.py
Due: mypy

tests; sequence rows
  tests/tests_integration/test_api/test_sequences_data.py
Due: mypy

fix scripts/create_ts_for_integration_tests.py
  scripts/create_ts_for_integration_tests.py
Due: mypy

refactor: correct test data
  tests/tests_integration/test_api/test_sequences_data.py
Due: mypy

tests: raw
  tests/tests_integration/test_api/test_raw.py
Due: mypy

refactor; fix warnings
  scripts/create_ts_for_integration_tests.py
Due: mypy

tests: better test data
  tests/tests_integration/test_api/test_assets.py
Due: mypy

tests: created dummy function
  tests/tests_integration/test_api/test_functions.py
Due: mypy

tests; assets and events
  tests/tests_integration/test_api/test_assets.py
  tests/tests_integration/test_api/test_events.py
Due: mypy

tests: skip templates
  tests/tests_integration/test_api/test_templates.py
Due: mypy

tests; extractor pipeline + file
  tests/tests_integration/test_api/test_extraction_pipelines.py
  tests/tests_integration/test_api/test_files.py
Due: mypy

tests: missing test data
  tests/tests_integration/test_api/test_iam.py
  tests/tests_integration/test_api/test_sequences.py
Due: mypy

tests: gen synthetic
  tests/tests_integration/test_api/test_synthetic_time_series.py
Due: mypy
