Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  ...

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

attempt to avoid duplicate imports in TYPE_CHECKING block
  scripts/sync_client_codegen/codegen_utils.py
  scripts/sync_client_codegen/create_sync_api.py
Due: mypy

fix(odin): address review feedback - per-endpoint limits, docstring typo, cdf-version/edge-case test coverage
  cognite/client/_api/integrations/__init__.py
  cognite/client/_sync_api/integrations/__init__.py
  tests/tests_unit/test_api/test_integrations/test_integrations.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

fix(integrations): remove redundant TYPE_CHECKING import in auto-generated sync API (lint fix)
  cognite/client/_sync_api/integrations/__init__.py
Due: mypy, custom-checks

fix(odin): Fix codegen issue
  cognite/client/_sync_api/integrations/__init__.py
Due: mypy, custom-checks

feat(integrations): Add Integrations core CRUD (list/create/retrieve/update/delete) (#2827)
  cognite/client/_api/integrations/__init__.py
  cognite/client/_basic_api_client.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/integrations/__init__.py
  cognite/client/_sync_cognite_client.py
  cognite/client/testing.py
  cognite/client/utils/_url.py
  tests/tests_unit/test_api/test_integrations/__init__.py
  tests/tests_unit/test_api/test_integrations/test_integrations.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

update retrieve_dataframe with state-related parameters
  cognite/client/_api/datapoints.py
  cognite/client/_sync_api/datapoints.py
Due: mypy, custom-checks

update and add integration tests
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

update to_pandas with expand_state_aggregates param
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

remove _raise_on_state_only_aggregate + usage
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

implement to_pandas machinery for state-only aggregates
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

fix test_state_only_aggregate_datapoints_retrieve_dataframe
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

add new column level with the state string values
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

update and add unit tests
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy

add _STATE_AGGS_SNAKE constant
  cognite/client/data_classes/datapoint_aggregates.py
Due: mypy, custom-checks

extend testing of to_pandas for state_string when dropped from state set
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy

feat(time series): add to_pandas()/retrieve_dataframe() support for state-only aggregates (#2858)
  cognite/client/_api/datapoints.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/data_classes/datapoint_aggregates.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_pandas_helpers.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy, custom-checks

fix: Ensure concurrent read operations use fail_fast mode (#2861)
  cognite/client/_api/assets.py
  cognite/client/_api/datapoints_io.py
  cognite/client/_api/files.py
  cognite/client/_api/relationships.py
  cognite/client/_api/sequence_data.py
  cognite/client/_api/synthetic_time_series.py
  cognite/client/data_classes/assets.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

make it explicit that scopes need the correct CDF cluster
  docs/source/conftest.py
  docs/source/quickstart.rst
Due: mypy

docs: make it explicit that scopes need the correct CDF cluster (#2865)
  docs/source/conftest.py
  docs/source/quickstart.rst
Due: mypy

feat(workflows): surface non-blocking function warnings on WorkflowVersion upsert (#2863)
  cognite/client/data_classes/workflows.py
  tests/tests_unit/test_api/test_workflows.py
Due: mypy, custom-checks

fix(state time series): retrieve_latest silently drops the state values (numeric/string)
  cognite/client/data_classes/datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy, custom-checks

dump state values using the API keys (numericValue/stringValue) so load(dump()) round-trips
  cognite/client/data_classes/datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy, custom-checks

add property is_state to LatestDatapoint
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

make value/numeric_state/string_state properties (and raise on wrong usage)
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

update dump/to_pandas for LatestDatapoint
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

update docstring on retrieve_latest with examples
  cognite/client/_api/datapoints.py
  cognite/client/_sync_api/datapoints.py
Due: mypy, custom-checks

expand test coverage
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy

feat(time series): support state time series in `retrieve_latest` (DM-4156) (#2859)
  cognite/client/_api/datapoints.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/data_classes/datapoints.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy, custom-checks

fix(state time series): datapoint subscriptions crash on state time series (KeyError: 'value')
  cognite/client/data_classes/datapoints_subscriptions.py
  tests/tests_unit/test_data_classes/test_datapoint_subscriptions.py
Due: mypy, custom-checks

make SubscriptionDatapoints state-ts aware
  cognite/client/data_classes/datapoints_subscriptions.py
Due: mypy, custom-checks

Update docstring for DatapointsSubscriptionAPI.iterate_data
  cognite/client/_api/datapoints_subscriptions.py
  cognite/client/_sync_api/datapoints_subscriptions.py
Due: mypy, custom-checks

update and extend unit tests
  tests/tests_unit/test_data_classes/test_datapoint_subscriptions.py
Due: mypy

add integration test for state ts (with bad dp) in subscriptions
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
Due: mypy

fix bad docstring example (existing) + ruff suggestion
  cognite/client/_api/datapoints_subscriptions.py
  cognite/client/_sync_api/datapoints_subscriptions.py
  tests/tests_unit/test_data_classes/test_datapoint_subscriptions.py
Due: mypy, custom-checks

feat(time series): add state time series support to datapoint subscriptions (DM-4159) (#2860)
  cognite/client/_api/datapoints_subscriptions.py
  cognite/client/_sync_api/datapoints_subscriptions.py
  cognite/client/data_classes/datapoints_subscriptions.py
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
  tests/tests_unit/test_data_classes/test_datapoint_subscriptions.py
Due: mypy, custom-checks

chore(master): release 8.19.0
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

chore(master): release 8.19.0 (#2855)
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

chore: Adding Extractors team aka data-management as codeowners for all the services that we own (#2854)
  .github/CODEOWNERS
Due: none

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
