Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

remove redundant check for `None`
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

Add support for simulator routine revisions (#2139)
  CHANGELOG.md
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/_api/simulators/routines.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/simulators.py
  cognite/client/testing.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/test_integrations.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
  tests/tests_unit/test_docstring_examples.py
  tests/utils.py
Due: mypy, custom-checks

DM-2509 add datapoints aggregates `min`- and `maxDatapoint` (#2082)
  CHANGELOG.md
  cognite/client/_api/datapoint_tasks.py
  cognite/client/_api/datapoints.py
  cognite/client/_proto/data_points_pb2.py
  cognite/client/_proto/data_points_pb2.pyi
  cognite/client/_version.py
  cognite/client/data_classes/datapoints.py
  pyproject.toml
  tests/tests_integration/test_api/test_datapoints.py
  tests/utils.py
Due: mypy, custom-checks

fix: DatapointsAPI.__call__ using instance_id with more than 100k dps
  cognite/client/_api/datapoints.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

feat: clean up postgres gateway impl
  cognite/client/_api/postgres_gateway/tables.py
  cognite/client/_api/postgres_gateway/users.py
  cognite/client/data_classes/capabilities.py
  tests/tests_integration/test_api/test_extraction_pipelines.py
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy, custom-checks

feat: remove beta headers from tables
  cognite/client/_api/postgres_gateway/tables.py
Due: mypy, custom-checks

feat: update changes in changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Adding line feeds to improve docstring rendering
  cognite/client/data_classes/data_modeling/cdm/v1.py
Due: mypy, custom-checks

docs: remove unnecessary spaces
  CHANGELOG.md
Due: none

Fix dps iter instance (#2141)
  CHANGELOG.md
  cognite/client/_api/datapoints.py
  cognite/client/_version.py
  pyproject.toml
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

fix: skip None properties when dumping Workflow task
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

tests: added failing test
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

build; bump + changelog
  CHANGELOG.md
  pyproject.toml
Due: none

build: bump
  cognite/client/_version.py
Due: mypy, custom-checks

fixture
  cognite/client/data_classes/simulators/filters.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy, custom-checks

fix
  cognite/client/_api/simulators/__init__.py
  cognite/client/testing.py
Due: mypy, custom-checks

fix
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

add docstrings testing
  tests/tests_unit/test_docstring_examples.py
Due: mypy

fix
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy

refactor
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy

[CDF-24400] Dump and load workflow tasks (#2140)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/workflows.py
  pyproject.toml
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy, custom-checks

add test
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

fix dps iter + object aggregates
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

clean up postgres gateway api and acls (#2142)
  CHANGELOG.md
  cognite/client/_api/postgres_gateway/tables.py
  cognite/client/_api/postgres_gateway/users.py
  cognite/client/_version.py
  cognite/client/data_classes/capabilities.py
  pyproject.toml
  tests/tests_integration/test_api/test_extraction_pipelines.py
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy, custom-checks

Fix function api type annotations
  CHANGELOG.md
  cognite/client/_api/functions.py
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Revert version bump
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix
  cognite/client/_api/simulators/runs.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy, custom-checks

fix
  cognite/client/data_classes/simulators/filters.py
Due: mypy, custom-checks

Fix object agg bug when iterating (#2144)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/datapoints.py
  pyproject.toml
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

[Functions] Fix type annotations for generic types (#2146)
  CHANGELOG.md
  cognite/client/_api/functions.py
Due: mypy, custom-checks

Bump version and update changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
