Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    tests/tests_unit/test_utils/test_time.py
  
    tests/tests_integration/test_api/test_datapoints.py
  
  ...

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

Run mypy on tests_integration/test_api/test_entity_matching.py
  .pre-commit-config.yaml
  tests/tests_integration/test_api/test_entity_matching.py
Due: mypy

Run mypy on tests_integration/test_api/test_geospatial.py
  .pre-commit-config.yaml
  cognite/client/_api/geospatial.py
  cognite/client/data_classes/geospatial.py
  tests/tests_integration/test_api/test_geospatial.py
  tests/tests_unit/test_api/test_geospatial.py
Due: mypy, custom-checks

Run mypy on tests_integration/test_api/test_datapoint_subscriptions.py
  .pre-commit-config.yaml
  cognite/client/data_classes/datapoints_subscriptions.py
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
Due: mypy, custom-checks

Run mypy on sequences unit tests
  .pre-commit-config.yaml
  tests/tests_unit/test_api/test_sequences.py
Due: mypy

add AsyncSDKTask for future use in async execute_tasks etc
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

Run mypy on tests_unit/test_exceptions.py
  .pre-commit-config.yaml
  tests/tests_unit/test_exceptions.py
Due: mypy

Improve contextualization classes and clients
  cognite/client/_api/diagrams.py
  cognite/client/_api/entity_matching.py
  cognite/client/_api/vision.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/contextualization.py
  tests/tests_unit/test_api/test_diagrams.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_data_classes/test_vision.py
Due: mypy, custom-checks

Run mypy on tests_unit/test_base.py
  .pre-commit-config.yaml
  tests/tests_unit/test_base.py
Due: mypy

Run mypy on tests_unit/test_credential_providers.py
  .pre-commit-config.yaml
  cognite/client/_api/synthetic_time_series.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/geospatial.py
  tests/tests_unit/test_api/test_3d.py
  tests/tests_unit/test_api/test_data_sets.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_geospatial.py
  tests/tests_unit/test_api/test_time_series.py
  tests/tests_unit/test_api/test_transformations.py
  tests/tests_unit/test_api/test_vision_extract.py
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

Run mypy on tests_integration/test_api/test_files.py
  .pre-commit-config.yaml
  cognite/client/_api/files.py
  cognite/client/data_classes/files.py
  tests/tests_integration/test_api/test_files.py
Due: mypy, custom-checks

Run mypy on tests_integration/test_api/test_transformations
  .pre-commit-config.yaml
  cognite/client/data_classes/transformations/__init__.py
  cognite/client/data_classes/workflows.py
  tests/tests_integration/test_api/test_transformations/test_jobs.py
  tests/tests_integration/test_api/test_transformations/test_notifications.py
  tests/tests_integration/test_api/test_transformations/test_schedules.py
  tests/tests_integration/test_api/test_transformations/test_schema.py
  tests/tests_integration/test_api/test_transformations/test_transformations.py
Due: mypy, custom-checks

Run mypy on all integration tests
  .pre-commit-config.yaml
  cognite/client/_api/sequence_data.py
  cognite/client/_api/sequences.py
  cognite/client/data_classes/sequences.py
  tests/tests_integration/conftest.py
  tests/tests_integration/test_api/test_hosted_extractors/test_sources.py
  tests/tests_integration/test_api/test_postgres_gateway/conftest.py
  tests/tests_integration/test_api/test_postgres_gateway/test_tables.py
  tests/tests_integration/test_api/test_sequences.py
  tests/tests_integration/test_api/test_sequences_data.py
  tests/tests_integration/test_api/test_simulators/seed/resources.py
  tests/tests_integration/test_api_client.py
  tests/tests_integration/test_cognite_client.py
  tests/tests_integration/test_credential_providers.py
  tests/tests_unit/test_api/test_sequences.py
  tests/tests_unit/test_data_classes/test_sequences.py
Due: mypy, custom-checks

Run mypy on tests_integration/test_api/test_documents.py
  .pre-commit-config.yaml
  cognite/client/_api/documents.py
  tests/tests_integration/test_api/test_documents.py
Due: mypy, custom-checks

remove all __iter__ methods, update docstrings
  cognite/client/_api/assets.py
  cognite/client/_api/data_modeling/containers.py
  cognite/client/_api/data_modeling/data_models.py
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_api/data_modeling/spaces.py
  cognite/client/_api/data_modeling/views.py
  cognite/client/_api/data_sets.py
  cognite/client/_api/datapoints_subscriptions.py
  cognite/client/_api/documents.py
  cognite/client/_api/events.py
  cognite/client/_api/extractionpipelines.py
  cognite/client/_api/files.py
  cognite/client/_api/functions/__init__.py
  cognite/client/_api/functions/schedules.py
  cognite/client/_api/hosted_extractors/destinations.py
  cognite/client/_api/hosted_extractors/jobs.py
  cognite/client/_api/hosted_extractors/mappings.py
  cognite/client/_api/hosted_extractors/sources.py
  cognite/client/_api/labels.py
  cognite/client/_api/postgres_gateway/tables.py
  cognite/client/_api/postgres_gateway/users.py
  cognite/client/_api/raw/databases.py
  cognite/client/_api/raw/tables.py
  cognite/client/_api/relationships.py
  cognite/client/_api/sequences.py
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/integrations.py
  cognite/client/_api/simulators/models.py
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/_api/simulators/routines.py
  cognite/client/_api/simulators/runs.py
  cognite/client/_api/three_d/models.py
  cognite/client/_api/three_d/revisions.py
  cognite/client/_api/time_series.py
  cognite/client/_api/transformations/__init__.py
  cognite/client/_api/transformations/notifications.py
  cognite/client/_api/transformations/schedules.py
  cognite/client/_api/workflows/__init__.py
  cognite/client/_api/workflows/versions.py
Due: mypy, custom-checks

Run mypy on tests_integration/test_api/test_data_sets.py
  .pre-commit-config.yaml
  tests/tests_integration/test_api/test_data_sets.py
Due: mypy

Fix some failing integration tests
  cognite/client/data_classes/raw.py
  tests/tests_integration/test_api/test_hosted_extractors/test_jobs.py
Due: mypy, custom-checks

Run mypy on tests_integration/test_api/test_workflows.py
  .pre-commit-config.yaml
  cognite/client/_api/workflows/versions.py
  cognite/client/data_classes/workflows.py
  tests/tests_integration/test_api/test_workflows.py
Due: mypy, custom-checks

Run mypy on tests_unit/test_cognite_client.py
  .pre-commit-config.yaml
  tests/tests_unit/test_cognite_client.py
Due: mypy

Run mypy on tests_integration/test_api/test_functions.py
  .pre-commit-config.yaml
  tests/tests_integration/test_api/test_functions.py
Due: mypy

Run mypy on tests_integration/test_api/test_iam.py
  .pre-commit-config.yaml
  tests/tests_integration/test_api/test_iam.py
Due: mypy

Clean up ignore_missing_imports in mypy.ini
  mypy.ini
Due: none

Run mypy on all files in tests_unit/test_api
  .pre-commit-config.yaml
  cognite/client/_api/ai/tools/documents.py
  cognite/client/_api/functions/__init__.py
  tests/tests_unit/test_api/function_test_resources/bad_absolute_import/extra_root_folder/my_functions/handler.py
  tests/tests_unit/test_api/function_test_resources/bad_absolute_import/extra_root_folder/my_functions/util.py
  tests/tests_unit/test_api/function_test_resources/bad_function_code2/handler.py
  tests/tests_unit/test_api/function_test_resources/function_code/handler.py
  tests/tests_unit/test_api/function_test_resources/function_code_with_invalid_requirements/handler.py
  tests/tests_unit/test_api/function_test_resources/function_code_with_requirements/handler.py
  tests/tests_unit/test_api/function_test_resources/good_absolute_import/my_functions/handler.py
  tests/tests_unit/test_api/function_test_resources/good_absolute_import/shared/util.py
  tests/tests_unit/test_api/function_test_resources/handler.py
  tests/tests_unit/test_api/function_test_resources/relative_imports/bad_relative_import.py
  tests/tests_unit/test_api/function_test_resources/relative_imports/my_functions/good_relative_import.py
  tests/tests_unit/test_api/function_test_resources/relative_imports/my_functions/util.py
  tests/tests_unit/test_api/function_test_resources/relative_imports/util.py
  tests/tests_unit/test_api/test_agents_chat.py
  tests/tests_unit/test_api/test_ai.py
  tests/tests_unit/test_api/test_data_modeling/conftest.py
  tests/tests_unit/test_api/test_data_modeling/test_containers.py
  tests/tests_unit/test_api/test_data_modeling/test_instances.py
  tests/tests_unit/test_api/test_data_modeling/test_spaces.py
  tests/tests_unit/test_api/test_data_modeling/test_views.py
  tests/tests_unit/test_api/test_datapoints_tasks.py
  tests/tests_unit/test_api/test_diagrams.py
  tests/tests_unit/test_api/test_entity_matching.py
  tests/tests_unit/test_api/test_extractionpipelines.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_api/test_iam.py
  tests/tests_unit/test_api/test_labels.py
  tests/tests_unit/test_api/test_relationships.py
  tests/tests_unit/test_api/test_signatures.py
  tests/tests_unit/test_api/test_synthetic_time_series.py
Due: mypy, custom-checks

feat: Change to httpx.AsyncClient
  cognite/client/_http_client.py
Due: mypy, custom-checks

Make all tests return None
  tests/tests_integration/test_api/test_data_sets.py
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
  tests/tests_integration/test_api/test_diagrams.py
  tests/tests_integration/test_api/test_documents.py
  tests/tests_integration/test_api/test_entity_matching.py
  tests/tests_integration/test_api/test_extraction_pipelines.py
  tests/tests_integration/test_api/test_files.py
  tests/tests_integration/test_api/test_functions.py
  tests/tests_integration/test_api/test_geospatial.py
  tests/tests_integration/test_api/test_iam.py
  tests/tests_integration/test_api/test_labels.py
  tests/tests_integration/test_api/test_relationships.py
  tests/tests_integration/test_api/test_sequences.py
  tests/tests_integration/test_api/test_sequences_data.py
  tests/tests_integration/test_api/test_synthetic_time_series.py
  tests/tests_integration/test_api/test_three_d.py
  tests/tests_integration/test_api/test_time_series.py
  tests/tests_integration/test_api/test_unit.py
  tests/tests_integration/test_api/test_user_profiles.py
  tests/tests_integration/test_api_client.py
  tests/tests_integration/test_cognite_client.py
  tests/tests_integration/test_credential_providers.py
  tests/tests_unit/test_api/test_ai.py
  tests/tests_unit/test_api/test_data_modeling/test_instances.py
  tests/tests_unit/test_api/test_data_modeling/test_views.py
  tests/tests_unit/test_api/test_datapoints_tasks.py
  tests/tests_unit/test_api/test_documents.py
  tests/tests_unit/test_api/test_entity_matching.py
  tests/tests_unit/test_api/test_extractionpipelines.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_api/test_iam.py
  tests/tests_unit/test_api/test_labels.py
  tests/tests_unit/test_api/test_relationships.py
  tests/tests_unit/test_api/test_sequences.py
  tests/tests_unit/test_api/test_signatures.py
  tests/tests_unit/test_http_client.py
  tests/tests_unit/test_meta.py
  tests/tests_unit/test_testing.py
Due: mypy

Fix agent dataclass unit tests
  cognite/client/data_classes/agents/agents.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy, custom-checks

Run mypy on tests_unit/test_docstring_examples.py
  .pre-commit-config.yaml
  tests/tests_unit/test_docstring_examples.py
Due: mypy

Run mypy on tests_integration/test_api/test_extraction_pipelines.py
  .pre-commit-config.yaml
  cognite/client/data_classes/extractionpipelines.py
  tests/tests_integration/test_api/test_extraction_pipelines.py
Due: mypy, custom-checks

remove threading-related code from utils/_concurrency.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

Run mypy on tests_integration/test_api/test_annotations.py
  .pre-commit-config.yaml
  cognite/client/data_classes/annotations.py
  cognite/client/data_classes/contextualization.py
  tests/tests_integration/test_api/test_annotations.py
  tests/tests_unit/test_api/test_vision_extract.py
  tests/tests_unit/test_data_classes/test_annotations.py
Due: mypy, custom-checks

Run 'build' workflow on all PRs
  .github/workflows/build.yml
Due: none

update TasksSummary to work with AsyncSDKTask
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

make API async: files
  cognite/client/_api/files.py
Due: mypy, custom-checks

make API async: documents + doc. preview
  cognite/client/_api/document_preview.py
  cognite/client/_api/documents.py
Due: mypy, custom-checks

update scripts/custom_checks/docstrings.py to support AsyncIterators
  scripts/custom_checks/docstrings.py
Due: mypy

make API async: sequences + seq. data
  cognite/client/_api/sequence_data.py
  cognite/client/_api/sequences.py
Due: mypy, custom-checks

fix CogniteNotFoundError missing cluster and project
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

make API async: transformations/*
  cognite/client/_api/transformations/__init__.py
  cognite/client/_api/transformations/jobs.py
  cognite/client/_api/transformations/notifications.py
  cognite/client/_api/transformations/schedules.py
  cognite/client/_api/transformations/schema.py
Due: mypy, custom-checks

make API async: units + unit_system
  cognite/client/_api/unit_system.py
  cognite/client/_api/units.py
Due: mypy, custom-checks

make API async: workflows/*
  cognite/client/_api/workflows/__init__.py
  cognite/client/_api/workflows/executions.py
  cognite/client/_api/workflows/tasks.py
  cognite/client/_api/workflows/triggers.py
  cognite/client/_api/workflows/versions.py
Due: mypy, custom-checks

update _http_client.py, use semaphore and use coroutine factory pattern
  cognite/client/_http_client.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
