Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    tests/tests_unit/test_utils/test_time.py
  
    tests/tests_integration/test_api/test_datapoints.py
  
  ...

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

final mypy pass of fixes
  cognite/client/__init__.py
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_api/datapoints.py
  cognite/client/_api/org_apis/principals.py
  cognite/client/_api/raw/tables.py
  cognite/client/_api/sequence_data.py
  cognite/client/_api/synthetic_time_series.py
  cognite/client/_api/transformations/__init__.py
  cognite/client/_basic_api_client.py
  cognite/client/_constants.py
  cognite/client/data_classes/data_modeling/query.py
  cognite/client/data_classes/datapoints.py
  cognite/client/data_classes/files.py
  cognite/client/data_classes/filters.py
  cognite/client/data_classes/functions.py
  cognite/client/data_classes/hosted_extractors/sources.py
  cognite/client/data_classes/raw.py
  cognite/client/data_classes/workflows.py
  tests/conftest.py
  tests/tests_integration/test_api/test_data_sets.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_integration/test_api/test_events.py
  tests/tests_integration/test_api/test_geospatial.py
  tests/tests_integration/test_api/test_labels.py
  tests/tests_integration/test_api/test_principals.py
  tests/tests_integration/test_api/test_sequences.py
  tests/tests_integration/test_api/test_sequences_data.py
  tests/tests_integration/test_api/test_synthetic_time_series.py
  tests/tests_integration/test_api/test_time_series.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_data_classes/test_vision.py
Due: mypy, custom-checks

update datapoints->dataframe tests after MultiIndex columns change
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

turn on pickle-client-test and add one for AsyncCogniteClient
  tests/tests_integration/test_cognite_client.py
Due: mypy

Update InstancesAPI.subscribe doc example to use -Sync classes
  docs/source/data_modeling.rst
Due: none

remove no longer needed err handling of 'response.http_version'
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

verify all codegen files in new CI check (.github/workflows/build.yml)
  .github/workflows/build.yml
Due: none

final tests fixups
  tests/tests_integration/test_api/test_simulators/test_integrations.py
  tests/tests_integration/test_api/test_workflows.py
  tests/tests_unit/test_api/test_simulators/test_integrations.py
  tests/tests_unit/test_api/test_simulators/test_routine_revisions.py
  tests/tests_unit/test_api/test_simulators/test_routines.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/utils.py
Due: mypy

always keep time series identifier in dataframe columns
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

perf: short circuit in util fn: at_least_one_is_not_none
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

Split query and sync classes
  cognite/client/_api/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

bump version to 8.0.0a1
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Filter: Add magic __eq__
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

drop base_url default in ClientConfig. add cluster as opt
  cognite/client/config.py
  docs/source/settings.rst
  scripts/generate_code_snippets.py
  scripts/sync_client_codegen/codegen_utils.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_testing.py
Due: mypy, custom-checks

refactor filters to impl _load on subclasses
  cognite/client/data_classes/filters.py
  tests/utils.py
Due: mypy, custom-checks

rename default_for_azure_ad to default_for_entra_id
  cognite/client/_cognite_client.py
  cognite/client/_sync_cognite_client.py
  cognite/client/credentials.py
  scripts/sync_client_codegen/sync_client_template.txt
Due: mypy, custom-checks

allow NodeID in DirectRelationReference.load
  cognite/client/data_classes/data_modeling/data_types.py
  cognite/client/utils/_identifier.py
Due: mypy, custom-checks

**workflows:** Allow status for workflow task updates
  CHANGELOG.md
  cognite/client/_api/workflows/tasks.py
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

lint
  cognite/client/_api/workflows/tasks.py
Due: mypy, custom-checks

revert version bumps
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

feat: workflows: Allow status for workflow task updates (#2392)
  cognite/client/_api/workflows/tasks.py
Due: mypy, custom-checks

chore(master): release 7.90.0
  CHANGELOG.md
  pyproject.toml
Due: none

Fixed bug in device code handling
  CHANGELOG.md
  FIX_SUMMARY.md
  cognite/client/credentials.py
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

Entra regression test
  tests/tests_unit/test_credential_providers.py
Due: mypy

More robust attempt at parsing object
  FIX_SUMMARY.md
  cognite/client/credentials.py
Due: mypy, custom-checks

Update cognite/client/credentials.py
  cognite/client/credentials.py
Due: mypy, custom-checks

Housekeeping
  cognite/client/credentials.py
Due: mypy, custom-checks

Split the DM container classes into read/write
  cognite/client/_api/data_modeling/containers.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/containers.py
  tests/tests_integration/test_api/test_data_modeling/test_containers.py
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/tests_integration/test_api/test_data_modeling/test_views.py
  tests/tests_integration/test_api/test_postgres_gateway/test_tables.py
  tests/tests_unit/test_api/test_data_modeling/test_containers.py
  tests/tests_unit/test_data_classes/test_data_models/test_containers.py
Due: mypy, custom-checks

handle UnicodeEncodeError from strict httpx ascii-only header req
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

clean up AggregatedValue in data_classes/aggregations.py
  cognite/client/data_classes/aggregations.py
Due: mypy, custom-checks

remove playground
  cognite/client/utils/_url.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

replace rsps with pytest-httpx (unit): test_api/test_data_modeling/test_spaces.py
  tests/tests_unit/test_api/test_data_modeling/test_spaces.py
Due: mypy

replace rsps with pytest-httpx (unit): test_api/test_3d.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api/test_3d.py
Due: mypy

replace rsps with pytest-httpx (unit): test_api/test_data_modeling/test_instances.py
  tests/tests_unit/test_api/test_data_modeling/test_instances.py
Due: mypy

replace rsps with pytest-httpx (unit): test_api/test_agents.py
  tests/tests_unit/test_api/test_agents.py
Due: mypy

update exceptions. always use specialized not-found/duplicated err
  cognite/client/_api/assets.py
  cognite/client/_api/datapoints.py
  cognite/client/exceptions.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

replace rsps with pytest-httpx (unit): test_api/test_data_sets.py
  tests/tests_unit/test_api/test_data_sets.py
Due: mypy

add drop_none_values to fix httpx usage of url params that are null
  cognite/client/_api/extractionpipelines.py
  cognite/client/_api/raw/rows.py
  cognite/client/_api/three_d/models.py
  cognite/client/_api/three_d/revisions.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
