Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

fix tests
  tests/tests_integration/test_api/test_simulators/conftest.py
Due: mypy

add tests for df.columns
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy

refactor: id/inst.id are returned in cols from retrieve_dataframe
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

refactor: insert_dataframe, infer id type from columns. support inst.id
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

improve type annotations, fix mypy issues etc
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

add test: insert_dataframe
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
Due: mypy

fix existing tests
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy

remove custom datapoints in tz retrieve fn
  cognite/client/_api/datapoint_tasks.py
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/__init__.py
  cognite/client/utils/_pandas_helpers.py
  cognite/client/utils/_time.py
  docs/source/time_series.rst
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
  tests/tests_unit/test_utils/test_time.py
  tests/utils.py
Due: mypy, custom-checks

remove deprecated load_yaml method
  cognite/client/data_classes/data_modeling/query.py
  tests/tests_unit/test_data_classes/test_data_models/test_queries.py
Due: mypy, custom-checks

next release v8, temp commit
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
  scripts/custom_checks/version.py
Due: mypy, custom-checks

fix
  cognite/client/_api/simulators/models.py
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/_api/simulators/routines.py
  cognite/client/data_classes/simulators/__init__.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/models.py
  cognite/client/data_classes/simulators/routines.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/test_routines.py
Due: mypy, custom-checks

feat: added service account data classes
  cognite/client/data_classes/iam.py
Due: mypy, custom-checks

feat: first pass of API
  cognite/client/_api/iam.py
  cognite/client/data_classes/iam.py
Due: mypy, custom-checks

fix: implemented update class
  cognite/client/_api/iam.py
  cognite/client/data_classes/iam.py
Due: mypy, custom-checks

feat: connect service account
  cognite/client/_api/iam.py
  cognite/client/testing.py
Due: mypy, custom-checks

tests: added full test
  tests/tests_integration/test_api/test_iam.py
Due: mypy

refactor; update service account secret
  cognite/client/data_classes/iam.py
Due: mypy, custom-checks

tests: updated tsets
  tests/tests_integration/test_api/test_iam.py
Due: mypy

refactor: update to use principal core class
  cognite/client/_api/iam.py
  cognite/client/data_classes/iam.py
Due: mypy, custom-checks

tests: updated test and fix principal ID
  cognite/client/data_classes/iam.py
  tests/tests_unit/test_testing.py
Due: mypy, custom-checks

tests: setup org
  tests/tests_integration/conftest.py
  tests/tests_integration/test_api/test_iam.py
Due: mypy

refactor; introduce OrgAPI
  cognite/client/_api/iam.py
  cognite/client/data_classes/iam.py
Due: mypy, custom-checks

refactor; update principal API
  cognite/client/_api/iam.py
  cognite/client/testing.py
Due: mypy, custom-checks

fix: base url
  cognite/client/_api/iam.py
  cognite/client/config.py
Due: mypy, custom-checks

refactor; mark org API as abc
  cognite/client/_api/iam.py
Due: mypy, custom-checks

tests: updated unit test
  tests/tests_unit/test_base.py
  tests/tests_unit/test_meta.py
Due: mypy

refactor: review feedback
  cognite/client/data_classes/iam.py
Due: mypy, custom-checks

build: first draft
  .github/workflows/cdf_auth.yaml
  pyproject.toml
  scripts/toolkit/cdf.toml
  scripts/toolkit/config.contributor.yaml
  scripts/toolkit/config.prod.yaml
  scripts/toolkit/modules/access/auth/readonly.Group.yaml
  scripts/toolkit/modules/access/auth/readwrite.Group.yaml
Due: none

build revert
  pyproject.toml
Due: none

build; project name
  scripts/toolkit/cdf.toml
  scripts/toolkit/config.prod.yaml
Due: none

build; changeog
  CONTRIBUTING.md
Due: none

docs: updated contributor docs
  CONTRIBUTING.md
Due: none

ci: test workflow
  .github/workflows/cdf_auth.yaml
Due: none

fix: syntax
  .github/workflows/cdf_auth.yaml
Due: none

ci: testing done
  .github/workflows/cdf_auth.yaml
Due: none

tests: updated tests
  tests/tests_unit/test_api_client.py
Due: mypy

fix 2 similar bugs
  cognite/client/_api/datapoints.py
  cognite/client/utils/_identifier.py
Due: mypy, custom-checks

add test
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

changelog & version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix randomly failing test
  tests/tests_unit/test_api_client.py
Due: mypy
