Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    tests/tests_unit/test_utils/test_time.py
  
    tests/tests_integration/test_api/test_datapoints.py
  
  ...

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

refactor: use MultiIndex in df.columns for dps dataframes
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_pandas_helpers.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

Filter: Add magic __eq__
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

refactor InstancesAPI.subscribe to async
  cognite/client/_api/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/sync.py
  cognite/client/utils/_data_modeling.py
Due: mypy, custom-checks

convert timed_cache to async, add tests
  cognite/client/_api/units.py
  cognite/client/exceptions.py
  cognite/client/utils/_async_helpers.py
  cognite/client/utils/_time.py
  tests/tests_unit/test_utils/test_async_helpers.py
  tests/tests_unit/test_utils/test_time.py
Due: mypy, custom-checks

update set_max_workers -> override_semaphore in tests/utils.py
  tests/utils.py
Due: mypy

improve robustness of workflow tests. change trigger to avoid spam
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

change scopes arg of OAuthClientCredentials to allow None
  cognite/client/credentials.py
  tests/tests_integration/conftest.py
  tests/tests_integration/test_api/test_transformations/test_jobs.py
  tests/tests_integration/test_api/test_transformations/test_notifications.py
  tests/tests_integration/test_api/test_transformations/test_schedules.py
  tests/tests_integration/test_api/test_transformations/test_transformations.py
Due: mypy, custom-checks

do a mypy pass on tests
  tests/tests_integration/conftest.py
  tests/tests_integration/test_api/test_data_modeling/test_data_models.py
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/tests_integration/test_api/test_data_modeling/test_views.py
  tests/tests_integration/test_api/test_data_sets.py
  tests/tests_integration/test_api/test_files.py
  tests/tests_integration/test_api/test_functions.py
  tests/tests_integration/test_api/test_organization.py
  tests/tests_integration/test_api/test_principals.py
  tests/tests_integration/test_api/test_raw.py
  tests/tests_integration/test_api/test_sequences_data.py
  tests/tests_integration/test_api/test_simulators/seed/resources.py
  tests/tests_integration/test_api/test_simulators/test_models.py
  tests/tests_integration/test_api/test_three_d.py
Due: mypy

make BasicAsyncAPIClient picklable
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

update datapoints->dataframe tests after MultiIndex columns change
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

update transformations tests (some used to be async even bef v8)
  tests/tests_integration/test_api/test_transformations/test_jobs.py
  tests/tests_integration/test_api/test_transformations/test_transformations.py
Due: mypy

avoid 'Task exception was never retrieved' in Datapoints API
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

Split query and sync classes
  cognite/client/_api/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

update to using override_semaphore in tests
  tests/tests_integration/test_api/test_assets.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

Update InstancesAPI.subscribe doc example to use -Sync classes
  docs/source/data_modeling.rst
Due: none

feat(documents): extend content methods to support external_id and instance_id
  cognite/client/_api/documents.py
Due: mypy, custom-checks

move Geometry from data_classes/_base to /shared.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/documents.py
  cognite/client/data_classes/filters.py
  cognite/client/data_classes/shared.py
  tests/utils.py
Due: mypy, custom-checks

mypy pass of unit tests (+ minor fixes)
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api/function_test_resources/function_with_annotated_handle_assignment/handler.py
  tests/tests_unit/test_api/function_test_resources/function_with_handle_assignment/handler.py
  tests/tests_unit/test_api/function_test_resources/function_with_handle_assignment_invalid_args/handler.py
  tests/tests_unit/test_api/test_agents_actions.py
  tests/tests_unit/test_api/test_data_modeling/test_instances.py
  tests/tests_unit/test_api/test_data_sets.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_diagrams.py
  tests/tests_unit/test_api/test_events.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_api/test_labels.py
  tests/tests_unit/test_api/test_raw.py
  tests/tests_unit/test_api/test_relationships.py
  tests/tests_unit/test_api/test_vision_extract.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_credential_providers.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_data_classes/test_datapoints.py
  tests/tests_unit/test_data_classes/test_filters.py
  tests/tests_unit/test_data_classes/test_functions.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/tests_unit/test_data_classes/test_vision.py
  tests/tests_unit/test_docstring_examples.py
  tests/tests_unit/test_meta.py
  tests/tests_unit/test_utils/test_async_helpers.py
  tests/tests_unit/test_utils/test_time.py
Due: mypy

turn on pickle-client-test and add one for AsyncCogniteClient
  tests/tests_integration/test_cognite_client.py
Due: mypy

remove no longer needed err handling of 'response.http_version'
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

final tests fixups
  tests/tests_integration/test_api/test_simulators/test_integrations.py
  tests/tests_integration/test_api/test_workflows.py
  tests/tests_unit/test_api/test_simulators/test_integrations.py
  tests/tests_unit/test_api/test_simulators/test_routine_revisions.py
  tests/tests_unit/test_api/test_simulators/test_routines.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/utils.py
Due: mypy

remove 'Cannot chain result sets...' check in instances/subscribe
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

Add dunder str and repr-html to GlobalConfig
  cognite/client/config.py
Due: mypy, custom-checks

final mypy pass of fixes
  cognite/client/__init__.py
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_api/datapoints.py
  cognite/client/_api/org_apis/principals.py
  cognite/client/_api/raw/tables.py
  cognite/client/_api/sequence_data.py
  cognite/client/_api/synthetic_time_series.py
  cognite/client/_api/transformations/__init__.py
  cognite/client/_basic_api_client.py
  cognite/client/_constants.py
  cognite/client/data_classes/data_modeling/query.py
  cognite/client/data_classes/datapoints.py
  cognite/client/data_classes/files.py
  cognite/client/data_classes/filters.py
  cognite/client/data_classes/functions.py
  cognite/client/data_classes/hosted_extractors/sources.py
  cognite/client/data_classes/raw.py
  cognite/client/data_classes/workflows.py
  tests/conftest.py
  tests/tests_integration/test_api/test_data_sets.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_integration/test_api/test_events.py
  tests/tests_integration/test_api/test_geospatial.py
  tests/tests_integration/test_api/test_labels.py
  tests/tests_integration/test_api/test_principals.py
  tests/tests_integration/test_api/test_sequences.py
  tests/tests_integration/test_api/test_sequences_data.py
  tests/tests_integration/test_api/test_synthetic_time_series.py
  tests/tests_integration/test_api/test_time_series.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_data_classes/test_vision.py
Due: mypy, custom-checks

perf: short circuit in util fn: at_least_one_is_not_none
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

always keep time series identifier in dataframe columns
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

remove upper bound on pre-commit. run autoupdate
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

use response header to evaluate is_auto_retryable (not .json())
  cognite/client/_http_client.py
Due: mypy, custom-checks

add section on 'Automatic Code Generation' to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

refactor filters to impl _load on subclasses
  cognite/client/data_classes/filters.py
  tests/utils.py
Due: mypy, custom-checks

clean up AggregatedValue in data_classes/aggregations.py
  cognite/client/data_classes/aggregations.py
Due: mypy, custom-checks

bump version to 8.0.0a1
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

rename default_for_azure_ad to default_for_entra_id
  cognite/client/_cognite_client.py
  cognite/client/_sync_cognite_client.py
  cognite/client/credentials.py
  scripts/sync_client_codegen/sync_client_template.txt
Due: mypy, custom-checks

prepare codegen (sync api/client) for pre-commit/CI
  scripts/sync_client_codegen/codegen_utils.py
  scripts/sync_client_codegen/constants.py
  scripts/sync_client_codegen/create_sync_api.py
  scripts/sync_client_codegen/create_sync_client.py
  scripts/sync_client_codegen/main.py
  scripts/sync_client_codegen/sync_api_template.txt
  scripts/sync_client_codegen/sync_client_template.txt
Due: mypy

handle UnicodeEncodeError from strict httpx ascii-only header req
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

verify all codegen files in new CI check (.github/workflows/build.yml)
  .github/workflows/build.yml
Due: none

update MIGRATION_GUIDE.md for v7 -> v8
  MIGRATION_GUIDE.md
Due: none

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
