Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite 
          
          tests/tests_unit/test_data_classes
          tests/tests_unit/test_utils
          tests/tests_unit/test_api_client.py
          tests/tests_unit/test_base.py
          tests/tests_unit/test_cognite_client.py
          tests/tests_unit/test_config.py
          tests/tests_unit/test_credential_providers.py
          tests/tests_unit/test_docstring_examples.py
          tests/tests_unit/test_exceptions.py
          
          tests/tests_unit/test_api/test_assets.py
          tests/tests_unit/test_api/test_events.py
          tests/tests_unit/test_api/test_datapoints.py
          tests/tests_unit/test_api/test_data_sets.py
          tests/tests_unit/test_api/test_geospatial.py
          tests/tests_unit/test_api/test_raw.py
          tests/tests_unit/test_api/test_time_series.py
          tests/tests_unit/test_api/test_3d.py
          tests/tests_unit/test_api/test_vision_extract.py
          tests/tests_unit/test_api/test_transformations.py
          
          tests/tests_integration/test_api/test_data_modeling
          tests/tests_integration/test_api/test_datapoints.py
          tests/tests_integration/test_api/test_assets.py
          tests/tests_integration/test_api/test_events.py
          tests/tests_integration/test_api/test_workflows.py
          tests/tests_integration/test_api/test_raw.py
          tests/tests_integration/test_api/test_transformations

          tests/tests_integration/test_api/test_simulators
          tests/tests_integration/test_api/test_principals.py
          tests/tests_unit/test_api/test_simulators
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.8.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

add test test_every_declaration_is_visible_from_the_package_root
  tests/tests_unit/test_meta.py
Due: mypy

self review, clean up some test comments & logic
  tests/tests_unit/test_utils/test_redaction.py
Due: mypy

remove unnecessary comment
  cognite/client/data_classes/hosted_extractors/sources.py
Due: mypy, custom-checks

feat(state time series): add retrieve support for simple state aggregate datapoints (DM-4096) (#2839)
  cognite/client/_api/datapoint_tasks.py
  cognite/client/data_classes/datapoint_aggregates.py
  cognite/client/utils/_pandas_helpers.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

fix(logging): Stop exposing credentials in debug logs and `str()` of data classes (DM-4118, VULN-112) (#2842)
  .gemini/styleguide.md
  cognite/client/_basic_api_client.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/functions.py
  cognite/client/data_classes/hosted_extractors/destinations.py
  cognite/client/data_classes/hosted_extractors/sources.py
  cognite/client/data_classes/iam.py
  cognite/client/data_classes/postgres_gateway/users.py
  cognite/client/data_classes/transformations/common.py
  cognite/client/data_classes/transformations/externaldata.py
  cognite/client/utils/_redaction.py
  docs/source/settings.rst
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_meta.py
  tests/tests_unit/test_utils/test_redaction.py
Due: mypy, custom-checks

chore(master): release 8.17.0
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

chore(master): release 8.17.0 (#2836)
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

feat(integrations): Add Integration/Extractor/Task data classes
  cognite/client/data_classes/integrations/__init__.py
  cognite/client/data_classes/integrations/integrations.py
  tests/tests_unit/test_data_classes/test_integrations.py
Due: mypy, custom-checks

fix(odin): Removed unnecessary hash function
  cognite/client/data_classes/integrations/integrations.py
Due: mypy, custom-checks

refactor(integrations): Remove redundant as_write docstring
  cognite/client/data_classes/integrations/integrations.py
Due: mypy, custom-checks

test(integrations): Trim redundant dump-equality check from Integration test
  tests/tests_unit/test_data_classes/test_integrations.py
Due: mypy

feat(datapoints): add timestamp_ms property to LatestDatapoint
  cognite/client/data_classes/datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
Due: mypy, custom-checks

add docstring example to retrieve_latest, drop many outdated id=1 refs
  cognite/client/_api/datapoints.py
  cognite/client/_sync_api/datapoints.py
Due: mypy, custom-checks

chore(integrations): Add Integration/Extractor/Task data classes (#2826)
  cognite/client/data_classes/integrations/__init__.py
  cognite/client/data_classes/integrations/integrations.py
  tests/tests_unit/test_data_classes/test_integrations.py
Due: mypy, custom-checks

feat(integrations): Add Integrations core CRUD (list/create/retrieve/update/delete)
  cognite/client/_api/integrations/__init__.py
  cognite/client/_basic_api_client.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/integrations/__init__.py
  cognite/client/_sync_cognite_client.py
  cognite/client/testing.py
  cognite/client/utils/_url.py
  tests/tests_unit/test_api/test_integrations/__init__.py
  tests/tests_unit/test_api/test_integrations/test_integrations.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

feat(integrations): Add Integration Tasks sub-resource
  cognite/client/_api/integrations/__init__.py
  cognite/client/_api/integrations/tasks.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/integrations/__init__.py
  cognite/client/_sync_api/integrations/tasks.py
  cognite/client/data_classes/integrations/__init__.py
  cognite/client/data_classes/integrations/tasks.py
  cognite/client/testing.py
  tests/tests_unit/test_api/test_integrations/test_tasks.py
  tests/tests_unit/test_data_classes/test_integrations.py
Due: mypy, custom-checks

feat(integrations): Add Integration Config sub-resource
  cognite/client/_api/integrations/__init__.py
  cognite/client/_api/integrations/config.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/integrations/__init__.py
  cognite/client/_sync_api/integrations/config.py
  cognite/client/data_classes/integrations/__init__.py
  cognite/client/data_classes/integrations/config.py
  cognite/client/testing.py
  cognite/client/utils/_url.py
  tests/tests_unit/test_api/test_integrations/test_config.py
  tests/tests_unit/test_data_classes/test_integrations.py
Due: mypy, custom-checks

feat(integrations): Add Integration Errors sub-resource
  cognite/client/_api/integrations/__init__.py
  cognite/client/_api/integrations/errors.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/integrations/__init__.py
  cognite/client/_sync_api/integrations/errors.py
  cognite/client/data_classes/integrations/__init__.py
  cognite/client/data_classes/integrations/errors.py
  cognite/client/testing.py
  tests/tests_unit/test_api/test_integrations/test_errors.py
Due: mypy, custom-checks

feat(integrations): Add startup/checkin endpoints + tooling fixes
  .pre-commit-config.yaml
  cognite/client/_api/integrations/__init__.py
  cognite/client/_sync_api/integrations/__init__.py
  cognite/client/data_classes/integrations/__init__.py
  cognite/client/data_classes/integrations/checkin.py
  cognite/client/utils/_url.py
  tests/tests_unit/test_api/test_integrations/test_integrations.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_data_classes/test_integrations.py
Due: mypy, custom-checks

feat(integrations): Add Integration Actions sub-resource
  cognite/client/_api/integrations/__init__.py
  cognite/client/_api/integrations/actions.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/integrations/__init__.py
  cognite/client/_sync_api/integrations/actions.py
  cognite/client/data_classes/integrations/__init__.py
  cognite/client/data_classes/integrations/actions.py
  cognite/client/testing.py
  cognite/client/utils/_url.py
  tests/tests_unit/test_api/test_integrations/test_actions.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_data_classes/test_integrations.py
Due: mypy, custom-checks

feat(datapoints): add timestamp_ms property to LatestDatapoint (#2843)
  cognite/client/_api/datapoints.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/data_classes/datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
Due: mypy, custom-checks

fix(tests): update expected error message in test_search_node_data_with_invalid_property
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

fix(tests): update expected error message in test_search_node_data_with_invalid_property (#2846)
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

fix(credentials): Store OAuth token cache securely instead of a predictable shared temp path
  cognite/client/credentials.py
  cognite/client/utils/_token_cache.py
  tests/tests_unit/test_credential_providers.py
  tests/tests_unit/test_utils/test_token_cache.py
Due: mypy, custom-checks

fix(credentials): address review feedback on token cache hardening
  cognite/client/utils/_token_cache.py
  tests/tests_unit/test_utils/test_token_cache.py
Due: mypy, custom-checks

fix(credentials): address remaining review feedback on token cache
  cognite/client/utils/_token_cache.py
  tests/tests_unit/test_utils/test_token_cache.py
Due: mypy, custom-checks

extend test_redaction.py header tests
  tests/tests_unit/test_utils/test_redaction.py
Due: mypy

add a safety .strip() for the allowlist exact match
  cognite/client/utils/_redaction.py
Due: mypy, custom-checks

Update "HTTP Request logging" docs section
  docs/source/settings.rst
Due: none

redact headers in _log_successful_request for response
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

add broad SENSITIVE_HEADER_REGEX + allowlist
  cognite/client/utils/_redaction.py
Due: mypy, custom-checks

redact custom credential headers from debug logs (DM-4117, VULN-113)
  cognite/client/config.py
Due: mypy, custom-checks

add test for custom header redaction on success and failure
  tests/tests_unit/test_api_client.py
Due: mypy

add test test_str_and_repr_html_redact_credential_headers
  tests/tests_unit/test_config.py
Due: mypy

extend regex to catch more header names
  cognite/client/utils/_redaction.py
  tests/tests_unit/test_utils/test_redaction.py
Due: mypy, custom-checks

mark test dsl
  tests/tests_unit/test_config.py
Due: mypy

fix(odin): Fix lint issues
  tests/tests_unit/test_api/test_integrations/test_integrations.py
Due: mypy

fix(credentials): Store OAuth token cache securely instead of a predictable shared temp path (#2845)
  cognite/client/credentials.py
  cognite/client/utils/_token_cache.py
  tests/tests_unit/test_credential_providers.py
  tests/tests_unit/test_utils/test_token_cache.py
Due: mypy, custom-checks

update tests/tests_unit/test_data_classes/test_datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy

add extensive test for test_retrieve_arrays_state_datapoints_and_pandas_conversion
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy
