Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  ...

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

Fix sphinx links
  cognite/client/_api/limits.py
  cognite/client/_api/metering.py
  cognite/client/_sync_api/limits.py
  cognite/client/_sync_api/metering.py
Due: mypy, custom-checks

add helper class StateSetEntry to cover state_set property (list[json])
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/data_types.py
Due: mypy, custom-checks

add tests for StateSetEntry class
  tests/tests_unit/test_data_classes/test_data_models/test_data_types.py
Due: mypy

add classes CogniteStateSet and -Apply to cdm/v1.py
  cognite/client/data_classes/data_modeling/cdm/v1.py
Due: mypy, custom-checks

add tests for CogniteStateSet(Apply)
  tests/tests_unit/test_data_classes/test_data_models/test_cdm/test_v1.py
Due: mypy

add state_set to CogniteTimeSeries(-Apply) and add 'state' as valid time_series_type
  cognite/client/data_classes/data_modeling/cdm/v1.py
Due: mypy, custom-checks

add docstr for convert_timestamp_columns_to_datetime
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

use to_pandas_timestamp in GroupList.to_pandas
  cognite/client/data_classes/iam.py
Due: mypy, custom-checks

make an array version of to_pandas_timestamp
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

refactor usage of pd.to_datetime(..).as_unit(..)
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

add test to catch future Timstamp/to_datetime (pandas calls)
  tests/tests_unit/test_utils/test_pandas_helpers.py
Due: mypy

fix(pandas): Support pandas v3 timestamp semantics while preserving v2 behavior (DM-3534) (#2780)
  MIGRATION_GUIDE.md
  cognite/client/_api/datapoints.py
  cognite/client/_api/raw/rows.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/_sync_api/raw/rows.py
  cognite/client/data_classes/datapoints.py
  cognite/client/data_classes/iam.py
  cognite/client/utils/_pandas_helpers.py
  poetry.lock
  pyproject.toml
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_raw.py
  tests/tests_unit/test_api/test_sequences.py
  tests/tests_unit/test_api/test_time_series.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_data_classes/test_data_models/test_typed_instances.py
  tests/tests_unit/test_data_classes/test_datapoints.py
  tests/tests_unit/test_data_classes/test_groups.py
  tests/tests_unit/test_utils/test_pandas_helpers.py
  tests/utils.py
Due: mypy, custom-checks

chore(master): release 8.14.0
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

chore(master): release 8.14.0 (#2772)
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

docs: add missing hosted extractor data classes. fix /list filters for Limits- & Metering APIs (#2784)
  cognite/client/_api/limits.py
  cognite/client/_api/metering.py
  cognite/client/_sync_api/limits.py
  cognite/client/_sync_api/metering.py
  docs/source/hosted_extractors.rst
Due: mypy, custom-checks

chore: fix deprected use of pytest
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
  tests/tests_unit/test_data_classes/test_functions.py
  tests/tests_unit/test_data_classes/test_workflows.py
  tests/tests_unit/test_utils/test_validation.py
Due: mypy

feat(CDM): CogniteStateSet to cdm/v1.py + StateSetEntry helper class (DM-4075) (#2785)
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/cdm/v1.py
  cognite/client/data_classes/data_modeling/data_types.py
  tests/tests_unit/test_data_classes/test_data_models/test_cdm/test_v1.py
  tests/tests_unit/test_data_classes/test_data_models/test_data_types.py
Due: mypy, custom-checks

chore: fix deprecated use of pytest (#2786)
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
  tests/tests_unit/test_data_classes/test_functions.py
  tests/tests_unit/test_data_classes/test_workflows.py
  tests/tests_unit/test_utils/test_validation.py
Due: mypy

Make debug notice tests tolerate extra notices
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

chore(tests): Make debug notice tests tolerate extra notices (#2789)
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

add test for "content+json passed" errors
  tests/tests_unit/test_api_client.py
Due: mypy

raise if both content and json is passed
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

add param 'content' to BasicAsyncAPIClient._post
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

DRAFT
  cognite/client/_api/datapoints.py
  cognite/client/_api/datapoints_io.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/datapoints.py
  docs/source/headings.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy, custom-checks

feat(record-views): use GA API
  cognite/client/_api/data_modeling/views.py
  cognite/client/_sync_api/data_modeling/views.py
  tests/tests_unit/test_api/test_data_modeling/test_views.py
Due: mypy, custom-checks

chore: Support `content` parameter in `BasicAPIClient._post` method (#2788)
  cognite/client/_basic_api_client.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

add unit tests
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy

add StateDatapointWrite and StateDatapointsInsert
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

support snake_case for all insert-related dataclasses (load)
  cognite/client/data_classes/datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy, custom-checks

fix(transformations): external data sources endpoint is create-only, not upsert
  cognite/client/_api/transformations/externaldata.py
  cognite/client/_sync_api/transformations/externaldata.py
  cognite/client/data_classes/transformations/externaldata.py
  docs/source/transformations_external_data_sources.rst
  tests/tests_integration/test_api/test_transformations/test_externaldata.py
  tests/tests_unit/test_api/test_transformations_external_data.py
Due: mypy, custom-checks

fix(transformations): external data sources endpoint is create-only, not upsert (#2799)
  cognite/client/_api/transformations/externaldata.py
  cognite/client/_sync_api/transformations/externaldata.py
  cognite/client/data_classes/transformations/externaldata.py
  docs/source/transformations_external_data_sources.rst
  tests/tests_integration/test_api/test_transformations/test_externaldata.py
  tests/tests_unit/test_api/test_transformations_external_data.py
Due: mypy, custom-checks

chore: Add write data classes for state time series datapoints (DM-4078) (#2794)
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy, custom-checks

move pytest coredeps logic into separate func
  tests/conftest.py
Due: mypy

upgrade pytest to v9
  poetry.lock
  pyproject.toml
Due: none

shuffle test modules in CI to smear out bursty traffic
  tests/conftest.py
Due: mypy

fix typos
  tests/conftest.py
Due: mypy

ci: Randomize test module ordering in CI (#2800)
  poetry.lock
  pyproject.toml
  tests/conftest.py
Due: mypy

add unit tests for StateDatapointsPoster
  tests/tests_unit/test_api/test_datapoints.py
Due: mypy

Add class StateDatapointsPoster using protobuf
  cognite/client/_api/datapoints_io.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
