Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite 
          
          tests/tests_unit/test_data_classes
          tests/tests_unit/test_utils
          tests/tests_unit/test_api_client.py
          tests/tests_unit/test_base.py
          tests/tests_unit/test_cognite_client.py
          tests/tests_unit/test_config.py
          tests/tests_unit/test_credential_providers.py
          tests/tests_unit/test_docstring_examples.py
          tests/tests_unit/test_exceptions.py
          
          tests/tests_unit/test_api/test_assets.py
          tests/tests_unit/test_api/test_events.py
          tests/tests_unit/test_api/test_datapoints.py
          tests/tests_unit/test_api/test_data_sets.py
          tests/tests_unit/test_api/test_geospatial.py
          tests/tests_unit/test_api/test_raw.py
          tests/tests_unit/test_api/test_time_series.py
          tests/tests_unit/test_api/test_3d.py
          tests/tests_unit/test_api/test_vision_extract.py
          tests/tests_unit/test_api/test_transformations.py
          
          tests/tests_integration/test_api/test_data_modeling
          tests/tests_integration/test_api/test_datapoints.py
          tests/tests_integration/test_api/test_assets.py
          tests/tests_integration/test_api/test_events.py
          tests/tests_integration/test_api/test_workflows.py
          tests/tests_integration/test_api/test_raw.py
          tests/tests_integration/test_api/test_transformations

          tests/tests_integration/test_api/test_simulators
          tests/tests_integration/test_api/test_principals.py
          tests/tests_unit/test_api/test_simulators
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.8.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

fix issue with nest_asyncio pkg in 3.14 by removing it entirely
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

delete old v8 release workflow release-pypi-v8.yaml
  .github/workflows/release-pypi-v8.yaml
Due: none

re-enable release workflow on merges to master
  .github/workflows/release.yaml
Due: none

chore: re-enable release pipeline for master (#2561)
  .github/workflows/release-pypi-v8.yaml
  .github/workflows/release.yaml
Due: none

fix: use per-event-loop httpx client to avoid cross-loop connection sharing
  cognite/client/_http_client.py
Due: mypy, custom-checks

test: add sync/async client interoperability integration tests
  tests/tests_integration/test_api/test_event_loop_interop.py
Due: mypy

test: add Jupyter kernel interoperability integration tests
  mypy.ini
  poetry.lock
  pyproject.toml
  tests/tests_integration/test_api/test_jupyter_interop.py
Due: mypy

fix: use per-event-loop semaphore cache to avoid cross-loop binding
  cognite/client/utils/_concurrency.py
  tests/utils.py
Due: mypy, custom-checks

fix: handle missing event loop in get_global_async_httpx_client
  cognite/client/_http_client.py
Due: mypy, custom-checks

deprecate: global_config.event_loop setting
  cognite/client/config.py
Due: mypy, custom-checks

Fix mypy
  cognite/client/_sync_api/datapoints_subscriptions.py
  cognite/client/_sync_api/geospatial.py
Due: mypy, custom-checks

Add test
  tests/tests_unit/test_cognite_client.py
Due: mypy

fix a few tests
  cognite/client/_http_client.py
  cognite/client/utils/_concurrency.py
  tests/tests_integration/test_api_client.py
  tests/tests_unit/test_cognite_client.py
  tests/utils.py
Due: mypy, custom-checks

remove event_loop from global_config (breaking change, but misfunctionla so should be ok)
  cognite/client/config.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

update docs with section on "Custom event loop"
  CHANGELOG.md
  MIGRATION_GUIDE.md
  cognite/client/config.py
  cognite/client/utils/_concurrency.py
  docs/source/settings.rst
Due: mypy, custom-checks

fix: runtime issue in notebooks when using python 3.14 (DM-3678) (#2560)
  CHANGELOG.md
  MIGRATION_GUIDE.md
  cognite/client/_http_client.py
  cognite/client/config.py
  cognite/client/utils/_concurrency.py
  docs/source/settings.rst
  mypy.ini
  poetry.lock
  pyproject.toml
  tests/tests_integration/test_api/test_event_loop_interop.py
  tests/tests_integration/test_api/test_jupyter_interop.py
  tests/tests_integration/test_api_client.py
  tests/tests_unit/test_cognite_client.py
  tests/utils.py
Due: mypy, custom-checks

chore(master): release cognite-sdk-python 8.0.7
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

chore(master): release cognite-sdk-python 8.0.7 (#2564)
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

test: cover include_llm_prompt in debug integration tests
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

feat: add include_llm_prompt to DebugParameters and DebugInfo
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_sync_api/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/debug.py
Due: mypy, custom-checks

also explain the profile option in examples
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_sync_api/data_modeling/instances.py
Due: mypy, custom-checks

Use multipartupload for upload() of file or directory, supporting >5 GiB files in all CDF cloud environments
  cognite/client/_api/files.py
  cognite/client/_constants.py
  cognite/client/_sync_api/files.py
  tests/tests_unit/test_api/test_files.py
Due: mypy, custom-checks

Fix docstring
  cognite/client/_api/files.py
  cognite/client/_sync_api/files.py
Due: mypy, custom-checks

Add check for max file size
  cognite/client/_api/files.py
  cognite/client/_sync_api/files.py
Due: mypy, custom-checks

Enhance multipart upload handling by introducing AsyncFileChunker and improving file size detection for AsyncIterable
  cognite/client/_api/files.py
  cognite/client/_sync_api/files.py
  cognite/client/utils/_uploading.py
Due: mypy, custom-checks

Move semaphore to above directory iteration to ensure correct handling of concurrent uploads
  cognite/client/_api/files.py
  cognite/client/_sync_api/files.py
Due: mypy, custom-checks

Fix return type in test_files.py functions
  tests/tests_unit/test_api/test_files.py
Due: mypy

Test for file exceeding max size
  tests/tests_unit/test_api/test_files.py
Due: mypy

Enhance multipart upload to support AsyncIterator for content in upload_part_async method
  cognite/client/_api/files.py
  cognite/client/_sync_api/files.py
  cognite/client/data_classes/files.py
Due: mypy, custom-checks

Use multipart upload in upload_content() to support large CogniteFile upload
  cognite/client/_api/files.py
  cognite/client/_sync_api/files.py
Due: mypy, custom-checks

Update docstring
  cognite/client/_api/files.py
  cognite/client/_sync_api/files.py
Due: mypy, custom-checks

add streams api
  cognite/client/_api/data_modeling/__init__.py
  cognite/client/_api/data_modeling/streams.py
  cognite/client/_sync_api/data_modeling/__init__.py
  cognite/client/_sync_api/data_modeling/streams.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/streams.py
  cognite/client/testing.py
  cognite/client/utils/_url.py
  tests/tests_unit/test_api/test_data_modeling/test_streams.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_data_classes/test_data_models/test_streams.py
Due: mypy, custom-checks

cleanup
  cognite/client/_api/data_modeling/__init__.py
  cognite/client/_api/data_modeling/streams.py
  cognite/client/_sync_api/data_modeling/__init__.py
  cognite/client/_sync_api/data_modeling/streams.py
  cognite/client/data_classes/data_modeling/streams.py
  cognite/client/testing.py
  tests/tests_unit/test_api/test_data_modeling/test_streams.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

use correct client property during testing
  tests/tests_unit/test_api/test_data_modeling/test_streams.py
Due: mypy

fix sync import
  cognite/client/testing.py
Due: mypy, custom-checks

fix sync mock client
  cognite/client/testing.py
Due: mypy, custom-checks

remove incorrect streams attribute
  cognite/client/testing.py
Due: mypy, custom-checks

make resource writeable
  cognite/client/data_classes/data_modeling/streams.py
Due: mypy, custom-checks

PR feedback: Move global_config import to top of file.
  cognite/client/_api/files.py
  cognite/client/_sync_api/files.py
Due: mypy, custom-checks
