Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

feat: adding load method to CogniteClient, GlobalConfig, ClientConfig, and CredentialProviders (#1859)
  .github/workflows/build.yml
  .github/workflows/release.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  cognite/client/_api/raw.py
  cognite/client/_cognite_client.py
  cognite/client/_version.py
  cognite/client/config.py
  cognite/client/credentials.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/datapoints.py
  cognite/client/data_classes/workflows.py
  cognite/client/utils/_auxiliary.py
  docs/source/cognite_client.rst
  docs/source/conf.py
  docs/source/conftest.py
  docs/source/quickstart.rst
  pyproject.toml
  pytest.ini
  tests/tests_unit/conftest.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_config.py
  tests/tests_unit/test_credential_providers.py
  tests/tests_unit/test_docstring_examples.py
  tests/tests_unit/test_utils/test_auxiliary.py
Due: mypy, custom-checks

Update CHANGELOG.md
  CHANGELOG.md
Due: none

[CDF-22368] Allow Subworkflow references (#1902)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/workflows.py
  pyproject.toml
Due: mypy, custom-checks

docs: include CredentialProviders class in docs
  docs/source/credential_providers.rst
Due: none

make keys stand out in docs as code
  cognite/client/credentials.py
Due: mypy, custom-checks

docs: include CredentialProviders class in docs (#1904)
  cognite/client/credentials.py
  docs/source/credential_providers.rst
Due: mypy, custom-checks

refactor: added method for debuging token
  cognite/client/credentials.py
Due: mypy, custom-checks

refactor: better solution to Update object
  cognite/client/_api/annotations.py
  cognite/client/_api/hosted_extractors/sources.py
  cognite/client/_api_client.py
  cognite/client/data_classes/_base.py
Due: mypy, custom-checks

fix: moved to correct location
  cognite/client/_api/hosted_extractors/sources.py
Due: mypy, custom-checks

allow None for workflowExecutionId in WorkflowTriggerRun (#1903)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/workflows.py
  pyproject.toml
Due: mypy, custom-checks

fix: introducde bug
  cognite/client/_api/hosted_extractors/sources.py
Due: mypy, custom-checks

fix: stuff
  tests/tests_integration/test_api/test_hosted_extractors/test_sources.py
Due: mypy

tests: fix
  tests/tests_integration/test_api/test_hosted_extractors/test_sources.py
Due: mypy

build: bump
  cognite/client/_version.py
  pyproject.toml
  tests/tests_integration/test_api/test_hosted_extractors/test_sources.py
Due: mypy, custom-checks

[CDF-22379] Hosted Extractors: Source (#1893)
  CHANGELOG.md
  cognite/client/_api/hosted_extractors/__init__.py
  cognite/client/_api/hosted_extractors/sources.py
  cognite/client/_api_client.py
  cognite/client/_cognite_client.py
  cognite/client/_version.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/datapoints_subscriptions.py
  cognite/client/data_classes/hosted_extractors/__init__.py
  cognite/client/data_classes/hosted_extractors/sources.py
  cognite/client/testing.py
  docs/source/hosted_extractors.rst
  docs/source/index.rst
  pyproject.toml
  scripts/add_capability.py
  tests/tests_integration/test_api/test_hosted_extractors/__init__.py
  tests/tests_integration/test_api/test_hosted_extractors/test_sources.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_meta.py
Due: mypy, custom-checks

fix: query optional
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

build: bump
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Query optional in instance.search (#1905)
  CHANGELOG.md
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix: handle missing value
  cognite/client/data_classes/data_modeling/typed_instances.py
  cognite/client/utils/_time.py
  tests/tests_unit/test_utils/test_time.py
Due: mypy, custom-checks

refactor; moved out conversion to utils
  cognite/client/data_classes/data_modeling/typed_instances.py
  cognite/client/utils/_time.py
Due: mypy, custom-checks

build; changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

style: type hints
  tests/tests_unit/test_utils/test_time.py
Due: mypy

tests: remove unnecessary
  tests/tests_unit/test_utils/test_time.py
Due: mypy

Ãrefactor: update
  cognite/client/data_classes/data_modeling/typed_instances.py
  cognite/client/utils/_time.py
  tests/tests_unit/test_utils/test_time.py
Due: mypy, custom-checks

build: changelog
  CHANGELOG.md
Due: none

refactor: revert back
  cognite/client/data_classes/data_modeling/typed_instances.py
  cognite/client/utils/_time.py
  tests/tests_unit/test_utils/test_time.py
Due: mypy, custom-checks

Bug datetime parsing (#1906)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/data_modeling/typed_instances.py
  cognite/client/utils/_time.py
  pyproject.toml
  tests/tests_unit/test_utils/test_time.py
Due: mypy, custom-checks

Ãrefactor; updated core
  cognite/client/data_classes/data_modeling/cdm/v1.py
Due: mypy, custom-checks

Core ReadOnly Properties (#1909)
  cognite/client/data_classes/data_modeling/cdm/v1.py
Due: mypy, custom-checks

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

add tests
  cognite/client/data_classes/filters.py
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
Due: mypy, custom-checks

fdm filters should accept list of objects
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

add note to changelog on removed read-only assets props
  CHANGELOG.md
Due: none

add support for fdm filters that accepts list of objects (#1908)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/filters.py
  pyproject.toml
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
Due: mypy, custom-checks

override methods inherited from Instance in Typed[Node/Edge]
  cognite/client/data_classes/data_modeling/typed_instances.py
Due: mypy, custom-checks

add tests
  cognite/client/data_classes/data_modeling/typed_instances.py
  tests/tests_unit/test_data_classes/test_data_models/test_typed_instances.py
Due: mypy, custom-checks

override methods inherited from Instance in Typed[Node/Edge] (#1910)
  cognite/client/data_classes/data_modeling/typed_instances.py
  tests/tests_unit/test_data_classes/test_data_models/test_typed_instances.py
Due: mypy, custom-checks

docs: switch quickstart note to warning
  docs/source/quickstart.rst
Due: none
