Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: poetry run dmypy run -- cognite tests
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

added task output classes
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

make model revision get_data consistent
  cognite/client/data_classes/simulators/models.py
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy, custom-checks

feat: Support agentExternalId in agent chat
  cognite/client/_api/agents/agents.py
  cognite/client/data_classes/agents/chat.py
  tests/tests_unit/test_api/test_agents_chat.py
Due: mypy, custom-checks

Refactor: Use agentExternalId for agent chat API calls
  cognite/client/_api/agents/agents.py
  cognite/client/data_classes/agents/agents.py
  cognite/client/data_classes/agents/chat.py
  docs/source/agents.rst
  tests/tests_unit/test_api/test_agents_chat.py
Due: mypy, custom-checks

Housekeeping
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

Updated tests
  tests/tests_integration/test_api/test_agents.py
Due: mypy

Updated tests again
  tests/tests_unit/test_api/test_agents.py
Due: mypy

Update cognite/client/data_classes/workflows.py
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

Docstring and snake_case
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

following suggestions
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

fix: use correct Docker image name format to prevent Renovate from updating tk
  renovate.json
Due: none

Docstring
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

scope fixtures to session
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

fix(datapoints): fix rare bug when instance ID time series would report as missing in datapoints queries
  cognite/client/_api/datapoints.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

remove function import_as_completed
  cognite/client/_api/assets.py
  cognite/client/_api/datapoints.py
  cognite/client/utils/_importing.py
Due: mypy, custom-checks

drop pytest-asyncio in favor of anyio (used by httpx, so non-optional)
  poetry.lock
  pyproject.toml
  pytest.ini
Due: none

convert AssetsAPI.create_hierarchy to async
  cognite/client/_api/assets.py
  tests/tests_integration/test_api/test_assets.py
Due: mypy, custom-checks

improve ergonomics of AsyncSDKTask with __getitem__
  cognite/client/_api/datapoints.py
  cognite/client/_api/files.py
  cognite/client/_api/raw.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

fix: filters now accept DirectRelationReference as instance identifier (#2334)
  cognite/client/data_classes/filters.py
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy, custom-checks

remove retrieve_dataframe_in_tz (timezone now support in API)
  cognite/client/_api/datapoint_tasks.py
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/__init__.py
  cognite/client/utils/_pandas_helpers.py
  cognite/client/utils/_time.py
  docs/source/time_series.rst
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
  tests/tests_unit/test_utils/test_time.py
  tests/utils.py
Due: mypy, custom-checks

change datapoints fetch code to async 😓
  cognite/client/_api/datapoint_tasks.py
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

fix CogniteNotFoundError missing cluster and project
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

chore(master): release 7.86.0
  CHANGELOG.md
  pyproject.toml
Due: none

fix async: CogniteProjectAccessError._attempt_to_get_projects
  cognite/client/_basic_api_client.py
  cognite/client/exceptions.py
  cognite/client/utils/_importing.py
Due: mypy, custom-checks

chore: Update renovate.json (#2340)
  renovate.json
Due: none

update raw rows iter method to async
  cognite/client/_api/raw.py
Due: mypy, custom-checks

fix(simulators): make SimulatorModelRevision.get_data() return single item for consistency (#2346)
  cognite/client/data_classes/simulators/models.py
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy, custom-checks

Update cognite/client/_api/datapoints.py
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

lint
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

update auto generated protobuf files
  cognite/client/_proto/data_point_insertion_request_pb2.py
  cognite/client/_proto/data_point_insertion_request_pb2.pyi
  cognite/client/_proto/data_point_list_response_pb2.py
  cognite/client/_proto/data_point_list_response_pb2.pyi
  cognite/client/_proto/data_points_pb2.py
  cognite/client/_proto/data_points_pb2.pyi
Due: mypy, custom-checks

fix(datapoints): fix rare bug when instance ID time series would repo… (#2348)
  cognite/client/_api/datapoints.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

fix(agents): replace agentId with agentExternalId in chat API
  cognite/client/_api/agents/agents.py
  cognite/client/data_classes/agents/chat.py
  tests/tests_integration/test_api/test_agents.py
  tests/tests_unit/test_api/test_agents_chat.py
Due: mypy, custom-checks

feat(agents): add support for client-side actions in agent chat
  cognite/client/_api/agents/agents.py
  cognite/client/data_classes/agents/__init__.py
  cognite/client/data_classes/agents/chat.py
Due: mypy, custom-checks

refactor(agents): make ActionResult a base class with ClientToolResult
  cognite/client/_api/agents/agents.py
  cognite/client/data_classes/agents/__init__.py
  cognite/client/data_classes/agents/chat.py
Due: mypy, custom-checks

test(agents): add comprehensive unit tests for actions feature
  tests/tests_unit/test_api/test_agents_actions.py
Due: mypy

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
