Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

reverting template
  .github/pull_request_template.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

refactor; setup shell for extractor extension
  cognite/client/data_classes/extractor_extension/__init__.py
  cognite/client/data_classes/extractor_extension/v1.py
Due: mypy, custom-checks

refactor: setup extractor extension model
  cognite/client/data_classes/extractor_extension/v1.py
Due: mypy, custom-checks

refactor: updated generation scripts
  scripts/generate_extractor_extension_model.py
Due: mypy

build; changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Added support for the LocationFiltersAcl (#1879)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/capabilities.py
  pyproject.toml
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy, custom-checks

refactor: moved
  cognite/__init__.py
  cognite/client/data_classes/data_modeling/extractor_extensions/__init__.py
  cognite/client/data_classes/data_modeling/extractor_extensions/v1.py
Due: mypy, custom-checks

build; bump
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

refactor; removed accidental root __init__
  cognite/__init__.py
Due: mypy, custom-checks

refactor; move cdm
  cognite/client/data_classes/data_modeling/cdm/__init__.py
  cognite/client/data_classes/data_modeling/cdm/v1.py
  cognite/client/data_classes/data_modeling/extractor_extensions/v1.py
  scripts/generate_core_model.py
  scripts/generate_extractor_extension_model.py
  tests/tests_integration/test_api/test_data_modeling/test_core_model.py
  tests/tests_integration/test_api/test_files.py
  tests/tests_integration/test_api/test_time_series.py
  tests/tests_unit/test_data_classes/test_cdm/test_v1.py
Due: mypy, custom-checks

Extractor Extension (#1880)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/data_modeling/cdm/__init__.py
  cognite/client/data_classes/data_modeling/cdm/v1.py
  cognite/client/data_classes/data_modeling/extractor_extensions/__init__.py
  cognite/client/data_classes/data_modeling/extractor_extensions/v1.py
  pyproject.toml
  scripts/generate_extractor_extension_model.py
  tests/tests_integration/test_api/test_data_modeling/test_core_model.py
  tests/tests_integration/test_api/test_files.py
  tests/tests_integration/test_api/test_time_series.py
  tests/tests_unit/test_data_classes/test_cdm/test_v1.py
Due: mypy, custom-checks

Update cognite/client/_api/workflows.py
  cognite/client/_api/workflows.py
Due: mypy, custom-checks

Update cognite/client/data_classes/workflows.py
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

PR review comments
  cognite/client/_api/workflows.py
  cognite/client/data_classes/workflows.py
  tests/tests_unit/test_testing.py
Due: mypy, custom-checks

WorkflowTriggerCore pattern
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

fix linting
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

Revert "fix linting"
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

fix linting
  cognite/client/data_classes/workflows.py
  scripts/custom_checks/docstrings.py
Due: mypy, custom-checks

fix linting
  cognite/client/_api/workflows.py
  cognite/client/data_classes/workflows.py
  scripts/custom_checks/docstrings.py
Due: mypy, custom-checks

add data_point_insertion_request.py[i]
  cognite/client/_proto/data_point_insertion_request_pb2.py
  cognite/client/_proto/data_point_insertion_request_pb2.pyi
Due: mypy, custom-checks

update proto files with instance id
  cognite/client/_proto/data_point_list_response_pb2.py
  cognite/client/_proto/data_point_list_response_pb2.pyi
  cognite/client/_proto/data_points_pb2.py
  cognite/client/_proto/data_points_pb2.pyi
Due: mypy, custom-checks

add script to auto update
  scripts/update_proto_files.py
Due: mypy

move module docstring first
  scripts/update_proto_files.py
Due: mypy

update pre-commit
  .pre-commit-config.yaml
Due: none

compile with v4 support
  cognite/client/_proto/data_point_insertion_request_pb2.py
  cognite/client/_proto/data_point_insertion_request_pb2.pyi
  cognite/client/_proto/data_point_list_response_pb2.py
  cognite/client/_proto/data_point_list_response_pb2.pyi
  cognite/client/_proto/data_points_pb2.py
Due: mypy, custom-checks

no need to keep proto defs behind
  cognite/client/_proto/data_point_list_response.proto
  cognite/client/_proto/data_points.proto
Due: none

patch imports one last time, add note on v4 in script
  cognite/client/_proto/data_point_insertion_request_pb2.py
  cognite/client/_proto/data_point_insertion_request_pb2.pyi
  cognite/client/_proto/data_point_list_response_pb2.py
  cognite/client/_proto/data_point_list_response_pb2.pyi
  scripts/update_proto_files.py
Due: mypy, custom-checks

enable diagram detect based on file instance id
  cognite/client/_api/diagrams.py
  cognite/client/data_classes/contextualization.py
Due: mypy, custom-checks

Update protobuf to include instance_id (#1881)
  cognite/client/_proto/data_point_insertion_request_pb2.py
  cognite/client/_proto/data_point_insertion_request_pb2.pyi
  cognite/client/_proto/data_point_list_response.proto
  cognite/client/_proto/data_point_list_response_pb2.py
  cognite/client/_proto/data_point_list_response_pb2.pyi
  cognite/client/_proto/data_points.proto
  cognite/client/_proto/data_points_pb2.py
  cognite/client/_proto/data_points_pb2.pyi
  scripts/update_proto_files.py
Due: mypy, custom-checks

Bump mypy
  poetry.lock
Due: none

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
