Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite 
          
          tests/tests_unit/test_data_classes
          tests/tests_unit/test_utils
          tests/tests_unit/test_api_client.py
          tests/tests_unit/test_base.py
          tests/tests_unit/test_cognite_client.py
          tests/tests_unit/test_config.py
          tests/tests_unit/test_credential_providers.py
          tests/tests_unit/test_docstring_examples.py
          tests/tests_unit/test_exceptions.py
          
          tests/tests_unit/test_api/test_assets.py
          tests/tests_unit/test_api/test_events.py
          tests/tests_unit/test_api/test_datapoints.py
          tests/tests_unit/test_api/test_data_sets.py
          tests/tests_unit/test_api/test_geospatial.py
          tests/tests_unit/test_api/test_raw.py
          tests/tests_unit/test_api/test_time_series.py
          tests/tests_unit/test_api/test_3d.py
          tests/tests_unit/test_api/test_vision_extract.py
          tests/tests_unit/test_api/test_transformations.py
          
          tests/tests_integration/test_api/test_data_modeling
          tests/tests_integration/test_api/test_datapoints.py
          tests/tests_integration/test_api/test_assets.py
          tests/tests_integration/test_api/test_events.py
          tests/tests_integration/test_api/test_workflows.py
          tests/tests_integration/test_api/test_raw.py
          tests/tests_integration/test_api/test_transformations

          tests/tests_integration/test_api/test_simulators
          tests/tests_integration/test_api/test_principals.py
          tests/tests_unit/test_api/test_simulators
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.8.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

keep streamlit+pyodide workaround for crypt. pkg for +2 mo
  scripts/test-pyodide.js
Due: none

test(Datapoints): update df column assertions + add regression tests for plain Index
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy

OAuthDeviceCode.default_for_azure_ad should not specify audience
  cognite/client/credentials.py
Due: mypy, custom-checks

only add to token_cache when doing the full device code flow (skip on AT or RT)
  cognite/client/credentials.py
Due: mypy, custom-checks

remove manual token_cache.add that has never worked
  cognite/client/credentials.py
Due: mypy, custom-checks

simplify existing code
  cognite/client/credentials.py
Due: mypy, custom-checks

missing 3.14 from CI test runners
  .github/workflows/build.yml
Due: none

fix test failures on 3.14 due to changed error msg
  tests/tests_unit/test_utils/test_time.py
Due: mypy

fix(Datapoints): restore plain identifier column names in returned dataframes (#2603)
  cognite/client/utils/_pandas_helpers.py
  scripts/test-pyodide.js
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy, custom-checks

chore(master): release cognite-sdk-python 8.3.0
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

chore(master): release cognite-sdk-python 8.3.0 (#2597)
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix(credentials): token cache reuse issue for OAuthDeviceCode (#2602)
  .github/workflows/build.yml
  cognite/client/credentials.py
  tests/tests_integration/test_api/test_geospatial.py
  tests/tests_integration/test_api/test_workflows.py
  tests/tests_unit/test_credential_providers.py
  tests/tests_unit/test_utils/test_time.py
Due: mypy, custom-checks

Update cognite/client/utils/_pyodide_helpers.py
  cognite/client/utils/_pyodide_helpers.py
Due: mypy, custom-checks

fix: avoid RuntimeWarning from run_sync on tzdata install in pyodide
  cognite/client/utils/_pyodide_helpers.py
Due: mypy, custom-checks

fix: avoid RuntimeWarning from run_sync on tzdata install in pyodide (#2574)
  cognite/client/utils/_pyodide_helpers.py
Due: mypy, custom-checks

chore(pysdk-release-v7): release cognite-sdk-python 7.93.0
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore(pysdk-release-v7): release cognite-sdk-python 7.93.0 (#2604)
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix(credentials): token cache reuse issue for OAuthDeviceCode (#2602)
  cognite/client/credentials.py
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

fix(workflows): support functionApp task type and unknown task fallbacks
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/workflows.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy, custom-checks

Update cognite/client/data_classes/workflows.py
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

Workflows: UnknownWorkflowTaskOutput stores task type and handles non-dict output
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

Workflows: always dict-shaped unknown task dump; function-only asyncComplete normalize
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

update sdk doc for load balancing
  cognite/client/data_classes/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/routines.py
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

fix lint
  cognite/client/data_classes/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/routines.py
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

update doc
  cognite/client/_api/simulators/routines.py
  cognite/client/data_classes/simulators/routines.py
  cognite/client/data_classes/simulators/runs.py
  docs/source/simulators.rst
Due: mypy, custom-checks

Update routines.py
  cognite/client/_sync_api/simulators/routines.py
Due: mypy, custom-checks

restore type ignore comment
  cognite/client/_sync_api/simulators/routines.py
Due: mypy, custom-checks

Workflows: drop FunctionApp task classes; use unknown param/output for functionApp
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/workflows.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy, custom-checks

revert simulators.rst
  docs/source/simulators.rst
Due: none

Update runs.py
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

address review comments
  cognite/client/_api/data_modeling/streams.py
  cognite/client/_sync_api/data_modeling/streams.py
  cognite/client/data_classes/data_modeling/streams.py
  tests/tests_unit/test_api/test_data_modeling/test_streams.py
  tests/tests_unit/test_data_classes/test_data_models/test_streams.py
Due: mypy, custom-checks

fix sphinx doc generation
  cognite/client/_cognite_client.py
  docs/source/data_modeling.rst
Due: mypy, custom-checks

ensure we run tests on docstrings
  tests/tests_unit/test_docstring_examples.py
Due: mypy

review comments
  cognite/client/_api/simulators/routines.py
  cognite/client/_sync_api/simulators/routines.py
  cognite/client/data_classes/simulators/routines.py
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

update docstrs
  cognite/client/data_classes/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

remove support for dict type
  cognite/client/data_classes/data_modeling/streams.py
Due: mypy, custom-checks

use _list helper manually verified that extra uri args are ignored for the endpoint. eg. limit parameter that is injected by default
  cognite/client/_api/data_modeling/streams.py
  cognite/client/_sync_api/data_modeling/streams.py
Due: mypy, custom-checks

allow limit args
  tests/tests_unit/test_api/test_data_modeling/test_streams.py
Due: mypy

feat(Data Modeling): sync util with file cache (alpha)
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_sync_api/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/sync.py
  cognite/client/utils/_json_extended.py
  scripts/sync_client_codegen/codegen_utils.py
Due: mypy, custom-checks
