Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

Speed up slow raw test (10s -> 1s)
  tests/tests_integration/test_api/test_raw.py
Due: mypy

Speed up workflow tests (42s -> 27s)
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

Speed up geospatial integration tests (25s -> 11s)
  tests/tests_integration/test_api/test_geospatial.py
Due: mypy

fix: pyodide + async httpx requests calls
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

chore: Speed up some tests (#2310)
  tests/tests_integration/test_api/test_geospatial.py
  tests/tests_integration/test_api/test_raw.py
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

use walrus 1
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

use walrus 2
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

use CHANGELOG from master
  CHANGELOG.md
Due: none

pyproject from master
  pyproject.toml
Due: none

pre-commit
  tests/tests_unit/test_data_classes/test_simulators.py
Due: mypy

changes from PR review
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

revert changelog and version bump
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Ãrefactor: rename\
  tests/tests_integration/conftest.py
  tests/tests_integration/test_api/test_organization.py
Due: mypy

chore: [CDF-25629] Organization API (#2279)
  cognite/client/_api/organization.py
  tests/tests_integration/conftest.py
  tests/tests_integration/test_api/test_organization.py
  tests/tests_unit/test_testing.py
  tests/utils.py
Due: mypy, custom-checks

perf(functions): Use exponential instead of constant backoff for FunctionCall:wait
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

perf(functions): Use exponential instead of constant backoff for FunctionCall:wait (#2312)
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

chore(functions): Actually make FunctionCall:wait() backoff exponential
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

chore: Move release-type and extra-files to top-level of release-please config (#2309)
  release-please-config.json
Due: none

update everything in one go
  .pre-commit-config.yaml
  poetry.lock
Due: none

Remove changelog validation
  scripts/custom_checks/version.py
  scripts/run_checks.py
Due: mypy

change type for id in SimulatorFlowsheetObjectEdge
  cognite/client/data_classes/simulators/models.py
Due: mypy, custom-checks

feat: add pandas DataFrame conversion methods to SimulatorRoutineRevisionCore (#2228)
  CHANGELOG.md
  cognite/client/data_classes/simulators/routine_revisions.py
  pyproject.toml
  tests/tests_unit/test_data_classes/test_simulators.py
Due: mypy, custom-checks

test(simint): enable mypy checks
  .pre-commit-config.yaml
  cognite/client/_api/simulators/models.py
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/_api/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/seed/resources.py
  tests/tests_integration/test_api/test_simulators/test_models.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
  tests/tests_integration/test_api/test_simulators/test_routines.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
  tests/tests_integration/test_api/test_simulators/utils.py
  tests/tests_unit/test_api/test_simulators/test_run_data.py
  tests/tests_unit/test_data_classes/test_simulators.py
Due: mypy, custom-checks

chore(simint): allow limit=None on selected endpoints
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/models.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/seed/resources.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy, custom-checks

feat(iam): add support for attributes in groups create, groups list (#2231)
  cognite/client/data_classes/iam.py
  tests/tests_unit/test_api/test_iam.py
Due: mypy, custom-checks

Add timeout note for long-running AI agent interactions
  cognite/client/_api/agents/agents.py
Due: mypy, custom-checks

fix: remove hardcoded default value
  cognite/client/_api/agents/agents.py
Due: mypy, custom-checks

chore(functions): Actually make FunctionCall:wait() backoff exponential (#2313)
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

chore(master): release 7.84.0
  CHANGELOG.md
  pyproject.toml
Due: none

chore: stop warnings from being raised from our custom linter (#2284)
  scripts/custom_checks/docstr_examples.py
  scripts/custom_checks/docstrings.py
  scripts/run_checks.py
Due: mypy

[FUNC-520] Update docstrings to include py312
  cognite/client/_api/functions.py
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

fixed formatting issue for many entries (#2254)
  cognite/client/_api/entity_matching.py
  cognite/client/_api/functions.py
  cognite/client/_api/templates.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/data_modeling/cdm/v1.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/geospatial.py
  cognite/client/data_classes/workflows.py
  cognite/client/utils/_pyodide_helpers.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Asset and related classes
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/assets.py
  cognite/client/data_classes/iam.py
  cognite/client/data_classes/labels.py
  cognite/client/utils/_auxiliary.py
  tests/tests_integration/test_api/test_assets.py
  tests/tests_unit/test_utils/test_auxiliary.py
Due: mypy, custom-checks

Fix docstring example tests
  cognite/client/_api/events.py
  cognite/client/_api/relationships.py
  cognite/client/_api/sequences.py
Due: mypy, custom-checks

Fix load method for EntityMatchingModel
  cognite/client/data_classes/contextualization.py
  tests/tests_unit/test_api/test_entity_matching.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Sequence classes
  cognite/client/data_classes/sequences.py
  tests/tests_integration/test_api/test_sequences.py
  tests/tests_unit/test_api/test_sequences.py
Due: mypy, custom-checks

Introduce DefaultResourceGenerator
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api/test_entity_matching.py
  tests/tests_unit/test_api/test_events.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_api/test_time_series.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_base.py
Due: mypy

Fix dataclass unit tests
  cognite/client/data_classes/data_modeling/data_types.py
  cognite/client/data_classes/iam.py
  cognite/client/data_classes/transformations/schema.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_data_classes/test_annotations.py
  tests/tests_unit/test_data_classes/test_assets.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_data_classes/test_generated.py
  tests/tests_unit/test_data_classes/test_groups.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/tests_unit/test_data_classes/test_sequences.py
  tests/tests_unit/test_data_classes/test_time_series.py
Due: mypy, custom-checks

Fix cognite_client unit tests
  tests/tests_unit/test_cognite_client.py
Due: mypy

Fix required vs nullable attributes on Vision classes
  cognite/client/_api/vision.py
  cognite/client/data_classes/contextualization.py
  tests/tests_integration/test_api/test_vision_extract.py
  tests/tests_unit/test_api/test_diagrams.py
  tests/tests_unit/test_data_classes/conftest.py
  tests/tests_unit/test_data_classes/test_vision.py
Due: mypy, custom-checks
