Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  ...

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

refactor(transformations): move OneLake settings off base read model
  cognite/client/data_classes/transformations/external_data.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_data_classes/test_transformations/test_external_data.py
Due: mypy, custom-checks

fix(transformations): satisfy mypy on external data refactor
  cognite/client/data_classes/transformations/external_data.py
  tests/tests_unit/test_base.py
Due: mypy, custom-checks

fix(transformations): return ExternalDataSource from _load dispatch
  cognite/client/data_classes/transformations/external_data.py
Due: mypy, custom-checks

fix(transformations): annotate UnknownExternalDataSource.as_write NoReturn
  cognite/client/data_classes/transformations/external_data.py
Due: mypy, custom-checks

fix(transformations): abstract read base, drop with_settings
  cognite/client/data_classes/transformations/external_data.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_data_classes/test_transformations/test_external_data.py
Due: mypy, custom-checks

feat(transformations): add external data sources client API
  cognite/client/_api/transformations/__init__.py
  cognite/client/_api/transformations/external_data.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/transformations/__init__.py
  cognite/client/_sync_api/transformations/external_data.py
  cognite/client/testing.py
  tests/tests_integration/test_api/test_transformations/test_external_data.py
  tests/tests_unit/test_api/test_transformation_external_data.py
Due: mypy, custom-checks

fix(transformations): mypy ignores for abstract ExternalDataSource
  cognite/client/_api/transformations/external_data.py
  cognite/client/_sync_api/transformations/external_data.py
Due: mypy, custom-checks

docs(transformations): add OneLake external data sources guide
  docs/source/index.rst
  docs/source/transformations.rst
  docs/source/transformations_external_data.rst
Due: none

refactor(transformations): settings-only OneLakeExternalDataSourceWrite
  cognite/client/data_classes/transformations/external_data.py
  tests/tests_unit/test_data_classes/test_transformations/test_external_data.py
Due: mypy, custom-checks

temp disable caching in CI to find cause of run issues
  .github/actions/setup/action.yml
Due: none

fix attempt: start using virtualenv
  .github/actions/setup/action.yml
Due: none

crazy Claude attempt at fixing
  .github/actions/setup/action.yml
  .github/workflows/build.yml
Due: none

fix multiple numpy version install bug from #2645
  pyproject.toml
Due: none

poetry lock
  poetry.lock
Due: none

Revert "temp disable caching in CI to find cause of run issues"
  .github/actions/setup/action.yml
  .github/workflows/build.yml
Due: none

add timeout for full-test
  .github/workflows/build.yml
Due: none

revert pip deps range
  poetry.lock
  pyproject.toml
Due: none

pre commit autoupdate
  .pre-commit-config.yaml
Due: none

fix FakeCogniteResourceGenerator for numpy issue on 3.12+
  tests/utils.py
Due: mypy

use setup-python's built-in poetry cache instead of a manual actions/cache step
  .github/actions/setup/action.yml
Due: none

add missing cache-dependency-path on poetry.lock in github ci
  .github/actions/setup/action.yml
Due: none

switch to snok/install-poetry for poetry setup + cache .venv directly
  .github/actions/setup/action.yml
Due: none

simplify step "Add virtualenv to PATH"
  .github/actions/setup/action.yml
Due: none

tighten numpy lower bound to >=1.26 for python 3.12+
  poetry.lock
  pyproject.toml
Due: none

add back pinned hashes for github actions
  .github/actions/setup/action.yml
Due: none

chore: Fix sdk dependency issues (DM-3977) (#2723)
  .github/actions/setup/action.yml
  .github/workflows/build.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  tests/utils.py
Due: mypy

docs(settings): add SSL certificate configuration section
  docs/source/settings.rst
Due: none

docs(conf): use linkcheck_anchors_ignore instead of ignoring full URL
  cognite/client/config.py
  docs/source/conf.py
Due: mypy, custom-checks

feat(config): add ssl_context to GlobalConfig for custom CA bundles and OS trust store
  cognite/client/_http_client.py
  cognite/client/config.py
Due: mypy, custom-checks

docs(conf): ignore self-referential readthedocs links in linkcheck
  docs/source/conf.py
Due: mypy

make workflow test robust
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

Minor improvements after review
  cognite/client/_api/data_modeling/views.py
  cognite/client/_sync_api/data_modeling/views.py
  cognite/client/data_classes/data_modeling/views.py
  tests/tests_unit/test_api/test_data_modeling/test_views.py
  tests/tests_unit/test_data_classes/test_data_models/test_views.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
