Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

test: local import
  tests/tests_unit/test_api/test_simulators/test_run_data.py
Due: mypy

fix(simint-alpha): wrong type in routine configuration (#2159)
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

fix
  cognite/client/_api/simulators/models_revisions.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy, custom-checks

feat(simint-alpha): dev experience of simulation run data (#2158)
  cognite/client/data_classes/simulators/runs.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
  tests/tests_unit/test_api/test_simulators/test_run_data.py
Due: mypy, custom-checks

tests: added failing test
  tests/tests_unit/test_api/test_raw.py
Due: mypy

fix: stop pandas from converting
  cognite/client/_api/raw.py
Due: mypy, custom-checks

build: bump + changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

tests: updated tests
  tests/tests_integration/test_api/test_raw.py
Due: mypy

Add overloads for DatapointsAPI methods
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/time_series.py
Due: mypy, custom-checks

Run mypy on the test_datapoints module
  .pre-commit-config.yaml
  cognite/client/_api/datapoints.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/utils.py
Due: mypy, custom-checks

Update python-dotenv (#2155)
  poetry.lock
  pyproject.toml
Due: none

Add argument to use instance IDs as column names in insert dataframe
  CHANGELOG.md
  cognite/client/_api/datapoints.py
  cognite/client/_version.py
  pyproject.toml
  tests/tests_unit/test_api/test_datapoints.py
Due: mypy, custom-checks

tests: added failing test
  tests/tests_integration/test_api/test_transformations/test_transformations.py
Due: mypy

Update changelog to reflect upcoming change in V8
  CHANGELOG.md
Due: none

Make run time and simulation time Pandas timestamps
  cognite/client/utils/_time.py
  tests/tests_unit/test_api/test_simulators/test_run_data.py
Due: mypy, custom-checks

refactor: introduce parameter
  cognite/client/_api/raw.py
  tests/tests_integration/test_api/test_raw.py
  tests/tests_unit/test_api/test_raw.py
Due: mypy, custom-checks

build; update changelog
  CHANGELOG.md
Due: none

docs: remove outdated
  cognite/client/_api/raw.py
Due: mypy, custom-checks

Update version and changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Mark test for Pandas integration
  tests/tests_unit/test_api/test_simulators/test_run_data.py
Due: mypy

fixup! Add overloads for DatapointsAPI methods
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

Fix typing for DatapointsAPI (#2164)
  .pre-commit-config.yaml
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/time_series.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/utils.py
Due: mypy, custom-checks

agents data classes
  cognite/client/data_classes/agents/__init__.py
  cognite/client/data_classes/agents/agent_tools.py
  cognite/client/data_classes/agents/agents.py
Due: mypy, custom-checks

fix: ensure all tools are tools
  cognite/client/data_classes/agents/agents.py
Due: mypy, custom-checks

test agents data classes
  cognite/client/data_classes/agents/agents.py
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy, custom-checks

fix: add missing import to pass tests
  cognite/client/data_classes/agents/agents.py
Due: mypy, custom-checks

add CRUD support
  cognite/client/_api/agents/__init__.py
  cognite/client/_api/agents/agents.py
  cognite/client/_cognite_client.py
Due: mypy, custom-checks

load for passing tests
  cognite/client/_api/agents/__init__.py
  cognite/client/data_classes/agents/agent_tools.py
  cognite/client/testing.py
Due: mypy, custom-checks

unit tests for agents api
  tests/tests_unit/test_api/test_agents_api.py
Due: mypy

fix: better api version handling
  cognite/client/_api/agents/agents.py
Due: mypy, custom-checks

add integration tests
  tests/tests_integration/test_api/test_agents_api.py
Due: mypy

fix: better agent unit tests
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy

fix: better integration tests
  tests/tests_integration/test_api/test_agents_api.py
Due: mypy

simpler tool data classes
  cognite/client/data_classes/agents/agent_tools.py
  cognite/client/data_classes/agents/agents.py
Due: mypy, custom-checks

fix: missing loader
  cognite/client/data_classes/agents/agent_tools.py
Due: mypy, custom-checks

agent tools data classes
  cognite/client/data_classes/agents/__init__.py
  cognite/client/data_classes/agents/agent_tools.py
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
Due: mypy, custom-checks

agent data classes
  cognite/client/data_classes/agents/agents.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy, custom-checks

expose agent data classes
  cognite/client/data_classes/agents/__init__.py
Due: mypy, custom-checks
