Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run dmypy run -- cognite
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.7.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

add script to convert async apis into sync
  scripts/generate_code_snippets.py
  scripts/sync_client_codegen/main.py
Due: mypy

remove arg ignore_allscope_meaning from ACL compare fns (in IAM)
  cognite/client/_api/iam/__init__.py
Due: mypy, custom-checks

drop 'deprecated' from docs (toctree) after sunsetting TemplatesAPI
  docs/source/index.rst
  tests/tests_unit/test_meta.py
Due: mypy

Update Apply-classes in cdm/v1.py to use OMITTED default
  cognite/client/data_classes/data_modeling/cdm/v1.py
Due: mypy, custom-checks

Org APIs use api-layer logic, not http-layer. add CogniteOrganizationError
  cognite/client/_api/org_apis/principals.py
  cognite/client/_basic_api_client.py
  cognite/client/_org_client.py
  cognite/client/exceptions.py
Due: mypy, custom-checks

Load missing as OMITTED in Typed Apply classes in: data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

Update Apply-classes in extractor_extensions/v1.py to use OMITTED default
  cognite/client/data_classes/data_modeling/extractor_extensions/v1.py
Due: mypy, custom-checks

use match statement in _serialize_value
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

rename ModelFailedException -> CogniteModelFailedError and fix inheritance
  cognite/client/data_classes/contextualization.py
  cognite/client/exceptions.py
  tests/tests_unit/test_api/test_entity_matching.py
Due: mypy, custom-checks

only accept pathlib.Path in FilesAPI (keep str support though)
  cognite/client/_api/files.py
Due: mypy, custom-checks

make FileMultipartUploadSession work in both sync and async contexts
  cognite/client/data_classes/files.py
Due: mypy, custom-checks

fix data class helper methods: simulators/runs.py
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

fix data class helper methods: transformations/jobs.py
  cognite/client/_api/transformations/__init__.py
  cognite/client/data_classes/transformations/jobs.py
Due: mypy, custom-checks

BUMP VERSION to 8.0.0a1
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix FilesAPI: httpx AsyncClient doesn't accept regular file handles (only Client)
  cognite/client/_api/files.py
  cognite/client/config.py
Due: mypy, custom-checks

properly fix missing AsyncMocks in AsyncCogniteClientMock
  cognite/client/testing.py
Due: mypy, custom-checks

REVERT: turn off mypy
  .pre-commit-config.yaml
Due: none

spellcheck on AsyncCogniteClient
  cognite/client/_cognite_client.py
  cognite/client/config.py
  cognite/client/data_classes/_base.py
  cognite/client/exceptions.py
Due: mypy, custom-checks

Access the response from the exception, not from the local variable
  cognite/client/_http_client.py
Due: mypy, custom-checks

add Mock for async client: AsyncCogniteClientMock
  cognite/client/testing.py
  docs/source/testing.rst
Due: mypy, custom-checks

update thread-executor tests to async: tests/tests_unit/test_utils/test_concurrency.py
  tests/tests_unit/test_utils/test_concurrency.py
Due: mypy

fix data class helper methods: functions.py
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

properly fix spec_set=True in CogniteClientMock
  cognite/client/testing.py
Due: mypy, custom-checks

refactor usage of set_request_limit
  tests/tests_integration/test_api/test_assets.py
  tests/tests_integration/test_api/test_data_sets.py
  tests/tests_integration/test_api/test_events.py
  tests/tests_integration/test_api/test_geospatial.py
  tests/tests_integration/test_api/test_sequences.py
  tests/tests_integration/test_api/test_time_series.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api_client.py
Due: mypy

fix data class helper methods: transformations/__init__.py
  cognite/client/data_classes/transformations/__init__.py
Due: mypy, custom-checks

fix data class helper methods: raw.py
  cognite/client/data_classes/raw.py
Due: mypy, custom-checks

Ingesting no datapoints no longer raises an exception
  cognite/client/_api/datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
Due: mypy, custom-checks

make ruff remove empty "if TYPE_CHECKING:" blocks
  pyproject.toml
Due: none

REVERT: use --unsafe-fixes and ignore-init-module-imports = false
  .pre-commit-config.yaml
  pyproject.toml
Due: none

remove special pyodide handling in FilesAPI upload *YEY*
  cognite/client/_api/files.py
Due: mypy, custom-checks

remove param 'expected_fields' from Datapoints._load
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

fix bug in '_process_file_download' by using 'is_relative_to' instead
  cognite/client/_api/files.py
Due: mypy, custom-checks

short-circuit "retrieve_multiple" and similar on [] input
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

run coverage also on test files
  .coveragerc
Due: none

update API-conversion script to include sync methods + overloads
  scripts/sync_client_codegen/main.py
Due: mypy

fix tests: tests/tests_unit/* and tests/utils.py
  tests/conftest.py
  tests/tests_unit/__init__.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_config.py
  tests/tests_unit/test_credential_providers.py
  tests/tests_unit/test_docstring_examples.py
  tests/tests_unit/test_exceptions.py
  tests/tests_unit/test_http_client.py
  tests/tests_unit/test_meta.py
  tests/tests_unit/test_testing.py
  tests/tests_unit/test_utils/__init__.py
  tests/tests_unit/test_utils/test_auxiliary.py
  tests/tests_unit/test_utils/test_concurrency.py
  tests/tests_unit/test_utils/test_importing.py
  tests/tests_unit/test_utils/test_json.py
  tests/tests_unit/test_utils/test_logging.py
  tests/tests_unit/test_utils/test_text.py
  tests/tests_unit/test_utils/test_url.py
  tests/tests_unit/test_utils/test_validation.py
  tests/utils.py
Due: mypy

fix: various imports
  cognite/client/_api/data_modeling/space_statistics.py
  cognite/client/_api/data_modeling/statistics.py
  cognite/client/data_classes/data_modeling/statistics.py
  cognite/client/exceptions.py
Due: mypy, custom-checks

run updated script to update sync APIs
  cognite/client/_sync_api/data_modeling/graphql.py
  cognite/client/_sync_api/data_modeling/space_statistics.py
  cognite/client/_sync_api/data_modeling/statistics.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/_sync_api/entity_matching.py
  cognite/client/_sync_api/files.py
  cognite/client/_sync_api/geospatial.py
  cognite/client/_sync_api/iam/__init__.py
  cognite/client/_sync_api/relationships.py
  cognite/client/_sync_api/simulators/models_revisions.py
  cognite/client/_sync_api/simulators/routines.py
Due: mypy, custom-checks

fix tests: tests/tests_unit/test_data_classes/*
  tests/tests_unit/test_data_classes/__init__.py
  tests/tests_unit/test_data_classes/conftest.py
  tests/tests_unit/test_data_classes/test_assets.py
  tests/tests_unit/test_data_classes/test_capabilities.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_data_classes/test_data_models/__init__.py
  tests/tests_unit/test_data_classes/test_data_models/test_aggregations.py
  tests/tests_unit/test_data_classes/test_data_models/test_cdm/__init__.py
  tests/tests_unit/test_data_classes/test_data_models/test_cdm/test_v1.py
  tests/tests_unit/test_data_classes/test_data_models/test_containers.py
  tests/tests_unit/test_data_classes/test_data_models/test_data_types.py
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
  tests/tests_unit/test_data_classes/test_data_models/test_graphql.py
  tests/tests_unit/test_data_classes/test_data_models/test_queries.py
  tests/tests_unit/test_data_classes/test_data_models/test_views.py
  tests/tests_unit/test_data_classes/test_datapoint_subscriptions.py
  tests/tests_unit/test_data_classes/test_extraction_pipipelines.py
  tests/tests_unit/test_data_classes/test_filters.py
  tests/tests_unit/test_data_classes/test_functions.py
  tests/tests_unit/test_data_classes/test_geospatial.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/__init__.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_destinations.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_jobs.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_sources.py
  tests/tests_unit/test_data_classes/test_principals.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/tests_unit/test_data_classes/test_sequences.py
  tests/tests_unit/test_data_classes/test_time_series.py
  tests/tests_unit/test_data_classes/test_timestamp_range.py
  tests/tests_unit/test_data_classes/test_transformations/test_schema.py
  tests/tests_unit/test_data_classes/test_vision.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy
