Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite 
          
          tests/tests_unit/test_data_classes
          tests/tests_unit/test_utils
          tests/tests_unit/test_api_client.py
          tests/tests_unit/test_base.py
          tests/tests_unit/test_cognite_client.py
          tests/tests_unit/test_config.py
          tests/tests_unit/test_credential_providers.py
          tests/tests_unit/test_docstring_examples.py
          tests/tests_unit/test_exceptions.py
          
          tests/tests_unit/test_api/test_assets.py
          tests/tests_unit/test_api/test_events.py
          tests/tests_unit/test_api/test_datapoints.py
          tests/tests_unit/test_api/test_data_sets.py
          tests/tests_unit/test_api/test_geospatial.py
          tests/tests_unit/test_api/test_raw.py
          tests/tests_unit/test_api/test_time_series.py
          tests/tests_unit/test_api/test_3d.py
          tests/tests_unit/test_api/test_vision_extract.py
          tests/tests_unit/test_api/test_transformations.py
          
          tests/tests_integration/test_api/test_data_modeling
          tests/tests_integration/test_api/test_datapoints.py
          tests/tests_integration/test_api/test_assets.py
          tests/tests_integration/test_api/test_events.py
          tests/tests_integration/test_api/test_workflows.py
          tests/tests_integration/test_api/test_raw.py
          tests/tests_integration/test_api/test_transformations

          tests/tests_integration/test_api/test_simulators
          tests/tests_integration/test_api/test_principals.py
          tests/tests_unit/test_api/test_simulators
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.8.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

chore(master): release cognite-sdk-python 8.7.0
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

chore(master): release cognite-sdk-python 8.7.0 (#2635)
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

feat(records): add delete endpoint with infrastructure scaffolding (#2631)
  cognite/client/_api/data_modeling/__init__.py
  cognite/client/_api/data_modeling/records.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/data_modeling/__init__.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/records.py
  cognite/client/testing.py
  cognite/client/utils/_concurrency.py
  cognite/client/utils/_identifier.py
  docs/source/data_modeling.rst
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy, custom-checks

fix(files): raise CogniteFileUploadError instead of leaking CogniteHTTPStatusError on blob PUT failures (#2646)
  cognite/client/_api/files.py
  cognite/client/_sync_api/files.py
  tests/tests_unit/test_api/test_files.py
Due: mypy, custom-checks

feat(records): add delete and ingest endpoints with RecordWrite data classes
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/records.py
  cognite/client/utils/_concurrency.py
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy, custom-checks

feat(records): add delete and ingest endpoints with RecordWrite data classes
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/records.py
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy, custom-checks

run pre-commit
  cognite/client/_sync_api/data_modeling/records.py
Due: mypy, custom-checks

smaller diff
  cognite/client/_api/data_modeling/records.py
Due: mypy, custom-checks

regenerate sync api
  cognite/client/_sync_api/data_modeling/records.py
Due: mypy, custom-checks

remove redundant comments
  cognite/client/data_classes/data_modeling/records.py
Due: mypy, custom-checks

reuse fixtures
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy

use create multiple
  cognite/client/_api/data_modeling/records.py
  cognite/client/_api_client.py
  cognite/client/_sync_api/data_modeling/records.py
Due: mypy, custom-checks

ingest endpoint
  cognite/client/_api/data_modeling/records.py
  cognite/client/_api_client.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/records.py
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy, custom-checks

chore: remove unused functions extra when installing the SDK
  README.md
  pyproject.toml
Due: none

Update poetry lock
  poetry.lock
Due: none

Fix tzdata issue
  docs/source/extensions_and_optional_dependencies.rst
  poetry.lock
  pyproject.toml
Due: none

chore: remove pyodide as an extra option when installing the SDK
  poetry.lock
  pyproject.toml
Due: none

chore: move to standardized pyproject.toml format (#2645)
  README.md
  docs/source/extensions_and_optional_dependencies.rst
  poetry.lock
  pyproject.toml
  scripts/custom_checks/version.py
Due: mypy

chore: Add basic spell checking as pre-commit hook
  .pre-commit-config.yaml
  cognite/client/_api/annotations.py
  cognite/client/_api/data_modeling/containers.py
  cognite/client/_api/events.py
  cognite/client/_api/hosted_extractors/jobs.py
  cognite/client/_api/iam/groups.py
  cognite/client/_api/units.py
  cognite/client/_sync_api/annotations.py
  cognite/client/_sync_api/data_modeling/containers.py
  cognite/client/_sync_api/events.py
  cognite/client/_sync_api/hosted_extractors/jobs.py
  cognite/client/_sync_api/iam/groups.py
  cognite/client/_sync_api/units.py
  cognite/client/exceptions.py
  cognite/client/utils/_concurrency.py
  cognite/client/utils/_experimental.py
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

chore: add basic spell checking as a pre-commit hook (#2654)
  .pre-commit-config.yaml
  cognite/client/_api/annotations.py
  cognite/client/_api/data_modeling/containers.py
  cognite/client/_api/events.py
  cognite/client/_api/hosted_extractors/jobs.py
  cognite/client/_api/iam/groups.py
  cognite/client/_api/units.py
  cognite/client/_sync_api/annotations.py
  cognite/client/_sync_api/data_modeling/containers.py
  cognite/client/_sync_api/events.py
  cognite/client/_sync_api/hosted_extractors/jobs.py
  cognite/client/_sync_api/iam/groups.py
  cognite/client/_sync_api/units.py
  cognite/client/exceptions.py
  cognite/client/utils/_concurrency.py
  cognite/client/utils/_experimental.py
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

chore: remove unused dev dependency pep8-naming
  poetry.lock
  pyproject.toml
Due: none

chore: remove unused dev dependency pep8-naming (#2656)
  poetry.lock
  pyproject.toml
Due: none

Add linkcheck to github actions. Fix broken links.
  .github/workflows/build.yml
  cognite/client/_api/ai/tools/documents.py
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_api/functions/__init__.py
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/_api/simulators/runs.py
  cognite/client/_api/synthetic_time_series.py
  cognite/client/_api/workflows/versions.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/ai/tools/documents.py
  cognite/client/_sync_api/data_modeling/instances.py
  cognite/client/_sync_api/functions/__init__.py
  cognite/client/_sync_api/simulators/models_revisions.py
  cognite/client/_sync_api/simulators/runs.py
  cognite/client/_sync_api/synthetic_time_series.py
  cognite/client/_sync_api/workflows/versions.py
  cognite/client/config.py
  cognite/client/credentials.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/functions.py
  cognite/client/data_classes/geospatial.py
  cognite/client/data_classes/simulators/runs.py
  cognite/client/data_classes/units.py
  docs/source/contextualization.rst
Due: mypy, custom-checks

Fix some links
  cognite/client/_cognite_client.py
Due: mypy, custom-checks

Fix links
  cognite/client/_cognite_client.py
  cognite/client/_sync_cognite_client.py
  scripts/sync_client_codegen/sync_client_template.txt
Due: mypy, custom-checks

drop geospatial tests
  tests/tests_integration/test_api/test_geospatial.py
Due: mypy

skip flaky workflow test for 2 months
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

chore: drop geospatial tests (#2659)
  tests/tests_integration/test_api/test_geospatial.py
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

add a nice repr to CogniteHTTPResponse + tests
  cognite/client/response.py
  tests/tests_unit/test_http_client.py
Due: mypy, custom-checks

chore: add a nice repr to CogniteHTTPResponse + tests (#2658)
  cognite/client/response.py
  tests/tests_unit/test_http_client.py
Due: mypy, custom-checks

refactor: consolidate duplicate backoff logic into Backoff class
  cognite/client/_http_client.py
  cognite/client/utils/_retry.py
  tests/tests_unit/test_http_client.py
Due: mypy, custom-checks

fix some type annotations
  cognite/client/_api/data_modeling/files.py
  cognite/client/_sync_api/data_modeling/files.py
Due: mypy, custom-checks

fix typos + type annotations
  cognite/client/_api/data_modeling/files.py
  cognite/client/_sync_api/data_modeling/files.py
Due: mypy, custom-checks

chore: consolidate duplicate backoff logic into Backoff class (#2660)
  cognite/client/_http_client.py
  cognite/client/utils/_retry.py
  tests/tests_unit/test_http_client.py
Due: mypy, custom-checks

feat(Data Modeling, Files): Add files api to data modeling with /retrieve and /list (#2647)
  cognite/client/_api/data_modeling/__init__.py
  cognite/client/_api/data_modeling/files.py
  cognite/client/_api/files.py
  cognite/client/_sync_api/data_modeling/__init__.py
  cognite/client/_sync_api/data_modeling/files.py
  cognite/client/_sync_api/files.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/testing.py
  scripts/sync_client_codegen/codegen_utils.py
  scripts/sync_client_codegen/create_sync_api.py
  scripts/sync_client_codegen/sync_api_template.txt
  tests/tests_unit/test_api/test_data_modeling/test_files.py
  tests/tests_unit/test_data_classes/test_data_models/test_instances.py
Due: mypy, custom-checks

Chnage links to point to api-docs.cognite.com
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_sync_api/data_modeling/instances.py
Due: mypy, custom-checks

add necessary overloads to files.retrieve_download_urls + fix mypy issues
  cognite/client/_api/files.py
  cognite/client/_sync_api/files.py
  tests/tests_integration/test_api/test_files.py
Due: mypy, custom-checks

add data_modeling.files.download
  cognite/client/_api/data_modeling/files.py
  cognite/client/_sync_api/data_modeling/files.py
Due: mypy, custom-checks

rename nodes to node_ids
  cognite/client/_api/data_modeling/files.py
  cognite/client/_sync_api/data_modeling/files.py
Due: mypy, custom-checks

widen accepted instance_id to include 2-str-tuple for files.download_to_path
  cognite/client/_api/files.py
  cognite/client/_sync_api/files.py
Due: mypy, custom-checks
