Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  ...

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

handle string_states as pd.Categorical in as_array
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

fix wrong parameter name to pd.Categorical
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

do the todo in test_retrieve_arrays_state_datapoints_empty
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

add params include_numeric_states and include_string_states
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

fix pandas v2/v3 issue
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

update tests/tests_integration/test_api/test_datapoints.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

support convert numpy raw state dps arrays to pandas
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

always use pandas nullable int type Int32
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

handle string_states as pd.Categorical in _convert_to_array_for_raw_dps
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

remove now supported case from test_unsupported_state_datapoint_retrievals_raise_not_implemented
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

fix(files): prevent path traversal via file metadata directory in download()
  cognite/client/_api/files.py
  cognite/client/_sync_api/files.py
  tests/tests_unit/test_api/test_files.py
Due: mypy, custom-checks

fix(files): prevent path traversal via file metadata directory in download() (#2847)
  cognite/client/_api/files.py
  cognite/client/_sync_api/files.py
  tests/tests_unit/test_api/test_files.py
Due: mypy, custom-checks

feat(state time series): add to_pandas support for raw state datapoints (DatapointsArray) (DM-4093) (#2840)
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_pandas_helpers.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy, custom-checks

extend test with retrieve_array now that we have support
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

remove NotImplementedError and reuse existing guards for unsup. aggs
  cognite/client/_api/datapoint_tasks.py
Due: mypy, custom-checks

add test test_datapoints_array_state_type_simple_aggregate_data_to_pandas
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy

remove NotImplementedError gate in _extract_column_info_from_dps_for_dataframe
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

chore(master): release 8.18.0
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

feat(state time series): add retrieve_arrays and to_pandas support for state aggregate dps (#2841)
  cognite/client/_api/datapoint_tasks.py
  cognite/client/utils/_pandas_helpers.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy, custom-checks

fix(odin): Update api maturity to beta
  cognite/client/_api/integrations/__init__.py
  cognite/client/_basic_api_client.py
  cognite/client/_sync_api/integrations/__init__.py
  tests/tests_unit/test_api/test_integrations/test_integrations.py
Due: mypy, custom-checks

fix(logging): Redact all credential-carrying headers from logs (DM-4117, VULN-113) (#2848)
  cognite/client/_basic_api_client.py
  cognite/client/config.py
  cognite/client/utils/_redaction.py
  docs/source/settings.rst
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_config.py
  tests/tests_unit/test_utils/test_redaction.py
Due: mypy, custom-checks

Apply suggestion from @haakonvt
  CHANGELOG.md
Due: none

chore(master): release 8.18.0 (#2844)
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

add _NOT_YET_IMPLEMENTED_STATE_AGGS_SNAKE
  cognite/client/data_classes/datapoint_aggregates.py
Due: mypy, custom-checks

add dataclasses StateCount, -Transition and -Duration
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

update class Datapoint with state aggs
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

add func to raise on to-pandas for state aggs
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

update classes Datapoints(-Array) with state aggs
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

make numpy_dtype_fix work with state obj arrays
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

raise on state aggs in _pandas_helpers.py
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

add data class tests
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy

improve typing
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

chore(time series): Adds data classes for state-only aggregates `StateCount`, `StateTransition`, `StateDuration` (DM-4096) (#2850)
  cognite/client/data_classes/datapoint_aggregates.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_pandas_helpers.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy, custom-checks

retrieve state-only aggs as part of the existing "object fetch machinery"
  cognite/client/_api/datapoint_tasks.py
Due: mypy, custom-checks

update aggregate constants in datapoint_aggregates.py
  cognite/client/data_classes/datapoint_aggregates.py
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

add new unpacking functions
  cognite/client/utils/_datapoints.py
Due: mypy, custom-checks

mark dsl test
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy

add integration test coverage for retrieve/retrieve_arrays
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

add unit tests for DatapointsArray
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
