Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  ...

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

fix(records): fix import order for RecordsAPI in _cognite_client.py
  cognite/client/_cognite_client.py
Due: mypy, custom-checks

fix(workflows): unknown task parameters dump/load and load_parameters wiring
  cognite/client/data_classes/workflows.py
  tests/tests_unit/test_base.py
Due: mypy, custom-checks

deprecate public api_client property. warn on async api_client footgun on sync client
  cognite/client/_cognite_client.py
  cognite/client/_sync_cognite_client.py
  scripts/sync_client_codegen/sync_client_template.txt
Due: mypy, custom-checks

fix: deprecate public api_client property. warn on async api_client footgun on sync client (#2618)
  cognite/client/_cognite_client.py
  cognite/client/_sync_cognite_client.py
  scripts/sync_client_codegen/sync_client_template.txt
Due: mypy, custom-checks

chore(workflows): drop functionApp from ValidTaskType literal
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

test: restore test_base.py to match master
  tests/tests_unit/test_base.py
Due: mypy

remove mentions of 'postgres'
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_sync_api/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/query.py
  tests/tests_unit/test_data_classes/test_data_models/test_instances.py
Due: mypy, custom-checks

copy user query/sort objects to avoid mutation
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_sync_api/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/query.py
  tests/tests_unit/test_data_classes/test_data_models/test_instances.py
Due: mypy, custom-checks

fix(ci): resolve intermittent setup failure caused by virtualenv downgrade race
  .github/actions/setup/action.yml
  poetry.lock
Due: none

add support for record containers
  cognite/client/_api/data_modeling/containers.py
  cognite/client/_sync_api/data_modeling/containers.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/containers.py
  tests/tests_unit/test_api/test_data_modeling/test_containers.py
Due: mypy, custom-checks

pandas pandas pandas
  poetry.lock
  pyproject.toml
Due: none

ci: use default types for semantic PR title check
  .github/workflows/conventional-pr-title.yml
Due: none

new mypy version means some work :D
  cognite/client/_api/datapoint_tasks.py
  cognite/client/config.py
  cognite/client/data_classes/capabilities.py
  cognite/client/data_classes/data_modeling/data_types.py
  cognite/client/utils/_json_extended.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

changes based on review
  cognite/client/_api/data_modeling/containers.py
  cognite/client/_sync_api/data_modeling/containers.py
  cognite/client/data_classes/data_modeling/containers.py
  tests/tests_unit/test_api/test_data_modeling/test_containers.py
Due: mypy, custom-checks

return all variants
  cognite/client/data_classes/data_modeling/containers.py
  tests/tests_unit/test_api/test_data_modeling/test_containers.py
Due: mypy, custom-checks

ci: resolve intermittent setup failure caused by venv downgrade race (#2620)
  .github/actions/setup/action.yml
  .github/workflows/conventional-pr-title.yml
  cognite/client/_api/datapoint_tasks.py
  cognite/client/config.py
  cognite/client/data_classes/capabilities.py
  cognite/client/data_classes/data_modeling/data_types.py
  cognite/client/utils/_json_extended.py
  poetry.lock
  pyproject.toml
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

add TODO on functions fixture
  tests/tests_integration/test_api/test_functions.py
Due: mypy

TMP
  cognite/client/_api/data_modeling/datapoints.py
  cognite/client/_api/data_modeling/files.py
  cognite/client/_api/data_modeling/time_series.py
Due: mypy, custom-checks

fix(workflows): support functionApp task type and unknown task fallbacks
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/workflows.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy, custom-checks

docs: improve type hints and default values for some arguments in the simulator module
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/_api/simulators/routines.py
  cognite/client/_api/simulators/runs.py
  cognite/client/_sync_api/simulators/models_revisions.py
  cognite/client/_sync_api/simulators/routines.py
  cognite/client/_sync_api/simulators/runs.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/runs.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy, custom-checks

update code examples in docstrings
  cognite/client/_api/workflows/tasks.py
  cognite/client/_sync_api/workflows/tasks.py
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

WorkflowTaskAPI.update should load using internal _load
  cognite/client/_api/workflows/tasks.py
Due: mypy, custom-checks

make ValidTaskType forward-compatible by allowing str
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

refactor WorkflowTaskParameters.load_parameters
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

fix UnknownWorkflowTaskParameters
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

WorkflowTaskOutput should inherit from CogniteResource. fix load -> _load
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

refactor WorkflowTaskOutput.load_output
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

fix UnknownWorkflowTaskOutput
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

minor fixes, type annots., unnecessary parens, fmt
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

remove redundant data in existing test
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

fix wrong camel_case default on dump method
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

skip automatic testing on WorkflowTaskOutput due to load/dump mistmatch
  tests/tests_unit/test_base.py
Due: mypy

add manual load/dump testing of WorkflowTaskOutput subclasses + UnknownWorkflowTaskParameters
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

add tests for newly added failure modes (non-string task type)
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

Add type alias for run status
  cognite/client/_api/simulators/runs.py
  cognite/client/_sync_api/simulators/runs.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

add 'taskType' key check in load_output + test
  cognite/client/data_classes/workflows.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy, custom-checks

fix unrelated tests: missing cleanup of postgres_gateway -> users
  tests/tests_integration/test_api/test_postgres_gateway/conftest.py
Due: mypy

Make alias for simulator run types
  cognite/client/_api/simulators/runs.py
  cognite/client/_sync_api/simulators/runs.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

docs(simulators): improve type hints and default values for some arguments in the simulator module (#2624)
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/_api/simulators/routines.py
  cognite/client/_api/simulators/runs.py
  cognite/client/_sync_api/simulators/models_revisions.py
  cognite/client/_sync_api/simulators/routines.py
  cognite/client/_sync_api/simulators/runs.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/runs.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy, custom-checks

remove plan
  PLAN.md
Due: none

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
