Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite 
          
          tests/tests_unit/test_data_classes
          tests/tests_unit/test_utils
          tests/tests_unit/test_api_client.py
          tests/tests_unit/test_base.py
          tests/tests_unit/test_cognite_client.py
          tests/tests_unit/test_config.py
          tests/tests_unit/test_credential_providers.py
          tests/tests_unit/test_docstring_examples.py
          tests/tests_unit/test_exceptions.py
          
          tests/tests_unit/test_api/test_assets.py
          tests/tests_unit/test_api/test_events.py
          tests/tests_unit/test_api/test_datapoints.py
          tests/tests_unit/test_api/test_data_sets.py
          tests/tests_unit/test_api/test_geospatial.py
          tests/tests_unit/test_api/test_raw.py
          tests/tests_unit/test_api/test_time_series.py
          tests/tests_unit/test_api/test_3d.py
          tests/tests_unit/test_api/test_vision_extract.py
          tests/tests_unit/test_api/test_transformations.py
          
          tests/tests_integration/test_api/test_data_modeling
          tests/tests_integration/test_api/test_datapoints.py
          tests/tests_integration/test_api/test_assets.py
          tests/tests_integration/test_api/test_events.py
          tests/tests_integration/test_api/test_workflows.py
          tests/tests_integration/test_api/test_raw.py
          tests/tests_integration/test_api/test_transformations

          tests/tests_integration/test_api/test_simulators
          tests/tests_integration/test_api/test_principals.py
          tests/tests_unit/test_api/test_simulators
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.8.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

remove target branch pysdk-release-v8 from streamlit/jupyterlite wfs
  .github/workflows/verify-jupyter.yml
  .github/workflows/verify-streamlit.yml
Due: none

poetry update
  poetry.lock
Due: none

bump pyodide version of streamlit to 0.26.3 to match actual use
  .github/workflows/verify-streamlit.yml
Due: none

update cognite/client usage from httpx to httpx2
  cognite/client/_basic_api_client.py
  cognite/client/_http_client.py
  cognite/client/exceptions.py
  cognite/client/response.py
  cognite/client/utils/_concurrency.py
  cognite/client/utils/_uploading.py
  cognite/client/utils/_version_checker.py
Due: mypy, custom-checks

add httpx2-pytest
  poetry.lock
  pyproject.toml
Due: none

remove httpx
  poetry.lock
  pyproject.toml
Due: none

get rid of 'types-xx' packages no longer needed
  poetry.lock
  pyproject.toml
Due: none

update tests using old httpx mock after rebase
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy

Add PropertyId.as_property_ref
  cognite/client/data_classes/data_modeling/_validation.py
  cognite/client/data_classes/data_modeling/ids.py
  cognite/client/data_classes/filters.py
  tests/tests_unit/test_data_classes/test_data_models/test_ids.py
Due: mypy, custom-checks

Refactor property validation with match
  cognite/client/data_classes/data_modeling/_validation.py
Due: mypy, custom-checks

Refactor filter property serialization with match
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

Move record source alias below imports
  cognite/client/data_classes/data_modeling/records.py
Due: mypy, custom-checks

Refactor record source loading with match
  cognite/client/data_classes/data_modeling/records.py
Due: mypy, custom-checks

Extract record source parser
  cognite/client/data_classes/data_modeling/records.py
Due: mypy, custom-checks

Simplify record view documentation
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/data_classes/data_modeling/records.py
Due: mypy, custom-checks

Focus records tests on SDK behavior
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy

Parameterize filter reference tests
  tests/tests_unit/test_data_classes/test_filters.py
Due: mypy

chore(master): release 8.16.0
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

add note on dependency change (httpx2)
  CHANGELOG.md
Due: none

chore(master): release 8.16.0 (#2806)
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

make get_global_async_httpx_client branch on _RUNNING_IN_PYODIDE
  cognite/client/_http_client.py
Due: mypy, custom-checks

add note to GlobalConfig regarding unsupported Pyodide settings
  cognite/client/config.py
Due: mypy, custom-checks

add test test_pyodide_client_no_warning_at_default_settings
  tests/tests_unit/test_http_client.py
Due: mypy

add test test_pyodide_client_warns_about_settings_with_no_effect
  tests/tests_unit/test_http_client.py
Due: mypy

add test test_pyodide_client_never_passes_ignored_options
  tests/tests_unit/test_http_client.py
Due: mypy

reword GlobalConfig note and include 'max_connection_pool_size'
  cognite/client/config.py
Due: mypy, custom-checks

feat(integrations): Add Integration/Extractor/Task data classes
  cognite/client/data_classes/integrations/__init__.py
  cognite/client/data_classes/integrations/integrations.py
  tests/tests_unit/test_data_classes/test_integrations.py
Due: mypy, custom-checks

feat(integrations): Add Integrations core CRUD (list/create/retrieve/update/delete)
  cognite/client/_api/integrations/__init__.py
  cognite/client/_basic_api_client.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/integrations/__init__.py
  cognite/client/_sync_cognite_client.py
  cognite/client/testing.py
  cognite/client/utils/_url.py
  tests/tests_unit/test_api/test_integrations/__init__.py
  tests/tests_unit/test_api/test_integrations/test_integrations.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

feat(integrations): Add Integration Errors sub-resource
  cognite/client/_api/integrations/__init__.py
  cognite/client/_api/integrations/errors.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/integrations/__init__.py
  cognite/client/_sync_api/integrations/errors.py
  cognite/client/data_classes/integrations/__init__.py
  cognite/client/data_classes/integrations/errors.py
  cognite/client/testing.py
  tests/tests_unit/test_api/test_integrations/test_errors.py
Due: mypy, custom-checks

feat(integrations): Add Integration Tasks sub-resource
  cognite/client/_api/integrations/__init__.py
  cognite/client/_api/integrations/tasks.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/integrations/__init__.py
  cognite/client/_sync_api/integrations/tasks.py
  cognite/client/data_classes/integrations/__init__.py
  cognite/client/data_classes/integrations/tasks.py
  cognite/client/testing.py
  tests/tests_unit/test_api/test_integrations/test_tasks.py
  tests/tests_unit/test_data_classes/test_integrations.py
Due: mypy, custom-checks

feat(integrations): Add Integration Config sub-resource
  cognite/client/_api/integrations/__init__.py
  cognite/client/_api/integrations/config.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/integrations/__init__.py
  cognite/client/_sync_api/integrations/config.py
  cognite/client/data_classes/integrations/__init__.py
  cognite/client/data_classes/integrations/config.py
  cognite/client/testing.py
  cognite/client/utils/_url.py
  tests/tests_unit/test_api/test_integrations/test_config.py
  tests/tests_unit/test_data_classes/test_integrations.py
Due: mypy, custom-checks

feat(integrations): Add Integration Actions sub-resource
  cognite/client/_api/integrations/__init__.py
  cognite/client/_api/integrations/actions.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/integrations/__init__.py
  cognite/client/_sync_api/integrations/actions.py
  cognite/client/data_classes/integrations/__init__.py
  cognite/client/data_classes/integrations/actions.py
  cognite/client/testing.py
  cognite/client/utils/_url.py
  tests/tests_unit/test_api/test_integrations/test_actions.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_data_classes/test_integrations.py
Due: mypy, custom-checks

feat(integrations): Add startup/checkin endpoints + tooling fixes
  .pre-commit-config.yaml
  cognite/client/_api/integrations/__init__.py
  cognite/client/_sync_api/integrations/__init__.py
  cognite/client/data_classes/integrations/__init__.py
  cognite/client/data_classes/integrations/checkin.py
  cognite/client/utils/_url.py
  tests/tests_unit/test_api/test_integrations/test_integrations.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_data_classes/test_integrations.py
Due: mypy, custom-checks

fix: Avoid throwing noisy warning in pyodide (#2825)
  cognite/client/_http_client.py
  cognite/client/config.py
  tests/tests_unit/test_http_client.py
Due: mypy, custom-checks

chore(master): release 8.16.1
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

test(integrations): Trim redundant dump-equality check from Integration test
  tests/tests_unit/test_data_classes/test_integrations.py
Due: mypy

fix TestDocStringExamples.test_config that mutated global_config
  tests/tests_unit/test_docstring_examples.py
Due: mypy

fix test pollution from test_semaphore_limits_concurrent_operations_via_background_loop
  tests/utils.py
Due: mypy

reduce overengineering thanks to gemini
  tests/utils.py
Due: mypy
