Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

fix
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/workflows.py
  pyproject.toml
Due: mypy, custom-checks

add missing line
  pyproject.toml
Due: none

Update cognite/client/data_classes/workflows.py
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

set defaults
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

[CDFNEW-2189] Hotfix: mark `useTransformationCredentials` as optional (#2101)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/workflows.py
  pyproject.toml
Due: mypy, custom-checks

style: happy ruff
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/sequences.py
  cognite/client/data_classes/workflows.py
  cognite/client/utils/_text.py
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
  tests/tests_integration/test_api/test_diagrams.py
  tests/tests_unit/test_data_classes/test_data_models/test_ids.py
Due: mypy, custom-checks

fix: custom scripts
  scripts/custom_checks/docstr_examples.py
Due: mypy

AUTH-1293 was merged, so we can simplify
  cognite/client/_api/user_profiles.py
Due: mypy, custom-checks

AUTH-1293 was merged, so we can simplify (#2094)
  cognite/client/_api/user_profiles.py
Due: mypy, custom-checks

Set lower limits for create/update/delete of postgres gateway users
  CHANGELOG.md
  cognite/client/_api/postgres_gateway/users.py
Due: mypy, custom-checks

fix tests using internal id
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

skip another test requiring fixing test data
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

Set lower limits for create/update/delete of postgres gateway users (#2105)
  CHANGELOG.md
  cognite/client/_api/postgres_gateway/users.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

ensure rng seed message is shown on failure when using xdist
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

update tests and add a new
  tests/tests_integration/test_api/test_datapoints.py
  tests/utils.py
Due: mypy

support obj aggregates in dps dataclasses + add new classes
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

update proto files
  cognite/client/_proto/data_points_pb2.py
  cognite/client/_proto/data_points_pb2.pyi
Due: mypy, custom-checks

add descriptions and make fn reusable
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

improve flaky test
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

skip some tests...
  tests/tests_integration/test_api/test_diagrams.py
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

TMP commit: use alpha header (drop this commit)
  tests/tests_integration/conftest.py
Due: mypy

support obj aggregates in dps fetch code
  cognite/client/_api/datapoint_tasks.py
Due: mypy, custom-checks

Update CHANGELOG.md
  CHANGELOG.md
Due: none

add: unpack_items function
  cognite/client/_api/datapoints.py
  cognite/client/_api/files.py
  cognite/client/_api_client.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

fix tests/tests_unit/test_api/test_events.py
  tests/tests_unit/test_api/test_events.py
Due: mypy

add httpx and poetry update
  poetry.lock
  pyproject.toml
Due: none

refactor exception classes ++
  cognite/client/_api/datapoints.py
  cognite/client/_api_client.py
  cognite/client/_basic_api_client.py
  cognite/client/exceptions.py
  cognite/client/utils/_concurrency.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_utils/test_auxiliary.py
  tests/tests_unit/test_utils/test_url.py
Due: mypy, custom-checks

replace responses with httpx_mock
  poetry.lock
  pyproject.toml
Due: none

work in progress: replace response mock with pytest-httpx (mock)
  cognite/client/_api/three_d.py
  cognite/client/exceptions.py
  cognite/client/utils/_auxiliary.py
  tests/conftest.py
  tests/tests_unit/test_api/test_3d.py
  tests/tests_unit/test_api/test_ai.py
  tests/tests_unit/test_api/test_assets.py
  tests/tests_unit/test_api/test_data_modeling/test_containers.py
  tests/tests_unit/test_api/test_data_modeling/test_spaces.py
  tests/tests_unit/test_api/test_data_sets.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_documents.py
  tests/tests_unit/test_api/test_entity_matching.py
  tests/tests_unit/test_api/test_events.py
  tests/tests_unit/test_api/test_extractionpipelines.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_api/test_iam.py
  tests/tests_unit/test_api/test_labels.py
  tests/tests_unit/test_api/test_raw.py
  tests/tests_unit/test_api/test_relationships.py
  tests/tests_unit/test_api/test_sequences.py
  tests/tests_unit/test_api/test_synthetic_time_series.py
  tests/tests_unit/test_api/test_time_series.py
  tests/tests_unit/test_api/test_vision_extract.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_data_classes/test_capabilities.py
  tests/tests_unit/test_data_classes/test_functions.py
  tests/tests_unit/test_data_classes/test_time_series.py
  tests/tests_unit/test_exceptions.py
  tests/tests_unit/test_http_client.py
  tests/utils.py
Due: mypy, custom-checks

TMP
  cognite/client/_api/data_modeling/graphql.py
  cognite/client/_api/datapoints.py
  cognite/client/_api/documents.py
  cognite/client/_api/files.py
  cognite/client/_api/geospatial.py
  cognite/client/_api/postgres_gateway/tables.py
  cognite/client/_api/raw.py
  cognite/client/_api/templates.py
  cognite/client/_api/three_d.py
  cognite/client/_api/transformations/jobs.py
  cognite/client/_api/transformations/schema.py
  cognite/client/_api/workflows.py
  cognite/client/_api_client.py
  cognite/client/_basic_api_client.py
  cognite/client/_cognite_client.py
  cognite/client/_http_client.py
  cognite/client/config.py
  cognite/client/exceptions.py
  cognite/client/utils/_auxiliary.py
  cognite/client/utils/_concurrency.py
  cognite/client/utils/_json.py
  cognite/client/utils/_pyodide_helpers.py
  cognite/client/utils/_url.py
  cognite/client/utils/_version_checker.py
  tests/tests_unit/test_http_client.py
Due: mypy, custom-checks

TMP
  tests/tests_unit/test_data_classes/test_annotations.py
Due: mypy

fix tests/tests_unit/test_api/test_files.py (puh!)
  tests/tests_unit/test_api/test_files.py
Due: mypy

refactor: move url methods to utils/_url.py
  cognite/client/_api_client.py
  cognite/client/utils/_url.py
Due: mypy, custom-checks

EVERYTHING (yes)
  cognite/client/_api/diagrams.py
  cognite/client/_api/documents.py
  cognite/client/_api/files.py
  cognite/client/_api/geospatial.py
  cognite/client/_api/sequences.py
  cognite/client/_api_client.py
  cognite/client/_basic_api_client.py
  cognite/client/_http_client.py
  cognite/client/config.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/files.py
Due: mypy, custom-checks

fix tests/tests_unit/test_api/test_data_sets.py
  tests/tests_unit/test_api/test_data_sets.py
Due: mypy

fix tests/tests_unit/test_api/test_assets.py
  tests/tests_unit/test_api/test_assets.py
Due: mypy

fix tests/tests_unit/test_api/test_extractionpipelines.py
  cognite/client/_api/extractionpipelines.py
  tests/tests_unit/test_api/test_extractionpipelines.py
Due: mypy, custom-checks

refactor: split out basic api methods in BasicAPIClient
  cognite/client/_api_client.py
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

fix tests/tests_unit/test_api/test_documents.py
  tests/tests_unit/test_api/test_documents.py
Due: mypy

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
