Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

chore: bump version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

chore: format docstrings
  cognite/client/_api/raw.py
  cognite/client/_cognite_client.py
  cognite/client/config.py
  cognite/client/credentials.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/datapoints.py
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

feat: load method for each CredentialProvider
  cognite/client/credentials.py
  tests/tests_unit/test_credential_providers.py
  tests/tests_unit/test_utils/test_auxiliary.py
Due: mypy, custom-checks

docs: update docstrings for clarity
  cognite/client/_cognite_client.py
  cognite/client/config.py
  cognite/client/credentials.py
Due: mypy, custom-checks

feat: rename load_dict_or_str to load_resource_to_dict
  cognite/client/_cognite_client.py
  cognite/client/config.py
  cognite/client/credentials.py
  cognite/client/data_classes/_base.py
  cognite/client/utils/_auxiliary.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_utils/test_auxiliary.py
Due: mypy, custom-checks

docs: update docs for quickstart
  cognite/client/_cognite_client.py
  docs/source/quickstart.rst
Due: mypy, custom-checks

fix: explicitly set each argument from input dict
  cognite/client/_cognite_client.py
  cognite/client/config.py
  cognite/client/credentials.py
Due: mypy, custom-checks

fix: GlobalConfig to be a singleton
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/config.py
  docs/source/quickstart.rst
  pyproject.toml
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_config.py
Due: mypy, custom-checks

run doctests for CogniteClient
  tests/tests_unit/test_docstring_examples.py
Due: mypy

move internal resource lookup to method (to allow easy subclass override)
  cognite/client/data_classes/_base.py
Due: mypy, custom-checks

fix SpaceList: .get, .extend
  cognite/client/data_classes/data_modeling/spaces.py
Due: mypy, custom-checks

fix DataModelingInstancesList (and subclasses): .get, .extend
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

type hint cleanup
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/spaces.py
Due: mypy, custom-checks

performance: dont build temp set in extend duplicate check
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/spaces.py
Due: mypy, custom-checks

quote reserved identifier in err msg
  cognite/client/data_classes/data_modeling/_validation.py
Due: mypy, custom-checks

revert abstraction due to required 'cursor' arg
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/data_modeling/instances.py
  pyproject.toml
Due: mypy, custom-checks

fix: docs and typing for load
  CHANGELOG.md
  cognite/client/config.py
  cognite/client/credentials.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

fix: docs and typing for load
  cognite/client/credentials.py
  tests/tests_unit/test_config.py
Due: mypy, custom-checks

fix: simplify CredentialProvider token case
  cognite/client/credentials.py
Due: mypy, custom-checks

fix: load properly handles credentials being passed in as a CredentialProvider
  cognite/client/config.py
  cognite/client/credentials.py
  tests/tests_unit/test_config.py
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

feat: add credential provider unit test for DeviceCode and Interactive
  tests/tests_unit/test_credential_providers.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy

chore: add todos
  tests/tests_unit/test_config.py
Due: mypy

add tests for instance lists .get method
  cognite/client/data_classes/data_modeling/instances.py
  tests/tests_unit/test_data_classes/test_data_models/test_resource_class_methods.py
Due: mypy, custom-checks

add tests for .extend method
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/spaces.py
  tests/tests_unit/test_data_classes/test_data_models/test_resource_class_methods.py
Due: mypy, custom-checks

mypy suddenly changed it mind
  tests/tests_unit/test_data_classes/test_data_models/test_resource_class_methods.py
Due: mypy

Who says you can't review yourself, huh
  CHANGELOG.md
  tests/tests_unit/test_data_classes/test_data_models/test_resource_class_methods.py
Due: mypy

final pre-commit run
  tests/tests_unit/test_data_classes/test_data_models/test_resource_class_methods.py
Due: mypy

fix: global_config test
  tests/tests_unit/test_config.py
Due: mypy

fix: global_config and CredentialProvider tests
  cognite/client/config.py
  tests/tests_unit/test_config.py
  tests/tests_unit/test_credential_providers.py
  tests/tests_unit/test_utils/test_auxiliary.py
Due: mypy, custom-checks

chore: address minor review comments
  cognite/client/config.py
  tests/tests_unit/test_config.py
Due: mypy, custom-checks

fix: revert extra type check for special load cases
  cognite/client/config.py
  tests/tests_unit/test_config.py
Due: mypy, custom-checks

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix ambiguous identifiers in data modeling resource lists (#1867)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/data_modeling/_validation.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/spaces.py
  pyproject.toml
  tests/tests_unit/test_data_classes/test_data_models/test_resource_class_methods.py
Due: mypy, custom-checks

fix test blocking ci
  tests/tests_integration/test_api/test_data_modeling/test_spaces.py
Due: mypy

fix another racy test
  tests/tests_integration/test_api/test_data_modeling/test_views.py
Due: mypy

fix another flaky test
  tests/tests_integration/test_api/test_data_modeling/test_spaces.py
Due: mypy

poetry update
  poetry.lock
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

mypy fixes after linter updates
  cognite/client/_api/sequences.py
  cognite/client/data_classes/sequences.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
