Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    tests/tests_unit/test_utils/test_time.py
  
    tests/tests_integration/test_api/test_datapoints.py
  
  ...

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

Update Sphinx documentation
  docs/source/assets.rst
  docs/source/data_organization.rst
  docs/source/deprecated.rst
  docs/source/events.rst
  docs/source/files.rst
  docs/source/sequences.rst
  docs/source/testing.rst
  docs/source/time_series.rst
  docs/source/transformations.rst
Due: none

reorgranize DatapointsAPI, split utils and aggregates
  cognite/client/_api/datapoint_tasks.py
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/datapoint_aggregates.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_datapoints.py
  cognite/client/utils/_pandas_helpers.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/utils.py
Due: mypy, custom-checks

fix plain wrong code in docstring examples
  cognite/client/_api/datapoints.py
  cognite/client/_api/entity_matching.py
  cognite/client/_api/files.py
  cognite/client/_api/relationships.py
  cognite/client/_api/transformations/__init__.py
Due: mypy, custom-checks

fix tests: tests/tests_unit/test_data_classes/*
  tests/tests_unit/test_data_classes/__init__.py
  tests/tests_unit/test_data_classes/conftest.py
  tests/tests_unit/test_data_classes/test_assets.py
  tests/tests_unit/test_data_classes/test_capabilities.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_data_classes/test_data_models/__init__.py
  tests/tests_unit/test_data_classes/test_data_models/test_aggregations.py
  tests/tests_unit/test_data_classes/test_data_models/test_cdm/__init__.py
  tests/tests_unit/test_data_classes/test_data_models/test_cdm/test_v1.py
  tests/tests_unit/test_data_classes/test_data_models/test_containers.py
  tests/tests_unit/test_data_classes/test_data_models/test_data_types.py
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
  tests/tests_unit/test_data_classes/test_data_models/test_graphql.py
  tests/tests_unit/test_data_classes/test_data_models/test_queries.py
  tests/tests_unit/test_data_classes/test_data_models/test_views.py
  tests/tests_unit/test_data_classes/test_datapoint_subscriptions.py
  tests/tests_unit/test_data_classes/test_extraction_pipipelines.py
  tests/tests_unit/test_data_classes/test_filters.py
  tests/tests_unit/test_data_classes/test_functions.py
  tests/tests_unit/test_data_classes/test_geospatial.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/__init__.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_destinations.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_jobs.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_sources.py
  tests/tests_unit/test_data_classes/test_principals.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/tests_unit/test_data_classes/test_sequences.py
  tests/tests_unit/test_data_classes/test_time_series.py
  tests/tests_unit/test_data_classes/test_timestamp_range.py
  tests/tests_unit/test_data_classes/test_transformations/test_schema.py
  tests/tests_unit/test_data_classes/test_vision.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

move Geometry from data_classes/_base to /shared.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/documents.py
  cognite/client/data_classes/filters.py
  cognite/client/data_classes/shared.py
  tests/utils.py
Due: mypy, custom-checks

update conversion script to add basic HTTP methods++ to CogniteClient
  cognite/client/_sync_cognite_client.py
  scripts/sync_client_codegen/main.py
Due: mypy, custom-checks

make BasicAsyncAPIClient picklable
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

fix tests: tests/tests_unit/* and tests/utils.py
  tests/conftest.py
  tests/tests_unit/__init__.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_config.py
  tests/tests_unit/test_credential_providers.py
  tests/tests_unit/test_docstring_examples.py
  tests/tests_unit/test_exceptions.py
  tests/tests_unit/test_http_client.py
  tests/tests_unit/test_meta.py
  tests/tests_unit/test_testing.py
  tests/tests_unit/test_utils/__init__.py
  tests/tests_unit/test_utils/test_auxiliary.py
  tests/tests_unit/test_utils/test_concurrency.py
  tests/tests_unit/test_utils/test_importing.py
  tests/tests_unit/test_utils/test_json.py
  tests/tests_unit/test_utils/test_logging.py
  tests/tests_unit/test_utils/test_text.py
  tests/tests_unit/test_utils/test_url.py
  tests/tests_unit/test_utils/test_validation.py
  tests/utils.py
Due: mypy

refactor: insert_dataframe, infer id type from columns
  cognite/client/_api/datapoints.py
  scripts/create_ts_for_integration_tests.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
Due: mypy, custom-checks

Filter: Add magic __eq__
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

run coverage also on test files
  .coveragerc
Due: none

update API-conversion script to include sync methods + overloads
  scripts/sync_client_codegen/main.py
Due: mypy

convert timed_cache to async, add tests
  cognite/client/_api/units.py
  cognite/client/exceptions.py
  cognite/client/utils/_async_helpers.py
  cognite/client/utils/_time.py
  tests/tests_unit/test_utils/test_async_helpers.py
  tests/tests_unit/test_utils/test_time.py
Due: mypy, custom-checks

Turn split sync query classes into dataclasses
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

Split query and sync classes
  cognite/client/_api/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

Update InstancesAPI.subscribe doc example to use -Sync classes
  docs/source/data_modeling.rst
Due: none

update docs on InstancesAPI.subscribe -> local sqlite db
  docs/source/data_modeling.rst
Due: none

fix: various imports
  cognite/client/_api/data_modeling/space_statistics.py
  cognite/client/_api/data_modeling/statistics.py
  cognite/client/data_classes/data_modeling/statistics.py
  cognite/client/exceptions.py
Due: mypy, custom-checks

refactor: use MultiIndex in df.columns for dps dataframes
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_pandas_helpers.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

update _select_dps_fetch_strategy to use semaphore bound value
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

Fix tests related to Query-Sync-split
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/utils.py
Due: mypy

refactor Synth.DatapointsAPI to not use _extend
  cognite/client/_api/synthetic_time_series.py
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

run updated script to update sync APIs
  cognite/client/_sync_api/data_modeling/graphql.py
  cognite/client/_sync_api/data_modeling/space_statistics.py
  cognite/client/_sync_api/data_modeling/statistics.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/_sync_api/entity_matching.py
  cognite/client/_sync_api/files.py
  cognite/client/_sync_api/geospatial.py
  cognite/client/_sync_api/iam/__init__.py
  cognite/client/_sync_api/relationships.py
  cognite/client/_sync_api/simulators/models_revisions.py
  cognite/client/_sync_api/simulators/routines.py
Due: mypy, custom-checks

add section on 'Automatic Code Generation' to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

drop base_url default in ClientConfig. add cluster as opt
  cognite/client/config.py
  docs/source/settings.rst
  scripts/generate_code_snippets.py
  scripts/sync_client_codegen/codegen_utils.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_testing.py
Due: mypy, custom-checks

final mypy pass of fixes
  cognite/client/__init__.py
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_api/datapoints.py
  cognite/client/_api/org_apis/principals.py
  cognite/client/_api/raw/tables.py
  cognite/client/_api/sequence_data.py
  cognite/client/_api/synthetic_time_series.py
  cognite/client/_api/transformations/__init__.py
  cognite/client/_basic_api_client.py
  cognite/client/_constants.py
  cognite/client/data_classes/data_modeling/query.py
  cognite/client/data_classes/datapoints.py
  cognite/client/data_classes/files.py
  cognite/client/data_classes/filters.py
  cognite/client/data_classes/functions.py
  cognite/client/data_classes/hosted_extractors/sources.py
  cognite/client/data_classes/raw.py
  cognite/client/data_classes/workflows.py
  tests/conftest.py
  tests/tests_integration/test_api/test_data_sets.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_integration/test_api/test_events.py
  tests/tests_integration/test_api/test_geospatial.py
  tests/tests_integration/test_api/test_labels.py
  tests/tests_integration/test_api/test_principals.py
  tests/tests_integration/test_api/test_sequences.py
  tests/tests_integration/test_api/test_sequences_data.py
  tests/tests_integration/test_api/test_synthetic_time_series.py
  tests/tests_integration/test_api/test_time_series.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_data_classes/test_vision.py
Due: mypy, custom-checks

fix generator return annot to union of iterators in sync api
  cognite/client/_sync_api/assets.py
  cognite/client/_sync_api/data_modeling/containers.py
  cognite/client/_sync_api/data_modeling/data_models.py
  cognite/client/_sync_api/data_modeling/spaces.py
  cognite/client/_sync_api/data_modeling/views.py
  cognite/client/_sync_api/data_sets.py
  cognite/client/_sync_api/datapoints_subscriptions.py
  cognite/client/_sync_api/documents.py
  cognite/client/_sync_api/events.py
  cognite/client/_sync_api/extractionpipelines/__init__.py
  cognite/client/_sync_api/files.py
  cognite/client/_sync_api/functions/__init__.py
  cognite/client/_sync_api/functions/schedules.py
  cognite/client/_sync_api/hosted_extractors/destinations.py
  cognite/client/_sync_api/hosted_extractors/jobs.py
  cognite/client/_sync_api/hosted_extractors/mappings.py
  cognite/client/_sync_api/hosted_extractors/sources.py
  cognite/client/_sync_api/labels.py
  cognite/client/_sync_api/postgres_gateway/users.py
  cognite/client/_sync_api/raw/databases.py
  cognite/client/_sync_api/raw/rows.py
  cognite/client/_sync_api/relationships.py
  cognite/client/_sync_api/sequences.py
  cognite/client/_sync_api/simulators/__init__.py
  cognite/client/_sync_api/simulators/integrations.py
  cognite/client/_sync_api/simulators/models.py
  cognite/client/_sync_api/simulators/models_revisions.py
  cognite/client/_sync_api/simulators/routine_revisions.py
  cognite/client/_sync_api/simulators/routines.py
  cognite/client/_sync_api/simulators/runs.py
  cognite/client/_sync_api/three_d/models.py
  cognite/client/_sync_api/three_d/revisions.py
  cognite/client/_sync_api/time_series.py
  cognite/client/_sync_api/transformations/__init__.py
  cognite/client/_sync_api/transformations/notifications.py
  cognite/client/_sync_api/transformations/schedules.py
  cognite/client/_sync_api/workflows/__init__.py
  cognite/client/_sync_api/workflows/versions.py
  scripts/custom_checks/docstrings.py
Due: mypy, custom-checks

update set_max_workers -> override_semaphore in tests/utils.py
  tests/utils.py
Due: mypy

remove upper bound on pre-commit. run autoupdate
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

feat(documents): extend content methods to support external_id and instance_id
  cognite/client/_api/documents.py
Due: mypy, custom-checks

Split the DM container classes into read/write
  cognite/client/_api/data_modeling/containers.py
  cognite/client/_sync_api/data_modeling/containers.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/containers.py
  tests/tests_integration/test_api/test_data_modeling/test_containers.py
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/tests_integration/test_api/test_data_modeling/test_views.py
  tests/tests_integration/test_api/test_postgres_gateway/test_tables.py
  tests/tests_unit/test_api/test_data_modeling/test_containers.py
  tests/tests_unit/test_data_classes/test_data_models/test_containers.py
Due: mypy, custom-checks

run code-gen on edited files in commit (in pre-commit)
  .pre-commit-config.yaml
Due: none

final tests fixups
  tests/tests_integration/test_api/test_simulators/test_integrations.py
  tests/tests_integration/test_api/test_workflows.py
  tests/tests_unit/test_api/test_simulators/test_integrations.py
  tests/tests_unit/test_api/test_simulators/test_routine_revisions.py
  tests/tests_unit/test_api/test_simulators/test_routines.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/utils.py
Due: mypy

refactor filters to impl _load on subclasses
  cognite/client/data_classes/filters.py
  tests/utils.py
Due: mypy, custom-checks

avoid 'Task exception was never retrieved' in Datapoints API
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

verify all codegen files in new CI check (.github/workflows/build.yml)
  .github/workflows/build.yml
Due: none

remove no longer needed err handling of 'response.http_version'
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

clean up AggregatedValue in data_classes/aggregations.py
  cognite/client/data_classes/aggregations.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
