Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite 
          
          tests/tests_unit/test_data_classes
          tests/tests_unit/test_utils
          tests/tests_unit/test_api_client.py
          tests/tests_unit/test_base.py
          tests/tests_unit/test_cognite_client.py
          tests/tests_unit/test_config.py
          tests/tests_unit/test_credential_providers.py
          tests/tests_unit/test_docstring_examples.py
          tests/tests_unit/test_exceptions.py
          
          tests/tests_unit/test_api/test_assets.py
          tests/tests_unit/test_api/test_events.py
          tests/tests_unit/test_api/test_datapoints.py
          tests/tests_unit/test_api/test_data_sets.py
          tests/tests_unit/test_api/test_geospatial.py
          tests/tests_unit/test_api/test_raw.py
          tests/tests_unit/test_api/test_time_series.py
          tests/tests_unit/test_api/test_3d.py
          tests/tests_unit/test_api/test_vision_extract.py
          tests/tests_unit/test_api/test_transformations.py
          
          tests/tests_integration/test_api/test_data_modeling
          tests/tests_integration/test_api/test_datapoints.py
          tests/tests_integration/test_api/test_assets.py
          tests/tests_integration/test_api/test_events.py
          tests/tests_integration/test_api/test_workflows.py
          tests/tests_integration/test_api/test_raw.py
          tests/tests_integration/test_api/test_transformations

          tests/tests_integration/test_api/test_simulators
          tests/tests_integration/test_api/test_principals.py
          tests/tests_unit/test_api/test_simulators
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.8.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

style: apply ruff format
  tests/tests_unit/test_api/test_agents_chat.py
Due: mypy

adopt suggestion for docstring
  cognite/client/_api/data_modeling/containers.py
  cognite/client/_sync_api/data_modeling/containers.py
Due: mypy, custom-checks

feat(Data Modeling): support usedFor=record on containers (#2621)
  cognite/client/_api/data_modeling/containers.py
  cognite/client/_sync_api/data_modeling/containers.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/containers.py
  tests/tests_unit/test_api/test_data_modeling/test_containers.py
Due: mypy, custom-checks

fix url args
  cognite/client/_api/data_modeling/records.py
Due: mypy, custom-checks

pre-commit run
  cognite/client/_sync_api/data_modeling/records.py
Due: mypy, custom-checks

Update cognite/client/_api/data_modeling/records.py
  cognite/client/_api/data_modeling/records.py
Due: mypy, custom-checks

Update cognite/client/utils/_concurrency.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

use ingestion rl
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

refactor: address review feedback on reasoning data classes
  cognite/client/data_classes/agents/chat.py
Due: mypy, custom-checks

docs(data modelling): Add data modelling data types to the docs
  docs/source/data_modeling.rst
Due: none

Fix constatns file
  cognite/client/constants.py
Due: mypy, custom-checks

poetry update
  poetry.lock
Due: none

add auto test cleanup for destinations
  tests/tests_integration/test_api/test_hosted_extractors/conftest.py
  tests/tests_integration/test_api/test_hosted_extractors/test_destinations.py
Due: mypy

chore(deps): Update dependencies and CI actions (#2640)
  .github/actions/setup/action.yml
  .github/workflows/build.yml
  .github/workflows/coverage-master.yml
  .github/workflows/release-please.yml
  .github/workflows/verify-jupyter.yml
  .github/workflows/verify-streamlit.yml
  poetry.lock
Due: none

feat(data_modeling): add DataModelingDatapointsAPI (client.data_modeling.time_series.data)
  cognite/client/_sync_api/data_modeling/datapoints.py
Due: mypy, custom-checks

feat(data_modeling): add DataModelingTimeSeriesAPI (client.data_modeling.time_series)
  cognite/client/_sync_api/data_modeling/time_series.py
Due: mypy, custom-checks

feat(data_modeling): add DataModelingFilesAPI (client.data_modeling.files)
  cognite/client/_sync_api/data_modeling/files.py
Due: mypy, custom-checks

feat(data_modeling): wire files and time_series into DataModelingAPI
  cognite/client/_api/data_modeling/__init__.py
  cognite/client/_sync_api/data_modeling/__init__.py
Due: mypy, custom-checks

chore: fix codegen no longer leaving unused imports in __init__.py
  scripts/sync_client_codegen/codegen_utils.py
Due: mypy

chore: move to standardized pyprojct.toml format
  pyproject.toml
Due: none

Fixes
  poetry.lock
  pyproject.toml
Due: none

Fix custom check
  scripts/custom_checks/version.py
Due: mypy

Test github cache porblem
  .github/actions/setup/action.yml
Due: none

Test github cache porblem
  .github/workflows/build.yml
Due: none

Fix github actions
  .github/actions/setup/action.yml
  .github/workflows/build.yml
  poetry.lock
  pyproject.toml
Due: none

Revert missing newlines
  .github/actions/setup/action.yml
  .github/workflows/build.yml
Due: none

Fix issue
  poetry.lock
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

chore: fix codegen to no longer leave unused imports in `__init__.py` files (#2643)
  scripts/sync_client_codegen/codegen_utils.py
Due: mypy

remove unused type ignore
  tests/tests_integration/test_api/test_hosted_extractors/conftest.py
Due: mypy

Fix docs, GB should be GiB
  cognite/client/_api/files.py
  cognite/client/_sync_api/files.py
Due: mypy, custom-checks

add DataModelingFilesAPI to client.data_modeling
  cognite/client/_api/data_modeling/__init__.py
  cognite/client/_api/data_modeling/files.py
Due: mypy, custom-checks
