Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite 
          
          tests/tests_unit/test_data_classes
          tests/tests_unit/test_utils
          tests/tests_unit/test_api_client.py
          tests/tests_unit/test_base.py
          tests/tests_unit/test_cognite_client.py
          tests/tests_unit/test_config.py
          tests/tests_unit/test_credential_providers.py
          tests/tests_unit/test_docstring_examples.py
          tests/tests_unit/test_exceptions.py
          
          tests/tests_unit/test_api/test_assets.py
          tests/tests_unit/test_api/test_events.py
          tests/tests_unit/test_api/test_datapoints.py
          tests/tests_unit/test_api/test_data_sets.py
          tests/tests_unit/test_api/test_geospatial.py
          tests/tests_unit/test_api/test_raw.py
          tests/tests_unit/test_api/test_time_series.py
          tests/tests_unit/test_api/test_3d.py
          tests/tests_unit/test_api/test_vision_extract.py
          tests/tests_unit/test_api/test_transformations.py
          
          tests/tests_integration/test_api/test_data_modeling
          tests/tests_integration/test_api/test_datapoints.py
          tests/tests_integration/test_api/test_assets.py
          tests/tests_integration/test_api/test_events.py
          tests/tests_integration/test_api/test_workflows.py
          tests/tests_integration/test_api/test_raw.py
          tests/tests_integration/test_api/test_transformations

          tests/tests_integration/test_api/test_simulators
          tests/tests_integration/test_api/test_principals.py
          tests/tests_unit/test_api/test_simulators
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.8.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

temp skip records test: test_upsert_replaces_record
  tests/tests_integration/test_api/test_data_modeling/test_records.py
Due: mypy

refactor(to_pandas): single resource classes delegate `to_pandas()` to their list class (#2761)
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_sync_api/data_modeling/instances.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/iam.py
  cognite/client/utils/_pandas_helpers.py
  tests/tests_integration/test_api/test_data_modeling/test_records.py
  tests/tests_unit/test_meta.py
Due: mypy, custom-checks

address review comments
  cognite/client/data_classes/data_modeling/aggregates.py
  tests/tests_unit/test_data_classes/test_data_models/test_aggregates.py
Due: mypy, custom-checks

lots of work to mock ClientConfig safely
  cognite/client/testing.py
Due: mypy, custom-checks

update and extend test_client_config_is_available_on_cognite_client_mock
  tests/tests_unit/test_testing.py
Due: mypy

bump protobuf lower bound from v4 to v5
  poetry.lock
  pyproject.toml
Due: none

update the update_proto_files.py script
  scripts/update_proto_files.py
Due: mypy

update protobuf files to include state TS
  cognite/client/_proto/data_point_insertion_request_pb2.py
  cognite/client/_proto/data_point_insertion_request_pb2.pyi
  cognite/client/_proto/data_point_list_response_pb2.py
  cognite/client/_proto/data_point_list_response_pb2.pyi
  cognite/client/_proto/data_points_pb2.py
  cognite/client/_proto/data_points_pb2.pyi
Due: mypy, custom-checks

more tests
  tests/tests_unit/test_data_classes/test_data_models/test_aggregates.py
Due: mypy

mark create_client_config_mock private
  cognite/client/testing.py
Due: mypy, custom-checks

fix(tests): scope test_upsert_replaces_record's filter to the record's own id
  tests/tests_integration/test_api/test_data_modeling/test_records.py
Due: mypy

hide generated proto files in gh ui
  .gitattributes
Due: none

build(protobuf): Upgrade protobuf minimum version from v4 to v5 (prep for state ts support) (#2776)
  .gitattributes
  cognite/client/_proto/data_point_insertion_request_pb2.py
  cognite/client/_proto/data_point_insertion_request_pb2.pyi
  cognite/client/_proto/data_point_list_response_pb2.py
  cognite/client/_proto/data_point_list_response_pb2.pyi
  cognite/client/_proto/data_points_pb2.py
  cognite/client/_proto/data_points_pb2.pyi
  poetry.lock
  pyproject.toml
  scripts/update_proto_files.py
Due: mypy, custom-checks

fix(mocks): add config to Cognite client mock (#2770)
  cognite/client/testing.py
  tests/tests_unit/test_testing.py
Due: mypy, custom-checks

move datapoint fetch-related code into separate module
  cognite/client/_api/datapoints.py
  cognite/client/_api/datapoints_io.py
  cognite/client/_sync_api/datapoints.py
  scripts/sync_client_codegen/constants.py
  tests/tests_unit/test_api/test_datapoints.py
Due: mypy, custom-checks

also move RetrieveLatestDpsFetcher
  cognite/client/_api/datapoints.py
  cognite/client/_api/datapoints_io.py
  cognite/client/_sync_api/datapoints.py
Due: mypy, custom-checks

also move DatapointsPoster
  cognite/client/_api/datapoints.py
  cognite/client/_api/datapoints_io.py
  cognite/client/_sync_api/datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
Due: mypy, custom-checks

chore(datapoints): move datapoints I/O code into a separate module (#2781)
  cognite/client/_api/datapoints.py
  cognite/client/_api/datapoints_io.py
  cognite/client/_sync_api/datapoints.py
  scripts/sync_client_codegen/constants.py
  tests/tests_unit/test_api/test_datapoints.py
Due: mypy, custom-checks

make a note in the migration guide for good measure
  MIGRATION_GUIDE.md
Due: none

update to_pandas tests for version-conditional timestamp resolution
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_data_classes/test_data_models/test_typed_instances.py
  tests/tests_unit/test_data_classes/test_datapoints.py
  tests/tests_unit/test_data_classes/test_groups.py
  tests/utils.py
Due: mypy

run poetry update to get pandas v3
  poetry.lock
Due: none

add tests exercising both pandas v2 and v3 timestamp resolution branches
  tests/tests_unit/test_utils/test_pandas_helpers.py
Due: mypy

update tests after ns -> ms change
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_raw.py
  tests/tests_unit/test_api/test_sequences.py
  tests/tests_unit/test_api/test_time_series.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_data_classes/test_data_models/test_typed_instances.py
  tests/tests_unit/test_data_classes/test_datapoints.py
  tests/tests_unit/test_data_classes/test_groups.py
Due: mypy

make to_pandas() timestamp resolution version-conditional (ns on pandas v2, ms on v3)
  MIGRATION_GUIDE.md
  cognite/client/_api/datapoints.py
  cognite/client/_api/raw/rows.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

remove upper bound on pandas
  pyproject.toml
Due: none

change utils/_pandas_helpers.py to return 'datetime[ms]', not ns
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

add cache to is_pandas_v2_or_lower and timestamp_dtype_unit
  cognite/client/_sync_api/datapoints.py
  cognite/client/_sync_api/raw/rows.py
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

local mypy is having identity issues...
  tests/tests_unit/test_utils/test_pandas_helpers.py
Due: mypy

missed some tests in round 1
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_utils/test_pandas_helpers.py
Due: mypy

fix test suite when running with '--test-deps-only-core'
  tests/utils.py
Due: mypy

add helper class StateSetEntry to cover state_set property (list[json])
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/data_types.py
Due: mypy, custom-checks

add classes CogniteStateSet and -Apply to cdm/v1.py
  cognite/client/data_classes/data_modeling/cdm/v1.py
Due: mypy, custom-checks

add state_set to CogniteTimeSeries(-Apply) and add 'state' as valid time_series_type
  cognite/client/data_classes/data_modeling/cdm/v1.py
Due: mypy, custom-checks

docs: add version and date to homepage
  docs/source/index.rst
Due: none

docs: add version and date to homepage (#2782)
  docs/source/index.rst
Due: none

chore(master): release 8.14.0
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix(functions): list schedules with function external id
  cognite/client/_api/functions/schedules.py
  cognite/client/_sync_api/functions/schedules.py
  poetry.lock
  pyproject.toml
  tests/tests_integration/test_api/test_functions.py
Due: mypy, custom-checks

Fix bug
  cognite/client/_api/functions/schedules.py
  cognite/client/_sync_api/functions/schedules.py
Due: mypy, custom-checks

Fix bug
  tests/tests_integration/test_api/test_functions.py
Due: mypy

docs: add missing hosted extractor data classes
  docs/source/hosted_extractors.rst
Due: none
