Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

fix: updated OauthDeviceCode.load to match init
  cognite/client/credentials.py
Due: mypy, custom-checks

build; changelog
  CHANGELOG.md
Due: none

fix: support token custom oargs
  cognite/client/credentials.py
Due: mypy, custom-checks

refactor: added custom args
  cognite/client/credentials.py
Due: mypy, custom-checks

build; changelog
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Update CHANGELOG.md
  CHANGELOG.md
Due: none

tests: skip due to bad service
  tests/tests_integration/test_api/test_postgres_gateway/test_users.py
Due: mypy

build: remove upper bound numpy
  poetry.lock
  pyproject.toml
Due: none

tests: skip tests
  tests/tests_integration/test_api/test_postgres_gateway/test_users.py
Due: mypy

Remove upper bound Numpy (#1979)
  poetry.lock
  pyproject.toml
  tests/tests_integration/test_api/test_postgres_gateway/test_users.py
Due: mypy

Update device code loader (#1975)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/credentials.py
  pyproject.toml
Due: mypy, custom-checks

tests: improve test
  tests/tests_integration/test_api/test_extraction_pipelines.py
Due: mypy

tests: extended test to include notification config
  tests/tests_integration/test_api/test_extraction_pipelines.py
Due: mypy

feat; added notification config paramter to ExtractionPipeline
  cognite/client/data_classes/extractionpipelines.py
Due: mypy, custom-checks

build: bump
  CHANGELOG.md
Due: none

build: bump
  cognite/client/_version.py
  cognite/client/data_classes/extractionpipelines.py
  pyproject.toml
Due: mypy, custom-checks

Ãstyle: linitng
  cognite/client/data_classes/extractionpipelines.py
Due: mypy, custom-checks

[CDF-22879] Update extraction pipeline with NotificationConfig (#1978)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/extractionpipelines.py
  pyproject.toml
  tests/tests_integration/test_api/test_extraction_pipelines.py
Due: mypy, custom-checks

tests: unique timeseries IDs
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
Due: mypy

tests: handle emtpy timeseries
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
Due: mypy

tests; moved into fixture
  tests/conftest.py
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
Due: mypy

refactor; simplification
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
Due: mypy

Tests: TimeSeries Subscriptions (#1980)
  tests/conftest.py
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
Due: mypy

Load GeoLocation as UnknownCogniteObject if missing type field
  cognite/client/data_classes/transformations/common.py
Due: mypy, custom-checks

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

the actual fix, kind of important part of the PR 🤣
  cognite/client/data_classes/shared.py
Due: mypy, custom-checks

Fix `GeoLocation._load` raising `KeyError("type")` (#1981)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/shared.py
  cognite/client/data_classes/transformations/common.py
  pyproject.toml
Due: mypy, custom-checks

Make views example less confusing
  cognite/client/_api/data_modeling/views.py
Due: mypy, custom-checks

Make views example less confusing (#1982)
  cognite/client/_api/data_modeling/views.py
Due: mypy, custom-checks

tests: Added failing test
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

fix: iterate one by one
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

build: bump
  CHANGELOG.md
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix: remove adapter
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

style: lining
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

[CDF-22958] Instance iterator bug (#1985)
  CHANGELOG.md
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_version.py
  pyproject.toml
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy, custom-checks

Overload boolean filters
  cognite/client/data_classes/filters.py
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
Due: mypy, custom-checks

Add documentation and changelog
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/filters.py
  pyproject.toml
Due: mypy, custom-checks

Format test
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
Due: mypy

Fix typos
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks
