Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

make docs more user friendly
  cognite/client/data_classes/agents/agent_tools.py
Due: mypy, custom-checks

align use of read/write classes
  cognite/client/data_classes/agents/agents.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy, custom-checks

write -> apply for consistency
  cognite/client/data_classes/agents/__init__.py
  cognite/client/data_classes/agents/agent_tools.py
  cognite/client/data_classes/agents/agents.py
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy, custom-checks

simplify type hiearachy
  cognite/client/data_classes/agents/agent_tools.py
  cognite/client/data_classes/agents/agents.py
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy, custom-checks

share data between tests
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy

crud
  cognite/client/_api/agents/__init__.py
  cognite/client/_api/agents/agents.py
  cognite/client/_cognite_client.py
Due: mypy, custom-checks

add agentsapi to mock client
  cognite/client/testing.py
Due: mypy, custom-checks

add agentsapi unit tests
  tests/tests_unit/test_api/test_agents/test_agents_api.py
Due: mypy

add agentsapi integration tests
  tests/tests_integration/test_api/test_agents/test_agents_api.py
Due: mypy

add agentsapi docs
  cognite/client/_api/agents/agents.py
  docs/source/agents.rst
  docs/source/index.rst
Due: mypy, custom-checks

agents in changelog
  CHANGELOG.md
Due: none

Ingesting no datapoints no longer raises an exception
  cognite/client/_api/datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
Due: mypy, custom-checks

fix tests
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy

fix
  tests/tests_integration/test_api/test_simulators/conftest.py
Due: mypy

tests: added extra assert
  tests/tests_unit/test_api/test_raw.py
  tests/utils.py
Due: mypy

tests: assert dtype
  tests/tests_unit/test_api/test_raw.py
  tests/utils.py
Due: mypy

fix: call
  tests/tests_unit/test_api/test_raw.py
Due: mypy

apply -> upsert
  cognite/client/data_classes/agents/__init__.py
  cognite/client/data_classes/agents/agent_tools.py
  cognite/client/data_classes/agents/agents.py
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy, custom-checks

add AgentCore base class
  cognite/client/data_classes/agents/agent_tools.py
  cognite/client/data_classes/agents/agents.py
Due: mypy, custom-checks

first pass on docs
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/integrations.py
  cognite/client/_api/simulators/logs.py
  cognite/client/_api/simulators/models.py
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/_api/simulators/routines.py
  cognite/client/_api/simulators/runs.py
  cognite/client/data_classes/simulators/logs.py
  cognite/client/data_classes/simulators/models.py
  cognite/client/data_classes/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/routines.py
  cognite/client/data_classes/simulators/runs.py
  cognite/client/data_classes/simulators/simulators.py
  docs/source/index.rst
  docs/source/simulators.rst
Due: mypy, custom-checks

fix docs
  docs/source/simulators.rst
Due: none

fix CI
  cognite/client/_api/simulators/models.py
Due: mypy, custom-checks

fix import
  cognite/client/_api/simulators/models.py
Due: mypy, custom-checks

fix docstring example
  cognite/client/_api/simulators/logs.py
Due: mypy, custom-checks

Maintain datatype retrieve rows (#2163)
  CHANGELOG.md
  cognite/client/_api/raw.py
  cognite/client/_version.py
  pyproject.toml
  tests/tests_unit/test_api/test_raw.py
  tests/utils.py
Due: mypy, custom-checks

Update docstring
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

typed tools
  cognite/client/data_classes/agents/agent_tools.py
  cognite/client/data_classes/agents/agents.py
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
Due: mypy, custom-checks

remove annotations
  cognite/client/data_classes/agents/agent_tools.py
  cognite/client/data_classes/agents/agents.py
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy, custom-checks

_type classvar
  cognite/client/data_classes/agents/agent_tools.py
Due: mypy, custom-checks

load_tool
  cognite/client/data_classes/agents/agent_tools.py
Due: mypy, custom-checks

remove unused config
  cognite/client/data_classes/agents/agent_tools.py
Due: mypy, custom-checks

re-add future annotations due to CI requirement
  cognite/client/data_classes/agents/agent_tools.py
  cognite/client/data_classes/agents/agents.py
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy, custom-checks

remove wrongly added tool props
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy

remove wrongly added tool props on data classes
  cognite/client/data_classes/agents/agent_tools.py
Due: mypy, custom-checks

remove unneccessary comments
  cognite/client/data_classes/agents/agent_tools.py
Due: mypy, custom-checks

ABC and remove config
  cognite/client/data_classes/agents/agent_tools.py
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy, custom-checks

make tools render nicely
  cognite/client/data_classes/agents/agents.py
Due: mypy, custom-checks

no config tools
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
Due: mypy

export
  cognite/client/data_classes/agents/__init__.py
Due: mypy, custom-checks

test agent tool upsert
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
Due: mypy

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
