Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run dmypy run -- cognite tests
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.8.1
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

Update cognite/client/_api/workflows/triggers.py
  cognite/client/_api/workflows/triggers.py
Due: mypy, custom-checks

make simulatorIntegrationExternalId optional on runs, routines and routine revisions
  cognite/client/data_classes/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/routines.py
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

fix linting
  cognite/client/data_classes/simulators/routines.py
Due: mypy, custom-checks

removed type ignore
  cognite/client/data_classes/simulators/routines.py
Due: mypy, custom-checks

fix linting error
  cognite/client/data_classes/simulators/routines.py
Due: mypy, custom-checks

unit tests
  tests/tests_unit/test_data_classes/test_simulators.py
Due: mypy

unit test
  tests/tests_unit/test_data_classes/test_simulators.py
Due: mypy

Update styleguide.md with some prose on testing
  .gemini/styleguide.md
Due: none

removed redundant dump-load tests
  tests/tests_unit/test_data_classes/test_simulators.py
Due: mypy

removed load tests
  tests/tests_unit/test_data_classes/test_simulators.py
Due: mypy

imports optimized
  tests/tests_unit/test_data_classes/test_simulators.py
Due: mypy

feat(simint): make `simulator_integration_external_id` optional on runs, routines and routine revisions (#2420)
  cognite/client/data_classes/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/routines.py
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

Improve WorkflowTrigger dump tests with better variable naming
  cognite/client/data_classes/workflows.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy, custom-checks

Rename dumped_snake_case to snake_dumped for better clarity
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

Remove snake from variable name - use underscore_dumped instead
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

Use literal variable name: not_camel_case instead of underscore_dumped
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

Use literal variable name: dumped_false for camel_case=False
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

Name variable after method parameter: camel_case_false for camel_case=False
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

Use full descriptive name: dumped_camel_case_false
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

Rename all dumped variables consistently: dumped_camel_case_true and dumped_camel_case_false
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

Add camel_case=False test case to test_dump_without_is_paused
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

Make WorkflowTrigger dump tests parameterized
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

Improve WorkflowTrigger dump tests with better parameterization and comments
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

Fix trailing whitespace in test methods
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

docs: update styleguide.md with some prose on testing (#2423)
  .gemini/styleguide.md
Due: none

chore(master): release cognite-sdk-python 7.91.0
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

replace rsps with pytest-httpx: tests (other)
  tests/conftest.py
  tests/tests_unit/test_docstring_examples.py
  tests/tests_unit/test_exceptions.py
  tests/tests_unit/test_http_client.py
  tests/tests_unit/test_meta.py
  tests/tests_unit/test_utils/test_concurrency.py
  tests/utils.py
Due: mypy

replace rsps with pytest-httpx (unit): test_api/test_agents.py
  tests/tests_unit/test_api/test_agents.py
Due: mypy

update APIs using _do_request or stream
  cognite/client/_api/datapoints.py
  cognite/client/_api/diagrams.py
  cognite/client/_api/document_preview.py
  cognite/client/_api/documents.py
  cognite/client/_api/files.py
  cognite/client/_api/functions/schedules.py
  cognite/client/_api/geospatial.py
  cognite/client/_api/sequence_data.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/files.py
  cognite/client/utils/_version_checker.py
Due: mypy, custom-checks

add drop_none_values to fix httpx usage of url params that are null
  cognite/client/_api/extractionpipelines.py
  cognite/client/_api/raw/rows.py
  cognite/client/_api/three_d/models.py
  cognite/client/_api/three_d/revisions.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

update HTTPClient(WithRetry), HTTPClient(WithRetry)Config and RetryTracker
  cognite/client/_http_client.py
Due: mypy, custom-checks

replace rsps with pytest-httpx (unit): test_api/test_data_modeling/test_containers.py
  tests/tests_unit/test_api/test_data_modeling/test_containers.py
Due: mypy

replace rsps with pytest-httpx (unit): test_api/test_assets.py
  tests/tests_unit/test_api/test_assets.py
Due: mypy

refactor: split out basic api methods in BasicAPIClient
  cognite/client/_api_client.py
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

dependency: swap responses with httpx_mock
  poetry.lock
  pyproject.toml
Due: none

remove playground
  cognite/client/utils/_url.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

update GlobalConfig and ClientConfig
  cognite/client/_api/assets.py
  cognite/client/_api/datapoints.py
  cognite/client/_api/files.py
  cognite/client/_api/raw/databases.py
  cognite/client/_api/raw/rows.py
  cognite/client/_api/raw/tables.py
  cognite/client/_api/relationships.py
  cognite/client/_api/sequence_data.py
  cognite/client/_api/synthetic_time_series.py
  cognite/client/_api/three_d/asset_mapping.py
  cognite/client/_api/workflows/__init__.py
  cognite/client/_api/workflows/versions.py
  cognite/client/_api_client.py
  cognite/client/_http_client.py
  cognite/client/config.py
  cognite/client/data_classes/assets.py
  cognite/client/utils/_concurrency.py
  cognite/client/utils/_pyodide_helpers.py
Due: mypy, custom-checks

add: unpack_items function
  cognite/client/_api/datapoints.py
  cognite/client/_api/files.py
  cognite/client/_api_client.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

add httpx and poetry update
  poetry.lock
  pyproject.toml
Due: none

update exceptions. always use specialized not-found/duplicated err
  cognite/client/_api/assets.py
  cognite/client/_api/datapoints.py
  cognite/client/exceptions.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks
