Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

Fix docstring formatter
  cognite/client/data_classes/workflows.py
  scripts/custom_checks/docstrings.py
Due: mypy, custom-checks

add 3.13 test runner
  .github/workflows/build.yml
Due: none

update devcontainer for py 3.10 (#1962)
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
Due: none

support dataclasses.InitVar in FakeResGen
  tests/utils.py
Due: mypy

make `allow_unknown` kw only to allow removal from all subclasses (#1960)
  cognite/client/data_classes/capabilities.py
Due: mypy, custom-checks

Bump version and update changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix typed instance apply classes
  cognite/client/data_classes/data_modeling/cdm/v1.py
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

revert asset_type and equipment_type from NOT_SET to None
  CHANGELOG.md
  cognite/client/data_classes/data_modeling/cdm/v1.py
Due: mypy, custom-checks

update tests
  tests/tests_integration/test_api/test_data_modeling/test_core_model.py
Due: mypy

update NodeApply.load to not pass type unless explicitly given
  cognite/client/_constants.py
  cognite/client/data_classes/data_modeling/cdm/v1.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

tests: added failing tests
  tests/tests_unit/test_data_classes/test_hosted_extractors/__init__.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_jobs.py
Due: mypy

tests: fix test
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_jobs.py
Due: mypy

fix: dumping unknown object
  cognite/client/data_classes/hosted_extractors/jobs.py
Due: mypy, custom-checks

fix: more bugs
  cognite/client/data_classes/hosted_extractors/sources.py
Due: mypy, custom-checks

build; bump
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Hosted extractor Unknown Object bug (#1971)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/hosted_extractors/jobs.py
  cognite/client/data_classes/hosted_extractors/sources.py
  pyproject.toml
  tests/tests_unit/test_data_classes/test_hosted_extractors/__init__.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_jobs.py
Due: mypy, custom-checks

build: lower limit on msal
  poetry.lock
  pyproject.toml
Due: none

build: changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Require msal version >=1.31 (#1973)
  CHANGELOG.md
  cognite/client/_version.py
  poetry.lock
  pyproject.toml
Due: mypy, custom-checks

refactor: shell for tables
  cognite/client/_api/postgres_gateway/tables.py
  cognite/client/data_classes/postgres_gateway/__init__.py
  cognite/client/data_classes/postgres_gateway/tables.py
Due: mypy, custom-checks

refactor; shell for testing
  cognite/client/_api/postgres_gateway/__init__.py
  cognite/client/data_classes/postgres_gateway/tables.py
  cognite/client/testing.py
  tests/tests_integration/test_api/test_postgres_gateway/conftest.py
  tests/tests_integration/test_api/test_postgres_gateway/test_tables.py
  tests/tests_integration/test_api/test_postgres_gateway/test_users.py
Due: mypy, custom-checks

refactor; tables dataclasses
  cognite/client/data_classes/postgres_gateway/tables.py
Due: mypy, custom-checks

refactor: tablename sequence
  cognite/client/_api/postgres_gateway/tables.py
  cognite/client/data_classes/postgres_gateway/tables.py
  cognite/client/utils/_identifier.py
Due: mypy, custom-checks

refactor: custom dump
  cognite/client/data_classes/postgres_gateway/tables.py
Due: mypy, custom-checks

refactor; expose all dataclasses
  cognite/client/data_classes/postgres_gateway/__init__.py
  cognite/client/data_classes/postgres_gateway/tables.py
Due: mypy, custom-checks

fix: dump methods
  cognite/client/data_classes/postgres_gateway/tables.py
  tests/tests_integration/test_api/test_postgres_gateway/test_tables.py
Due: mypy, custom-checks

fix: retrieve and delete
  cognite/client/_api/postgres_gateway/tables.py
  cognite/client/utils/_identifier.py
  tests/tests_integration/test_api/test_postgres_gateway/test_tables.py
  tests/tests_unit/test_utils/test_identifier.py
Due: mypy, custom-checks

fix: create raw tables
  cognite/client/_api/postgres_gateway/tables.py
  cognite/client/data_classes/postgres_gateway/tables.py
  tests/tests_integration/test_api/test_postgres_gateway/test_tables.py
Due: mypy, custom-checks

tests: fix
  tests/tests_integration/test_api/test_postgres_gateway/test_tables.py
Due: mypy

docs; updated docs
  cognite/client/_api/postgres_gateway/tables.py
  docs/source/postgres_gateway.rst
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

docs; syntax error in example
  cognite/client/_api/postgres_gateway/tables.py
  tests/tests_unit/test_base.py
Due: mypy, custom-checks

style: happy mypy
  cognite/client/data_classes/postgres_gateway/tables.py
Due: mypy, custom-checks

docs; unique cross ref
  docs/source/postgres_gateway.rst
Due: none

docs; consistent
  docs/source/postgres_gateway.rst
Due: none

tests: robustify
  tests/tests_integration/test_api/test_postgres_gateway/test_tables.py
Due: mypy

fix 3.13 tests
  .github/workflows/build.yml
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy

exec() takes no keyword arguments before 3.13...
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy

fix 3.13 test runners (#1976)
  .github/workflows/build.yml
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy

Undeprecate using instance list get method with external_id (#1969)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/data_modeling/instances.py
  pyproject.toml
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/tests_unit/test_data_classes/test_data_models/test_resource_class_methods.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
