Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    tests/tests_unit/test_utils/test_time.py
  
    tests/tests_integration/test_api/test_datapoints.py
  
  ...

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

refactor usage of set_request_limit
  tests/tests_integration/test_api/test_assets.py
  tests/tests_integration/test_api/test_data_sets.py
  tests/tests_integration/test_api/test_events.py
  tests/tests_integration/test_api/test_geospatial.py
  tests/tests_integration/test_api/test_sequences.py
  tests/tests_integration/test_api/test_time_series.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api_client.py
Due: mypy

make FileMultipartUploadSession work in both sync and async contexts
  cognite/client/_api/files.py
  cognite/client/data_classes/files.py
Due: mypy, custom-checks

fix: various imports
  cognite/client/_api/data_modeling/space_statistics.py
  cognite/client/_api/data_modeling/statistics.py
  cognite/client/data_classes/data_modeling/statistics.py
  cognite/client/exceptions.py
Due: mypy, custom-checks

reorgranize DatapointsAPI, split utils and aggregates
  cognite/client/_api/datapoint_tasks.py
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/datapoint_aggregates.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_datapoints.py
  cognite/client/utils/_pandas_helpers.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/utils.py
Due: mypy, custom-checks

run coverage also on test files
  .coveragerc
Due: none

add helpers for file handling: utils/_uploading.py
  cognite/client/utils/_uploading.py
Due: mypy, custom-checks

remove special pyodide handling in FilesAPI upload *YEY*
  cognite/client/_api/files.py
Due: mypy, custom-checks

update _select_dps_fetch_strategy to use semaphore bound value
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

refactor Synth.DatapointsAPI to not use _extend
  cognite/client/_api/synthetic_time_series.py
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

build request again when retrying in AsyncHTTPClientWithRetry.stream
  cognite/client/_http_client.py
Due: mypy, custom-checks

run updated script to update sync APIs
  cognite/client/_sync_api/data_modeling/graphql.py
  cognite/client/_sync_api/data_modeling/space_statistics.py
  cognite/client/_sync_api/data_modeling/statistics.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/_sync_api/entity_matching.py
  cognite/client/_sync_api/files.py
  cognite/client/_sync_api/geospatial.py
  cognite/client/_sync_api/iam/__init__.py
  cognite/client/_sync_api/relationships.py
  cognite/client/_sync_api/simulators/models_revisions.py
  cognite/client/_sync_api/simulators/routines.py
Due: mypy, custom-checks

refactor: insert_dataframe, infer id type from columns
  cognite/client/_api/datapoints.py
  scripts/create_ts_for_integration_tests.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
Due: mypy, custom-checks

update test to use tmp_path fixture
  tests/tests_unit/test_api/test_files.py
Due: mypy

Org APIs use api-layer logic, not http. add CogniteOrganizationError
  cognite/client/_api/org_apis/principals.py
  cognite/client/_basic_api_client.py
  cognite/client/_org_client.py
  cognite/client/exceptions.py
Due: mypy, custom-checks

Access the response from the exception, not from the local variable
  cognite/client/_http_client.py
Due: mypy, custom-checks

update to using override_semaphore in tests
  tests/tests_integration/test_api/test_assets.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

update docs on InstancesAPI.subscribe -> local sqlite db
  docs/source/data_modeling.rst
Due: none

change scopes arg of OAuthClientCredentials to allow None
  cognite/client/credentials.py
  tests/tests_integration/conftest.py
  tests/tests_integration/test_api/test_transformations/test_jobs.py
  tests/tests_integration/test_api/test_transformations/test_notifications.py
  tests/tests_integration/test_api/test_transformations/test_schedules.py
  tests/tests_integration/test_api/test_transformations/test_transformations.py
Due: mypy, custom-checks

fix generator return annot to union of iterators in sync api
  cognite/client/_sync_api/assets.py
  cognite/client/_sync_api/data_modeling/containers.py
  cognite/client/_sync_api/data_modeling/data_models.py
  cognite/client/_sync_api/data_modeling/spaces.py
  cognite/client/_sync_api/data_modeling/views.py
  cognite/client/_sync_api/data_sets.py
  cognite/client/_sync_api/datapoints_subscriptions.py
  cognite/client/_sync_api/documents.py
  cognite/client/_sync_api/events.py
  cognite/client/_sync_api/extractionpipelines/__init__.py
  cognite/client/_sync_api/files.py
  cognite/client/_sync_api/functions/__init__.py
  cognite/client/_sync_api/functions/schedules.py
  cognite/client/_sync_api/hosted_extractors/destinations.py
  cognite/client/_sync_api/hosted_extractors/jobs.py
  cognite/client/_sync_api/hosted_extractors/mappings.py
  cognite/client/_sync_api/hosted_extractors/sources.py
  cognite/client/_sync_api/labels.py
  cognite/client/_sync_api/postgres_gateway/users.py
  cognite/client/_sync_api/raw/databases.py
  cognite/client/_sync_api/raw/rows.py
  cognite/client/_sync_api/relationships.py
  cognite/client/_sync_api/sequences.py
  cognite/client/_sync_api/simulators/__init__.py
  cognite/client/_sync_api/simulators/integrations.py
  cognite/client/_sync_api/simulators/models.py
  cognite/client/_sync_api/simulators/models_revisions.py
  cognite/client/_sync_api/simulators/routine_revisions.py
  cognite/client/_sync_api/simulators/routines.py
  cognite/client/_sync_api/simulators/runs.py
  cognite/client/_sync_api/three_d/models.py
  cognite/client/_sync_api/three_d/revisions.py
  cognite/client/_sync_api/time_series.py
  cognite/client/_sync_api/transformations/__init__.py
  cognite/client/_sync_api/transformations/notifications.py
  cognite/client/_sync_api/transformations/schedules.py
  cognite/client/_sync_api/workflows/__init__.py
  cognite/client/_sync_api/workflows/versions.py
  scripts/custom_checks/docstrings.py
Due: mypy, custom-checks

do a mypy pass on tests
  tests/tests_integration/conftest.py
  tests/tests_integration/test_api/test_data_modeling/test_data_models.py
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/tests_integration/test_api/test_data_modeling/test_views.py
  tests/tests_integration/test_api/test_data_sets.py
  tests/tests_integration/test_api/test_files.py
  tests/tests_integration/test_api/test_functions.py
  tests/tests_integration/test_api/test_organization.py
  tests/tests_integration/test_api/test_principals.py
  tests/tests_integration/test_api/test_raw.py
  tests/tests_integration/test_api/test_sequences_data.py
  tests/tests_integration/test_api/test_simulators/seed/resources.py
  tests/tests_integration/test_api/test_simulators/test_models.py
  tests/tests_integration/test_api/test_three_d.py
Due: mypy

prepare codegen (sync api/client) for pre-commit/CI
  scripts/sync_client_codegen/codegen_utils.py
  scripts/sync_client_codegen/constants.py
  scripts/sync_client_codegen/create_sync_api.py
  scripts/sync_client_codegen/create_sync_client.py
  scripts/sync_client_codegen/main.py
  scripts/sync_client_codegen/sync_api_template.txt
  scripts/sync_client_codegen/sync_client_template.txt
Due: mypy

Turn split sync query classes into dataclasses
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

mypy pass of unit tests (+ minor fixes)
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api/function_test_resources/function_with_annotated_handle_assignment/handler.py
  tests/tests_unit/test_api/function_test_resources/function_with_handle_assignment/handler.py
  tests/tests_unit/test_api/function_test_resources/function_with_handle_assignment_invalid_args/handler.py
  tests/tests_unit/test_api/test_agents_actions.py
  tests/tests_unit/test_api/test_data_modeling/test_instances.py
  tests/tests_unit/test_api/test_data_sets.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_diagrams.py
  tests/tests_unit/test_api/test_events.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_api/test_labels.py
  tests/tests_unit/test_api/test_raw.py
  tests/tests_unit/test_api/test_relationships.py
  tests/tests_unit/test_api/test_vision_extract.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_credential_providers.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_data_classes/test_datapoints.py
  tests/tests_unit/test_data_classes/test_filters.py
  tests/tests_unit/test_data_classes/test_functions.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/tests_unit/test_data_classes/test_vision.py
  tests/tests_unit/test_docstring_examples.py
  tests/tests_unit/test_meta.py
  tests/tests_unit/test_utils/test_async_helpers.py
  tests/tests_unit/test_utils/test_time.py
Due: mypy

avoid 'Task exception was never retrieved' in Datapoints API
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

Fix tests related to Query-Sync-split
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/utils.py
Due: mypy

run code-gen on edited files in commit (in pre-commit)
  .pre-commit-config.yaml
Due: none

update MIGRATION_GUIDE.md for v7 -> v8
  MIGRATION_GUIDE.md
Due: none

update transformations tests (some used to be async even bef v8)
  tests/tests_integration/test_api/test_transformations/test_jobs.py
  tests/tests_integration/test_api/test_transformations/test_transformations.py
Due: mypy

add section on 'Automatic Code Generation' to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

update set_max_workers -> override_semaphore in tests/utils.py
  tests/utils.py
Due: mypy

improve robustness of workflow tests. change trigger to avoid spam
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

Add dunder str and repr-html to GlobalConfig
  cognite/client/config.py
Due: mypy, custom-checks

remove 'Cannot chain result sets...' check in instances/subscribe
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

remove upper bound on pre-commit. run autoupdate
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

make BasicAsyncAPIClient picklable
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

feat(documents): extend content methods to support external_id and instance_id
  cognite/client/_api/documents.py
Due: mypy, custom-checks

use response header to evaluate is_auto_retryable (not .json())
  cognite/client/_http_client.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
