Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

Update CHANGELOG.md and pyproject.toml
  CHANGELOG.md
  pyproject.toml
Due: none

Update _version.py
  cognite/client/_version.py
Due: mypy, custom-checks

Update CHANGELOG.md
  CHANGELOG.md
Due: none

CDF-22673: add support for data modeling triggers in data workflows
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

Fix FunctionSchedulesAPI.__call__() (#2016)
  CHANGELOG.md
  cognite/client/_api/functions.py
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix: tests
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy

tests: Extended tests
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy

build; changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

feat; added SAP Acls
  cognite/client/data_classes/capabilities.py
Due: mypy, custom-checks

fix: LIST not Write
  cognite/client/data_classes/capabilities.py
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy, custom-checks

tests: extended test with for comparing
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy

[CDF-23253] SAP writeback acls (#2019)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/capabilities.py
  pyproject.toml
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy, custom-checks

add data set support for data workflows
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/capabilities.py
  cognite/client/data_classes/workflows.py
  pyproject.toml
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy, custom-checks

fix: field rename for simint tasks
  cognite/client/data_classes/workflows.py
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy, custom-checks

fix: types for simint runs
  cognite/client/data_classes/simulators.py
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

fix: remove old test for simint integration
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy

feature: iterate datapoints using DatapointsAPI.__call__
  cognite/client/_api/datapoint_tasks.py
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_auxiliary.py
  cognite/client/utils/_identifier.py
  scripts/create_ts_for_integration_tests.py
  scripts/custom_checks/docstrings.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

update tests for query_validator
  tests/tests_unit/test_api/test_datapoints_tasks.py
Due: mypy

fix docstring for __call__
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

mypy yes, mypy no, mypy wut
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

changelog, version, typos and docs updates
  CHANGELOG.md
  cognite/client/_api/datapoints.py
  cognite/client/_version.py
  docs/source/time_series.rst
  pyproject.toml
Due: mypy, custom-checks

tests all branches. update script to gen. ts data
  scripts/create_ts_for_integration_tests.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

update test
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

improve changelog
  CHANGELOG.md
Due: none

Apply suggestions from code review
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

fix xid -> inst id
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

fix bug when chunk_size_time_series=0
  cognite/client/_api/datapoints.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

pr feedback: extract method, _update_alive_queries_and_do_manual_cursoring
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

remove unused type ignore. drop coverage of proto files
  .coveragerc
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

pr feedback: remove top-level defaults from fn sig
  cognite/client/_api/datapoint_tasks.py
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/datapoints.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

reuse existing helper fn
  cognite/client/_api/datapoint_tasks.py
Due: mypy, custom-checks

fix a few tests
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

add to Aggregate, define _OBJECT_AGGREGATES
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

tmp: use alpha header in integration tests
  tests/tests_integration/conftest.py
Due: mypy

make WorkflowTriggerDataModelingQuery subclass Query
  cognite/client/data_classes/data_modeling/query.py
  cognite/client/data_classes/workflows.py
  tests/utils.py
Due: mypy, custom-checks

specificlly set cursors to None
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

timelords changed something
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy
