Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling, simulators and datapoints
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
          tests/tests_unit/test_utils/test_time.py
          tests/tests_integration/test_api/test_datapoints.py
          tests/tests_unit/test_api/test_assets.py
          tests/tests_integration/test_api/test_assets.py
          tests/tests_integration/test_api/test_simulators
          tests/tests_integration/test_api/test_principals.py
          tests/tests_unit/test_api/test_simulators
          tests/tests_unit/test_data_classes/test_simulators.py
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.7.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

Fix tests related to Query-Sync-split
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

refactor Synth.DatapointsAPI to not use _extend
  cognite/client/_api/synthetic_time_series.py
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

add manual release workflow for pre-releases
  .github/workflows/release-v8.yaml
  .github/workflows/release.yaml
Due: none

rename to .github/workflows/manual-pre-release.yaml
  .github/workflows/manual-pre-release.yaml
Due: none

target branch 'pysdk-release-*'. modify regex
  .github/workflows/manual-pre-release.yaml
Due: none

never ending TMP
  .github/workflows/build.yml
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_api/datapoints.py
  cognite/client/_api/synthetic_time_series.py
  cognite/client/_api/workflows/executions.py
  cognite/client/_sync_api/data_modeling/instances.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/data_classes/data_modeling/query.py
  cognite/client/data_classes/data_modeling/sync.py
  cognite/client/data_classes/hosted_extractors/sources.py
  cognite/client/utils/_auxiliary.py
  cognite/client/utils/_pandas_helpers.py
  tests/tests_integration/test_api/test_assets.py
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_integration/test_api/test_sequences_data.py
  tests/tests_integration/test_api/test_transformations/test_jobs.py
  tests/tests_integration/test_api/test_workflows.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_vision_extract.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_data_classes/test_datapoints.py
  tests/tests_unit/test_docstring_examples.py
  tests/utils.py
Due: mypy, custom-checks

make BasicAsyncAPIClient picklable
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

BUMP VERSION to 8.0.0a1
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Update MIGRATION_GUIDE.md for v7 -> v8
  MIGRATION_GUIDE.md
Due: none

WIP Cursor wrote migration guide
  MIGRATION_GUIDE.md
Due: none

turn on pickle-client-test and add one for AsyncCogniteClient
  tests/tests_integration/test_cognite_client.py
Due: mypy

TMP
  cognite/client/_basic_api_client.py
  cognite/client/_constants.py
  cognite/client/_sync_api/postgres_gateway/tables.py
  cognite/client/data_classes/datapoints.py
  cognite/client/data_classes/files.py
  cognite/client/data_classes/workflows.py
  cognite/client/utils/_pandas_helpers.py
  cognite/client/utils/_time.py
  poetry.lock
  pyproject.toml
  tests/tests_integration/test_api/test_data_sets.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_integration/test_api/test_files.py
  tests/tests_integration/test_api/test_organization.py
  tests/tests_integration/test_api/test_simulators/test_models.py
  tests/tests_integration/test_api/test_three_d.py
  tests/tests_integration/test_api/test_transformations/test_transformations.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api/function_test_resources/function_with_annotated_handle_assignment/handler.py
  tests/tests_unit/test_api/function_test_resources/function_with_handle_assignment/handler.py
  tests/tests_unit/test_api/function_test_resources/function_with_handle_assignment_invalid_args/handler.py
  tests/tests_unit/test_api/test_agents_actions.py
  tests/tests_unit/test_api/test_data_sets.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_events.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_api/test_labels.py
  tests/tests_unit/test_api/test_raw.py
  tests/tests_unit/test_api/test_relationships.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_data_classes/test_filters.py
  tests/tests_unit/test_data_classes/test_functions.py
Due: mypy, custom-checks

Split the container classes into read/write
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/containers.py
Due: mypy, custom-checks

Update docstrings in api
  cognite/client/_api/data_modeling/containers.py
Due: mypy, custom-checks

Update tests
  tests/tests_integration/test_api/test_data_modeling/test_containers.py
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/tests_integration/test_api/test_data_modeling/test_views.py
  tests/tests_integration/test_api/test_postgres_gateway/test_tables.py
  tests/tests_unit/test_api/test_data_modeling/test_containers.py
  tests/tests_unit/test_data_classes/test_data_models/test_containers.py
Due: mypy

test(simint): fixes for test flakyness, stability, etc
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/test_integrations.py
  tests/tests_integration/test_api/test_simulators/test_routines.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy

Apply suggestion from @haakonvt
  .github/workflows/manual-pre-release.yaml
Due: none

Apply suggestion from @amorken
  .github/workflows/manual-pre-release.yaml
Due: none

chore: add manual release workflow for pre-releases (#2384)
  .github/workflows/manual-pre-release.yaml
  .github/workflows/release.yaml
Due: none

Remove all defaults from read classes
  cognite/client/data_classes/data_modeling/containers.py
Due: mypy, custom-checks

feat(simint-alpha): add routine kind property
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/_api/simulators/routines.py
  cognite/client/data_classes/simulators/__init__.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/routines.py
  tests/tests_unit/test_api/test_simulators/conftest.py
  tests/tests_unit/test_api/test_simulators/test_routine_revisions.py
  tests/tests_unit/test_api/test_simulators/test_routines.py
Due: mypy, custom-checks

test: refactor unit tests
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/_api/simulators/routines.py
  tests/tests_unit/test_api/test_simulators/conftest.py
  tests/tests_unit/test_api/test_simulators/test_routine_revisions.py
  tests/tests_unit/test_api/test_simulators/test_routines.py
Due: mypy, custom-checks

refactor: replace union with literal
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/_api/simulators/routines.py
  cognite/client/data_classes/simulators/__init__.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/routines.py
  tests/tests_unit/test_api/test_simulators/test_routine_revisions.py
  tests/tests_unit/test_api/test_simulators/test_routines.py
Due: mypy, custom-checks

test: refactor http mocks to be inline
  tests/tests_unit/test_api/test_simulators/conftest.py
  tests/tests_unit/test_api/test_simulators/test_routine_revisions.py
  tests/tests_unit/test_api/test_simulators/test_routines.py
Due: mypy

test: replace /integrations/delete with simple unit test
  tests/tests_integration/test_api/test_simulators/test_integrations.py
  tests/tests_unit/test_api/test_simulators/test_integrations.py
Due: mypy

feat(simint-alpha): add kind=long routines support (#2388)
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/_api/simulators/routines.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/routines.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/test_integrations.py
  tests/tests_integration/test_api/test_simulators/test_routines.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
  tests/tests_unit/test_api/test_simulators/test_integrations.py
  tests/tests_unit/test_api/test_simulators/test_routine_revisions.py
  tests/tests_unit/test_api/test_simulators/test_routines.py
Due: mypy, custom-checks

chore(master): release 7.89.0
  CHANGELOG.md
  pyproject.toml
Due: none

chore: align versions
  cognite/client/_version.py
Due: mypy, custom-checks

chore(master): release 7.89.0 (#2389)
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

add warning when operator is not passed to instances/search
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

add: unpack_items function
  cognite/client/_api/datapoints.py
  cognite/client/_api/files.py
  cognite/client/_api_client.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

dependency: swap responses with httpx_mock
  poetry.lock
  pyproject.toml
Due: none

add httpx and poetry update
  poetry.lock
  pyproject.toml
Due: none

remove playground
  cognite/client/utils/_url.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

refactor: split out basic api methods in BasicAPIClient
  cognite/client/_api_client.py
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

refactor: move url methods to utils/_url.py. add VALID_URL_PATTERN
  cognite/client/_api/data_modeling/graphql.py
  cognite/client/_api/postgres_gateway/tables.py
  cognite/client/_api/raw/rows.py
  cognite/client/_api/raw/tables.py
  cognite/client/_api/templates.py
  cognite/client/_api/three_d/asset_mapping.py
  cognite/client/_api/three_d/files.py
  cognite/client/_api/three_d/revisions.py
  cognite/client/_api/transformations/jobs.py
  cognite/client/_api/transformations/schema.py
  cognite/client/_api/workflows/__init__.py
  cognite/client/_api/workflows/triggers.py
  cognite/client/_api/workflows/versions.py
  cognite/client/_api_client.py
  cognite/client/utils/_auxiliary.py
  cognite/client/utils/_text.py
  cognite/client/utils/_url.py
  tests/tests_unit/test_utils/test_auxiliary.py
  tests/tests_unit/test_utils/test_url.py
Due: mypy, custom-checks

update HTTPClient(WithRetry), HTTPClient(WithRetry)Config and RetryTracker
  cognite/client/_http_client.py
Due: mypy, custom-checks

update APIClient/BasicAPIClient GET/POST etc, introduce FailedRequestHandler
  cognite/client/_api_client.py
  cognite/client/_basic_api_client.py
  cognite/client/_cognite_client.py
  cognite/client/_http_client.py
  cognite/client/utils/_json.py
Due: mypy, custom-checks

update APIs using _do_request or stream
  cognite/client/_api/datapoints.py
  cognite/client/_api/diagrams.py
  cognite/client/_api/document_preview.py
  cognite/client/_api/documents.py
  cognite/client/_api/files.py
  cognite/client/_api/functions/schedules.py
  cognite/client/_api/geospatial.py
  cognite/client/_api/sequence_data.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/files.py
  cognite/client/utils/_version_checker.py
Due: mypy, custom-checks

add drop_none_values to fix httpx usage of url params that are null
  cognite/client/_api/extractionpipelines.py
  cognite/client/_api/raw/rows.py
  cognite/client/_api/three_d/models.py
  cognite/client/_api/three_d/revisions.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks
