Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

fix changelog date
  CHANGELOG.md
Due: none

allow None for workflowExecutionId in WorkflowTriggerRun
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/workflows.py
  pyproject.toml
Due: mypy, custom-checks

allow None for workflowExecutionId in WorkflowTriggerRun
  CHANGELOG.md
Due: none

enable diagram detect based on file instance id (#1887)
  CHANGELOG.md
  cognite/client/_api/diagrams.py
  cognite/client/_version.py
  cognite/client/data_classes/contextualization.py
  pyproject.toml
  tests/data/mypnid.pdf
  tests/tests_integration/test_api/test_diagrams.py
Due: mypy, custom-checks

fix: reset debug mode after test
  tests/tests_unit/test_cognite_client.py
Due: mypy

feat: update documentation to include example using CogniteClient.load
  cognite/client/config.py
  docs/source/cognite_client.rst
  docs/source/quickstart.rst
  tests/tests_unit/cognite-sdk-config.yaml
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

chore: remove from_yaml from this PR
  cognite/client/_cognite_client.py
Due: mypy, custom-checks

feat: add auxiliary function for load_dict_or_str
  cognite/client/data_classes/_base.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

feat: add load from dict function to CredentialProvider, GlobalConfig, ClientConfig, and CogniteClient
  cognite/client/_cognite_client.py
  cognite/client/config.py
  cognite/client/credentials.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_config.py
  tests/tests_unit/test_config.yaml
  tests/tests_unit/test_config_envs.yaml
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

wip: adding from_yaml to CogniteClient
  cognite/client/_cognite_client.py
Due: mypy, custom-checks

feat: add test for load_dict_or_str
  tests/tests_unit/test_utils/test_auxiliary.py
Due: mypy

wip: adding from_yaml to CogniteClient
  cognite/client/_cognite_client.py
  cognite/client/credentials.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_config.yaml
  tests/tests_unit/test_config_envs.yaml
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

wip: adding from_yaml to CogniteClient
  cognite/client/_cognite_client.py
  cognite/client/credentials.py
  tests/tests_unit/test_cognite_client.py
Due: mypy, custom-checks

fix: validate a dict is parsed from str in load
  cognite/client/data_classes/_base.py
Due: mypy, custom-checks

feat: add load from dict function to CredentialProvider, GlobalConfig, ClientConfig, and CogniteClient
  cognite/client/_cognite_client.py
Due: mypy, custom-checks

feat: load from dict or string
  cognite/client/_cognite_client.py
  cognite/client/config.py
  cognite/client/credentials.py
  cognite/client/data_classes/_base.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_config.yaml
  tests/tests_unit/test_config_envs.yaml
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

chore: bump version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

feat: load method for each CredentialProvider
  cognite/client/credentials.py
  tests/tests_unit/test_credential_providers.py
  tests/tests_unit/test_utils/test_auxiliary.py
Due: mypy, custom-checks

chore: format docstrings
  cognite/client/_api/raw.py
  cognite/client/_cognite_client.py
  cognite/client/config.py
  cognite/client/credentials.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/datapoints.py
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

fix: explicitly set each argument from input dict
  cognite/client/_cognite_client.py
  cognite/client/config.py
  cognite/client/credentials.py
Due: mypy, custom-checks

docs: update docstrings for clarity
  cognite/client/_cognite_client.py
  cognite/client/config.py
  cognite/client/credentials.py
Due: mypy, custom-checks

feat: rename load_dict_or_str to load_resource_to_dict
  cognite/client/_cognite_client.py
  cognite/client/config.py
  cognite/client/credentials.py
  cognite/client/data_classes/_base.py
  cognite/client/utils/_auxiliary.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_utils/test_auxiliary.py
Due: mypy, custom-checks

docs: update docs for quickstart
  cognite/client/_cognite_client.py
  docs/source/quickstart.rst
Due: mypy, custom-checks

fix: GlobalConfig to be a singleton
  CHANGELOG.md
  cognite/client/config.py
  docs/source/quickstart.rst
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_config.py
Due: mypy, custom-checks

fix: load properly handles credentials being passed in as a CredentialProvider
  cognite/client/config.py
  cognite/client/credentials.py
  tests/tests_unit/test_config.py
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

fix: docs and typing for load
  cognite/client/credentials.py
  tests/tests_unit/test_config.py
Due: mypy, custom-checks

feat: setup doctest for sphinx docs
  docs/source/conf.py
  docs/source/conftest.py
  docs/source/quickstart.rst
  pytest.ini
  tests/tests_unit/cognite-sdk-config.yaml
  tests/tests_unit/conftest.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_config.py
Due: mypy

fix: revert extra type check for special load cases
  cognite/client/config.py
  tests/tests_unit/test_config.py
Due: mypy, custom-checks

feat: update workflow pytest to call docs tests
  .github/workflows/build.yml
  CONTRIBUTING.md
Due: none

fix: simplify CredentialProvider token case
  cognite/client/credentials.py
Due: mypy, custom-checks

fix: docs and typing for load
  CHANGELOG.md
  cognite/client/config.py
  cognite/client/credentials.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

fix: address review comments
  cognite/client/config.py
  cognite/client/credentials.py
  docs/source/quickstart.rst
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_config.py
  tests/tests_unit/test_credential_providers.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

chore: address minor review comments
  cognite/client/config.py
  tests/tests_unit/test_config.py
Due: mypy, custom-checks

pr review
  .github/workflows/build.yml
  .github/workflows/release.yaml
  cognite/client/config.py
  cognite/client/credentials.py
  docs/source/conftest.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_utils/test_auxiliary.py
Due: mypy, custom-checks

fix: global_config and CredentialProvider tests
  cognite/client/config.py
  tests/tests_unit/test_config.py
  tests/tests_unit/test_credential_providers.py
  tests/tests_unit/test_utils/test_auxiliary.py
Due: mypy, custom-checks

fix: global_config test
  tests/tests_unit/test_config.py
Due: mypy

chore: add todos
  tests/tests_unit/test_config.py
Due: mypy

run doctests for CogniteClient
  tests/tests_unit/test_docstring_examples.py
Due: mypy

feat: add credential provider unit test for DeviceCode and Interactive
  tests/tests_unit/test_credential_providers.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy
