Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  ...

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

rename default_for_azure_ad to default_for_entra_id
  cognite/client/_cognite_client.py
  cognite/client/_sync_cognite_client.py
  cognite/client/credentials.py
  scripts/sync_client_codegen/sync_client_template.txt
Due: mypy, custom-checks

verify all codegen files in new CI check (.github/workflows/build.yml)
  .github/workflows/build.yml
Due: none

add section on 'Automatic Code Generation' to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

clean up AggregatedValue in data_classes/aggregations.py
  cognite/client/data_classes/aggregations.py
Due: mypy, custom-checks

Split the DM container classes into read/write
  cognite/client/_api/data_modeling/containers.py
  cognite/client/_sync_api/data_modeling/containers.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/containers.py
  tests/tests_integration/test_api/test_data_modeling/test_containers.py
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
  tests/tests_integration/test_api/test_data_modeling/test_views.py
  tests/tests_integration/test_api/test_postgres_gateway/test_tables.py
  tests/tests_unit/test_api/test_data_modeling/test_containers.py
  tests/tests_unit/test_data_classes/test_data_models/test_containers.py
Due: mypy, custom-checks

refactor filters to impl _load on subclasses
  cognite/client/data_classes/filters.py
  tests/utils.py
Due: mypy, custom-checks

run code-gen on edited files in commit (in pre-commit)
  .pre-commit-config.yaml
Due: none

rename AsyncHTTPClientWithRetry.__call__ to request
  cognite/client/_basic_api_client.py
  cognite/client/_http_client.py
  cognite/client/exceptions.py
Due: mypy, custom-checks

handle UnicodeEncodeError from strict httpx ascii-only header req
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

various documentation updates
  docs/source/settings.rst
Due: none

prepare codegen (sync api/client) for pre-commit/CI
  scripts/sync_client_codegen/codegen_utils.py
  scripts/sync_client_codegen/constants.py
  scripts/sync_client_codegen/create_sync_api.py
  scripts/sync_client_codegen/create_sync_client.py
  scripts/sync_client_codegen/main.py
  scripts/sync_client_codegen/sync_api_template.txt
  scripts/sync_client_codegen/sync_client_template.txt
Due: mypy

drop base_url default in ClientConfig. add cluster as opt
  cognite/client/config.py
  docs/source/settings.rst
  scripts/generate_code_snippets.py
  scripts/sync_client_codegen/codegen_utils.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_testing.py
Due: mypy, custom-checks

allow NodeID in DirectRelationReference.load
  cognite/client/data_classes/data_modeling/data_types.py
  cognite/client/utils/_identifier.py
Due: mypy, custom-checks

bump version to 8.0.0a1
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

update MIGRATION_GUIDE.md for v7 -> v8
  MIGRATION_GUIDE.md
Due: none

fix generator return annot to union of iterators in sync api
  cognite/client/_sync_api/assets.py
  cognite/client/_sync_api/data_modeling/containers.py
  cognite/client/_sync_api/data_modeling/data_models.py
  cognite/client/_sync_api/data_modeling/spaces.py
  cognite/client/_sync_api/data_modeling/views.py
  cognite/client/_sync_api/data_sets.py
  cognite/client/_sync_api/datapoints_subscriptions.py
  cognite/client/_sync_api/documents.py
  cognite/client/_sync_api/events.py
  cognite/client/_sync_api/extractionpipelines/__init__.py
  cognite/client/_sync_api/files.py
  cognite/client/_sync_api/functions/__init__.py
  cognite/client/_sync_api/functions/schedules.py
  cognite/client/_sync_api/hosted_extractors/destinations.py
  cognite/client/_sync_api/hosted_extractors/jobs.py
  cognite/client/_sync_api/hosted_extractors/mappings.py
  cognite/client/_sync_api/hosted_extractors/sources.py
  cognite/client/_sync_api/labels.py
  cognite/client/_sync_api/postgres_gateway/users.py
  cognite/client/_sync_api/raw/databases.py
  cognite/client/_sync_api/raw/rows.py
  cognite/client/_sync_api/relationships.py
  cognite/client/_sync_api/sequences.py
  cognite/client/_sync_api/simulators/__init__.py
  cognite/client/_sync_api/simulators/integrations.py
  cognite/client/_sync_api/simulators/models.py
  cognite/client/_sync_api/simulators/models_revisions.py
  cognite/client/_sync_api/simulators/routine_revisions.py
  cognite/client/_sync_api/simulators/routines.py
  cognite/client/_sync_api/simulators/runs.py
  cognite/client/_sync_api/three_d/models.py
  cognite/client/_sync_api/three_d/revisions.py
  cognite/client/_sync_api/time_series.py
  cognite/client/_sync_api/transformations/__init__.py
  cognite/client/_sync_api/transformations/notifications.py
  cognite/client/_sync_api/transformations/schedules.py
  cognite/client/_sync_api/workflows/__init__.py
  cognite/client/_sync_api/workflows/versions.py
  scripts/custom_checks/docstrings.py
Due: mypy, custom-checks

bump version to 8.0.0a2
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

update MIGRATION_GUIDE.md
  MIGRATION_GUIDE.md
Due: none

fix bug with credentials refresh, move to JIT before sending req
  cognite/client/_http_client.py
Due: mypy, custom-checks

update docstr on as_apply with warning on read-only props
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

use Generics to allow DM Query classes to use MutableMapping for with_/select
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

fix broken imports
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

add Average aggregation alias. cleanup docstr examples
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_sync_api/data_modeling/instances.py
  cognite/client/data_classes/aggregations.py
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy, custom-checks

Remove redundant test_dump_without_is_paused_param test method
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

Remove trailing empty line to fix ruff format
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

Make is_paused mandatory in WorkflowTrigger class
  cognite/client/data_classes/workflows.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy, custom-checks

Remove redundant test_dump_always_includes_is_paused_mandatory test
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

Remove empty line in test method
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

Add missing newline at end of test file
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

removed the tests
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

Fix linting: add missing newline at end of test_workflows.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

Remove unused imports from test_workflows.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

Add missing newline at end of test_workflows.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

feat(limits): add Limits API SDK implementation
  cognite/client/_api/limits.py
  cognite/client/_cognite_client.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/limits.py
  tests/tests_integration/test_api/test_limits.py
  tests/tests_unit/test_api/test_limits.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

docs: add Limits API documentation
  docs/source/index.rst
  docs/source/limits.rst
Due: none

fix: add LimitsAPI to CogniteClientMock and whitelist as idempotent
  cognite/client/testing.py
  tests/tests_unit/test_meta.py
Due: mypy, custom-checks

fix: catch CogniteAPIError instead of Exception in retrieve
  cognite/client/_api/limits.py
  tests/tests_unit/test_api/test_limits.py
Due: mypy, custom-checks

Fix LimitValueFilter dict handling in dump() and simplify integration test
  cognite/client/data_classes/limits.py
  tests/tests_integration/test_api/test_limits.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
