Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

fix flaky unrelated test
  cognite/client/_api/simulators/integrations.py
  cognite/client/data_classes/simulators/filters.py
  tests/tests_integration/test_api/test_simulators/test_integrations.py
Due: mypy, custom-checks

Fix datapoints `retrieve_latest` with missing `instance_id` + ignore=True (#2120)
  CHANGELOG.md
  cognite/client/_api/datapoints.py
  cognite/client/_api/simulators/integrations.py
  cognite/client/_version.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/utils/_identifier.py
  pyproject.toml
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_integration/test_api/test_simulators/test_integrations.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

Apply suggestions from code review
  .github/workflows/cdf_auth.yaml
Due: none

fix
  cognite/client/_api/simulators/routines.py
  cognite/client/data_classes/simulators/routines.py
  tests/tests_integration/test_api/test_simulators/test_routines.py
Due: mypy, custom-checks

fix
  cognite/client/_api/simulators/routines.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/test_routines.py
Due: mypy, custom-checks

fix
  cognite/client/_api/simulators/models.py
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/_api/simulators/routines.py
  cognite/client/data_classes/simulators/__init__.py
  cognite/client/data_classes/simulators/filters.py
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/test_routines.py
Due: mypy, custom-checks

[DOGE-105] Setup contributor project (#2119)
  .github/workflows/cdf_auth.yaml
  CONTRIBUTING.md
  scripts/toolkit/cdf.toml
  scripts/toolkit/config.contributor.yaml
  scripts/toolkit/config.prod.yaml
  scripts/toolkit/modules/access/auth/readonly.Group.yaml
  scripts/toolkit/modules/access/auth/readwrite.Group.yaml
Due: none

add routine revs setup
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

fix: change behavior
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

build: changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

docs; docstring
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

fix: typo
  CHANGELOG.md
Due: none

move to fixture
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/test_routines.py
Due: mypy

add simulator logs
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/logs.py
  cognite/client/data_classes/simulators/logs.py
  cognite/client/testing.py
  tests/tests_integration/test_api/test_simulators/test_integrations.py
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy, custom-checks

changelog
  CHANGELOG.md
Due: none

fix
  cognite/client/_api/simulators/logs.py
  cognite/client/data_classes/simulators/logs.py
  tests/tests_integration/test_api/test_simulators/test_integrations.py
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy, custom-checks

fix: search
  CHANGELOG.md
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

fix test - 1
  tests/tests_integration/test_api/test_simulators/test_routines.py
Due: mypy

why does my mypy allow this?
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

fix
  cognite/client/data_classes/simulators/logs.py
Due: mypy, custom-checks

fix test
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/test_routines.py
Due: mypy

fix test
  tests/tests_integration/test_api/test_simulators/conftest.py
Due: mypy

fixup tests
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

add support for simulation runs
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/runs.py
  cognite/client/data_classes/simulators/__init__.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/runs.py
  cognite/client/testing.py
Due: mypy, custom-checks

fix check
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

Update cognite/client/_api/data_modeling/instances.py
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

Update routine_revisions.py
  cognite/client/_api/simulators/routine_revisions.py
Due: mypy, custom-checks

improve the test, add order
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/test_integrations.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

fix
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

improve tests
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

fmt
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/filters.py
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

add create method
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

fmt
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

create multiple
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks

overloaded methods
  cognite/client/_api/simulators/routine_revisions.py
Due: mypy, custom-checks

undo optional type?
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

undo optional types
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

some renames
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/routines.py
  cognite/client/data_classes/simulators/routine_revisions.py
  cognite/client/testing.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

fmt
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
Due: mypy, custom-checks
