Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

update changelog
  CHANGELOG.md
Due: none

remove alpha warning for FilesAPI usage of instance_id (#2029)
  CHANGELOG.md
  cognite/client/_api/files.py
Due: mypy, custom-checks

remove: alpha warning CDM/v1 (#2030)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/data_modeling/cdm/__init__.py
  pyproject.toml
Due: mypy, custom-checks

feat: added instance id
  cognite/client/data_classes/datapoints_subscriptions.py
Due: mypy, custom-checks

build: bump
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

test: added test
  cognite/client/data_classes/datapoints_subscriptions.py
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
Due: mypy, custom-checks

fix: update method
  cognite/client/data_classes/datapoints_subscriptions.py
Due: mypy, custom-checks

set asyncio_default_fixture_loop_scope = function
  pytest.ini
Due: none

revert strict to auto (avoid having to decorate all async tests)
  pytest.ini
Due: none

set asyncio_default_fixture_loop_scope = function (#2032)
  pytest.ini
Due: none

fix: iterator comparison
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy

fix: run history non existing
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy

fix: list limit
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy

fix typos
  cognite/client/_api/units.py
Due: mypy, custom-checks

add parameters return_ambiguous and return_closest_matches
  cognite/client/_api/units.py
  cognite/client/data_classes/units.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

add method to docs
  docs/source/unit_catalog.rst
Due: none

poetry update
  poetry.lock
Due: none

fix: use mixins to add methods e.g. 'as_external_ids()'
  cognite/client/data_classes/units.py
Due: mypy, custom-checks

add: unit lookup from alias (and quantity)
  cognite/client/_api/units.py
Due: mypy, custom-checks

add tests
  tests/tests_integration/test_api/test_unit.py
Due: mypy

refactor; review feedback 1
  CHANGELOG.md
  cognite/client/data_classes/datapoints_subscriptions.py
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
Due: mypy, custom-checks

add: unit lookup from alias (and quantity) (#2027)
  CHANGELOG.md
  cognite/client/_api/units.py
  cognite/client/_version.py
  cognite/client/data_classes/units.py
  cognite/client/utils/_auxiliary.py
  docs/source/unit_catalog.rst
  poetry.lock
  pyproject.toml
  tests/tests_integration/test_api/test_unit.py
Due: mypy, custom-checks

fix: introduced bug
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
Due: mypy

chore: bump version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

rename: workflow integration test to follow other file names
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

feat: add metadata to workflow triggers (#2002)
  CHANGELOG.md
  cognite/client/_api/workflows.py
  cognite/client/_version.py
  cognite/client/data_classes/workflows.py
  pyproject.toml
  tests/tests_integration/test_api/test_data_workflows.py
  tests/tests_integration/test_api/test_workflows.py
Due: mypy, custom-checks

docs; added example
  cognite/client/_api/datapoints_subscriptions.py
Due: mypy, custom-checks

Datapoint subscription Instance ID (#2033)
  CHANGELOG.md
  cognite/client/_api/datapoints_subscriptions.py
  cognite/client/_version.py
  cognite/client/data_classes/datapoints_subscriptions.py
  pyproject.toml
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
Due: mypy, custom-checks

tests: added failing test
  tests/tests_unit/test_config.py
Due: mypy

tests: split test
  tests/tests_unit/test_config.py
Due: mypy

fix: handle plink
  cognite/client/config.py
Due: mypy, custom-checks

build: bump
  CHANGELOG.md
  cognite/client/_version.py
Due: mypy, custom-checks

build: fix bump
  CHANGELOG.md
  pyproject.toml
Due: none

tests: update test
  tests/tests_unit/test_config.py
Due: mypy

fix: wrong url path for hosted_extractors.jobs.list_metrics
  cognite/client/_api/hosted_extractors/jobs.py
Due: mypy, custom-checks

fix: wrong url path for hosted_extractors.jobs.list_logs
  cognite/client/_api/hosted_extractors/jobs.py
Due: mypy, custom-checks

changelog, version
  CHANGELOG.md
  cognite/client/_api/hosted_extractors/jobs.py
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

tack on a better changelog test
  scripts/custom_checks/version.py
  scripts/run_checks.py
Due: mypy
