Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite 
          
          tests/tests_unit/test_data_classes
          tests/tests_unit/test_utils
          tests/tests_unit/test_api_client.py
          tests/tests_unit/test_base.py
          tests/tests_unit/test_cognite_client.py
          tests/tests_unit/test_config.py
          tests/tests_unit/test_credential_providers.py
          tests/tests_unit/test_docstring_examples.py
          tests/tests_unit/test_exceptions.py
          
          tests/tests_unit/test_api/test_assets.py
          tests/tests_unit/test_api/test_events.py
          tests/tests_unit/test_api/test_datapoints.py
          tests/tests_unit/test_api/test_data_sets.py
          tests/tests_unit/test_api/test_geospatial.py
          tests/tests_unit/test_api/test_raw.py
          tests/tests_unit/test_api/test_time_series.py
          tests/tests_unit/test_api/test_3d.py
          tests/tests_unit/test_api/test_vision_extract.py
          tests/tests_unit/test_api/test_transformations.py
          
          tests/tests_integration/test_api/test_data_modeling
          tests/tests_integration/test_api/test_datapoints.py
          tests/tests_integration/test_api/test_assets.py
          tests/tests_integration/test_api/test_events.py
          tests/tests_integration/test_api/test_workflows.py
          tests/tests_integration/test_api/test_raw.py
          tests/tests_integration/test_api/test_transformations

          tests/tests_integration/test_api/test_simulators
          tests/tests_integration/test_api/test_principals.py
          tests/tests_unit/test_api/test_simulators
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.8.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

remove manual batching in DiagramsAPI
  cognite/client/_api/diagrams.py
  cognite/client/_sync_api/diagrams.py
Due: mypy, custom-checks

bump version to 8.0.0rc2
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Add support for SubsribeSignals ACL
  cognite/client/data_classes/capabilities.py
  scripts/toolkit/modules/access/auth/readonly.Group.yaml
  scripts/toolkit/modules/access/auth/readwrite.Group.yaml
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy, custom-checks

update tests after [TimeSeries/FileMetadata]Write changes
  tests/tests_unit/test_base.py
Due: mypy

remove instance_id from FileMetadataWrite
  MIGRATION_GUIDE.md
  cognite/client/data_classes/files.py
  tests/tests_integration/test_api/test_files.py
  tests/tests_unit/test_api/test_signatures.py
Due: mypy, custom-checks

stop automatically deleting workflows that should be permanent
  tests/conftest.py
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

fix: clean up stale workflows in tests using improved logic
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

chore: stop automatically deleting workflows that should be permanent (#2501)
  tests/conftest.py
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

feat(signals): Add support for subscribeSignals ACL (#2500)
  cognite/client/data_classes/capabilities.py
  scripts/toolkit/modules/access/auth/readonly.Group.yaml
  scripts/toolkit/modules/access/auth/readwrite.Group.yaml
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy, custom-checks

update script to update protobuf files
  scripts/update_proto_files.py
Due: mypy

update protobuf files (time series datapoints)
  cognite/client/_proto/data_point_list_response_pb2.py
  cognite/client/_proto/data_point_list_response_pb2.pyi
Due: mypy, custom-checks

feat(workflows): Add WorkflowEvent and execution history listing
  cognite/client/_api/workflows/executions.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/workflows.py
  tests/tests_unit/test_data_classes/data/workflow_event.json
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy, custom-checks

fix broken coverage reporting
  .coveragerc
Due: none

fix renovate.json that is in a broken state
  renovate.json
Due: none

lets try again
  poetry.lock
  pyproject.toml
Due: none

third time's the charm
  .coveragerc
  poetry.lock
  pyproject.toml
Due: none

chore: fix renovate.json that is in a broken state (#2506)
  renovate.json
Due: none

chore: fix broken coverage reporting (DM-3616) (#2505)
  poetry.lock
  pyproject.toml
Due: none

update tests after adding type field to datapoints classes
  cognite/client/data_classes/datapoints_subscriptions.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_integration/test_api/test_synthetic_time_series.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_synthetic_time_series.py
  tests/tests_unit/test_data_classes/test_datapoints.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/tests_unit/test_data_classes/test_time_series.py
Due: mypy, custom-checks

add new required 'type' field to Datapoints[Array]
  cognite/client/data_classes/datapoint_aggregates.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_datapoints.py
Due: mypy, custom-checks

add data classes SyntheticDatapoints and SyntheticDatapointsList
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

update tests for synthetic datapoints
  tests/tests_integration/test_api/test_synthetic_time_series.py
  tests/tests_unit/test_api/test_synthetic_time_series.py
  tests/utils.py
Due: mypy

add data classes LatestDatapoint and LatestDatapointList
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

clean up Datapoints after recovery from Synthetic-Dps misuse
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

clean up df-conversion logic (remove all mentions of 'errors' - Synth.Dps)
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

update SyntheticDatapointsAPI to use specialized classes
  cognite/client/_api/synthetic_time_series.py
  cognite/client/_sync_api/synthetic_time_series.py
Due: mypy, custom-checks

update retrieve_latest to use specialized classes
  cognite/client/_api/datapoints.py
  cognite/client/_sync_api/datapoints.py
Due: mypy, custom-checks

update TimeSeries.latest to return LatestDatapoint
  cognite/client/data_classes/time_series.py
Due: mypy, custom-checks

update tests after changes to retrieve_latest
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_integration/test_api/test_time_series.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
  tests/tests_unit/test_data_classes/test_time_series.py
Due: mypy

clean up Datapoints after recovery from retrieve_latest misuse
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

Add DiagramsAPI.download_converted_file for diagram convert job downloads
  cognite/client/_api/diagrams.py
  scripts/verify_diagram_download.py
  tests/tests_unit/test_api/test_diagrams.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

add data class SubscriptionDatapoints for usage with Dps.Subs.API
  cognite/client/data_classes/datapoints_subscriptions.py
Due: mypy, custom-checks

update tests after adding SubscriptionDatapoints
  tests/tests_unit/test_base.py
Due: mypy

update MIGRATION_GUIDE, and add subsections for e.g. datapoints related changes
  MIGRATION_GUIDE.md
Due: none

fix resolve_url fn to accept full urls
  cognite/client/utils/_url.py
  tests/tests_unit/test_utils/test_url.py
Due: mypy, custom-checks

officially release major version 8
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix typos in cognite/client/_api/hosted_extractors/destinations.py
  cognite/client/_api/hosted_extractors/destinations.py
  cognite/client/_sync_api/hosted_extractors/destinations.py
Due: mypy, custom-checks

rename github workflow for v8 release
  .github/workflows/release-pypi-v8.yaml
Due: none

modify workflow to support non-pre-releases
  .github/workflows/release-pypi-v8.yaml
Due: none

fix codegen of sync client
  scripts/sync_client_codegen/codegen_utils.py
  scripts/sync_client_codegen/create_sync_api.py
  scripts/sync_client_codegen/create_sync_client.py
Due: mypy
