Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  ...

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

test(records): show aggregate container shapes are not validated
  tests/tests_unit/test_api/test_data_modeling/test_records.py
  tests/tests_unit/test_data_classes/test_data_models/test_aggregates.py
Due: mypy

test(records): show typed request arguments leak AttributeError
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy

test(records): show delete reports records as a missing as_dict attribute
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy

test(records): show a filter limit above 1000 is silently truncated
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy

fix(records): point at as_id() when delete receives records
  cognite/client/data_classes/data_modeling/records.py
Due: mypy, custom-checks

fix(records): validate aggregate and filter container shapes
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/data_classes/data_modeling/aggregates.py
Due: mypy, custom-checks

fix(records): reject a filter limit above 1000 instead of truncating
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
Due: mypy, custom-checks

fix(records): reject two lower or two upper bounds in TimeRange
  cognite/client/data_classes/data_modeling/records.py
  tests/utils.py
Due: mypy, custom-checks

fix(records): raise TypeError instead of leaking AttributeError for typed arguments
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
Due: mypy, custom-checks

test(records): show bare strings are accepted as property paths
  tests/tests_unit/test_api/test_data_modeling/test_records.py
  tests/tests_unit/test_data_classes/test_data_models/test_aggregates.py
Due: mypy

feat(streams): rename StreamTemplateWriteSettings to StreamWriteSettings
  cognite/client/_api/data_modeling/streams.py
  cognite/client/_sync_api/data_modeling/streams.py
  cognite/client/data_classes/data_modeling/streams.py
  tests/tests_unit/test_api/test_data_modeling/test_streams.py
Due: mypy, custom-checks

fix(transformations): address haakonvt review on external data sources API
  cognite/client/_api/transformations/externaldata.py
  cognite/client/_sync_api/transformations/externaldata.py
  tests/tests_integration/test_api/test_transformations/test_externaldata.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

fix(data modeling): records sync no longer requests forever on a partial page
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  tests/tests_integration/test_api/test_data_modeling/test_records.py
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy, custom-checks

fix(records): validate property paths instead of splitting bare strings
  cognite/client/data_classes/data_modeling/_validation.py
  cognite/client/data_classes/data_modeling/aggregates.py
  cognite/client/data_classes/data_modeling/records.py
  tests/tests_unit/test_data_classes/test_data_models/test_aggregates.py
Due: mypy, custom-checks

refactor: update ruff version and refactor based on new linter rules
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_api/datapoints.py
  cognite/client/_api/functions/schedules.py
  cognite/client/_api/units.py
  cognite/client/_sync_api/data_modeling/instances.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/_sync_api/functions/schedules.py
  cognite/client/_sync_api/units.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/data_modeling/cdm/v1.py
  cognite/client/data_classes/data_modeling/extractor_extensions/v1.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/datapoints.py
  poetry.lock
  pyproject.toml
Due: mypy, custom-checks

fix mypy issue
  tests/tests_unit/test_docstring_examples.py
Due: mypy

fix(tests): reuse the existing mutable stream in the records tests
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  tests/tests_integration/test_api/test_data_modeling/test_records.py
Due: mypy, custom-checks

fix(tests): send ISO-8601 timestamps in the records TimeRange filters
  tests/tests_integration/test_api/test_data_modeling/test_records.py
Due: mypy

Remove lock of ruff version
  poetry.lock
  pyproject.toml
Due: none

refactor: speed up pre-commit hooks
  .pre-commit-config.yaml
  cognite/client/_api/entity_matching.py
  cognite/client/_sync_api/entity_matching.py
  pyproject.toml
Due: mypy, custom-checks

Gemini suggestions
  cognite/client/_api/entity_matching.py
  cognite/client/_sync_api/entity_matching.py
  pyproject.toml
Due: mypy, custom-checks

feat(streams): rename StreamTemplateWriteSettings to StreamWriteSettings (#2753)
  cognite/client/_api/data_modeling/streams.py
  cognite/client/_sync_api/data_modeling/streams.py
  cognite/client/data_classes/data_modeling/streams.py
  tests/tests_unit/test_api/test_data_modeling/test_streams.py
Due: mypy, custom-checks

chore(master): release cognite-sdk-python 8.13.0
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

refactor: update ruff version and refactor based on new linter rules (#2754)
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_api/datapoints.py
  cognite/client/_api/functions/schedules.py
  cognite/client/_api/units.py
  cognite/client/_sync_api/data_modeling/instances.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/_sync_api/functions/schedules.py
  cognite/client/_sync_api/units.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/data_modeling/cdm/v1.py
  cognite/client/data_classes/data_modeling/extractor_extensions/v1.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/datapoints.py
  poetry.lock
  pyproject.toml
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

chore: enable ruff rule for mutable default arguments
  pyproject.toml
Due: none

Fix sync
  cognite/client/_sync_api/datapoints.py
Due: mypy, custom-checks

chore: remove unused flake8 config file
  .flake8
Due: none

chore: speed up mypy runs
  cognite/client/data_classes/capabilities.py
  mypy.ini
  poetry.lock
  pyproject.toml
Due: mypy, custom-checks

chore: enable ruff rule for mutable default arguments (#2757)
  pyproject.toml
Due: none

chore: remove unused flake8 config file (#2758)
  .flake8
Due: none

chore(tests): attempt to fix flaky doctests test
  tests/tests_unit/test_meta.py
  tests/utils.py
Due: mypy

chore(tests): attempt to fix flaky doctests test (#2760)
  tests/tests_unit/test_meta.py
  tests/utils.py
Due: mypy

remove upper bound on pandas
  pyproject.toml
Due: none

make a note in the migration guide for good measure
  MIGRATION_GUIDE.md
Due: none

make to_pandas() timestamp resolution version-conditional (ns on pandas v2, ms on v3)
  MIGRATION_GUIDE.md
  cognite/client/_api/datapoints.py
  cognite/client/_api/raw/rows.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

run poetry update to get pandas v3
  poetry.lock
Due: none

add to_pandas helper for "via list class", move to pd utils
  cognite/client/data_classes/_base.py
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

add tests exercising both pandas v2 and v3 timestamp resolution branches
  tests/tests_unit/test_utils/test_pandas_helpers.py
Due: mypy

update tests after ns -> ms change
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_raw.py
  tests/tests_unit/test_api/test_sequences.py
  tests/tests_unit/test_api/test_time_series.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_data_classes/test_data_models/test_typed_instances.py
  tests/tests_unit/test_data_classes/test_datapoints.py
  tests/tests_unit/test_data_classes/test_groups.py
Due: mypy

remove the now duplicated logic in /data_classes/iam.py
  cognite/client/data_classes/iam.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
