Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: poetry run dmypy run -- cognite tests
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

refactor(tests): remove redundant action tests, keep 6 essential
  tests/tests_unit/test_api/test_agents_actions.py
Due: mypy

feat(agents): add ClientToolAction.from_function() with function introspection
  cognite/client/data_classes/agents/chat.py
  cognite/client/utils/_function_introspection.py
  tests/tests_unit/test_api/test_agents_actions.py
  tests/tests_unit/test_utils/test_function_introspection.py
Due: mypy, custom-checks

feat: Add custom timeout to agent chat
  cognite/client/_api/agents/agents.py
  tests/tests_unit/test_api/test_agents_chat.py
Due: mypy, custom-checks

fix(agents): replace agentId with agentExternalId in chat API (#2349)
  cognite/client/_api/agents/agents.py
  cognite/client/data_classes/agents/chat.py
  tests/tests_integration/test_api/test_agents.py
  tests/tests_unit/test_api/test_agents_chat.py
Due: mypy, custom-checks

Format and ignore new errors
  .pre-commit-config.yaml
  scripts/generate_core_model.py
  scripts/generate_extractor_extension_model.py
Due: mypy

Fix RUF043
  .pre-commit-config.yaml
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_integration/test_api/test_raw.py
  tests/tests_integration/test_api/test_synthetic_time_series.py
  tests/tests_integration/test_api/test_time_series.py
  tests/tests_integration/test_api/test_transformations/test_transformations.py
  tests/tests_integration/test_api/test_workflows.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_datapoints_tasks.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api/test_raw.py
  tests/tests_unit/test_api/test_synthetic_time_series.py
  tests/tests_unit/test_api/test_vision_extract.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_credential_providers.py
  tests/tests_unit/test_data_classes/test_assets.py
  tests/tests_unit/test_data_classes/test_capabilities.py
  tests/tests_unit/test_data_classes/test_data_models/test_data_types.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_sources.py
  tests/tests_unit/test_data_classes/test_workflows.py
  tests/tests_unit/test_utils/test_text.py
  tests/tests_unit/test_utils/test_time.py
Due: mypy

fix(sequences): support list ids/external_ids in retrieve_last_row; aggregate results; add unit tests (#2266)
  cognite/client/_api/sequences.py
  tests/tests_unit/test_api/test_sequences_data.py
Due: mypy, custom-checks

remove py39 support
  cognite/client/_api/functions.py
  cognite/client/data_classes/functions.py
  tests/tests_unit/test_api/test_functions.py
Due: mypy, custom-checks

Fix agents actions tests after agent_id to agent_external_id rename
  tests/tests_unit/test_api/test_agents_actions.py
Due: mypy

Type runtime as RunTime
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

Fix typo
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

Remove deprecated numpy plugin for mypy
  mypy.ini
Due: none

Add .ropeproject to .gitignore
  .gitignore
Due: none

Move ruff config to pyproject.toml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Remove outdated ignore
  .pre-commit-config.yaml
Due: none

Add ruff to dev dependencies
  poetry.lock
  pyproject.toml
Due: none

Use local ruff for pre-commit
  .pre-commit-config.yaml
Due: none

Test lint failure
  cognite/client/_api/data_modeling/containers.py
Due: mypy, custom-checks

Revert "Test lint failure"
  cognite/client/_api/data_modeling/containers.py
Due: mypy, custom-checks

chore: Centralise linter settings (#2353)
  .gitignore
  .pre-commit-config.yaml
  mypy.ini
  poetry.lock
  pyproject.toml
Due: none

chore(master): release 7.86.0
  CHANGELOG.md
  pyproject.toml
Due: none

json clarification
  cognite/client/data_classes/agents/chat.py
  tests/tests_unit/test_api/test_agents_actions.py
Due: mypy, custom-checks

expect these to exist
  cognite/client/data_classes/agents/chat.py
Due: mypy, custom-checks

fix(simulators): pass sort parameter in models.__call__
  cognite/client/_api/simulators/models.py
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/_api/simulators/routines.py
  cognite/client/_api/simulators/runs.py
Due: mypy, custom-checks

test(simulators): add sort parameter to models iterator tests
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy

test(simulators): add sort test for routines iterator
  tests/tests_integration/test_api/test_simulators/test_routines.py
Due: mypy

test(simulators): add sort tests for runs list and iterator
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy

fix: Add missing import and remove invalid _warning call
  cognite/client/_api/agents/agents.py
  cognite/client/_api/simulators/models_revisions.py
Due: mypy, custom-checks

Add toolConfirmation action type
  cognite/client/data_classes/agents/__init__.py
  cognite/client/data_classes/agents/chat.py
  tests/tests_unit/test_api/test_agents_actions.py
Due: mypy, custom-checks

fix: Add streams to non-idempotent POST endpoints list
  cognite/client/_api_client.py
Due: mypy, custom-checks

test: refactor agents action tests to use standard rsps mocking pattern
  tests/tests_unit/test_api/test_agents_actions.py
Due: mypy

cleaner tests
  tests/tests_unit/test_api/test_agents_actions.py
Due: mypy

Bump version to 7.86.0
  cognite/client/_version.py
Due: mypy, custom-checks

avoid hardcoded strings
  cognite/client/data_classes/agents/chat.py
Due: mypy, custom-checks

fix syntax
  cognite/client/_api/agents/agents.py
Due: mypy, custom-checks

chore(master): release 7.86.0 (#2345)
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

🏌️
  cognite/client/data_classes/agents/chat.py
Due: mypy, custom-checks

Implement recommendation from PR review
  tests/tests_integration/test_api/test_simulators/test_routines.py
Due: mypy

Add dedicated sort class for simulation runs
  cognite/client/_api/simulators/runs.py
  cognite/client/data_classes/simulators/__init__.py
  cognite/client/data_classes/simulators/filters.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy, custom-checks

add httpx and poetry update
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
