Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

fmt
  tests/tests_integration/test_api/test_geospatial.py
Due: mypy

instance id for Files
  cognite/client/_api/files.py
  cognite/client/data_classes/files.py
Due: mypy, custom-checks

fix: correct mime-type when uploading files
  CHANGELOG.md
  cognite/client/_api/files.py
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

instanceID for Files
  CHANGELOG.md
  cognite/client/_api/files.py
  cognite/client/_version.py
  pyproject.toml
  tests/tests_integration/test_api/test_files.py
Due: mypy, custom-checks

format
  CHANGELOG.md
  cognite/client/_api/files.py
  cognite/client/data_classes/files.py
Due: mypy, custom-checks

fix typing
  cognite/client/_api/files.py
Due: mypy, custom-checks

lint
  cognite/client/_api/files.py
Due: mypy, custom-checks

fix tests
  tests/tests_unit/test_api/test_signatures.py
Due: mypy

fix doc + exception handling
  cognite/client/_api/files.py
Due: mypy, custom-checks

update docs
  docs/source/files.rst
Due: none

update doc
  cognite/client/_api/files.py
Due: mypy, custom-checks

instance id for Files (#1869)
  CHANGELOG.md
  cognite/client/_api/files.py
  cognite/client/_version.py
  cognite/client/data_classes/files.py
  docs/source/files.rst
  pyproject.toml
  tests/tests_integration/test_api/test_files.py
  tests/tests_unit/test_api/test_signatures.py
Due: mypy, custom-checks

CDF-22143: add workflow trigger api support
  .gitignore
  cognite/client/_api/assets.py
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_api/datapoints.py
  cognite/client/_api/documents.py
  cognite/client/_api/events.py
  cognite/client/_api/functions.py
  cognite/client/_api/relationships.py
  cognite/client/_api/sequences.py
  cognite/client/_api/time_series.py
  cognite/client/_api/workflows.py
  cognite/client/data_classes/data_modeling/views.py
  cognite/client/data_classes/datapoints.py
  cognite/client/data_classes/sequences.py
  cognite/client/data_classes/workflows.py
  cognite/client/testing.py
Due: mypy, custom-checks

CDF-22143: add workflow trigger api support
  cognite/client/_api/workflows.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/annotations.py
  cognite/client/data_classes/cdm/v1.py
  cognite/client/data_classes/data_modeling/containers.py
  cognite/client/data_classes/data_modeling/data_models.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/query.py
  cognite/client/data_classes/documents.py
  cognite/client/data_classes/extractionpipelines.py
  cognite/client/data_classes/filters.py
  cognite/client/data_classes/shared.py
  cognite/client/data_classes/transformations/__init__.py
Due: mypy, custom-checks

dummy
  test.txt
Due: none

CDF-22143: add workflow trigger api support
  cognite/client/_api/assets.py
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_api/datapoints.py
  cognite/client/_api/documents.py
  cognite/client/_api/events.py
  cognite/client/_api/functions.py
  cognite/client/_api/relationships.py
  cognite/client/_api/sequences.py
  cognite/client/_api/time_series.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/annotations.py
  cognite/client/data_classes/cdm/v1.py
  cognite/client/data_classes/data_modeling/containers.py
  cognite/client/data_classes/data_modeling/data_models.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/query.py
  cognite/client/data_classes/data_modeling/views.py
  cognite/client/data_classes/datapoints.py
  cognite/client/data_classes/documents.py
  cognite/client/data_classes/extractionpipelines.py
  cognite/client/data_classes/filters.py
  cognite/client/data_classes/sequences.py
  cognite/client/data_classes/shared.py
  cognite/client/data_classes/transformations/__init__.py
Due: mypy, custom-checks

dummy
  .pre-commit-config.yaml
Due: none

dummy
  scripts/custom_checks/docstrings.py
Due: mypy

dummy
  cognite/client/_api/workflows.py
  cognite/client/data_classes/workflows.py
  scripts/custom_checks/docstrings.py
Due: mypy, custom-checks

CDF-22143: add workflow trigger api support
  .pre-commit-config.yaml
  cognite/client/_api/workflows.py
Due: mypy, custom-checks

CDF-22143: add workflow trigger api support
  cognite/client/_api/workflows.py
Due: mypy, custom-checks

CDF-22143: add workflow trigger api support
  cognite/client/_api/workflows.py
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

fix: update DM files upload
  CHANGELOG.md
  cognite/client/_api/files.py
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix format
  cognite/client/_api/files.py
Due: mypy, custom-checks

fix _upload_bytes
  cognite/client/_api/files.py
Due: mypy, custom-checks

CDF-22143: add workflow trigger api support
  cognite/client/_api/workflows.py
  cognite/client/data_classes/workflows.py
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy, custom-checks

CDF-22143: add workflow trigger api support
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
