Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

keep rows without data in dataframe conversion
  cognite/client/data_classes/raw.py
  mypy.ini
  tests/tests_unit/test_api/test_raw.py
Due: mypy, custom-checks

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
  tests/tests_unit/test_api/test_raw.py
Due: mypy, custom-checks

fix test of repr html
  cognite/client/data_classes/raw.py
  tests/tests_unit/test_data_classes/test_repr.py
Due: mypy, custom-checks

also handle write version of classes
  cognite/client/data_classes/raw.py
  tests/tests_unit/test_api/test_raw.py
Due: mypy, custom-checks

add init back
  cognite/client/data_classes/raw.py
Due: mypy, custom-checks

Fix raw rows to pandas (keep all rows) (#1806)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/raw.py
  mypy.ini
  pyproject.toml
  tests/tests_unit/test_api/test_raw.py
  tests/tests_unit/test_data_classes/test_repr.py
Due: mypy, custom-checks

also run pyodide check on prs
  .github/workflows/build.yml
Due: none

skip poetry install step
  .github/workflows/verify-jupyter.yml
  .github/workflows/verify-streamlit.yml
Due: none

even more speed maybe
  .github/workflows/verify-jupyter.yml
  .github/workflows/verify-streamlit.yml
Due: none

tz + calendar -> ga
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

deprecate retrieve_dataframe_in_tz
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

remove documentation apart from deprecation warning
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

timezone and calendar aggregates -> GA (#1809)
  CHANGELOG.md
  cognite/client/_api/datapoints.py
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Describe security risks of HTTP request logging
  docs/source/settings.rst
Due: none

Update settings.rst
  docs/source/settings.rst
Due: none

refactor: introduce new custom property write class
  cognite/client/data_classes/data_modeling/instances.py
  tests/tests_unit/test_data_classes/test_data_models/test_instances.py
Due: mypy, custom-checks

refactor: load raise NotImplemented on base classes
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

refactor: new custom property class read
  cognite/client/data_classes/data_modeling/instances.py
  tests/tests_unit/test_data_classes/test_data_models/test_instances.py
Due: mypy, custom-checks

tests: as types
  tests/tests_unit/test_data_classes/test_data_models/test_instances.py
Due: mypy

refactor: renaming
  cognite/client/data_classes/data_modeling/instances.py
  tests/tests_unit/test_data_classes/test_data_models/test_instances.py
Due: mypy, custom-checks

refactor: raise on _load in base classes
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

feat; Implemented read lists
  cognite/client/data_classes/data_modeling/core.py
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

tests: added test
  tests/tests_unit/test_data_classes/test_data_models/test_instances.py
Due: mypy

tests; updated tests
  cognite/client/data_classes/data_modeling/instances.py
  tests/utils.py
Due: mypy, custom-checks

feat; Allow nodes with custom properties in .apply
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

build: bump
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

tests; Added view + containers with all types of properties
  tests/tests_integration/test_api/test_data_modeling/conftest.py
Due: mypy

refactor; added custom property data classes
  tests/tests_integration/test_api/test_data_modeling/conftest.py
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

tests: Added failing tests
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

fix: handle serializatoni/deserialization to/from date/datetime/directrelation
  cognite/client/data_classes/data_modeling/instances.py
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy, custom-checks

fix: introduced bug
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

style: fix changelog
  CHANGELOG.md
Due: none

refactor; first draft of full cdm model
  cognite/client/data_classes/cdm/v1.py
Due: mypy, custom-checks

refactor; setup shell for core model
  cognite/client/config.py
  cognite/client/data_classes/cdm/__init__.py
  cognite/client/data_classes/cdm/v1.py
Due: mypy, custom-checks

fix: updated init
  cognite/client/data_classes/cdm/__init__.py
Due: mypy, custom-checks

refactor; added forgotten Model3D
  cognite/client/data_classes/cdm/v1.py
Due: mypy, custom-checks

refactor: updated cdm init
  cognite/client/data_classes/cdm/__init__.py
Due: mypy, custom-checks
