Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

build: changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

refactor: allow functionwrite as the first arg
  cognite/client/_api/functions.py
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

refactor: better way of passing function directly
  cognite/client/_api/functions.py
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

docs: why ignore mypy
  cognite/client/_api/functions.py
Due: mypy, custom-checks

refactor: review feedback
  CHANGELOG.md
  cognite/client/_api/functions.py
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

refactor: remove function parameter
  cognite/client/_api/functions.py
Due: mypy, custom-checks

refactor; adjustment
  cognite/client/_api/functions.py
  tests/tests_unit/test_api/test_functions.py
Due: mypy, custom-checks

refactor: review feedback
  cognite/client/_api/functions.py
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

[CDF-22068] Fixes in Functions (#1847)
  CHANGELOG.md
  cognite/client/_api/functions.py
  cognite/client/_version.py
  cognite/client/data_classes/functions.py
  pyproject.toml
  tests/tests_integration/test_api/test_functions.py
  tests/tests_unit/test_api/test_functions.py
Due: mypy, custom-checks

swap if and outdent
  cognite/client/_api/relationships.py
Due: mypy, custom-checks

remove create filter fn
  cognite/client/_api/relationships.py
Due: mypy, custom-checks

use list generator per thread to avoid threads spawning threads...
  cognite/client/_api/relationships.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

version and changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

pr feedback
  cognite/client/_api/relationships.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

Fix deadlock in RelationshipsAPI.list (#1849)
  CHANGELOG.md
  cognite/client/_api/relationships.py
  cognite/client/_version.py
  cognite/client/utils/_auxiliary.py
  pyproject.toml
Due: mypy, custom-checks

refactor; updated core model
  cognite/client/data_classes/cdm/v1.py
  tests/tests_integration/test_api/test_data_modeling/test_core_model.py
Due: mypy, custom-checks

tests: updated test data
  tests/tests_integration/test_api/test_time_series.py
  tests/tests_unit/test_data_classes/test_cdm/test_v1.py
Due: mypy

refactor: shell for enum property
  cognite/client/data_classes/data_modeling/data_types.py
Due: mypy, custom-checks

refactor: reintroduce Listable property type
  cognite/client/data_classes/data_modeling/data_types.py
Due: mypy, custom-checks

tests: added failing test
  tests/tests_unit/test_data_classes/test_data_models/test_data_types.py
Due: mypy

refactor: load for enums
  cognite/client/data_classes/data_modeling/data_types.py
Due: mypy, custom-checks

docs: why ugly solutin
  cognite/client/data_classes/data_modeling/data_types.py
Due: mypy, custom-checks

build; changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

tests: updated unrelated test
  tests/tests_integration/test_api/test_data_modeling/test_graphql.py
Due: mypy

avoid mypy hack
  cognite/client/data_classes/data_modeling/data_types.py
Due: mypy, custom-checks

refactor: review feedback
  CHANGELOG.md
  cognite/client/data_classes/data_modeling/data_types.py
  tests/tests_unit/test_data_classes/test_data_models/test_data_types.py
Due: mypy, custom-checks

refactor: fix header
  CHANGELOG.md
Due: none

refactor; revert
  CHANGELOG.md
Due: none

compare types using identity
  tests/tests_integration/test_api/test_entity_matching.py
Due: mypy

update deps
  poetry.lock
Due: none

update pydoclint and make it ignore class attributes
  .pre-commit-config.yaml
Due: none

fix test_wipe_and_regenerate_dml
  tests/tests_integration/test_api/test_data_modeling/test_graphql.py
Due: mypy

refactor: remove primitive
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/data_types.py
Due: mypy, custom-checks

Enum property (#1851)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/data_types.py
  pyproject.toml
  tests/tests_unit/test_data_classes/test_data_models/test_data_types.py
Due: mypy, custom-checks

refactor: latest core model
  cognite/client/data_classes/cdm/v1.py
  tests/tests_integration/test_api/test_data_modeling/test_core_model.py
Due: mypy, custom-checks

style: typos
  tests/tests_integration/test_api/test_data_modeling/test_core_model.py
Due: mypy

tests: fix import
  tests/tests_unit/test_data_classes/test_cdm/test_v1.py
Due: mypy

expand properties by default in notebook-like envs
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

auto-expand instance properties in notebooks (#1853)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/utils/_pandas_helpers.py
  pyproject.toml
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
