Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.11
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605,UP038
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py310
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run dmypy run -- cognite tests
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.7.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

readability counts
  cognite/client/data_classes/agents/chat.py
Due: mypy, custom-checks

Simplify action call dispatcher
  cognite/client/data_classes/agents/chat.py
Due: mypy, custom-checks

Simplify action dispatcher
  cognite/client/data_classes/agents/chat.py
Due: mypy, custom-checks

remove redundant test
  tests/tests_unit/test_api/test_agents_actions.py
Due: mypy

remove redundancy from CogniteObject
  cognite/client/data_classes/agents/chat.py
Due: mypy, custom-checks

feat(functions): Relax handle validation (#2357)
  cognite/client/_api/functions/__init__.py
  tests/tests_unit/test_api/function_test_resources/function_with_annotated_handle_assignment/handler.py
  tests/tests_unit/test_api/function_test_resources/function_with_handle_assignment/handler.py
  tests/tests_unit/test_api/function_test_resources/function_with_handle_assignment_invalid_args/handler.py
  tests/tests_unit/test_api/test_functions.py
Due: mypy, custom-checks

docs: add examples for filtering on special node properties (externalId, space)
  cognite/client/data_classes/filters.py
  docs/source/filters.rst
Due: mypy, custom-checks

Apply suggestion from @erlendvollset
  docs/source/filters.rst
Due: none

feat: add labels property to agents SDK
  cognite/client/_api/agents/agents.py
  cognite/client/data_classes/agents/agents.py
  tests/tests_unit/test_api/test_agents.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy, custom-checks

docs: add examples for filtering on special node properties (externalId, space) (#2371)
  cognite/client/data_classes/filters.py
  docs/source/filters.rst
Due: mypy, custom-checks

remove redundant tests
  tests/tests_unit/test_api/test_agents_actions.py
Due: mypy

remove redundant tests
  cognite/client/data_classes/agents/chat.py
  tests/tests_unit/test_api/test_agents_actions.py
Due: mypy, custom-checks

Add frozen=True and slots=True to action-related dataclasses
  cognite/client/data_classes/agents/chat.py
Due: mypy, custom-checks

feat(agents): add support for client-side actions in agent chat (#2350)
  cognite/client/_api/agents/agents.py
  cognite/client/data_classes/agents/__init__.py
  cognite/client/data_classes/agents/chat.py
  tests/tests_unit/test_api/test_agents_actions.py
  tests/utils.py
Due: mypy, custom-checks

chore(master): release 7.87.0
  CHANGELOG.md
  pyproject.toml
Due: none

Bump version to 7.87.0
  cognite/client/_version.py
Due: mypy, custom-checks

Refactor: Update changelog entries for clarity and consistency
  CHANGELOG.md
Due: none

chore(master): release 7.87.0 (#2360)
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Fix docstring: Change agent_id to agent_external_id in chat() examples
  cognite/client/_api/agents/agents.py
Due: mypy, custom-checks

fix: remove hardcoded default value
  cognite/client/_api/agents/agents.py
Due: mypy, custom-checks

Add timeout note for long-running AI agent interactions
  cognite/client/_api/agents/agents.py
Due: mypy, custom-checks

feat: Add custom timeout to agent chat
  cognite/client/_api/agents/agents.py
  tests/tests_unit/test_api/test_agents_chat.py
Due: mypy, custom-checks

docs: revert docstring examples to use agent_id
  cognite/client/_api/agents/agents.py
Due: mypy, custom-checks

fix id
  cognite/client/_api/agents/agents.py
Due: mypy, custom-checks

docs: fix agent_id to agent_external_id in chat() docstring examples (#2373)
  cognite/client/_api/agents/agents.py
Due: mypy, custom-checks

fix: mark description, instructions, model, and labels as always present in Agent responses
  cognite/client/data_classes/agents/agents.py
Due: mypy, custom-checks

test: remove redundant load/dump tests for agent labels
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy

feat: add labels property to agents SDK (#2372)
  cognite/client/_api/agents/agents.py
  cognite/client/data_classes/agents/agents.py
  tests/tests_unit/test_api/test_agents.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy, custom-checks

chore(master): release 7.88.0
  CHANGELOG.md
  pyproject.toml
Due: none

Fix Agent/AgentUpsert classes
  cognite/client/data_classes/agents/agents.py
Due: mypy, custom-checks

fix(agents): make Agent classes frozen/slots dataclasses with required fields
  cognite/client/data_classes/agents/agents.py
Due: mypy, custom-checks

test(agents): update tests for required Agent fields
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy

feat: implement frozen and slots dataclasses for Agent and AgentUpsert
  cognite/client/data_classes/agents/agents.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy, custom-checks

fix: make owner_id non-optional in Agent class
  .pr_body.md
  cognite/client/data_classes/agents/agents.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy, custom-checks

test: add immutability and tools transformation tests for frozen dataclasses
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy

fix: apply pre-commit formatting and remove unused import
  cognite/client/data_classes/agents/agents.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy, custom-checks

refactor: move url methods to utils/_url.py. add VALID_URL_PATTERN
  cognite/client/_api/data_modeling/graphql.py
  cognite/client/_api/postgres_gateway/tables.py
  cognite/client/_api/raw/rows.py
  cognite/client/_api/raw/tables.py
  cognite/client/_api/templates.py
  cognite/client/_api/three_d/asset_mapping.py
  cognite/client/_api/three_d/files.py
  cognite/client/_api/three_d/revisions.py
  cognite/client/_api/transformations/jobs.py
  cognite/client/_api/transformations/schema.py
  cognite/client/_api/workflows/__init__.py
  cognite/client/_api/workflows/triggers.py
  cognite/client/_api/workflows/versions.py
  cognite/client/_api_client.py
  cognite/client/utils/_auxiliary.py
  cognite/client/utils/_text.py
  cognite/client/utils/_url.py
  tests/tests_unit/test_utils/test_auxiliary.py
  tests/tests_unit/test_utils/test_url.py
Due: mypy, custom-checks

add: unpack_items function
  cognite/client/_api/datapoints.py
  cognite/client/_api/files.py
  cognite/client/_api_client.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

add httpx and poetry update
  poetry.lock
  pyproject.toml
Due: none
