Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  ...

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

make CogniteResourceList .get helper mappings lazy init
  cognite/client/data_classes/_base.py
Due: mypy, custom-checks

actually cap get_backoff_time at 'cap'
  cognite/client/_http_client.py
Due: mypy, custom-checks

update a few direct http client calls with semaphore=None
  cognite/client/_org_client.py
  cognite/client/exceptions.py
Due: mypy, custom-checks

update tests/tests_integration with sempahore changes
  tests/tests_integration/test_api/test_assets.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_integration/test_api/test_organization.py
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/test_models.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
  tests/tests_integration/test_api/test_simulators/utils.py
Due: mypy

remove _build_id_mappings from PrincipalList
  cognite/client/data_classes/principals.py
Due: mypy, custom-checks

make SpaceList .get helper mappings lazy init
  cognite/client/data_classes/data_modeling/spaces.py
Due: mypy, custom-checks

make Datapoints[Array] .get helper mappings lazy init
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

make DataModelingInstancesList .get helper mappings lazy init
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

make UserProfileList .get helper mappings lazy init
  cognite/client/data_classes/user_profiles.py
Due: mypy, custom-checks

update docs/source/index.rst with a "new in v8" section
  docs/source/index.rst
  docs/source/testing.rst
Due: none

update docs/source/cognite_client.rst with AsyncCogniteClient
  docs/source/cognite_client.rst
Due: none

significantly reduce the geopandas-on-windows warning
  README.md
Due: none

update and improve the quickstart guide
  docs/source/quickstart.rst
Due: none

release first beta version of v8 (8.0.0b1)
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

update README with a "new in v8" section. overhaul install tips
  README.md
Due: none

Fix sqlite syncing example
  docs/source/data_modeling.rst
Due: none

remove class ConcurrencySettings (convert to single func)
  cognite/client/utils/_async_helpers.py
  cognite/client/utils/_concurrency.py
  scripts/sync_client_codegen/sync_api_template.txt
  tests/tests_unit/test_utils/test_concurrency.py
Due: mypy, custom-checks

stop-gap concurrency control solution: separate on CDF project
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_api/datapoints.py
  cognite/client/_http_client.py
  cognite/client/_sync_api/data_modeling/instances.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/utils/_concurrency.py
  cognite/client/utils/_url.py
  tests/utils.py
Due: mypy, custom-checks

bump version to 8.0.0b2
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Concurrency limiting stop gap (separate on CDF project, DM-3473) (#2464)
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_api/datapoints.py
  cognite/client/_http_client.py
  cognite/client/_sync_api/data_modeling/instances.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/_version.py
  cognite/client/utils/_async_helpers.py
  cognite/client/utils/_concurrency.py
  cognite/client/utils/_url.py
  pyproject.toml
  scripts/sync_client_codegen/sync_api_template.txt
  tests/tests_unit/test_utils/test_concurrency.py
  tests/utils.py
Due: mypy, custom-checks

Added an optional parameter timeZone to the SyntheticDatapointsAPI.query method
  cognite/client/_api/synthetic_time_series.py
Due: mypy, custom-checks

lint fix
  cognite/client/_api/synthetic_time_series.py
Due: mypy, custom-checks

change timezone argument type
  cognite/client/_api/synthetic_time_series.py
Due: mypy, custom-checks

updated doc
  cognite/client/_api/synthetic_time_series.py
Due: mypy, custom-checks

updated URL
  cognite/client/_api/synthetic_time_series.py
Due: mypy, custom-checks

Draft deprecation warning for Vision API. Link will be updated when ready.
  cognite/client/_api/vision.py
  docs/source/deprecated.rst
Due: mypy, custom-checks

Formatting
  docs/source/deprecated.rst
Due: none

Added tests
  tests/tests_unit/test_api/test_vision_extract.py
Due: mypy

Making Ruff happy
  tests/tests_unit/test_api/test_vision_extract.py
Due: mypy

fix: client.simulators.routines.revisions.list or retrieve no longer returns a corrupted routine revision if the revision has a zero valued input in the configuration
  cognite/client/data_classes/simulators/routine_revisions.py
  tests/tests_unit/test_data_classes/test_simulators.py
Due: mypy, custom-checks

Do not fail on empty string external ID in revision inputs
  cognite/client/data_classes/simulators/routine_revisions.py
Due: mypy, custom-checks

Add test
  tests/tests_unit/test_data_classes/test_simulators.py
Due: mypy

Run ruff
  tests/tests_unit/test_data_classes/test_simulators.py
Due: mypy

extend test to use timezone arg. dont pass tz if None
  cognite/client/_api/synthetic_time_series.py
  tests/tests_integration/test_api/test_synthetic_time_series.py
Due: mypy, custom-checks

feat(SyntheticTimeSeries): add optional timezone argument to the query method (#2465)
  cognite/client/_api/synthetic_time_series.py
  tests/tests_integration/test_api/test_synthetic_time_series.py
Due: mypy, custom-checks

attempt at fixing and re-enabling the flaky workflow tests
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

chore: turn on automatic gemini PR review
  .gemini/config.yaml
Due: none

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
