Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling, simulators and datapoints
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
          tests/tests_unit/test_utils/test_time.py
          tests/tests_integration/test_api/test_datapoints.py
          tests/tests_unit/test_api/test_assets.py
          tests/tests_integration/test_api/test_assets.py
          tests/tests_integration/test_api/test_simulators
          tests/tests_integration/test_api/test_principals.py
          tests/tests_unit/test_api/test_simulators
          tests/tests_unit/test_data_classes/test_simulators.py
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.7.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

Make pretty much all unit tests pass
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/data_sets.py
  cognite/client/data_classes/events.py
  cognite/client/data_classes/geospatial.py
  cognite/client/data_classes/hosted_extractors/jobs.py
  cognite/client/data_classes/labels.py
  cognite/client/data_classes/sequences.py
  cognite/client/data_classes/shared.py
  cognite/client/data_classes/simulators/models.py
  cognite/client/data_classes/templates.py
  cognite/client/data_classes/three_d.py
  cognite/client/data_classes/transformations/__init__.py
  cognite/client/utils/_time.py
  tests/tests_unit/test_base.py
  tests/tests_unit/test_data_classes/test_transformations/test_schema.py
  tests/utils.py
Due: mypy, custom-checks

Run mypy on tests_unit/test_api_client.py
  .pre-commit-config.yaml
  cognite/client/data_classes/agents/agents.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

Fix load method for EntityMatchingModel
  cognite/client/data_classes/contextualization.py
  tests/tests_unit/test_api/test_entity_matching.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Sequence classes
  cognite/client/data_classes/sequences.py
  tests/tests_integration/test_api/test_sequences.py
  tests/tests_unit/test_api/test_sequences.py
Due: mypy, custom-checks

Fix required vs nullable attributes on ThreeD classes
  cognite/client/_api/three_d/asset_mapping.py
  cognite/client/data_classes/three_d.py
  tests/tests_unit/test_api/test_3d.py
Due: mypy, custom-checks

Fix http client usage in organization API
  cognite/client/_org_client.py
  tests/tests_unit/test_api/test_iam.py
Due: mypy, custom-checks

Fix remaining asset unit tests
  .pre-commit-config.yaml
  cognite/client/_api/assets.py
  cognite/client/data_classes/assets.py
  tests/tests_unit/test_data_classes/test_assets.py
  tests/utils.py
Due: mypy, custom-checks

add EventLoopThreadExecutor + global_config.event_loop
  cognite/client/config.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

Move test_unit/test_transformations/test_common.py into test_unit/test_api/test_transformations.py
  tests/tests_unit/test_api/test_transformations.py
Due: mypy

Enable mypy for some asset tests
  .pre-commit-config.yaml
  cognite/client/data_classes/iam.py
  cognite/client/utils/_auxiliary.py
  mypy.ini
  tests/tests_integration/test_api/test_assets.py
  tests/tests_unit/test_api/test_assets.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_data_classes/test_assets.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Relationship classes
  cognite/client/data_classes/relationships.py
  tests/tests_integration/test_api/test_relationships.py
Due: mypy, custom-checks

Fix docstring example tests
  cognite/client/_api/events.py
  cognite/client/_api/relationships.py
  cognite/client/_api/sequence_data.py
  cognite/client/_api/sequences.py
Due: mypy, custom-checks

Fix load method for Group
  cognite/client/data_classes/iam.py
  tests/tests_unit/test_api/test_iam.py
  tests/tests_unit/test_data_classes/test_groups.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Transformation classes
  cognite/client/data_classes/transformations/__init__.py
  cognite/client/data_classes/transformations/common.py
  cognite/client/data_classes/transformations/jobs.py
  cognite/client/data_classes/transformations/notifications.py
  cognite/client/data_classes/transformations/schedules.py
  cognite/client/data_classes/transformations/schema.py
Due: mypy, custom-checks

Fix cognite_client unit tests
  tests/tests_unit/test_cognite_client.py
Due: mypy

More typing.Self -> typing_extensions.Self
  cognite/client/data_classes/transformations/jobs.py
  cognite/client/data_classes/transformations/notifications.py
  cognite/client/data_classes/transformations/schedules.py
  tests/tests_unit/test_base.py
Due: mypy, custom-checks

Fix remaining integration tests
  cognite/client/data_classes/sequences.py
  cognite/client/data_classes/transformations/__init__.py
  cognite/client/data_classes/transformations/schema.py
  tests/tests_integration/test_api/test_geospatial.py
  tests/tests_integration/test_api/test_labels.py
  tests/tests_integration/test_api/test_sequences_data.py
  tests/tests_integration/test_api/test_transformations/test_jobs.py
  tests/tests_integration/test_api/test_transformations/test_schedules.py
  tests/tests_integration/test_api/test_transformations/test_transformations.py
  tests/tests_integration/test_api_client.py
Due: mypy, custom-checks

update the wording/warning on 'HTTP Request logging'
  docs/source/settings.rst
Due: none

Enable mypy for events tests
  .pre-commit-config.yaml
  tests/tests_integration/test_api/test_events.py
  tests/tests_unit/test_api/test_events.py
Due: mypy

Fix required vs nullable attributes on File and Annotation classes
  cognite/client/_api/annotations.py
  cognite/client/_api/files.py
  cognite/client/data_classes/annotations.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/files.py
  tests/tests_integration/test_api/test_annotations.py
  tests/tests_integration/test_api/test_files.py
Due: mypy, custom-checks

Run mypy on all util unit tests
  .pre-commit-config.yaml
  cognite/client/data_classes/agents/agents.py
  cognite/client/data_classes/annotation_types/images.py
  cognite/client/data_classes/annotation_types/primitives.py
  cognite/client/data_classes/capabilities.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/geospatial.py
  cognite/client/data_classes/workflows.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
  tests/tests_unit/test_data_classes/test_annotations.py
  tests/tests_unit/test_data_classes/test_capabilities.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_data_classes/test_datapoint_subscriptions.py
  tests/tests_unit/test_data_classes/test_datapoints.py
  tests/tests_unit/test_data_classes/test_functions.py
  tests/tests_unit/test_data_classes/test_geospatial.py
  tests/tests_unit/test_data_classes/test_groups.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_sources.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/tests_unit/test_data_classes/test_sequences.py
  tests/tests_unit/test_data_classes/test_time_series.py
  tests/tests_unit/test_data_classes/test_timestamp_range.py
  tests/tests_unit/test_data_classes/test_transformations/test_schema.py
  tests/tests_unit/test_data_classes/test_vision.py
  tests/tests_unit/test_data_classes/test_workflows.py
  tests/tests_unit/test_utils/test_auxiliary.py
  tests/tests_unit/test_utils/test_concurrency.py
  tests/tests_unit/test_utils/test_identifier.py
  tests/tests_unit/test_utils/test_importing.py
  tests/tests_unit/test_utils/test_json.py
  tests/tests_unit/test_utils/test_logging.py
  tests/tests_unit/test_utils/test_text.py
  tests/tests_unit/test_utils/test_url.py
  tests/tests_unit/test_utils/test_validation.py
Due: mypy, custom-checks

Fix load methods for Datapoint classes
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Function classes
  cognite/client/data_classes/functions.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_data_classes/test_functions.py
Due: mypy, custom-checks

fix: create_hierarchy, AssetHierarchy and their tests
  cognite/client/_api/assets.py
  cognite/client/data_classes/assets.py
  tests/tests_integration/test_api/test_assets.py
Due: mypy, custom-checks

Fix required vs nullable attributes on DataSet and related classes
  cognite/client/data_classes/data_sets.py
  tests/tests_integration/test_api/test_data_sets.py
Due: mypy, custom-checks

Remove all traces of templates API
  cognite/client/_api/templates.py
  cognite/client/_cognite_client.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/templates.py
  cognite/client/testing.py
  docs/source/deprecated.rst
Due: mypy, custom-checks

Enable mypy for raw tests
  .pre-commit-config.yaml
  cognite/client/data_classes/raw.py
  tests/tests_integration/test_api/test_raw.py
  tests/tests_integration/test_api/test_simulators/seed/resources.py
  tests/tests_unit/test_api/test_assets.py
  tests/tests_unit/test_api/test_raw.py
Due: mypy, custom-checks

Run mypy on tests_integration/test_api/test_labels.py
  .pre-commit-config.yaml
  tests/tests_integration/test_api/test_labels.py
Due: mypy

add global BoundedSemaphores for concurrency control
  cognite/client/_http_client.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

Run mypy on tests_unit/test_config.py
  .pre-commit-config.yaml
  tests/tests_unit/test_config.py
Due: mypy

Run mypy on all test files
  .pre-commit-config.yaml
  tests/conftest.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api/test_datapoints_tasks.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_http_client.py
  tests/tests_unit/test_meta.py
  tests/tests_unit/test_testing.py
  tests/utils.py
Due: mypy

Run mypy on tests_integration/test_api/test_agents.py
  .pre-commit-config.yaml
Due: none

fix: stream methods
  cognite/client/_api/documents.py
  cognite/client/_api/files.py
  cognite/client/_api/geospatial.py
  cognite/client/_basic_api_client.py
  cognite/client/_http_client.py
Due: mypy, custom-checks

Run mypy on files unit tests
  .pre-commit-config.yaml
  tests/tests_unit/test_api/test_files.py
Due: mypy

startTime is not required for VisionExtracJob
  cognite/client/data_classes/contextualization.py
Due: mypy, custom-checks

Run mypy on more integration tests
  .pre-commit-config.yaml
  cognite/client/_api/entity_matching.py
  cognite/client/_api/synthetic_time_series.py
  cognite/client/_api/three_d/models.py
  cognite/client/_api/time_series.py
  cognite/client/_api/units.py
  cognite/client/data_classes/annotations.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/geospatial.py
  tests/tests_integration/test_api/test_annotations.py
  tests/tests_integration/test_api/test_diagrams.py
  tests/tests_integration/test_api/test_hosted_extractors/conftest.py
  tests/tests_integration/test_api/test_hosted_extractors/test_jobs.py
  tests/tests_integration/test_api/test_hosted_extractors/test_mappings.py
  tests/tests_integration/test_api/test_simulators/utils.py
  tests/tests_integration/test_api/test_synthetic_time_series.py
  tests/tests_integration/test_api/test_three_d.py
  tests/tests_integration/test_api/test_time_series.py
  tests/tests_integration/test_api/test_unit.py
  tests/tests_integration/test_api/test_user_profiles.py
  tests/tests_integration/test_api/test_vision_extract.py
  tests/tests_unit/test_api/test_diagrams.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_data_classes/test_vision.py
Due: mypy, custom-checks

Run mypy on more relationship integration tests
  .pre-commit-config.yaml
  cognite/client/data_classes/relationships.py
  tests/tests_integration/test_api/test_relationships.py
Due: mypy, custom-checks

Run mypy on tests_integration/test_api/test_diagrams.py
  .pre-commit-config.yaml
  cognite/client/_api/files.py
  cognite/client/data_classes/contextualization.py
  tests/tests_integration/test_api/test_diagrams.py
Due: mypy, custom-checks

fix: save one list copy op in datapoints-insert-loop
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks
