Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

fix
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/test_simulators.py
Due: mypy

model tests
  tests/tests_integration/test_api/test_simulators/seed/data.py
  tests/tests_integration/test_api/test_simulators/test_simulators.py
Due: mypy

dataset retrigger
  tests/tests_integration/test_api/test_simulators/seed/data.py
Due: mypy

fix
  tests/tests_integration/test_api/test_simulators/test_simulators.py
Due: mypy

fix
  tests/tests_integration/test_api/test_simulators/seed/data.py
Due: mypy

fix test and delete fixture
  tests/tests_integration/test_api/test_simulators/test_simulators.py
Due: mypy

remove unknown change
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

remove TextIO from *_bytes methods
  cognite/client/_api/files.py
Due: mypy, custom-checks

update upload_content_bytes docstring
  cognite/client/_api/files.py
Due: mypy, custom-checks

several fixes, docs etc.
  cognite/client/_api/files.py
Due: mypy, custom-checks

fix docstr import
  cognite/client/_api/files.py
Due: mypy, custom-checks

Update cognite/client/_api/simulators/simulator_models.py
  cognite/client/_api/simulators/simulator_models.py
Due: mypy, custom-checks

Update cognite/client/_api/simulators/simulators.py
  cognite/client/_api/simulators/simulators.py
Due: mypy, custom-checks

Update cognite/client/_api/simulators/simulator_routines.py
  cognite/client/_api/simulators/simulator_routines.py
Due: mypy, custom-checks

Update cognite/client/_api/simulators/simulation_runs.py
  cognite/client/_api/simulators/simulation_runs.py
Due: mypy, custom-checks

Update cognite/client/_api/simulators/simulator_integrations.py
  cognite/client/_api/simulators/simulator_integrations.py
Due: mypy, custom-checks

some docs updates to files api (#2037)
  cognite/client/_api/files.py
Due: mypy, custom-checks

fix: scripts/generate_code_snippets.py doesnt work with cached_property
  cognite/client/_api/units.py
Due: mypy, custom-checks

fix: `scripts/generate_code_snippets.py` doesn't work with cached_property (#2051)
  cognite/client/_api/units.py
Due: mypy, custom-checks

fix: don't dump custom properties to camelCase in agg. requests
  cognite/client/_api_client.py
Due: mypy, custom-checks

add cleanup to tests creating files...
  tests/tests_integration/test_api/test_files.py
  tests/utils.py
Due: mypy

fix/improve: client.documents.aggregate_cardinality_properties
  cognite/client/_api/documents.py
Due: mypy, custom-checks

refactor: move possible aggregations out and make into set
  cognite/client/_api_client.py
Due: mypy, custom-checks

clean up: tests/tests_integration/test_api/test_documents.py
  tests/tests_integration/test_api/test_documents.py
Due: mypy

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

add test
  tests/tests_integration/test_api/test_documents.py
Due: mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

DM-2412 fix aggregate property casing + add files tests cleanup (#2059)
  CHANGELOG.md
  cognite/client/_api/documents.py
  cognite/client/_api_client.py
  cognite/client/_version.py
  pyproject.toml
  tests/tests_integration/test_api/test_documents.py
  tests/tests_integration/test_api/test_files.py
  tests/utils.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
