Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

refactor: Core model as composition
  cognite/client/data_classes/data_modeling/cdm/v1.py
Due: mypy, custom-checks

refactor: extractor extension as composition
  cognite/client/data_classes/data_modeling/extractor_extensions/v1.py
Due: mypy, custom-checks

build: changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix: tyo
  CHANGELOG.md
Due: none

Fixed scope of LocationFiltersAcl
  CHANGELOG.md
  cognite/client/data_classes/capabilities.py
Due: mypy, custom-checks

Bumped version
  CHANGELOG.md
Due: none

more bumping
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

style: happy ruff
  cognite/client/data_classes/capabilities.py
Due: mypy, custom-checks

Fixed scope of LocationFiltersAcl (#1927)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/capabilities.py
  pyproject.toml
Due: mypy, custom-checks

raise minimum version of requests to 2.27 that consolidates JSONDecodeError
  poetry.lock
  pyproject.toml
Due: none

remove space
  CHANGELOG.md
Due: none

Update cognite/client/_api_client.py
  cognite/client/_api_client.py
Due: mypy, custom-checks

add comment
  cognite/client/_api_client.py
Due: mypy, custom-checks

less space
  CHANGELOG.md
Due: none

Raise minimum requests version (#1926)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: none

refactor; review feedback
  cognite/client/_api/hosted_extractors/destinations.py
Due: mypy, custom-checks

fix: broken link
  cognite/client/_api/hosted_extractors/jobs.py
Due: mypy, custom-checks

[CDF-22379] Hosted Extractors: Destination (#1896)
  CHANGELOG.md
  cognite/client/_api/hosted_extractors/__init__.py
  cognite/client/_api/hosted_extractors/destinations.py
  cognite/client/_version.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/hosted_extractors/__init__.py
  cognite/client/data_classes/hosted_extractors/destinations.py
  cognite/client/testing.py
  docs/source/hosted_extractors.rst
  pyproject.toml
  tests/tests_integration/test_api/test_hosted_extractors/test_destinations.py
  tests/tests_unit/test_base.py
Due: mypy, custom-checks

tests: unify fixtures
  tests/tests_integration/test_api/test_hosted_extractors/conftest.py
  tests/tests_integration/test_api/test_hosted_extractors/test_destinations.py
  tests/tests_integration/test_api/test_hosted_extractors/test_jobs.py
  tests/tests_integration/test_api/test_hosted_extractors/test_sources.py
Due: mypy

tests; updated test
  tests/utils.py
Due: mypy

fix: forgotten dump method
  cognite/client/data_classes/hosted_extractors/jobs.py
Due: mypy, custom-checks

refactor; update expose
  cognite/client/data_classes/hosted_extractors/__init__.py
Due: mypy, custom-checks

refactor: expose
  cognite/client/data_classes/hosted_extractors/__init__.py
Due: mypy, custom-checks

style: happy mypy
  cognite/client/_api/hosted_extractors/jobs.py
Due: mypy, custom-checks

Make data model test safe to run concurrently
  tests/tests_integration/test_api/test_data_modeling/test_data_models.py
Due: mypy

Fix more racy tests
  tests/tests_integration/test_api_client.py
Due: mypy

Fix racy tests (#1930)
  tests/tests_integration/test_api/test_data_modeling/test_data_models.py
  tests/tests_integration/test_api_client.py
Due: mypy

Core model as composition (#1925)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/data_modeling/cdm/v1.py
  cognite/client/data_classes/data_modeling/extractor_extensions/v1.py
  pyproject.toml
Due: mypy, custom-checks

Fix column remapping for TypedInstance.to_pandas()
  cognite/client/data_classes/data_modeling/instances.py
  tests/tests_unit/test_data_classes/test_data_models/test_typed_instances.py
Due: mypy, custom-checks

Bump version and update changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Fix CogniteAsset.to_pandas test
  tests/tests_unit/test_data_classes/test_data_models/test_typed_instances.py
Due: mypy

Fix column remapping for TypedInstance.to_pandas() (#1928)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/data_modeling/instances.py
  pyproject.toml
  tests/tests_unit/test_data_classes/test_data_models/test_typed_instances.py
Due: mypy, custom-checks

remove alpha warning on CDM/v1
  cognite/client/data_classes/data_modeling/cdm/__init__.py
Due: mypy, custom-checks

spread the word in typed instances
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

Revert "remove alpha warning on CDM/v1"
  cognite/client/data_classes/data_modeling/cdm/__init__.py
Due: mypy, custom-checks

some improvements to typed instances
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

a few improvements
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

fix some notes-to-self + pre-commit update
  .pre-commit-config.yaml
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

fix ViewApply example
  cognite/client/_api/data_modeling/views.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
