Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling, simulators and datapoints
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
          tests/tests_unit/test_utils/test_time.py
          tests/tests_integration/test_api/test_datapoints.py
          tests/tests_unit/test_api/test_assets.py
          tests/tests_integration/test_api/test_assets.py
          tests/tests_integration/test_api/test_simulators
          tests/tests_integration/test_api/test_principals.py
          tests/tests_unit/test_api/test_simulators
          tests/tests_unit/test_data_classes/test_simulators.py
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.7.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

replace rsps with pytest-httpx (unit): test_api/test_ai.py
  tests/tests_unit/test_api/test_ai.py
Due: mypy

refactor: split out basic api methods in BasicAPIClient
  cognite/client/_api_client.py
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

add: unpack_items function
  cognite/client/_api/datapoints.py
  cognite/client/_api/files.py
  cognite/client/_api_client.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

update HTTPClient(WithRetry), HTTPClient(WithRetry)Config and RetryTracker
  cognite/client/_http_client.py
Due: mypy, custom-checks

replace rsps with pytest-httpx: tests (other)
  tests/conftest.py
  tests/tests_unit/test_docstring_examples.py
  tests/tests_unit/test_exceptions.py
  tests/tests_unit/test_http_client.py
  tests/tests_unit/test_meta.py
  tests/tests_unit/test_utils/test_concurrency.py
  tests/utils.py
Due: mypy

replace rsps with pytest-httpx (unit): test_api/test_documents.py
  tests/tests_unit/test_api/test_documents.py
Due: mypy

update APIClient/BasicAPIClient GET/POST etc, introduce FailedRequestHandler
  cognite/client/_api_client.py
  cognite/client/_basic_api_client.py
  cognite/client/_cognite_client.py
  cognite/client/_http_client.py
  cognite/client/utils/_json.py
Due: mypy, custom-checks

replace rsps with pytest-httpx (unit): test_api/test_datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
Due: mypy

update GlobalConfig and ClientConfig
  cognite/client/_api/assets.py
  cognite/client/_api/datapoints.py
  cognite/client/_api/files.py
  cognite/client/_api/raw/databases.py
  cognite/client/_api/raw/rows.py
  cognite/client/_api/raw/tables.py
  cognite/client/_api/relationships.py
  cognite/client/_api/sequence_data.py
  cognite/client/_api/synthetic_time_series.py
  cognite/client/_api/three_d/asset_mapping.py
  cognite/client/_api/workflows/__init__.py
  cognite/client/_api/workflows/versions.py
  cognite/client/_api_client.py
  cognite/client/_http_client.py
  cognite/client/config.py
  cognite/client/data_classes/assets.py
  cognite/client/utils/_concurrency.py
  cognite/client/utils/_pyodide_helpers.py
Due: mypy, custom-checks

add httpx and poetry update
  poetry.lock
  pyproject.toml
Due: none

refactor: move url methods to utils/_url.py. add VALID_URL_PATTERN
  cognite/client/_api/data_modeling/graphql.py
  cognite/client/_api/postgres_gateway/tables.py
  cognite/client/_api/raw/rows.py
  cognite/client/_api/raw/tables.py
  cognite/client/_api/templates.py
  cognite/client/_api/three_d/asset_mapping.py
  cognite/client/_api/three_d/files.py
  cognite/client/_api/three_d/revisions.py
  cognite/client/_api/transformations/jobs.py
  cognite/client/_api/transformations/schema.py
  cognite/client/_api/workflows/__init__.py
  cognite/client/_api/workflows/triggers.py
  cognite/client/_api/workflows/versions.py
  cognite/client/_api_client.py
  cognite/client/utils/_auxiliary.py
  cognite/client/utils/_text.py
  cognite/client/utils/_url.py
  tests/tests_unit/test_utils/test_auxiliary.py
  tests/tests_unit/test_utils/test_url.py
Due: mypy, custom-checks

update APIs using _do_request or stream
  cognite/client/_api/datapoints.py
  cognite/client/_api/diagrams.py
  cognite/client/_api/document_preview.py
  cognite/client/_api/documents.py
  cognite/client/_api/files.py
  cognite/client/_api/functions/schedules.py
  cognite/client/_api/geospatial.py
  cognite/client/_api/sequence_data.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/files.py
  cognite/client/utils/_version_checker.py
Due: mypy, custom-checks

replace rsps with pytest-httpx (unit): test_api/test_assets.py
  tests/tests_unit/test_api/test_assets.py
Due: mypy

dependency: swap responses with httpx_mock
  poetry.lock
  pyproject.toml
Due: none

replace rsps with pytest-httpx (unit): test_api/test_data_modeling/test_containers.py
  tests/tests_unit/test_api/test_data_modeling/test_containers.py
Due: mypy

remove dependency pyodide-http
  poetry.lock
  pyproject.toml
Due: none

replace rsps with pytest-httpx (integration): test_api/test_geospatial.py
  tests/tests_integration/test_api/test_geospatial.py
Due: mypy

replace rsps with pytest-httpx (unit): test_api/test_vision_extract.py
  tests/tests_unit/test_api/test_vision_extract.py
Due: mypy

replace rsps with pytest-httpx (unit): test_api/test_events.py
  tests/tests_unit/test_api/test_events.py
Due: mypy

Introduce DefaultResourceGenerator
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api/test_entity_matching.py
  tests/tests_unit/test_api/test_events.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_api/test_time_series.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_base.py
Due: mypy

Import Self from typing_extensions
  cognite/client/data_classes/data_sets.py
  cognite/client/data_classes/events.py
  cognite/client/data_classes/extractionpipelines.py
  cognite/client/data_classes/functions.py
  cognite/client/data_classes/labels.py
  cognite/client/data_classes/raw.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

replace rsps with pytest-httpx (unit): test_api/test_functions.py
  tests/tests_unit/test_api/test_functions.py
Due: mypy

clean up pyodide patch script
  cognite/client/_http_client.py
  cognite/client/utils/_pyodide_helpers.py
Due: mypy, custom-checks

replace rsps with pytest-httpx (integration): test_api/test_simulators/utils.py
  tests/tests_integration/test_api/test_simulators/utils.py
Due: mypy

update .gemini/styleguide.md with httpx.Response
  .gemini/styleguide.md
Due: none

Fix required vs nullable attributes on Asset and related classes
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/assets.py
  cognite/client/data_classes/iam.py
  cognite/client/data_classes/labels.py
  cognite/client/utils/_auxiliary.py
  tests/tests_integration/test_api/test_assets.py
  tests/tests_unit/test_utils/test_auxiliary.py
Due: mypy, custom-checks

Fix various unit tests
  cognite/client/_api/time_series.py
  cognite/client/testing.py
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
  tests/tests_unit/test_api/test_assets.py
  tests/tests_unit/test_api/test_data_sets.py
  tests/tests_unit/test_api/test_events.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api/test_labels.py
  tests/tests_unit/test_api/test_relationships.py
  tests/tests_unit/test_api/test_signatures.py
  tests/tests_unit/test_api/test_time_series.py
  tests/tests_unit/test_api_client.py
  tests/tests_unit/test_data_classes/test_assets.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/tests_unit/test_data_classes/test_vision.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Event and related classes
  cognite/client/data_classes/events.py
  cognite/client/data_classes/shared.py
  tests/tests_integration/test_api/test_events.py
Due: mypy, custom-checks

replace rsps with pytest-httpx (unit): test_data_classes/test_annotations.py
  tests/tests_unit/test_data_classes/test_annotations.py
Due: mypy

replace rsps with pytest-httpx (unit): test_api/test_files.py
  tests/tests_unit/test_api/test_files.py
Due: mypy

Move test_unit/test_transformations/test_common.py into test_unit/test_api/test_transformations.py
  tests/tests_unit/test_api/test_transformations.py
Due: mypy

update the wording/warning on 'HTTP Request logging'
  docs/source/settings.rst
Due: none

replace rsps with pytest-httpx (unit): test_api/test_relationships.py
  tests/tests_unit/test_api/test_relationships.py
Due: mypy

replace rsps with pytest-httpx (unit): test_api/test_time_series.py
  tests/tests_unit/test_api/test_time_series.py
Due: mypy

Fix docstring example tests
  cognite/client/_api/events.py
  cognite/client/_api/relationships.py
  cognite/client/_api/sequence_data.py
  cognite/client/_api/sequences.py
Due: mypy, custom-checks

replace rsps with pytest-httpx (unit): test_api/test_synthetic_time_series.py
  tests/tests_unit/test_api/test_synthetic_time_series.py
Due: mypy

replace rsps with pytest-httpx (unit): test_api/test_labels.py
  tests/tests_unit/test_api/test_labels.py
Due: mypy

Fix required vs nullable attributes on Relationship classes
  cognite/client/data_classes/relationships.py
  tests/tests_integration/test_api/test_relationships.py
Due: mypy, custom-checks

replace rsps with pytest-httpx (integration): test_api/test_datapoints.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

Fix load method for EntityMatchingModel
  cognite/client/data_classes/contextualization.py
  tests/tests_unit/test_api/test_entity_matching.py
Due: mypy, custom-checks
