Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  ...

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

fix(data workflow tests): cancel running workflow executions before delete (#2703)
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

chore(master): release cognite-sdk-python 8.10.1
  .release-please-manifest.json
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

stricter check on error message
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy

Update cognite/client/data_classes/data_modeling/records.py
  cognite/client/data_classes/data_modeling/records.py
Due: mypy, custom-checks

switch to concrete types for consistency sake
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/data_classes/data_modeling/records.py
Due: mypy, custom-checks

feat(records): sync endpoint (#2698)
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/records.py
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy, custom-checks

Support include_llm_prompt flag in DebugParameters
  cognite/client/data_classes/data_modeling/debug.py
  tests/tests_unit/test_data_classes/test_data_models/test_debug_notices.py
Due: mypy, custom-checks

Update debug.py
  cognite/client/data_classes/data_modeling/debug.py
Due: mypy, custom-checks

rename from list to filter
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy, custom-checks

cleanup after merge issues
  scripts/sync_client_codegen/create_sync_client.py
Due: mypy

feat(records): filter endpoint (#2699)
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/records.py
  cognite/client/utils/_concurrency.py
  tests/tests_unit/test_api/test_data_modeling/test_records.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

chore(records): reduce concurrency limits
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

fix: import ordering and docstring example for aggregate
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/data_classes/data_modeling/__init__.py
  tests/tests_unit/test_api/test_data_modeling/test_records.py
Due: mypy, custom-checks

set even lower
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

fix: import ordering in API file and exclude aggregate classes from generic base tests
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
  tests/tests_unit/test_base.py
Due: mypy, custom-checks

feat: Support include_llm_prompt flag in DebugParameters (#2707)
  cognite/client/data_classes/data_modeling/debug.py
  tests/tests_unit/test_data_classes/test_data_models/test_debug_notices.py
Due: mypy, custom-checks

chore(records): reduce concurrency limits (#2708)
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

feat(records): add typed aggregate examples to docstring and exclude aggregate classes from base tests
  cognite/client/_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/records.py
Due: mypy, custom-checks

refactor: address PR review comments on reasoning data classes
  cognite/client/data_classes/agents/chat.py
Due: mypy, custom-checks

feat: support expanded reasoning response in agent chat
  cognite/client/data_classes/agents/__init__.py
  cognite/client/data_classes/agents/chat.py
  tests/tests_unit/test_api/test_agents_chat.py
Due: mypy, custom-checks

refactor: address review feedback on reasoning data classes
  cognite/client/data_classes/agents/chat.py
Due: mypy, custom-checks

style: apply ruff format
  tests/tests_unit/test_api/test_agents_chat.py
Due: mypy

refactor: rename shadow variable in UnknownReasoningDataItem._load_item
  cognite/client/data_classes/agents/chat.py
Due: mypy, custom-checks

refactor(records): expose bucket aggregate buckets as a read-only property
  cognite/client/data_classes/data_modeling/records.py
Due: mypy, custom-checks

fix: support Pyodide 314 IN_PYODIDE rename for browser detection
  cognite/client/_constants.py
Due: mypy, custom-checks

test: cover browser detection across Pyodide/Python versions
  .github/workflows/verify-jupyter.yml
  tests/tests_unit/test_constants.py
Due: mypy

fix: make browser-detection test mypy-clean and repair streamlit pyodide CI
  scripts/test-pyodide.js
  tests/tests_unit/test_constants.py
Due: mypy

feat(agents): support expanded reasoning response in agent chat (#2634)
  cognite/client/data_classes/agents/__init__.py
  cognite/client/data_classes/agents/chat.py
  tests/tests_unit/test_api/test_agents_chat.py
Due: mypy, custom-checks

fix: support Pyodide 314 IN_PYODIDE rename for browser detection
  cognite/client/_constants.py
  tests/tests_unit/test_constants.py
Due: mypy, custom-checks

feat(transformations): add Fabric OneLake external data sources API
  cognite/client/_api/transformations/__init__.py
  cognite/client/_api/transformations/external_data.py
  cognite/client/_sync_api/transformations/__init__.py
  cognite/client/_sync_api/transformations/external_data.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/capabilities.py
  cognite/client/data_classes/transformations/external_data.py
  cognite/client/testing.py
  docs/source/transformations.rst
  docs/source/transformations_external_data.rst
  tests/tests_integration/test_api/test_transformations/test_external_data.py
  tests/tests_unit/test_api/test_transformation_external_data.py
  tests/tests_unit/test_data_classes/test_transformations/__init__.py
  tests/tests_unit/test_data_classes/test_transformations/test_external_data.py
Due: mypy, custom-checks

feat(transformations): add USE action to TransformationsExternalDataSourcesAcl
  cognite/client/data_classes/capabilities.py
Due: mypy, custom-checks

fix(transformations): repair external data sources CI failures
  cognite/client/_api/transformations/external_data.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/transformations/__init__.py
  cognite/client/_sync_api/transformations/external_data.py
  cognite/client/data_classes/transformations/external_data.py
  docs/source/transformations.rst
  tests/tests_integration/test_api/test_transformations/test_external_data.py
  tests/tests_unit/test_api/test_transformation_external_data.py
Due: mypy, custom-checks

fix(transformations): fix lint and docs linkcheck for external data
  cognite/client/_api/transformations/external_data.py
  cognite/client/_sync_api/transformations/external_data.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/transformations/external_data.py
  tests/tests_unit/test_api/test_transformation_external_data.py
Due: mypy, custom-checks

fix(docs): drop duplicate external_data automodule entry
  docs/source/transformations.rst
Due: none

feat(transformations): add OneLake external data source data classes
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/capabilities.py
  cognite/client/data_classes/transformations/external_data.py
  tests/tests_unit/test_data_classes/test_transformations/__init__.py
  tests/tests_unit/test_data_classes/test_transformations/test_external_data.py
Due: mypy, custom-checks

fix(transformations): restore MeteringData exports in __init__.py
  cognite/client/data_classes/__init__.py
Due: mypy, custom-checks

fix(ci): restore streamlit pyodide cryptography workaround
  scripts/test-pyodide.js
Due: none

refactor(transformations): simplify external data dump methods
  cognite/client/data_classes/transformations/external_data.py
  tests/tests_unit/test_data_classes/test_transformations/test_external_data.py
Due: mypy, custom-checks

docs(transformations): clarify OneLake Write models and fix pyodide parse
  cognite/client/data_classes/transformations/external_data.py
  scripts/test-pyodide.js
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
