Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

docs: tests with fixes
  cognite/client/_api/hosted_extractors/destinations.py
  cognite/client/_api/hosted_extractors/jobs.py
Due: mypy, custom-checks

fix: always send
  cognite/client/_api/hosted_extractors/mappings.py
Due: mypy, custom-checks

[CDF-22379] Hosted Extractors: Mapping (#1898)
  CHANGELOG.md
  cognite/client/_api/hosted_extractors/__init__.py
  cognite/client/_api/hosted_extractors/destinations.py
  cognite/client/_api/hosted_extractors/jobs.py
  cognite/client/_api/hosted_extractors/mappings.py
  cognite/client/_version.py
  cognite/client/data_classes/hosted_extractors/__init__.py
  cognite/client/data_classes/hosted_extractors/mappings.py
  cognite/client/testing.py
  docs/source/hosted_extractors.rst
  pyproject.toml
  tests/tests_integration/test_api/test_hosted_extractors/test_mappings.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

refactor: review feedback
  cognite/client/data_classes/hosted_extractors/sources.py
Due: mypy, custom-checks

build: changeog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix: bug
  cognite/client/data_classes/hosted_extractors/sources.py
Due: mypy, custom-checks

refactor: remove unused
  cognite/client/data_classes/hosted_extractors/sources.py
Due: mypy, custom-checks

refactor: fix
  cognite/client/data_classes/hosted_extractors/sources.py
Due: mypy, custom-checks

[CDF-22379] Hosted Extractors Source: Kafka and Rest (#1899)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/hosted_extractors/__init__.py
  cognite/client/data_classes/hosted_extractors/sources.py
  pyproject.toml
Due: mypy, custom-checks

refactor: update core model
  cognite/client/data_classes/data_modeling/cdm/v1.py
Due: mypy, custom-checks

build: changelog
  CHANGELOG.md
Due: none

build: bump
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Update Core Model (#1941)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/data_modeling/cdm/v1.py
  pyproject.toml
Due: mypy, custom-checks

move fn to a method on client cfg. add a few more tests
  cognite/client/_api/assets.py
  cognite/client/_api_client.py
  cognite/client/config.py
  cognite/client/utils/_auxiliary.py
  tests/tests_unit/test_config.py
Due: mypy, custom-checks

add cluster info to CogniteAPIError
  cognite/client/_api/assets.py
  cognite/client/_api_client.py
  cognite/client/exceptions.py
  cognite/client/utils/_auxiliary.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

add test
  tests/tests_unit/test_exceptions.py
Due: mypy

Add cluster info to CogniteAPIError (#1942)
  cognite/client/_api/assets.py
  cognite/client/_api_client.py
  cognite/client/config.py
  cognite/client/exceptions.py
  cognite/client/utils/_concurrency.py
  tests/tests_unit/test_config.py
  tests/tests_unit/test_exceptions.py
Due: mypy, custom-checks

Data Workflows: allow trigger upserts in favour of creates
  CHANGELOG.md
  cognite/client/_api/workflows.py
  cognite/client/_version.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/workflows.py
  pyproject.toml
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy, custom-checks

fix test
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy

fix docs
  cognite/client/_api/workflows.py
Due: mypy, custom-checks

fix comments
  cognite/client/_api/workflows.py
Due: mypy, custom-checks

fix docs
  docs/source/data_workflows.rst
Due: none

Add workflow trigger upsert method, deprecate workflow trigger create method
  CHANGELOG.md
  cognite/client/_api/workflows.py
  cognite/client/_version.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/workflows.py
  pyproject.toml
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy, custom-checks

add todo
  cognite/client/_api/workflows.py
Due: mypy, custom-checks

update docs
  docs/source/data_workflows.rst
Due: none

fix warnings
  cognite/client/_api/workflows.py
Due: mypy, custom-checks

update changelog date
  CHANGELOG.md
Due: none

Add workflow trigger upsert method, deprecated trigger create (#1945)
  CHANGELOG.md
  cognite/client/_api/workflows.py
  cognite/client/_version.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/workflows.py
  docs/source/data_workflows.rst
  pyproject.toml
  tests/tests_integration/test_api/test_data_workflows.py
Due: mypy, custom-checks

Fix flaky tests
  tests/tests_integration/test_api/test_files.py
  tests/tests_integration/test_api/test_time_series.py
Due: mypy

Add more examples for time series with instance_id
  cognite/client/_api/datapoints.py
  cognite/client/_api/time_series.py
Due: mypy, custom-checks

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  tests/tests_unit/test_data_classes/test_data_models/test_instances.py
Due: mypy, custom-checks

add test
  tests/tests_unit/test_data_classes/test_data_models/test_instances.py
Due: mypy

fix type error on inst to pd with single prop and expand True
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

well done me
  pyproject.toml
Due: none

fix type error on inst to pd with single prop and expand True (#1947)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/data_modeling/instances.py
  pyproject.toml
  tests/tests_unit/test_data_classes/test_data_models/test_instances.py
Due: mypy, custom-checks

Add more examples for time series with instance_id (#1951)
  cognite/client/_api/datapoints.py
  cognite/client/_api/time_series.py
Due: mypy, custom-checks

tests: FakeCogniteResourceGenerator working for 3.10
  tests/utils.py
Due: mypy
