Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite 
          
          tests/tests_unit/test_data_classes
          tests/tests_unit/test_utils
          tests/tests_unit/test_api_client.py
          tests/tests_unit/test_base.py
          tests/tests_unit/test_cognite_client.py
          tests/tests_unit/test_config.py
          tests/tests_unit/test_credential_providers.py
          tests/tests_unit/test_docstring_examples.py
          tests/tests_unit/test_exceptions.py
          
          tests/tests_unit/test_api/test_assets.py
          tests/tests_unit/test_api/test_events.py
          tests/tests_unit/test_api/test_datapoints.py
          tests/tests_unit/test_api/test_data_sets.py
          tests/tests_unit/test_api/test_geospatial.py
          tests/tests_unit/test_api/test_raw.py
          tests/tests_unit/test_api/test_time_series.py
          tests/tests_unit/test_api/test_3d.py
          tests/tests_unit/test_api/test_vision_extract.py
          tests/tests_unit/test_api/test_transformations.py
          
          tests/tests_integration/test_api/test_data_modeling
          tests/tests_integration/test_api/test_datapoints.py
          tests/tests_integration/test_api/test_assets.py
          tests/tests_integration/test_api/test_events.py
          tests/tests_integration/test_api/test_workflows.py
          tests/tests_integration/test_api/test_raw.py
          tests/tests_integration/test_api/test_transformations

          tests/tests_integration/test_api/test_simulators
          tests/tests_integration/test_api/test_principals.py
          tests/tests_unit/test_api/test_simulators
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.8.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

chore(ci): surface pyodide test errors via .catch()
  scripts/test-pyodide.js
Due: none

fix(deps): pin authlib <1.7 to keep pyodide 0.26 (stlite) working
  pyproject.toml
Due: none

add temporary workaround for autlib 1.7 issue
  scripts/test-pyodide.js
Due: none

chore(ci): surface pyodide test errors via .catch() + fix CI check (#2577)
  scripts/test-pyodide.js
Due: none

fix: set chunking limits for Streams API create and delete operations
  cognite/client/_api/data_modeling/streams.py
Due: mypy, custom-checks

regenerate sync API for Streams after adding chunking limits
  cognite/client/_sync_api/data_modeling/streams.py
Due: mypy, custom-checks

fix: remove unused imports in sync data modeling API init
  cognite/client/_sync_api/data_modeling/__init__.py
Due: mypy, custom-checks

feat(streams): Move Streams and Records API to data_modeling to match PR 2534 structure
  cognite/client/_api/data_modeling/__init__.py
  cognite/client/_api/data_modeling/records.py
  cognite/client/_api/data_modeling/streams.py
  cognite/client/_api/streams/__init__.py
  cognite/client/_cognite_client.py
  cognite/client/_sync_api/data_modeling/__init__.py
  cognite/client/_sync_api/data_modeling/records.py
  cognite/client/_sync_api/data_modeling/streams.py
  cognite/client/_sync_api/streams/__init__.py
  cognite/client/_sync_cognite_client.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/streams.py
Due: mypy, custom-checks

Add py313 to RunTime for Cognite Functions
  cognite/client/_api/functions/__init__.py
  cognite/client/data_classes/functions.py
  tests/tests_unit/test_api/test_functions.py
Due: mypy, custom-checks

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Revert __init__ change
  cognite/client/_api/functions/__init__.py
Due: mypy, custom-checks

Revert CHANGELOG update
  CHANGELOG.md
Due: none

feat: Allow iterable of ids in retrieve methods for datapoints
  cognite/client/_api/datapoint_tasks.py
  cognite/client/_api/datapoints.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/utils/_datapoints.py
  tests/tests_unit/test_api/test_datapoints_tasks.py
Due: mypy, custom-checks

docs(agents): pin runtime_version in QueryAgentTool example
  cognite/client/_api/agents/agents.py
  cognite/client/_sync_api/agents/agents.py
Due: mypy, custom-checks

test(hosted_extractors): skip flaky jobs tests until 2026-05-04
  tests/tests_integration/test_api/test_hosted_extractors/test_jobs.py
Due: mypy

test(hosted_extractors): move skip to conftest so it covers all 4 files
  tests/tests_integration/test_api/test_hosted_extractors/conftest.py
  tests/tests_integration/test_api/test_hosted_extractors/test_jobs.py
Due: mypy

Update docstrings
  cognite/client/_api/datapoint_tasks.py
  cognite/client/_api/datapoints.py
  cognite/client/_sync_api/datapoints.py
Due: mypy, custom-checks

fix(credentials): reuse OAuthDeviceCode token cache across processes
  cognite/client/credentials.py
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

refactor(credentials): remove inline explanatory comments
  cognite/client/credentials.py
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

refactor(credentials): scope token cache search + break on first usable RT
  cognite/client/credentials.py
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

adjust flow
  tests/tests_integration/test_api/test_hosted_extractors/conftest.py
Due: mypy

Fix return type issue
  cognite/client/_api/datapoint_tasks.py
  cognite/client/utils/useful_types.py
Due: mypy, custom-checks

Revert all changes since branching from master
  tests/tests_integration/test_api/test_hosted_extractors/conftest.py
Due: mypy

use force=True delete to also remove those with jobs
  tests/tests_integration/test_api/test_hosted_extractors/conftest.py
Due: mypy

chore(hosted_extractors): fix auto test cleanup with force=True (#2584)
  tests/tests_integration/test_api/test_hosted_extractors/conftest.py
Due: mypy

test(agents): branch on expected_type in agent tool tests
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
Due: mypy

chore(codegen): refresh sync_api hash after rebase
  cognite/client/_sync_api/agents/agents.py
Due: mypy, custom-checks

test(agents): assert loaded_tool type up front in dump and upsert tests
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
Due: mypy

fix(tests): remove redundant test_load_with_configuration
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
Due: mypy

fix: defensive null handling in QueryAgentToolConfiguration._load
  cognite/client/data_classes/agents/agent_tools.py
Due: mypy, custom-checks

fix(tests): remove redundant round-trip tests for QueryAgentTool
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
Due: mypy

feat: add QueryAgentTool for the "query" tool type
  cognite/client/_api/agents/agents.py
  cognite/client/_sync_api/agents/agents.py
  cognite/client/data_classes/agents/__init__.py
  cognite/client/data_classes/agents/agent_tools.py
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
Due: mypy, custom-checks

fix: address PR feedback on query agent tool
  cognite/client/_api/agents/agents.py
  cognite/client/_sync_api/agents/agents.py
  cognite/client/data_classes/agents/agent_tools.py
Due: mypy, custom-checks

simplify code example for agents.upsert
  cognite/client/_api/agents/agents.py
  cognite/client/_sync_api/agents/agents.py
Due: mypy, custom-checks

fix wrong runtime_version in example
  cognite/client/_api/agents/agents.py
  cognite/client/_sync_api/agents/agents.py
Due: mypy, custom-checks

add a todo
  cognite/client/data_classes/agents/agent_tools.py
Due: mypy, custom-checks
