Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

Do not nest boolean binary filters
  cognite/client/data_classes/filters.py
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
Due: mypy, custom-checks

Update cognite/client/data_classes/filters.py
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

Remove uneccessary imports
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

Data Workflows run endpoint: quote externalIds in request
  cognite/client/_api/workflows.py
Due: mypy, custom-checks

bump version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Quote externalId and version when calling workflows.executions.run(...) (#1987)
  CHANGELOG.md
  cognite/client/_api/workflows.py
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix: Not filter only accepts a single filter
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

Small fixes
  cognite/client/_version.py
  cognite/client/data_classes/filters.py
  pyproject.toml
Due: mypy, custom-checks

Overload boolean operators to work with filters (#1986)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/filters.py
  pyproject.toml
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
Due: mypy, custom-checks

improve convenience space filter merge logic (dependes on #1986)
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

fix: retry context diagram endpoints
  CHANGELOG.md
  cognite/client/_api_client.py
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Update cognite/client/_api_client.py
  cognite/client/_api_client.py
Due: mypy, custom-checks

Make in filter work with node IDs
  cognite/client/data_classes/filters.py
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
Due: mypy, custom-checks

Make in filter work with node IDs
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

Update changelog and version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

add tests on InstancesAPI._merge_space_into_filter
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
Due: mypy

add test for comp.flt when not given no filters
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
Due: mypy

add test for Not filters -> filter
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
Due: mypy

requre at least one filter given to CompoundFilters
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

improve convenience space filter merge logic (#1989)
  cognite/client/_api/data_modeling/instances.py
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
Due: mypy, custom-checks

Fix compund filters (#1988)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/filters.py
  pyproject.toml
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
Due: mypy, custom-checks

Update README.md
  README.md
Due: none

add yaml representers for tuple
  cognite/client/data_classes/_base.py
  cognite/client/utils/_importing.py
Due: mypy, custom-checks

add test
  tests/tests_unit/test_utils/test_importing.py
Due: mypy

feat(workflows): Add support for simulation integration
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

fix lint
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

update changelog and bump version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

fix
  cognite/client/data_classes/workflows.py
Due: mypy, custom-checks

Small simplification in _TypedNodeOrEdgeListAdapter
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

tests; updated testts
  tests/tests_unit/test_api_client.py
Due: mypy

build: bump
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

tests: fix
  tests/tests_unit/test_api_client.py
Due: mypy

Update tests/tests_unit/test_api_client.py
  tests/tests_unit/test_api_client.py
Due: mypy

Retry context diagram endpoints (#1990)
  CHANGELOG.md
  cognite/client/_api_client.py
  cognite/client/_version.py
  pyproject.toml
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
