Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: 'poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
  
    tests/tests_unit/test_data_classes/test_data_models
  
    '
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

test: add unit test for _load_list in SimulatorModelRevisionExternalDependency
  tests/tests_unit/test_data_classes/test_simulators.py
Due: mypy

Make version 7.81.0
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Fix
  cognite/client/data_classes/iam.py
Due: mypy, custom-checks

Remove unneccessary tests
  tests/tests_unit/test_api/test_iam.py
Due: mypy

Update files.py
  cognite/client/_api/files.py
Due: mypy, custom-checks

Add support for unknown properties in GroupAttributes
  cognite/client/data_classes/iam.py
Due: mypy, custom-checks

tests: use dataclass to reference resource names
  tests/tests_integration/test_api/test_simulators/test_integrations.py
  tests/tests_integration/test_api/test_simulators/test_models.py
  tests/tests_integration/test_api/test_simulators/test_routine_revisions.py
  tests/tests_integration/test_api/test_simulators/test_routines.py
  tests/tests_integration/test_api/test_simulators/test_runs.py
Due: mypy

chore: Convert resource name seeder to dataclass
  tests/tests_integration/test_api/test_simulators/conftest.py
  tests/tests_integration/test_api/test_simulators/seed/data.py
Due: mypy

bump version
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Add unit test for groups with attributes
  tests/tests_unit/test_api/test_iam.py
Due: mypy

Disable failing workflows test
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

feat(documents-api): add content, status, and passages endpoints to retryable list (#2238)
  cognite/client/_api_client.py
Due: mypy, custom-checks

Disable failing workflows test (#2249)
  tests/tests_integration/test_api/test_workflows.py
Due: mypy

test: clean simulator resource in tests (temp)
  tests/tests_integration/test_api/test_simulators/conftest.py
Due: mypy

tests: remove cleanup
  tests/tests_integration/test_api/test_simulators/conftest.py
Due: mypy

Added insert directly to the container example
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

docs: Added insert directly to the container example (#2247)
  cognite/client/_api/data_modeling/instances.py
Due: mypy, custom-checks

Make CogniteAPIError.response_code non-nullable again
  cognite/client/_api/assets.py
  cognite/client/exceptions.py
Due: mypy, custom-checks

Bump version and update changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

Make CogniteAPIError.response_code non-nullable again (#2250)
  CHANGELOG.md
  cognite/client/_api/assets.py
  cognite/client/_version.py
  cognite/client/exceptions.py
  pyproject.toml
Due: mypy, custom-checks

Remove deprecated Templates API
  cognite/client/_api/templates.py
  cognite/client/_cognite_client.py
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/templates.py
  cognite/client/testing.py
  docs/source/deprecated.rst
Due: mypy, custom-checks

Add basic support for records
  cognite/client/_api/data_modeling/__init__.py
  cognite/client/_api/data_modeling/records.py
  cognite/client/data_classes/data_modeling/records.py
  tests/tests_integration/test_api/test_data_modeling/conftest.py
  tests/tests_integration/test_api/test_data_modeling/test_records.py
  tests/tests_integration/test_api/test_data_modeling/test_streams.py
Due: mypy, custom-checks

Raise FeaturePreviewWarning on all invocations of stream/record methods
  cognite/client/_api/data_modeling/records.py
  cognite/client/_api/data_modeling/streams.py
  cognite/client/utils/_experimental.py
Due: mypy, custom-checks

Add support for streams
  cognite/client/_api/data_modeling/__init__.py
  cognite/client/_api/data_modeling/streams.py
  cognite/client/data_classes/data_modeling/_validation.py
  cognite/client/data_classes/data_modeling/streams.py
  tests/tests_integration/test_api/test_data_modeling/test_streams.py
Due: mypy, custom-checks

Use new warn_on_all_method_invocations decorator across the board
  cognite/client/_api/agents/agents.py
  cognite/client/_api/data_modeling/records.py
  cognite/client/_api/data_modeling/streams.py
  cognite/client/_api/hosted_extractors/destinations.py
  cognite/client/_api/hosted_extractors/jobs.py
  cognite/client/_api/hosted_extractors/mappings.py
  cognite/client/_api/hosted_extractors/sources.py
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/integrations.py
  cognite/client/_api/simulators/logs.py
  cognite/client/_api/simulators/models.py
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/_api/simulators/routines.py
  cognite/client/_api/simulators/runs.py
Due: mypy, custom-checks

Add retryable POST endpoints to _RETRYABLE_POST_ENDPOINT_REGEX_PATTERNS
  cognite/client/_api_client.py
Due: mypy, custom-checks

Fix dump and load methods
  cognite/client/data_classes/data_modeling/records.py
  cognite/client/data_classes/data_modeling/streams.py
  tests/utils.py
Due: mypy, custom-checks

Skip records/streams integration tests in CI
  tests/tests_integration/test_api/test_data_modeling/test_records.py
  tests/tests_integration/test_api/test_data_modeling/test_streams.py
Due: mypy

Get rid of RecordData class
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/records.py
  tests/tests_integration/test_api/test_data_modeling/test_records.py
Due: mypy, custom-checks

Fix CogniteClientMock
  cognite/client/testing.py
Due: mypy, custom-checks

Use instances.Properties class in records too
  cognite/client/data_classes/data_modeling/ids.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/records.py
Due: mypy, custom-checks

Add tenacity as dev dependency
  poetry.lock
  pyproject.toml
Due: none

Retry 409s when creating coordinate reference systems
  tests/tests_integration/test_api/test_geospatial.py
Due: mypy

tests: remove simulator cleanup
  tests/tests_integration/test_api/test_simulators/conftest.py
Due: mypy

tests: return a copy of the dataclass instance in seed resource name
  tests/tests_integration/test_api/test_simulators/conftest.py
Due: mypy

chore: use file CdfId directly for initializing ext. deps. instead of a dict
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/data_classes/simulators/models.py
  tests/tests_integration/test_api/test_simulators/test_models.py
Due: mypy, custom-checks

Fix flaky geospatial test (#2253)
  poetry.lock
  pyproject.toml
  tests/tests_integration/test_api/test_geospatial.py
Due: mypy

tests: fix tests for simulator models
  cognite/client/data_classes/simulators/models.py
  tests/tests_integration/test_api/test_simulators/test_models.py
  tests/tests_unit/test_data_classes/test_simulators.py
Due: mypy, custom-checks

chore: update docstring for SimulatorModelRevisionExternalDependency
  cognite/client/data_classes/simulators/models.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
