Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

simplify cognite/client/_api_client.py around identifiers
  cognite/client/_api_client.py
Due: mypy, custom-checks

fix is_single_identifier
  cognite/client/_api/datapoint_tasks.py
Due: mypy, custom-checks

update ts query parser in cognite/client/_api/datapoint_tasks.py
  cognite/client/_api/datapoint_tasks.py
Due: mypy, custom-checks

update dps classes Datapoints[Array][List]
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

add instance_id to all methods in cognite/client/_api/datapoints.py
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

fix protobuf bool bug in get_ts_info_from_proto
  cognite/client/_api/datapoint_tasks.py
Due: mypy, custom-checks

update tests
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_datapoints_tasks.py
Due: mypy

move instance ID usage of time series API out of alpha
  cognite/client/_api/time_series.py
Due: mypy, custom-checks

fix repr html tests
  tests/tests_unit/test_data_classes/test_repr.py
Due: mypy

update and add tests
  tests/conftest.py
  tests/tests_integration/conftest.py
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_integration/test_api/test_files.py
  tests/tests_integration/test_api/test_hosted_extractors/test_sources.py
  tests/tests_integration/test_api/test_time_series.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy

changelog, version
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
  tests/tests_unit/test_data_classes/test_repr.py
Due: mypy, custom-checks

fix fixtures
  tests/conftest.py
  tests/tests_integration/conftest.py
Due: mypy

use space identifier instead of Space in tests
  tests/tests_integration/conftest.py
Due: mypy

more test fixes
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

Add full dps/time series support for instance_id (#1934)
  CHANGELOG.md
  cognite/client/_api/datapoint_tasks.py
  cognite/client/_api/datapoints.py
  cognite/client/_api/time_series.py
  cognite/client/_api_client.py
  cognite/client/_version.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_pandas_helpers.py
  pyproject.toml
  tests/conftest.py
  tests/tests_integration/conftest.py
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_integration/test_api/test_files.py
  tests/tests_integration/test_api/test_hosted_extractors/test_sources.py
  tests/tests_integration/test_api/test_time_series.py
  tests/tests_unit/test_api/test_datapoints_tasks.py
  tests/tests_unit/test_data_classes/test_datapoints.py
  tests/tests_unit/test_data_classes/test_repr.py
Due: mypy, custom-checks

tests: reviewe feedback
  tests/tests_integration/test_api/test_hosted_extractors/conftest.py
  tests/tests_integration/test_api/test_hosted_extractors/test_jobs.py
Due: mypy

refactor: review feedback
  CHANGELOG.md
  cognite/client/_api/events.py
  docs/source/appendix.rst
Due: mypy, custom-checks

[CDF-22379] Hosted Extractors: Jobs (#1897)
  CHANGELOG.md
  cognite/client/_api/hosted_extractors/__init__.py
  cognite/client/_api/hosted_extractors/jobs.py
  cognite/client/_version.py
  cognite/client/data_classes/hosted_extractors/__init__.py
  cognite/client/data_classes/hosted_extractors/jobs.py
  cognite/client/testing.py
  docs/source/hosted_extractors.rst
  pyproject.toml
  tests/tests_integration/test_api/test_hosted_extractors/conftest.py
  tests/tests_integration/test_api/test_hosted_extractors/test_destinations.py
  tests/tests_integration/test_api/test_hosted_extractors/test_jobs.py
  tests/utils.py
Due: mypy, custom-checks

build: skip docs dir
  pytest.ini
Due: none

build; bump
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

refactor: fixes
  cognite/client/_api/hosted_extractors/mappings.py
Due: mypy, custom-checks

refactor: fix classic
  cognite/client/_api/hosted_extractors/mappings.py
Due: mypy, custom-checks

tests: cleanup
  tests/tests_integration/test_api/test_hosted_extractors/test_mappings.py
Due: mypy

Revert "build: skip docs dir"
  pytest.ini
Due: none

docs: in progress
  docs/source/appendix.rst
  docs/source/conftest.py
Due: mypy

docs: finished updating the tests
  docs/source/appendix.rst
Due: none

Ãrefactor: updated jobs with mode flag
  cognite/client/_api/hosted_extractors/jobs.py
Due: mypy, custom-checks

bump
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

refactor: review
  docs/source/appendix.rst
  docs/source/conftest.py
Due: mypy

[CDF-22563] Update Resources mode (#1935)
  CHANGELOG.md
  cognite/client/_api/annotations.py
  cognite/client/_api/assets.py
  cognite/client/_api/data_sets.py
  cognite/client/_api/datapoints_subscriptions.py
  cognite/client/_api/entity_matching.py
  cognite/client/_api/events.py
  cognite/client/_api/extractionpipelines.py
  cognite/client/_api/files.py
  cognite/client/_api/hosted_extractors/destinations.py
  cognite/client/_api/hosted_extractors/jobs.py
  cognite/client/_api/hosted_extractors/sources.py
  cognite/client/_api/relationships.py
  cognite/client/_api/sequences.py
  cognite/client/_api/three_d.py
  cognite/client/_api/time_series.py
  cognite/client/_api/transformations/__init__.py
  cognite/client/_api/transformations/schedules.py
  cognite/client/_version.py
  docs/source/appendix.rst
  docs/source/conftest.py
  pyproject.toml
Due: mypy, custom-checks

made changes to the first code example in the doc string of aggregate unique values for event. I changed to specify the property-argument
  cognite/client/_api/events.py
Due: mypy, custom-checks

Update events.py
  cognite/client/_api/events.py
Due: mypy, custom-checks

made changes to the first code example in the doc string of aggregate… (#1940)
  cognite/client/_api/events.py
Due: mypy, custom-checks

Review comments and fix list of scopes
  cognite/client/credentials.py
Due: mypy, custom-checks

Fix tests
  tests/tests_unit/test_credential_providers.py
Due: mypy

Refactor OAuthDeviceCode to support non-Entra IdPs (#1892)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/credentials.py
  pyproject.toml
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

Ãrefactor; review feedback
  CHANGELOG.md
  cognite/client/_api/hosted_extractors/mappings.py
  cognite/client/data_classes/hosted_extractors/mappings.py
  docs/source/hosted_extractors.rst
Due: mypy, custom-checks

build: changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

tests: extend tests
  tests/tests_unit/test_docstring_examples.py
Due: mypy
