Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --line-length=120
          - --ignore=E731,E501,W605
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py38
          - --exclude=cognite/client/_proto
      - id: ruff-format
        args:
          - --line-length=120
          - --exclude=cognite/client/_proto*

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite tests/tests_integration/test_api/test_data_modeling
          tests/tests_unit/test_data_classes/test_data_models
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.4.2
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true

deprecate Query.load_yaml in favour of Query.load
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

deprecate `Query.load_yaml` in favour of `Query.load` (#1860)
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

feat: add load from dict function to CredentialProvider, GlobalConfig, ClientConfig, and CogniteClient
  cognite/client/_cognite_client.py
  cognite/client/config.py
  cognite/client/credentials.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_config.py
  tests/tests_unit/test_config.yaml
  tests/tests_unit/test_config_envs.yaml
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

feat: add load from dict function to CredentialProvider, GlobalConfig, ClientConfig, and CogniteClient
  cognite/client/_cognite_client.py
Due: mypy, custom-checks

Made lastUpdatedTime into a pd.Timestamp
  cognite/client/_api/raw.py
Due: mypy, custom-checks

Linting from pre-commit
  cognite/client/_api/datapoints.py
  cognite/client/_api/raw.py
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

parallelize using partitions
  cognite/client/_api/relationships.py
Due: mypy, custom-checks

fix: reset debug mode after test
  tests/tests_unit/test_cognite_client.py
Due: mypy

ensure no duplicates are returned when we chunk for the user
  cognite/client/_api/relationships.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

feat; updated core model to version with required keywords and docstrings
  cognite/client/data_classes/cdm/v1.py
Due: mypy, custom-checks

style: happy mypy
  cognite/client/data_classes/cdm/v1.py
Due: mypy, custom-checks

build: bump
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

refactor: script and moved feature preview out
  cognite/client/data_classes/cdm/__init__.py
  cognite/client/data_classes/cdm/v1.py
  scripts/generate_core_model.py
Due: mypy, custom-checks

docs; of script
  scripts/generate_core_model.py
Due: mypy

Ãbuild; fix
  CHANGELOG.md
Due: none

fix typos: 'clas', '3 d' and 'cognite'
  cognite/client/data_classes/cdm/v1.py
Due: mypy, custom-checks

Updated core model to version with required keywords and docstrings (#1864)
  CHANGELOG.md
  cognite/client/_version.py
  cognite/client/data_classes/cdm/__init__.py
  cognite/client/data_classes/cdm/v1.py
  pyproject.toml
  scripts/generate_core_model.py
Due: mypy, custom-checks

Revert "Linting from pre-commit"
  cognite/client/_api/datapoints.py
  cognite/client/_api/raw.py
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

Fixed tests and linting
  cognite/client/_api/raw.py
  tests/tests_unit/test_api/test_raw.py
Due: mypy, custom-checks

Bumped version and changelog
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

add `last_updated_time_in_index` to `retrieve_dataframe` (#1846)
  CHANGELOG.md
  cognite/client/_api/raw.py
  cognite/client/_version.py
  pyproject.toml
  tests/tests_unit/test_api/test_raw.py
Due: mypy, custom-checks

tests: updated tests
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy

fix: allow unknown in read format of groups
  cognite/client/data_classes/iam.py
Due: mypy, custom-checks

build: bump
  CHANGELOG.md
Due: none

refactor; review feedback
  CHANGELOG.md
Due: none

fix: use adapter to support uknown acls
  cognite/client/_api/iam.py
  cognite/client/data_classes/iam.py
Due: mypy, custom-checks

refactor; explicit
  cognite/client/_api/iam.py
Due: mypy, custom-checks

refactor: adapter for write
  cognite/client/_api/iam.py
Due: mypy, custom-checks

tests: reverst
  tests/tests_unit/test_data_classes/test_capabilities.py
Due: mypy

refactor; moved out adapter classes
  cognite/client/_api/iam.py
Due: mypy, custom-checks

tests; skip private
  cognite/client/_api/iam.py
  tests/utils.py
Due: mypy, custom-checks

Allow unknown in read format of groups (#1865)
  CHANGELOG.md
  cognite/client/_api/iam.py
  cognite/client/_version.py
  cognite/client/data_classes/iam.py
  pyproject.toml
  tests/utils.py
Due: mypy, custom-checks

fix: validate a dict is parsed from str in load
  cognite/client/data_classes/_base.py
Due: mypy, custom-checks

chore: remove from_yaml from this PR
  cognite/client/_cognite_client.py
Due: mypy, custom-checks

feat: add auxiliary function for load_dict_or_str
  cognite/client/data_classes/_base.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

feat: load from dict or string
  cognite/client/_cognite_client.py
  cognite/client/config.py
  cognite/client/credentials.py
  cognite/client/data_classes/_base.py
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_config.yaml
  tests/tests_unit/test_config_envs.yaml
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

feat: update documentation to include example using CogniteClient.load
  cognite/client/config.py
  docs/source/cognite_client.rst
  docs/source/quickstart.rst
  tests/tests_unit/cognite-sdk-config.yaml
  tests/tests_unit/test_cognite_client.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

feat: add test for load_dict_or_str
  tests/tests_unit/test_utils/test_auxiliary.py
Due: mypy
