Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: poetry run dmypy run -- cognite tests
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

Fix required vs nullable attributes on Function classes
  cognite/client/data_classes/functions.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_data_classes/test_functions.py
Due: mypy, custom-checks

Fix http client usage in organization API
  cognite/client/_org_client.py
  tests/tests_unit/test_api/test_iam.py
Due: mypy, custom-checks

update the wording/warning on 'HTTP Request logging'
  docs/source/settings.rst
Due: none

Fix required vs nullable attributes on Asset and related classes
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/assets.py
  cognite/client/data_classes/iam.py
  cognite/client/data_classes/labels.py
  cognite/client/utils/_auxiliary.py
  tests/tests_integration/test_api/test_assets.py
  tests/tests_unit/test_utils/test_auxiliary.py
Due: mypy, custom-checks

Enable mypy for raw tests
  .pre-commit-config.yaml
  cognite/client/data_classes/raw.py
  tests/tests_integration/test_api/test_raw.py
  tests/tests_integration/test_api/test_simulators/seed/resources.py
  tests/tests_unit/test_api/test_assets.py
  tests/tests_unit/test_api/test_raw.py
Due: mypy, custom-checks

Fix load method for Group
  cognite/client/data_classes/iam.py
  tests/tests_unit/test_api/test_iam.py
  tests/tests_unit/test_data_classes/test_groups.py
Due: mypy, custom-checks

Fix doctests
  docs/source/appendix.rst
  docs/source/conftest.py
Due: mypy

Fix remaining asset unit tests
  .pre-commit-config.yaml
  cognite/client/_api/assets.py
  cognite/client/data_classes/assets.py
  tests/tests_unit/test_data_classes/test_assets.py
  tests/utils.py
Due: mypy, custom-checks

More typing.Self -> typing_extensions.Self
  cognite/client/data_classes/transformations/jobs.py
  cognite/client/data_classes/transformations/notifications.py
  cognite/client/data_classes/transformations/schedules.py
  tests/tests_unit/test_base.py
Due: mypy, custom-checks

Fix remaining integration tests
  cognite/client/data_classes/sequences.py
  cognite/client/data_classes/transformations/__init__.py
  cognite/client/data_classes/transformations/schema.py
  tests/tests_integration/test_api/test_geospatial.py
  tests/tests_integration/test_api/test_labels.py
  tests/tests_integration/test_api/test_sequences_data.py
  tests/tests_integration/test_api/test_transformations/test_jobs.py
  tests/tests_integration/test_api/test_transformations/test_schedules.py
  tests/tests_integration/test_api/test_transformations/test_transformations.py
  tests/tests_integration/test_api_client.py
Due: mypy, custom-checks

fix: create_hierarchy, AssetHierarchy and their tests
  cognite/client/_api/assets.py
  cognite/client/data_classes/assets.py
  tests/tests_integration/test_api/test_assets.py
Due: mypy, custom-checks

Enable mypy for events tests
  .pre-commit-config.yaml
  tests/tests_integration/test_api/test_events.py
  tests/tests_unit/test_api/test_events.py
Due: mypy

Run mypy on all util unit tests
  .pre-commit-config.yaml
  cognite/client/data_classes/agents/agents.py
  cognite/client/data_classes/annotation_types/images.py
  cognite/client/data_classes/annotation_types/primitives.py
  cognite/client/data_classes/capabilities.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/geospatial.py
  cognite/client/data_classes/workflows.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_data_classes/test_agents/test_agent_tools.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
  tests/tests_unit/test_data_classes/test_annotations.py
  tests/tests_unit/test_data_classes/test_capabilities.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_data_classes/test_datapoint_subscriptions.py
  tests/tests_unit/test_data_classes/test_datapoints.py
  tests/tests_unit/test_data_classes/test_functions.py
  tests/tests_unit/test_data_classes/test_geospatial.py
  tests/tests_unit/test_data_classes/test_groups.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_sources.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/tests_unit/test_data_classes/test_sequences.py
  tests/tests_unit/test_data_classes/test_time_series.py
  tests/tests_unit/test_data_classes/test_timestamp_range.py
  tests/tests_unit/test_data_classes/test_transformations/test_schema.py
  tests/tests_unit/test_data_classes/test_vision.py
  tests/tests_unit/test_data_classes/test_workflows.py
  tests/tests_unit/test_utils/test_auxiliary.py
  tests/tests_unit/test_utils/test_concurrency.py
  tests/tests_unit/test_utils/test_identifier.py
  tests/tests_unit/test_utils/test_importing.py
  tests/tests_unit/test_utils/test_json.py
  tests/tests_unit/test_utils/test_logging.py
  tests/tests_unit/test_utils/test_text.py
  tests/tests_unit/test_utils/test_url.py
  tests/tests_unit/test_utils/test_validation.py
Due: mypy, custom-checks

Run mypy on tests_unit/test_api_client.py
  .pre-commit-config.yaml
  cognite/client/data_classes/agents/agents.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

Run mypy on tests_unit/test_docstring_examples.py
  .pre-commit-config.yaml
  tests/tests_unit/test_docstring_examples.py
Due: mypy

Run mypy on tests_integration/test_api/test_files.py
  .pre-commit-config.yaml
  cognite/client/_api/files.py
  cognite/client/data_classes/files.py
  tests/tests_integration/test_api/test_files.py
Due: mypy, custom-checks

Run mypy on tests_unit/test_cognite_client.py
  .pre-commit-config.yaml
  tests/tests_unit/test_cognite_client.py
Due: mypy

Run mypy on tests_integration/test_api/test_diagrams.py
  .pre-commit-config.yaml
  cognite/client/_api/files.py
  cognite/client/data_classes/contextualization.py
  tests/tests_integration/test_api/test_diagrams.py
Due: mypy, custom-checks

Run mypy on tests_integration/test_api/test_transformations
  .pre-commit-config.yaml
  cognite/client/data_classes/transformations/__init__.py
  cognite/client/data_classes/workflows.py
  tests/tests_integration/test_api/test_transformations/test_jobs.py
  tests/tests_integration/test_api/test_transformations/test_notifications.py
  tests/tests_integration/test_api/test_transformations/test_schedules.py
  tests/tests_integration/test_api/test_transformations/test_schema.py
  tests/tests_integration/test_api/test_transformations/test_transformations.py
Due: mypy, custom-checks

Make all tests return None
  tests/tests_integration/test_api/test_data_sets.py
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
  tests/tests_integration/test_api/test_diagrams.py
  tests/tests_integration/test_api/test_documents.py
  tests/tests_integration/test_api/test_entity_matching.py
  tests/tests_integration/test_api/test_extraction_pipelines.py
  tests/tests_integration/test_api/test_files.py
  tests/tests_integration/test_api/test_functions.py
  tests/tests_integration/test_api/test_geospatial.py
  tests/tests_integration/test_api/test_iam.py
  tests/tests_integration/test_api/test_labels.py
  tests/tests_integration/test_api/test_relationships.py
  tests/tests_integration/test_api/test_sequences.py
  tests/tests_integration/test_api/test_sequences_data.py
  tests/tests_integration/test_api/test_synthetic_time_series.py
  tests/tests_integration/test_api/test_three_d.py
  tests/tests_integration/test_api/test_time_series.py
  tests/tests_integration/test_api/test_unit.py
  tests/tests_integration/test_api/test_user_profiles.py
  tests/tests_integration/test_api_client.py
  tests/tests_integration/test_cognite_client.py
  tests/tests_integration/test_credential_providers.py
  tests/tests_unit/test_api/test_ai.py
  tests/tests_unit/test_api/test_data_modeling/test_instances.py
  tests/tests_unit/test_api/test_data_modeling/test_views.py
  tests/tests_unit/test_api/test_datapoints_tasks.py
  tests/tests_unit/test_api/test_documents.py
  tests/tests_unit/test_api/test_entity_matching.py
  tests/tests_unit/test_api/test_extractionpipelines.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_api/test_iam.py
  tests/tests_unit/test_api/test_labels.py
  tests/tests_unit/test_api/test_relationships.py
  tests/tests_unit/test_api/test_sequences.py
  tests/tests_unit/test_api/test_signatures.py
  tests/tests_unit/test_http_client.py
  tests/tests_unit/test_meta.py
  tests/tests_unit/test_testing.py
Due: mypy

Run mypy on tests_unit/test_base.py
  .pre-commit-config.yaml
  tests/tests_unit/test_base.py
Due: mypy

Run mypy on tests_integration/test_api/test_documents.py
  .pre-commit-config.yaml
  cognite/client/_api/documents.py
  tests/tests_integration/test_api/test_documents.py
Due: mypy, custom-checks

Run mypy on tests_unit/test_credential_providers.py
  .pre-commit-config.yaml
  cognite/client/_api/synthetic_time_series.py
  cognite/client/data_classes/contextualization.py
  cognite/client/data_classes/geospatial.py
  tests/tests_unit/test_api/test_3d.py
  tests/tests_unit/test_api/test_data_sets.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_geospatial.py
  tests/tests_unit/test_api/test_time_series.py
  tests/tests_unit/test_api/test_transformations.py
  tests/tests_unit/test_api/test_vision_extract.py
  tests/tests_unit/test_credential_providers.py
Due: mypy, custom-checks

Fix agent dataclass unit tests
  cognite/client/data_classes/agents/agents.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
Due: mypy, custom-checks

Run mypy on tests_integration/test_api/test_entity_matching.py
  .pre-commit-config.yaml
  tests/tests_integration/test_api/test_entity_matching.py
Due: mypy

Run mypy on tests_integration/test_api/test_extraction_pipelines.py
  .pre-commit-config.yaml
  cognite/client/data_classes/extractionpipelines.py
  tests/tests_integration/test_api/test_extraction_pipelines.py
Due: mypy, custom-checks

Run mypy on tests_integration/test_api/test_datapoint_subscriptions.py
  .pre-commit-config.yaml
  cognite/client/data_classes/datapoints_subscriptions.py
  tests/tests_integration/test_api/test_datapoint_subscriptions.py
Due: mypy, custom-checks

Run mypy on tests_integration/test_api/test_data_sets.py
  .pre-commit-config.yaml
  tests/tests_integration/test_api/test_data_sets.py
Due: mypy

Run mypy on tests_unit/test_exceptions.py
  .pre-commit-config.yaml
  tests/tests_unit/test_exceptions.py
Due: mypy

Run mypy on tests_integration/test_api/test_workflows.py
  .pre-commit-config.yaml
  cognite/client/_api/workflows/versions.py
  cognite/client/data_classes/workflows.py
  tests/tests_integration/test_api/test_workflows.py
Due: mypy, custom-checks

Run mypy on tests_unit/test_config.py
  .pre-commit-config.yaml
  tests/tests_unit/test_config.py
Due: mypy

Run mypy on tests_integration/test_api/test_agents.py
  .pre-commit-config.yaml
Due: none

Run mypy on tests_integration/test_api/test_annotations.py
  .pre-commit-config.yaml
  cognite/client/data_classes/annotations.py
  cognite/client/data_classes/contextualization.py
  tests/tests_integration/test_api/test_annotations.py
  tests/tests_unit/test_api/test_vision_extract.py
  tests/tests_unit/test_data_classes/test_annotations.py
Due: mypy, custom-checks

improve ergonomics of AsyncSDKTask with __getitem__
  cognite/client/_api/datapoints.py
  cognite/client/_api/files.py
  cognite/client/_api/raw/rows.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

Run mypy on all test files
  .pre-commit-config.yaml
  tests/conftest.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api/test_datapoints_tasks.py
  tests/tests_unit/test_api/test_functions.py
  tests/tests_unit/test_http_client.py
  tests/tests_unit/test_meta.py
  tests/tests_unit/test_testing.py
  tests/utils.py
Due: mypy

Fix some failing integration tests
  cognite/client/data_classes/raw.py
  tests/tests_integration/test_api/test_hosted_extractors/test_jobs.py
Due: mypy, custom-checks

Run mypy on tests_integration/test_api/test_iam.py
  .pre-commit-config.yaml
  tests/tests_integration/test_api/test_iam.py
Due: mypy

Run mypy on sequences unit tests
  .pre-commit-config.yaml
  tests/tests_unit/test_api/test_sequences.py
Due: mypy

remove all __iter__ methods, update docstrings
  cognite/client/_api/assets.py
  cognite/client/_api/data_modeling/containers.py
  cognite/client/_api/data_modeling/data_models.py
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_api/data_modeling/spaces.py
  cognite/client/_api/data_modeling/views.py
  cognite/client/_api/data_sets.py
  cognite/client/_api/datapoints_subscriptions.py
  cognite/client/_api/documents.py
  cognite/client/_api/events.py
  cognite/client/_api/extractionpipelines.py
  cognite/client/_api/files.py
  cognite/client/_api/functions/__init__.py
  cognite/client/_api/functions/schedules.py
  cognite/client/_api/hosted_extractors/destinations.py
  cognite/client/_api/hosted_extractors/jobs.py
  cognite/client/_api/hosted_extractors/mappings.py
  cognite/client/_api/hosted_extractors/sources.py
  cognite/client/_api/labels.py
  cognite/client/_api/postgres_gateway/tables.py
  cognite/client/_api/postgres_gateway/users.py
  cognite/client/_api/raw/databases.py
  cognite/client/_api/raw/tables.py
  cognite/client/_api/relationships.py
  cognite/client/_api/sequences.py
  cognite/client/_api/simulators/__init__.py
  cognite/client/_api/simulators/integrations.py
  cognite/client/_api/simulators/models.py
  cognite/client/_api/simulators/models_revisions.py
  cognite/client/_api/simulators/routine_revisions.py
  cognite/client/_api/simulators/routines.py
  cognite/client/_api/simulators/runs.py
  cognite/client/_api/three_d/models.py
  cognite/client/_api/three_d/revisions.py
  cognite/client/_api/time_series.py
  cognite/client/_api/transformations/__init__.py
  cognite/client/_api/transformations/notifications.py
  cognite/client/_api/transformations/schedules.py
  cognite/client/_api/workflows/__init__.py
  cognite/client/_api/workflows/versions.py
Due: mypy, custom-checks

remove function import_as_completed
  cognite/client/_api/assets.py
  cognite/client/_api/datapoints.py
  cognite/client/utils/_importing.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
