Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: poetry run dmypy run -- cognite
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

run coverage also on test files
  .coveragerc
Due: none

update _select_dps_fetch_strategy to use semaphore bound value
  cognite/client/_api/datapoints.py
Due: mypy, custom-checks

refactor: use MultiIndex in df.columns for dps dataframes
  cognite/client/_api/datapoints.py
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/datapoints.py
  cognite/client/utils/_pandas_helpers.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy, custom-checks

Update MIGRATION_GUIDE.md for v7 -> v8
  MIGRATION_GUIDE.md
Due: none

convert timed_cache to async, add tests
  cognite/client/_api/units.py
  cognite/client/exceptions.py
  cognite/client/utils/_async_helpers.py
  cognite/client/utils/_time.py
  tests/tests_unit/test_utils/test_async_helpers.py
  tests/tests_unit/test_utils/test_time.py
Due: mypy, custom-checks

fix tests: tests/tests_unit/test_data_classes/*
  tests/tests_unit/test_data_classes/__init__.py
  tests/tests_unit/test_data_classes/conftest.py
  tests/tests_unit/test_data_classes/test_assets.py
  tests/tests_unit/test_data_classes/test_capabilities.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_data_classes/test_data_models/__init__.py
  tests/tests_unit/test_data_classes/test_data_models/test_aggregations.py
  tests/tests_unit/test_data_classes/test_data_models/test_cdm/__init__.py
  tests/tests_unit/test_data_classes/test_data_models/test_cdm/test_v1.py
  tests/tests_unit/test_data_classes/test_data_models/test_containers.py
  tests/tests_unit/test_data_classes/test_data_models/test_data_types.py
  tests/tests_unit/test_data_classes/test_data_models/test_filters.py
  tests/tests_unit/test_data_classes/test_data_models/test_graphql.py
  tests/tests_unit/test_data_classes/test_data_models/test_queries.py
  tests/tests_unit/test_data_classes/test_data_models/test_views.py
  tests/tests_unit/test_data_classes/test_datapoint_subscriptions.py
  tests/tests_unit/test_data_classes/test_extraction_pipipelines.py
  tests/tests_unit/test_data_classes/test_filters.py
  tests/tests_unit/test_data_classes/test_functions.py
  tests/tests_unit/test_data_classes/test_geospatial.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/__init__.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_destinations.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_jobs.py
  tests/tests_unit/test_data_classes/test_hosted_extractors/test_sources.py
  tests/tests_unit/test_data_classes/test_principals.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/tests_unit/test_data_classes/test_sequences.py
  tests/tests_unit/test_data_classes/test_time_series.py
  tests/tests_unit/test_data_classes/test_timestamp_range.py
  tests/tests_unit/test_data_classes/test_transformations/test_schema.py
  tests/tests_unit/test_data_classes/test_vision.py
  tests/tests_unit/test_data_classes/test_workflows.py
Due: mypy

refactor: insert_dataframe, infer id type from columns
  cognite/client/_api/datapoints.py
  scripts/create_ts_for_integration_tests.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_datapoints.py
Due: mypy, custom-checks

minimal implementation
  cognite/client/_api/data_modeling/__init__.py
  cognite/client/_api/data_modeling/streams.py
  cognite/client/_api_client.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/streams.py
Due: mypy, custom-checks

add mocked tests
  tests/tests_unit/test_api/test_data_modeling/test_streams.py
Due: mypy

fix tests
  cognite/client/testing.py
Due: mypy, custom-checks

update docs on InstancesAPI.subscribe -> local sqlite db
  docs/source/data_modeling.rst
Due: none

refactor InstancesAPI.subscribe to async
  cognite/client/_api/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/__init__.py
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/sync.py
  cognite/client/utils/_data_modeling.py
Due: mypy, custom-checks

Filter: Add magic __eq__
  cognite/client/data_classes/filters.py
Due: mypy, custom-checks

Update InstancesAPI.subscribe doc example to use -Sync classes
  docs/source/data_modeling.rst
Due: none

Split query and sync classes
  cognite/client/_api/data_modeling/instances.py
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

Fix tests related to Query-Sync-split
  tests/tests_integration/test_api/test_data_modeling/test_instances.py
Due: mypy

Turn split sync query classes into dataclasses
  cognite/client/data_classes/data_modeling/query.py
Due: mypy, custom-checks

TMP
  cognite/client/_api/data_modeling/instances.py
  cognite/client/_api/datapoints.py
  cognite/client/_api/synthetic_time_series.py
  cognite/client/_sync_api/data_modeling/instances.py
  cognite/client/_sync_api/datapoints.py
  cognite/client/data_classes/data_modeling/query.py
  cognite/client/data_classes/hosted_extractors/sources.py
  cognite/client/utils/_auxiliary.py
  cognite/client/utils/_pandas_helpers.py
  tests/tests_integration/test_api/test_datapoints.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_api/test_datapoints.py
  tests/tests_unit/test_api/test_vision_extract.py
  tests/tests_unit/test_data_classes/test_agents/test_agents.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_docstring_examples.py
Due: mypy, custom-checks

Bump version to 7.88.0
  cognite/client/_version.py
Due: mypy, custom-checks

chore(master): release 7.88.0 (#2374)
  CHANGELOG.md
  cognite/client/_version.py
  pyproject.toml
Due: mypy, custom-checks

2324 changelog entry
  CHANGELOG.md
Due: none

add httpx and poetry update
  poetry.lock
  pyproject.toml
Due: none

add: unpack_items function
  cognite/client/_api/datapoints.py
  cognite/client/_api/files.py
  cognite/client/_api_client.py
  cognite/client/utils/_auxiliary.py
Due: mypy, custom-checks

refactor: move url methods to utils/_url.py. add VALID_URL_PATTERN
  cognite/client/_api/data_modeling/graphql.py
  cognite/client/_api/postgres_gateway/tables.py
  cognite/client/_api/raw/rows.py
  cognite/client/_api/raw/tables.py
  cognite/client/_api/templates.py
  cognite/client/_api/three_d/asset_mapping.py
  cognite/client/_api/three_d/files.py
  cognite/client/_api/three_d/revisions.py
  cognite/client/_api/transformations/jobs.py
  cognite/client/_api/transformations/schema.py
  cognite/client/_api/workflows/__init__.py
  cognite/client/_api/workflows/triggers.py
  cognite/client/_api/workflows/versions.py
  cognite/client/_api_client.py
  cognite/client/utils/_auxiliary.py
  cognite/client/utils/_text.py
  cognite/client/utils/_url.py
  tests/tests_unit/test_utils/test_auxiliary.py
  tests/tests_unit/test_utils/test_url.py
Due: mypy, custom-checks

update GlobalConfig and ClientConfig
  cognite/client/_api/assets.py
  cognite/client/_api/datapoints.py
  cognite/client/_api/files.py
  cognite/client/_api/raw/databases.py
  cognite/client/_api/raw/rows.py
  cognite/client/_api/raw/tables.py
  cognite/client/_api/relationships.py
  cognite/client/_api/sequence_data.py
  cognite/client/_api/synthetic_time_series.py
  cognite/client/_api/three_d/asset_mapping.py
  cognite/client/_api/workflows/__init__.py
  cognite/client/_api/workflows/versions.py
  cognite/client/_api_client.py
  cognite/client/_http_client.py
  cognite/client/config.py
  cognite/client/data_classes/assets.py
  cognite/client/utils/_concurrency.py
  cognite/client/utils/_pyodide_helpers.py
Due: mypy, custom-checks

remove playground
  cognite/client/utils/_url.py
  tests/tests_unit/test_api_client.py
Due: mypy, custom-checks

update HTTPClient(WithRetry), HTTPClient(WithRetry)Config and RetryTracker
  cognite/client/_http_client.py
Due: mypy, custom-checks

refactor: split out basic api methods in BasicAPIClient
  cognite/client/_api_client.py
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

fix: create_hierarchy, AssetHierarchy and their tests
  cognite/client/_api/assets.py
  cognite/client/data_classes/assets.py
  tests/tests_integration/test_api/test_assets.py
Due: mypy, custom-checks

Fix remaining integration tests
  cognite/client/data_classes/sequences.py
  cognite/client/data_classes/transformations/__init__.py
  cognite/client/data_classes/transformations/schema.py
  tests/tests_integration/test_api/test_geospatial.py
  tests/tests_integration/test_api/test_labels.py
  tests/tests_integration/test_api/test_sequences_data.py
  tests/tests_integration/test_api/test_transformations/test_jobs.py
  tests/tests_integration/test_api/test_transformations/test_schedules.py
  tests/tests_integration/test_api/test_transformations/test_transformations.py
  tests/tests_integration/test_api_client.py
Due: mypy, custom-checks

Fix required vs nullable attributes on ThreeD classes
  cognite/client/_api/three_d/asset_mapping.py
  cognite/client/data_classes/three_d.py
  tests/tests_unit/test_api/test_3d.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Group and SecurityCategory classes
  cognite/client/data_classes/iam.py
  tests/tests_integration/test_api/test_iam.py
  tests/tests_unit/test_api/test_iam.py
Due: mypy, custom-checks

remove dependency pyodide-http
  poetry.lock
  pyproject.toml
Due: none

clean up pyodide patch script
  cognite/client/_http_client.py
  cognite/client/utils/_pyodide_helpers.py
Due: mypy, custom-checks

update exceptions. always use specialized not-found/duplicated err
  cognite/client/_api/assets.py
  cognite/client/_api/datapoints.py
  cognite/client/exceptions.py
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

Fix load method for EntityMatchingModel
  cognite/client/data_classes/contextualization.py
  tests/tests_unit/test_api/test_entity_matching.py
Due: mypy, custom-checks

Fix dataclass unit tests
  cognite/client/data_classes/data_modeling/data_types.py
  cognite/client/data_classes/iam.py
  cognite/client/data_classes/transformations/schema.py
  tests/tests_unit/conftest.py
  tests/tests_unit/test_data_classes/test_annotations.py
  tests/tests_unit/test_data_classes/test_assets.py
  tests/tests_unit/test_data_classes/test_contextualization.py
  tests/tests_unit/test_data_classes/test_generated.py
  tests/tests_unit/test_data_classes/test_groups.py
  tests/tests_unit/test_data_classes/test_repr.py
  tests/tests_unit/test_data_classes/test_sequences.py
  tests/tests_unit/test_data_classes/test_time_series.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Raw classes
  cognite/client/_api/raw/tables.py
  cognite/client/data_classes/raw.py
  tests/tests_integration/test_api/test_raw.py
  tests/tests_unit/test_api/test_raw.py
Due: mypy, custom-checks

Fix required vs nullable attributes on Asset and related classes
  cognite/client/data_classes/_base.py
  cognite/client/data_classes/assets.py
  cognite/client/data_classes/iam.py
  cognite/client/data_classes/labels.py
  cognite/client/utils/_auxiliary.py
  tests/tests_integration/test_api/test_assets.py
  tests/tests_unit/test_utils/test_auxiliary.py
Due: mypy, custom-checks

Enable mypy for events tests
  .pre-commit-config.yaml
  tests/tests_integration/test_api/test_events.py
  tests/tests_unit/test_api/test_events.py
Due: mypy

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
