Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

mypy:
  name: mypy
  entry: poetry run dmypy run -- cognite tests
  language: system
  pass_filenames: false

custom-checks:
  name: custom repo checks
  entry: poetry run python scripts/run_checks.py
  language: system
  pass_filenames: true
  require_serial: true

remove legacy_name from time series data classes++
  cognite/client/data_classes/time_series.py
  tests/tests_unit/conftest.py
Due: mypy, custom-checks

refactor usage of set_request_limit
  tests/tests_integration/test_api/test_assets.py
  tests/tests_integration/test_api/test_data_sets.py
  tests/tests_integration/test_api/test_events.py
  tests/tests_integration/test_api/test_geospatial.py
  tests/tests_integration/test_api/test_sequences.py
  tests/tests_integration/test_api/test_time_series.py
  tests/tests_unit/test_api/test_files.py
  tests/tests_unit/test_api_client.py
Due: mypy

fix data class helper methods: sequences.py
  cognite/client/data_classes/sequences.py
Due: mypy, custom-checks

add decorator factory 'copy_doc_from_async' (doc = docstring)
  cognite/client/utils/_text.py
Due: mypy, custom-checks

fix data class helper methods: simulators/runs.py
  cognite/client/data_classes/simulators/runs.py
Due: mypy, custom-checks

add script to convert async apis into sync
  scripts/generate_code_snippets.py
  scripts/sync_client_codegen/main.py
Due: mypy

remove deprecated DataPointSubscriptionCreate
  cognite/client/data_classes/__init__.py
  cognite/client/data_classes/datapoints_subscriptions.py
Due: mypy, custom-checks

use match statement in _serialize_value
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

fix data class helper methods: files.py
  cognite/client/data_classes/files.py
Due: mypy, custom-checks

add Omitted class to be used as "not given" singleton
  cognite/client/_constants.py
Due: mypy, custom-checks

remove deprecated CogniteObject method load_yaml on Query
  cognite/client/data_classes/data_modeling/query.py
  tests/tests_unit/test_data_classes/test_data_models/test_queries.py
Due: mypy, custom-checks

Update Apply-classes in cdm/v1.py to use OMITTED default
  cognite/client/data_classes/data_modeling/cdm/v1.py
Due: mypy, custom-checks

fix data class helper methods: transformations/__init__.py
  cognite/client/data_classes/transformations/__init__.py
Due: mypy, custom-checks

make PrincipalsAPI async
  cognite/client/_api/org_apis/principals.py
  cognite/client/_sync_api/iam/__init__.py
  cognite/client/_sync_api/org_apis/principals.py
  cognite/client/utils/_identifier.py
Due: mypy, custom-checks

make test util set_request_limit a fixture
  tests/conftest.py
  tests/utils.py
Due: mypy

fix data class helper methods: time_series.py
  cognite/client/data_classes/time_series.py
Due: mypy, custom-checks

spellcheck on AsyncCogniteClient
  cognite/client/_cognite_client.py
  cognite/client/config.py
  cognite/client/data_classes/_base.py
  cognite/client/exceptions.py
Due: mypy, custom-checks

fix DataModelingInstancesList.get method (remove deprecated 'id' arg)
  cognite/client/data_classes/data_modeling/instances.py
Due: mypy, custom-checks

fix data class helper methods: transformations/jobs.py
  cognite/client/data_classes/transformations/jobs.py
Due: mypy, custom-checks

fix data class helper methods: raw.py
  cognite/client/data_classes/raw.py
Due: mypy, custom-checks

flip expand_properties default to True in to_pandas (data modeling)
  cognite/client/data_classes/data_modeling/instances.py
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

Update MIGRATION_GUIDE.md for v7 -> v8
  MIGRATION_GUIDE.md
Due: none

fix data class helper methods: contextualization.py
  cognite/client/data_classes/contextualization.py
Due: mypy, custom-checks

raise in ViewProperty[-Apply] when conn.def. is missing 'connectionType'
  cognite/client/data_classes/data_modeling/views.py
Due: mypy, custom-checks

fix data class helper methods: assets.py
  cognite/client/data_classes/assets.py
Due: mypy, custom-checks

REVERT: use --unsafe-fixes and ignore-init-module-imports = false
  .pre-commit-config.yaml
  pyproject.toml
Due: none

update test to use tmp_path fixture
  tests/tests_unit/test_api/test_files.py
Due: mypy

remove arg ignore_allscope_meaning from ACL compare fns (in IAM)
  cognite/client/_api/iam/__init__.py
  cognite/client/_sync_api/iam/__init__.py
Due: mypy, custom-checks

short-circuit "retrieve_multiple" and similar on [] input
  cognite/client/utils/_concurrency.py
Due: mypy, custom-checks

make ruff remove empty "if TYPE_CHECKING:" blocks
  pyproject.toml
Due: none

clean up empty if-type-checking blocks
  cognite/client/_sync_api/ai/tools/documents.py
  cognite/client/_sync_api/assets.py
  cognite/client/_sync_api/data_modeling/graphql.py
  cognite/client/_sync_api/document_preview.py
  cognite/client/_sync_api/entity_matching.py
  cognite/client/_sync_api/events.py
  cognite/client/_sync_api/extractionpipelines/configs.py
  cognite/client/_sync_api/extractionpipelines/runs.py
  cognite/client/_sync_api/files.py
  cognite/client/_sync_api/functions/calls.py
  cognite/client/_sync_api/geospatial.py
  cognite/client/_sync_api/iam/security_categories.py
  cognite/client/_sync_api/iam/token.py
  cognite/client/_sync_api/labels.py
  cognite/client/_sync_api/raw/databases.py
  cognite/client/_sync_api/raw/tables.py
  cognite/client/_sync_api/three_d/asset_mapping.py
  cognite/client/_sync_api/three_d/files.py
  cognite/client/_sync_api/three_d/models.py
  cognite/client/_sync_api/three_d/revisions.py
  cognite/client/_sync_api/transformations/jobs.py
  cognite/client/_sync_api/transformations/notifications.py
  cognite/client/_sync_api/transformations/schema.py
  cognite/client/_sync_api/unit_system.py
  cognite/client/_sync_api/user_profiles.py
  cognite/client/_sync_api/vision.py
  cognite/client/_sync_api/workflows/tasks.py
Due: mypy, custom-checks

rename ModelFailedException -> CogniteModelFailedError and fix inheritance
  cognite/client/data_classes/contextualization.py
  cognite/client/exceptions.py
  tests/tests_unit/test_api/test_entity_matching.py
Due: mypy, custom-checks

fixup! add Mock for both sync & async.
  cognite/client/testing.py
Due: mypy, custom-checks

support full_url arg in BasicAsyncAPIClient._get
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

Org APIs use api-layer logic, not http-layer. add CogniteOrganizationError
  cognite/client/_api/org_apis/principals.py
  cognite/client/_org_client.py
  cognite/client/exceptions.py
Due: mypy, custom-checks

fixup! fix mypy issues in async APIs + data classes + tests
  cognite/client/_http_client.py
Due: mypy, custom-checks

Add state field to constraints and indexes
  cognite/client/data_classes/data_modeling/containers.py
Due: mypy, custom-checks

Add notebook
  poetry.lock
  pyproject.toml
Due: none

Add state to properties
  cognite/client/data_classes/data_modeling/containers.py
Due: mypy, custom-checks

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  custom-checks: any of: ^cognite/.*.(py|pyi)$
