Repository cognitedata/cognite-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, custom-checks

.pre-commit-config.yaml:

---
repos:
  # We use a local ruff hook so that the ruff version matches the one in dev-dependencies
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --force-exclude
      - id: ruff-format
        name: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        require_serial: true
        entry: ruff format
        args:
          - --force-exclude

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: mypy
        name: mypy
      # Eventually we want to run mypy on the whole test code base. But for now we only enable it for data modeling tests.
        entry: |
          poetry run dmypy run -- cognite 
          
          tests/tests_unit/test_data_classes
          tests/tests_unit/test_utils
          tests/tests_unit/test_api_client.py
          tests/tests_unit/test_base.py
          tests/tests_unit/test_cognite_client.py
          tests/tests_unit/test_config.py
          tests/tests_unit/test_credential_providers.py
          tests/tests_unit/test_docstring_examples.py
          tests/tests_unit/test_exceptions.py
          
          tests/tests_unit/test_api/test_assets.py
          tests/tests_unit/test_api/test_events.py
          tests/tests_unit/test_api/test_datapoints.py
          tests/tests_unit/test_api/test_data_sets.py
          tests/tests_unit/test_api/test_geospatial.py
          tests/tests_unit/test_api/test_raw.py
          tests/tests_unit/test_api/test_time_series.py
          tests/tests_unit/test_api/test_3d.py
          tests/tests_unit/test_api/test_vision_extract.py
          tests/tests_unit/test_api/test_transformations.py
          
          tests/tests_integration/test_api/test_data_modeling
          tests/tests_integration/test_api/test_datapoints.py
          tests/tests_integration/test_api/test_assets.py
          tests/tests_integration/test_api/test_events.py
          tests/tests_integration/test_api/test_workflows.py
          tests/tests_integration/test_api/test_raw.py
          tests/tests_integration/test_api/test_transformations

          tests/tests_integration/test_api/test_simulators
          tests/tests_integration/test_api/test_principals.py
          tests/tests_unit/test_api/test_simulators
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: custom-checks
        name: custom repo checks
        entry: poetry run python scripts/run_checks.py
        files: ^cognite/.*.(py|pyi)$
        language: system
        pass_filenames: true
        require_serial: true  # avoid possible race conditions

  - repo: https://github.com/jsh9/pydoclint  # Run after 'custom-checks' as these may auto-fix
    rev: 0.8.3
    hooks:
      - id: pydoclint
        require_serial: true  # Spammy in run-all scenarios (more than fast enough already)
        args:
          - --style=google
          - --exclude=tests/|scripts/
          - --quiet  # otherwise prints all checked files that are ok...
          - --skip-checking-raises=true
          - --check-class-attributes=false

fix num/str states in DatapointsArray slice
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

chore(state datapoints): Fix state datapoints getitem, slicing and iteration (DM-4093) (#2824)
  cognite/client/data_classes/datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy, custom-checks

add _UNSUPPORTED_STATE_AGGS_CAMEL and _NOT_YET_IMPLEMENTED_STATE_AGGS_CAMEL
  cognite/client/_api/datapoint_tasks.py
  cognite/client/data_classes/datapoint_aggregates.py
Due: mypy, custom-checks

add new more specific NotImplementedError guards
  cognite/client/_api/datapoint_tasks.py
Due: mypy, custom-checks

add thorough test for supported state aggregates
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

update pandas helper functions
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

remove NotImplementedError guards
  cognite/client/_api/datapoint_tasks.py
Due: mypy, custom-checks

update test_unsupported_state_datapoint_retrievals_raise_not_implemented
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

add tests for unsupported aggregates
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

do the todo in test_retrieve_arrays_state_datapoints_empty
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

support convert numpy raw state dps arrays to pandas
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

always use pandas nullable int type Int32
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

add params include_numeric_states and include_string_states
  cognite/client/data_classes/datapoints.py
Due: mypy, custom-checks

remove now supported case from test_unsupported_state_datapoint_retrievals_raise_not_implemented
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

add extensive test for test_retrieve_arrays_state_datapoints_and_pandas_conversion
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

fix pandas v2/v3 issue
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

handle string_states as pd.Categorical in as_array
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

handle string_states as pd.Categorical in _convert_to_array_for_raw_dps
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

update tests/tests_integration/test_api/test_datapoints.py
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

update tests/tests_unit/test_data_classes/test_datapoints.py
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy

fix wrong parameter name to pd.Categorical
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

extend test with retrieve_array now that we have support
  tests/tests_integration/test_api/test_datapoints.py
Due: mypy

remove NotImplementedError and reuse existing guards for unsup. aggs
  cognite/client/_api/datapoint_tasks.py
Due: mypy, custom-checks

remove NotImplementedError gate in _extract_column_info_from_dps_for_dataframe
  cognite/client/utils/_pandas_helpers.py
Due: mypy, custom-checks

add test test_datapoints_array_state_type_simple_aggregate_data_to_pandas
  tests/tests_unit/test_data_classes/test_datapoints.py
Due: mypy

dont waste time preparing log output when not in use
  cognite/client/_basic_api_client.py
Due: mypy, custom-checks

add new utils module: _redaction.py, move stuff from _basic_api_client.py
  cognite/client/_basic_api_client.py
  cognite/client/utils/_redaction.py
Due: mypy, custom-checks

update sensitive fields in: data_classes/postgres_gateway/users.py
  cognite/client/data_classes/postgres_gateway/users.py
Due: mypy, custom-checks

update sensitive fields in: data_classes/functions.py
  cognite/client/data_classes/functions.py
Due: mypy, custom-checks

update sensitive fields in: data_classes/transformations/externaldata.py
  cognite/client/data_classes/transformations/externaldata.py
Due: mypy, custom-checks

update sensitive fields in: data_classes/iam.py
  cognite/client/data_classes/iam.py
Due: mypy, custom-checks

define _SENSITIVE_FIELDS and _SENSITIVE_TYPES on CogniteResource
  cognite/client/data_classes/_base.py
Due: mypy, custom-checks

update sensitive fields in: data_classes/hosted_extractors/destinations.py
  cognite/client/data_classes/hosted_extractors/destinations.py
Due: mypy, custom-checks

update sensitive fields in: data_classes/transformations/common.py
  cognite/client/data_classes/transformations/common.py
Due: mypy, custom-checks

update sensitive fields in: data_classes/hosted_extractors/sources.py
  cognite/client/data_classes/hosted_extractors/sources.py
Due: mypy, custom-checks

add plenty of tests for redaction logic
  tests/tests_unit/test_utils/test_redaction.py
Due: mypy

add test test_request_payload_only_redacted_when_debug_logging_enabled
  tests/tests_unit/test_api_client.py
Due: mypy

attempt to catch future "secret" fields in meta test
  tests/tests_unit/test_meta.py
Due: mypy

add short note to .gemini/styleguide.md
  .gemini/styleguide.md
Due: none

update user docs: docs/source/settings.rst
  docs/source/settings.rst
Due: none
